include ../pug/meta
include ../pug/header
include ../pug/episode
include ../pug/link
include ../pug/js

+meta(
  'Felipe Memória, Episódio 16 — Movimento UX',
  'Sócio fundador da Work & Co. Produto digital, inovação, liderança em design.',
  'http://movimentoux.com/felipe-memoria/'
)

body(data-page='episode')
  
  +header('on', '', '')
  
  #barba-wrapper
    .barba-container
      +episode(
        'Felipe Memória',
        'Sócio fundador da Work & Co.',
        'Produto digital, inovação, liderança em design.',
        '16',
        '16-foto-felipe-memoria.jpg',
        '',
        '-inside',
        ''
      )
      
      aside(data-soundcloud='felipememoria').episode-player
        .backwards
        .play
        .forwards
        .time.-current 00:00
        .timeline
          .percentage
          .mouse
        .time.-duration 0:00:00
        .volume #[span]
      
      section.episode-content
        .text
          p Oi, gente!
          p Comemorando o primeiro ano do podcast, completado em fevereiro, tive a honra de entrevistar o designer Felipe Memória.
          p O Felipe é sócio fundador da Work & Co, empresa de design e desenvolvimento de produtos digitais, considerada uma das 10 mais inovadoras do mundo na indústria de Design pela Fast Company. Ele também foi sócio e head global de user experience na Huge, trabalhou durante anos na Globo.com e é autor do livro Design para a Internet, uma das obras pioneiras sobre UX no Brasil.
          p Falamos sobre o processo de UX da Work & Co, a vinda da empresa para o Brasil, os projetos que ele têm mais orgulho de ter liderado e muito mais!
          
          img(src='/img/16-foto-01.jpg' alt='')
          
          blockquote “Na Work & Co, a gente coloca o time de design inteiro pra pensar na única coisa que importa durante a maior quantidade de tempo possível. Nos concentramos no principal caso de uso e redesenhamos infinitamente, na base da tentativa e erro, até chegar em algo interessante.”
          
          video(autoplay)
            source(src='/img/16-video-01.mp4' type='video/mp4')
          
          p Foi muito legal ter conversado com o Andre logo no momento em que ele estava se preparando para lançar o Savee it, seu side project mais recente. O produto nasceu a partir de alguns incômodos que ele sentia ao usar serviços semelhantes como o Pinterest, o FFFound e o Designspiration. Ele passou 18 meses trabalhando nesse produto e deu pra sentir na voz dele a paixão por fazer as coisas acontecerem.
          
          ul.carousel
            li.item #[img(src='/img/16-foto-02.jpg' alt='')]
            li.item #[img(src='/img/16-foto-03.jpg' alt='')]
            li.item #[img(src='/img/16-foto-04.jpg' alt='')]
            li.item #[img(src='/img/16-foto-05.jpg' alt='')]
            li.item #[img(src='/img/16-foto-06.jpg' alt='')]
            li.item #[img(src='/img/16-foto-07.jpg' alt='')]
            li.item #[img(src='/img/16-foto-08.jpg' alt='')]
            li.item #[img(src='/img/16-foto-09.jpg' alt='')]
          
          blockquote “Acredito em solucionar problemas do dia a dia — que talvez alguém já tenha pensado em como resolvê-los, mas aplico uma nova perspectiva sobre como solucioná-los. Esse é o jeito que penso em novos produtos.”
          
          .gallery
            .img
              img(src='/img/16-foto-10.jpg' alt='')
              span.caption Escritório Portland.
            .img
              img(src='/img/16-foto-11.jpg' alt='')
              span.caption Escritório Rio de Janeiro.
            
          p As dicas que ele deixou pra gente são:
          ul.links
            +link(
              'Livro Only the Paranoid Survive',
              'https://www.amazon.com.br/Only-Paranoid-Survive-Exploit-Challenge-ebook/dp/B0036S4B2G'
            )
            +link(
              'Série documental Abstract: The Art of Design',
              'https://www.netflix.com/title/80057883'
            )

          p Os projetos do Felipe sobre os quais falamos durante o podcast:
          ul.links
            +link(
              'Site da Virgin America',
              'https://www.virginamerica.com/'
            )
            +link(
              'Site da Oi',
              'http://oi.com.br/novo-site/'
            )
            +link(
              'HBO GO Apps',
              'https://www.youtube.com/watch?v=vAteAVoBCzM'
            )
            +link(
              'Site TED Talks',
              'http://www.ted.com/talks/john_maeda_on_the_simple_life'
            )
            +link(
              'Site da Work & Co',
              'https://work.co/'
            )
            +link(
              'Livro Design para a Internet',
              'https://www.amazon.com.br/Design-Internet-Projetando-Experi%C3%AAncia-Perfeita/dp/8535218769'
            )
            
          p E pra quem quiser saber mais sobre o trabalho dele:
          ul.links
            +link(
              'Apresentação do redesign da Virgin no UX Awards',
              'https://www.youtube.com/watch?v=BFGeswAkP10'
            )
          
          p No próximo podcast, vou conversar com a Carolina Leslie, sócia fundadora da Saiba+.
          p Ah, uma novidade: #[a(href='https://play.spotify.com/user/12184063773/playlist/5Bxhm5LY03DHSqko3YRBKf' title='Lista Spotify' target='_blank' rel='noopener').link.-alt o podcast agora tem uma lista no Spotify] pra você continuar ouvindo as músicas que rolam nos episódios! 
          p Obrigada por acompanhar o Movimento UX e até a próxima edição! 

        .sidebar
          h3.eyebrow Localização
          p Nova York
          
          h3.eyebrow Site
          p #[a(href='https://work.co/' title='Work & Co' target='_blank' rel='noopener').link.-alt Work & Co]
          
          h3.eyebrow Social
          p #[a(href='http://fmemoria.com.br/' title='Site pessoal' target='_blank' rel='noopener').link.-alt Site pessoal]
          //- p #[a(href='https://twitter.com/paolasalesetc' title='Twitter' target='_blank' rel='noopener').link.-alt Twitter]
          //- p #[a(href='https://instagram.com/paolasales/' title='Instagram' target='_blank' rel='noopener').link.-alt Instagram]

//- last
//- but not least
+js
