include /components/meta-head
include /components/header
include /components/episode-section
include /components/episode-player
include /components/episode-tabs
include /components/meta-js

+meta-head(
  'Caio César, Episódio 1 — Movimento UX',
  'Professor de Design de Interação na PUC-MG. Introdução ao tema UX, possibilidades de atuação e dicas pra começar.',
  'https://movimentoux.com/ux-design/caio-cesar/'
)

body(data-page='episode')
  
  +header('on')
  
  +episode-section(
    'Caio César',
    'Professor de Design de Interação na PUC-MG.',
    'Introdução ao tema UX, possibilidades de atuação e dicas pra começar.',
    '01',
    '01-caio-cesar.jpg',
    '',
    '-inside'
  )
  
  +episode-player('movimento-ux-episodio-1-caio-cesar')
  
  section.episode-content
    +episode-tabs

    .episode-text
      include intro
      include transcricao

    include sidebar

+meta-js