include /assets/pug/link

.text
  p O episódio de estreia do Movimento UX com o Caio César foi uma verdadeira aula sobre Experiência do Usuário. Como vocês vão ver, ele criou a melhor experiência possível para que o 1º episódio do Movimento UX se tornasse realidade.
  p Pra começar ele me convidou pra conhecer o Bunker da Rede.Bz e me ofereceu toda a infraestrutura do espaço pra gravação do podcast. O apoio foi desde emocional, me tranquilizou quando o frio na barriga bateu ao ligar o microfone pra gravar esse 1º episódio, passando por dicas de produção pros podcasts e com uma baita lista de dicas pra criar repertório que você confere logo abaixo.
  
  p Conferência e Eventos:
  ul.links
    li #[+link('Interaction South America', 'http://isa.ixda.org/2016/')]
    li #[+link('An Event Apart', 'http://aneventapart.com/')]
  
  
  p Vídeos
  ul.links
    li #[+link('Deep Dive IDEO', 'https://vimeo.com/7953312')]
    li #[+link('Séries de desenho animado do Dilbert — e também os quadrinhos', 'http://www.imdb.com/title/tt0118984/')]
  
  p Livros
  ul.links
    li #[+link('Designing Interactions, do Bill Moggridge', 'https://amzn.to/2DCx8IV')]
    li #[+link('The Inmates Are Running the Asylum, do Allan Cooper', 'https://amzn.to/2ULpKjZ')]
    li #[+link('About Face: The Essentials of Interaction Design do Allan Cooper', 'https://amzn.to/2Vz3I8K')]
    li #[+link('Design do dia a dia do Don Norman', 'https://amzn.to/2GQP44s')]
    li #[+link('Design Emocional do Don Norman', 'https://amzn.to/2La5gSC')]
    li #[+link('Elementos da Experiencia do Usuário do Jesse James Garrett', 'https://amzn.to/2WgpIm0')]
    li #[+link('Jakob Nielsen — todos os livros', 'https://amzn.to/2WaZGAl')]
    li #[+link('Handbook of Usability Testting do Jeffrey Rubin', 'https://amzn.to/2J0RO0v')]
    li #[+link('Não me Faça Pensar do Steve Krug', 'https://amzn.to/2XRwBKK')]
    li #[+link('Simplificando Coisas que Parecem Complicadas do Steve Krug', 'https://amzn.to/2Pz4pt7')]
    li #[+link('Design de Interação da Jennifer Preece', 'https://amzn.to/2GOtxtg')]
    li #[+link('Experience Design do Nathan Shedroff', 'https://amzn.to/2GQMj36')]
    li #[+link('Vamos fazer Design de Interação? do Caio César', 'http://designdeinteracao.com.br/')]
    
  p Podcast
  ul.links
    li #[+link('99% Invisible', 'http://99percentinvisible.org/')]

  p Sites
  ul.links
    li #[+link('uie.com', 'https://www.uie.com/')]
    li #[+link('signalvnoise.com', 'https://m.signalvnoise.com/')]
  
  p O 2º episódio será com o Rodrigo Medeiros!
  p Até o EP 02. 🙂

.sidebar
  h3.eyebrow Localização
  p Belo Horizonte
  
  h3.eyebrow Social
  p #[+link('LinkedIn', 'https://br.linkedin.com/in/caiocgo')]
