include /components/meta
include /components/header
include /components/episode
include /components/player
include /components/tabs
include /components/js

+meta(
  'Jane Vita, Episódio 7 — Movimento UX',
  'Service Creator na Futurice. Design de serviços, futures thinking, UX em outros países.',
  'http://movimentoux.com/ux-design/jane-vita/'
)

body(data-page='episode')

  +header('on', '', '')

  +episode(
    'Jane Vita',
    'Service Creator na Futurice.',
    'Design de serviços, futures thinking, UX em outros países.',
    '07',
    '07-jane-vita.jpg',
    '',
    '-inside'
  )

  +player('janevita')

  section.episode-content
    +tabs

    .tab.on#intro
      include intro.pug

    .tab#transcricao
      include transcricao.pug

+js
