include /components/meta-head
include /components/header
include /components/episode-section
include /components/episode-player
include /components/episode-tabs
include /components/meta-js

+meta-head(
  'Jane Vita, Episódio 7 — Movimento UX',
  'Service Creator na Futurice. Design de serviços, futures thinking, UX em outros países.',
  'https://movimentoux.com/ux-design/jane-vita/'
)

body(data-page='episode')

  +header('on')

  +episode-section(
    'Jane Vita',
    'Service Creator na Futurice.',
    'Design de serviços, futures thinking, UX em outros países.',
    '07',
    '07-jane-vita.jpg',
    '',
    '-inside'
  )

  +episode-player('janevita')

  section.episode-content
    +episode-tabs

    .wrapper
      .content
        include intro.pug
        include transcricao.pug

      include sidebar.pug

+meta-js
