include /components/link-text

.episode-sidebar
  .info
    h3.eyebrow Localização
    p Vancouver

    h3.eyebrow Site
    p #[+link-text('Site pessoal', 'http://www.janevita.com/')]

    h3.eyebrow Download
    p #[+link-text('Arquivo MP3', '#!', 'download')]