include /components/link

.episode-sidebar
  .info
    h3.eyebrow Localização
    p Vancouver

    h3.eyebrow Site
    p #[+link('Site pessoal', 'http://www.janevita.com/')]

    h3.eyebrow Download
    p #[+link('Arquivo MP3', '#!', 'download')]