include ../pug/meta
include ../pug/header
include ../pug/episode
include ../pug/player
include ../pug/link
include ../pug/js

+meta(
  'Fabrício Teixeira, Episódio 5 — Movimento UX',
  'Diretor de UX na R/GA. UX em agências, arquitetura de informação,UX em outros países.',
  'http://movimentoux.com/fabricio-teixeira/'
)

body(data-page='episode')
  
  +header('on', '', '')
  
  #barba-wrapper
    .barba-container
      +episode(
        'Fabrício Teixeira',
        'Diretor de UX na R/GA.',
        'UX em agências, arquitetura de informação,UX em outros países.',
        '05',
        '05-foto-fabricio-teixeira.jpg',
        '',
        '-inside'
      )

      +player('episodio-05-fabricio-teixeira')

      section.episode-content
        .text
          p No 5º episódio do Movimento UX, eu conversei com o Fabricio Teixeira que é diretor de Experiência do Usuário na R/GA em São Francisco e curador do blog Arquitetura de Informação.

          p Dicas
          ul.links
            +link(
              'A List Apart',
              'http://alistapart.com/'
            )
            +link(
              'Nielsen Norman Group: UX Training, Consulting, & Research',
              'https://www.nngroup.com/'
            )
            +link(
              'UX Magazine',
              'https://uxmag.com/'
            )
            +link(
              'UX Booth',
              'http://www.uxbooth.com/'
            )
            +link(
              'Smashing Magazine',
              'https://www.smashingmagazine.com/'
            )

          p Projetos
          ul.links
            +link(
              'UXDESIGN.CC',
              'https://uxdesign.cc/'
            )
            +link(
              'Livro Introdução e boas práticas em UX Design',
              'https://www.casadocodigo.com.br/products/livro-ux-user-experience'
            )
            +link(
              'Blog Arquitetura de Informação',
              'http://arquiteturadeinformacao.com/'
            )
            +link(
              'Blog Update or Die',
              'http://www.updateordie.com/author/fteixeira/'
            )

          p O próximo papo será com a Elisa Volpato.
          p Até o próximo!

        .sidebar
          h3.eyebrow Localização
          p São Francisco

          h3.eyebrow Social
          p #[a(href='https://www.linkedin.com/in/fabricioteixeira/pt' title='LinkedIn' target='_blank' rel='noopener').link.-alt LinkedIn]

//- last
//- but not least
+js
