include /components/meta
include /components/header
include /components/episode
include /components/player
include /components/episode-tabs
include /components/js

+meta(
  'Fabrício Teixeira, Episódio 5 — Movimento UX',
  'Diretor de UX na R/GA. UX em agências, arquitetura de informação,UX em outros países.',
  'http://movimentoux.com/ux-design/fabricio-teixeira/'
)

body(data-page='episode')

  +header('on', '', '')

  +episode(
    'Fabrício Teixeira',
    'Diretor de UX na R/GA.',
    'UX em agências, arquitetura de informação,UX em outros países.',
    '05',
    '05-fabricio-teixeira.jpg',
    '',
    '-inside'
  )

  +player('episodio-05-fabricio-teixeira')

  section.episode-content
    +episode-tabs

    .wrapper
      .content
        include intro.pug
        include transcricao.pug

      include sidebar.pug

+js
