include /components/link-text

.tab#transcricao
  p [Música]

  p #[span.eyebrow.-dark Izabela] Oi! Tá começando mais uma edição do Movimento UX. 

  p O convidado deste quinto episódio é o Fabricio Teixeira. Ele trabalha com design de experiência do usuário há vários anos desenhando produtos e campanhas digitais para marcas como Google, YouTube, Samsung e Fiat. E passou por agências de publicidade digital como a Agência Click, Crispin Porter e RGA. Ele também é curador do blog Arquitetura de Informação, um dos maiores blogs sobre UX do país. Hoje é Diretor de Experiência do Usuário no escritório da RGA em São Francisco. 

  p Então vamos lá! Eu sou Izabela de Fátima e esse é o Movimento UX.

  hr

  p #[span.eyebrow.-dark Izabela] Ei, Fabricio!

  p #[span.eyebrow.-dark Fabrício] Olá! Tudo bom?

  p #[span.eyebrow.-dark Izabela] Muito obrigada pelo seu tempo e pela presença aqui no Movimento UX.

  p #[span.eyebrow.-dark Fabrício] Claro, prazerzão!

  p #[span.eyebrow.-dark Izabela] Olha, antes da gente conversar sobre seu trabalho, sobre sua ligação com design de experiência do usuário, eu queria que a gente voltasse um pouquinho no tempo e falasse sobre a sua história. Em qual cidade você nasceu?

  p #[span.eyebrow.-dark Fabrício] Eu nasci em São Paulo. Fui criado lá e fiquei por lá até meus 20 e poucos anos.

  p #[span.eyebrow.-dark Izabela] Ah e você sempre morou em São Paulo antes de se mudar para os EUA?

  p #[span.eyebrow.-dark Fabrício] Sempre morei lá, isso.

  p #[span.eyebrow.-dark Izabela] Você sempre se imaginou trabalhando com comunicação, design e tecnologia? Como é que é essa relação sobre o que você faz hoje e os hobbies que você tinha, as coisas que você gostava quando você era mais novo?

  p #[span.eyebrow.-dark Fabrício] Cara, sempre gostei muito de tecnologia. Assim, eu acho que sempre gostei muito de computadores, meu pai sempre incentivou muito lá em casa a gente usar computador. Desde quando a gente era pequeno ele comprou computador para gente, a gente testava, “fuçava” muito assim. E aí então desde o colegial assim que eu sempre quis fazer alguma coisa relacionada a tecnologia. Eu acho que no começo eu pensava muito em fazer ciência da computação ou engenharia da computação. Só que ao mesmo tempo eu gostava muito, gosto muito, de escrever. E sempre fui muito bom assim na escola em matérias humanas. E até que chegou acho que no segundo colegial, naquela época em que você começa realmente a pensar no vestibular, o que você vai fazer e tal. E eu contei para uma professora minha de literatura que eu estava pensando em fazer ciência da computação e ela não deixou.

  p #[span.eyebrow.-dark Izabela] Olha só!

  p #[span.eyebrow.-dark Fabrício] Ela falou: "Não, não, é muito desperdício você não fazer alguma coisa de humanas, assim, pensa direito...". E ela me ajudou a pensar em outros cursos que tinham a ver com tecnologia, que é uma coisa que eu gostava, mas que também exercitasse um pouco esse lado meu de comunicação que eu tenho né, que eu tinha, de escrita e tal. E aí a publicidade foi o caminho que eu encontrei meio que juntando esses dois mundos, sabe assim? E aí eu prestei publicidade e desde então fiquei mais ou menos nesse mundo assim né, de agências, de criação, de design...

  p #[span.eyebrow.-dark Izabela] A sua formação é publicidade né? Você formou na Cásper Líbero.

  p #[span.eyebrow.-dark Fabrício] Exato, isso. Em São Paulo.

  p #[span.eyebrow.-dark Izabela] Em São Paulo né? E fez uma pós [graduação] em Design de Interação no Senac.

  p #[span.eyebrow.-dark Fabrício] Exatamente. Bom, na época que eu fiz faculdade de publicidade, o digital não era assim muito forte, né? Então a gente aprendia algumas coisas na faculdade, mas eu sempre senti assim que faltava um pouco mais de foco em design, sabe? De digital e de mídias interativas, então essa pós [graduação] no Senac foi uma forma que eu encontrei também de complementar aquilo que eu não vi na faculdade.

  p #[span.eyebrow.-dark Izabela] E você começou a trabalhar com propaganda mesmo?

  p #[span.eyebrow.-dark Fabrício] Comecei com propaganda. Na verdade eu fiz um estágio de um ano na própria faculdade Cásper Líbero como Diretor de Arte para um grupo lá dentro que chama Centro de Eventos que é quem organiza todos os eventos da faculdade, da Fundação Cásper Líbero, da TV Gazeta... Então por um ano assim eu passei meio que exercitando meu lado mais visual de né, design visual, até que comecei a procurar estágios em agências, né, porque como todo estudante de publicidade, eu acho, o sonho da pessoa é trabalhar em agência, né?

  p #[span.eyebrow.-dark Izabela] É verdade.

  p #[span.eyebrow.-dark Fabrício] E aí comecei a procurar estágio até que apareceu a indicação de um amigo meu para trabalhar na Agência Click em São Paulo também, lá no Morumbi. E eu não fazia ideia do que era, ele só falou assim: "Ah não, tem uma vaga de estágio em arquitetura de informação e eu acho que é a sua cara". E aí eu fui lá. Fui lá conhecer, fui lá fazer entrevista, só que eu não fazia ideia do que era arquitetura de informação. Não existia isso no Brasil, assim. Nunca tinha ouvido falar né, apesar de estar muito envolvido com publicidade, tenho vários amigos trabalhando em agências e tal. Nunca nenhum deles falou nada disso para mim. E aí antes de fazer a entrevista, um dia antes, eu fui no Google e procurei o que era arquitetura de informação, procurei...

  p #[span.eyebrow.-dark Izabela] Risos.

  p #[span.eyebrow.-dark Fabrício] Sério, eu dei uma roubada. Eu descobri o que era side map, o que era wireframe e tudo mais e fui fazer a entrevista, sem saber muito assim. E aí na ocasião a entrevista foi com a Juliana Constantino lá da Agência Click.

  p #[span.eyebrow.-dark Izabela] Que hoje está no Facebook?

  p #[span.eyebrow.-dark Fabrício]  Exatamente. E eu não fazia ideia de quem era ela. Depois que eu fui descobrir que ela era uma super referência na área de arquitetura de informação e aí fui lá conhecer, fiz o teste... Era uma entrevista e depois um teste (5:49) assim, como é que você reestruturaria esse site aqui. Acho que na ocasião era para MasterCard. E fui lá, me virei, fiz o exercício. Ela adorou e uma semana depois eu estava começando na área lá.

  p #[span.eyebrow.-dark Izabela] Poxa, que legal!

  p #[span.eyebrow.-dark Fabrício] É, foi bem legal!

  p #[span.eyebrow.-dark Izabela] Então você nem passou por um momento assim de transição de Diretor de Arte para Arquiteto de Informação né? As coisas foram rolando mesmo né, de forma natural.

  p #[span.eyebrow.-dark Fabrício] Foi muito natural. Nesse um ano trabalhando como Diretor de Arte eu senti um pouco de falta de pensar nas decisões de Design antes das decisões mais superficiais de cor, tipografia, sabe? Mas foi meio que sem querer, depois que eu descobri que Arquitetura de Informação meio que fazia isso né? Por isso que eu resolvi ficar na área e resolvi estudar mais e resolvi fazer essa pós graduação e fui me aprofundando mesmo.

  p #[span.eyebrow.-dark Izabela] Eu sei que você também passou pela Crispin Porter, você também passou pela RGA, em São Paulo, né? E hoje também está na RGA em São Francisco.

  p #[span.eyebrow.-dark Fabrício] Exatamente.

  p #[span.eyebrow.-dark Izabela] Conta um pouco para gente como que foi essa sua jornada da Click, da Crispin, da RGA São Paulo e RGA São Francisco.

  p #[span.eyebrow.-dark Fabrício] Então, eu fiquei na Click, entrei lá em 2005 como estagiário de Arquitetura de Informação, fiquei lá por 5 anos. Assim, gostei muito do assunto, da área. E a Click, eu falo isso até hoje, é uma verdadeira escola para quem quer aprender digital assim, né? E especialmente para Arquitetura de Informação, porque na ocasião não tinha um outro lugar no Brasil que você poderia trabalhar com isso e que te proporcionaria um número de projetos tão grande, uma variedade de projetos tão grande e um ritmo de trabalho tão rápido como a Click (hoje Isobar né) proporciona. Então fiquei lá por bastante tempo, por 5 anos, que no mundo de agência é uma raridade. E tive a oportunidade de trabalhar com muita gente legal, cara. Uma das outras belezas da Click é que tem muita gente boa, sabe, muita gente de backgrounds diferentes querendo fazer o digital, querendo montar o digital no Brasil e estruturar as áreas e tudo mais, as especialidades... Então foi um aprendizado muito legal para mim. Fiquei lá por 5 anos e não tinha ideia de sair de lá tão cedo não, na verdade. O que aconteceu foi que de repente me encontraram no LinkedIn um recrutador na Crispin Porter lá de Miami. Encontrou meu perfil e entrou em contato comigo falando se eu já tinha pensado em trabalhar fora do Brasil. Eu falei: "Olha, nunca pensei a respeito, mas também não vejo porque não, né?". Foi aí que eu comecei a conversar com os caras, fiz várias entrevistas pelo Skype. Depois eles me voaram lá para o escritório deles de Miami para conhecer o pessoal, conhecer o time pessoalmente. E aí foi ótimo, assim. Passei um fim de semana lá depois passei mais dois dias fazendo nove entrevistas no total com a galera da Crispin. E cara, adorei, adorei a cidade, adorei as pessoas e tal... E aí foi 2010, começo de 2010 que eu fui. Saí do Brasil e fui trabalhar na Crispin.

  p #[span.eyebrow.-dark Izabela] E da Crispin você voltou para o Brasil ou ficou direto?

  p #[span.eyebrow.-dark Fabrício] Não, teve uma época que eu voltei para o Brasil. Então eu fiquei na Crispin um ano e meio, mais ou menos. Não sei se todo mundo conhece, mas a Crispin é uma agência tradicional de publicidade. Enfim, existe há várias décadas e sempre foram muito bons em campanhas offline, e TVs, e sempre tiveram os anúncios de TV mais premiados e tal. E nos últimos anos eles fizeram um trabalho muito bom em criar um departamento digital lá dentro. Então eles têm um time de UX muito forte. Mas o UX na Crispin não é o core da agência, sabe? Ele está mais suportando os outros times e as campanhas que eles pensam e tudo mais. Então acho que depois de um ano e pouco apareceu essa oportunidade da RGA. Eles tinham montado um escritório no Brasil há pouco tempo e estavam querendo crescer o time de UX porque eles estavam pegando mais e mais projetos e já tem essa cultura que UX é uma peça muito importante dentro dos trabalhos. E aí apareceu esse convite para ir para São Paulo e fui. (10:49) Saí de Miami, voltei para São Paulo e fui trabalhar com o pessoal da RGA, o Paulo Belchiori, o Thiago Franco... E aí fiquei lá na RGA por um ano e pouquinho até que apareceu de novo a oportunidade de voltar para Nova York dessa vez para trabalhar no time de UX lá de Nova York .E o escritório da RGA de Nova York é gigante, assim, né? Tem quase mil pessoas. E aí fui para Nova York, fiquei em Nova York dois anos e meio ainda trabalhando na RGA. E aí recentemente nos últimos dez meses apareceu essa oportunidade de vir para São Francisco. De novo, né, a mesma proposta né? É um escritório novo que eles estão reconstruindo assim, e precisava de ajuda para montar montar o time de UX e aí apareceu essa oportunidade de ir para São Francisco, que é onde eu estou agora. E de novo, mesmo esquema de ajudar a crescer o escritório e montar um time e tem muita coisa legal acontecendo aqui agora.

  p #[span.eyebrow.-dark Izabela] Ah que bacana. Então na RGA mesmo contanto a passagem aqui no Brasil, em São Paulo, e aí você está há quanto tempo, mais ou menos? Três anos?

  p #[span.eyebrow.-dark Fabrício] Vai fazer cinco anos agora.

  p #[span.eyebrow.-dark Izabela] Ah legal. Todo mundo que eu conversei aqui no Movimento UX a RGA foi citada como uma agência "ponto fora da curva". Pela cultura de UX, pelo nível de maturidade, né, de como trata essa disciplina. Hoje então você então é Diretor de Experiência do Usuário na RGA em São Francisco e também é Diretor de Criação Associada.

  p #[span.eyebrow.-dark Fabrício] É, esse ponto da RGA é bem verdade, assim. Eu acho que existe muita conversa sobre o papel de UX em agências, né? De novo, como eu falei da Crispin, eu acho que tem muitas agências que começaram fazendo publicidade, propaganda e com o crescimento dos meios digitais eles meio que tiveram que incorporar UX como parte do time, ou às vezes um time meio que anexado ali. Uma coisa legal da RGA cara, é o jeito que ela foi formada. RGA começou como uma produtora de filme, né? Não sei se você chegou a investigar um pouquinho da história deles, mas começou nos anos 60/70 ali como produtora de efeitos especiais para abertura de filme.

  p #[span.eyebrow.-dark Izabela] Olha só, eu não sabia.

  p #[span.eyebrow.-dark Fabrício] É! E começou fazendo abertura do Super Man, abertura do Seven e várias aberturas famosas, assim que a RGA fez que exigia algum tipo de efeitos especiais. E até ganhou Oscar já. O Bob Greenberg, o CEO da RGA já ganhou Oscar e tudo e RGA tem essa cultura que a gente chama lá de "the next nine years". Que é: a cada 9 anos a RGA passa por uma transformação completa no business dela, no que ela faz e se você acompanhar a história dela é justamente isso, né? Então começou fazendo aberturas de filmes, depois de 9 anos passou a fazer filme com CDI que requeria algum tipo de efeitos especiais... Depois de mais 9 anos largou praticamente tudo de filme e virou uma agência interativa, né, acho que isso foi nos anos 90. Começaram a fazer sites e experiências online, assim. CD-Rom, esse tipo de coisa. Depois de mais 9 anos se transformou numa agência 360, que faz tanto digital quanto propaganda tradicional e agora nos últimos acho que 3 ou 4 anos já virou uma outra coisa. A gente nem se chama mais de agência. A gente ajuda os clientes no que eles precisarem de campanhas a produtos e serviços até transformação direta nos negócios deles, assim, né? Eu acho que justamente por esse histórico que a RGA tem, nunca digital foi só um departamento, nunca UX foi só um departamento, assim. Eu acho que a RGA encontrou um meio campo muito legal ali entre ser uma agência e ser uma criadora de produtos e serviços, sabe? Enquanto outras agências você consegue perceber qual que é o foco maior delas, acho que a RGA fica realmente ali no 50/50, sabe? Por isso mesmo eu acho que acaba que o time de UX tem uma importância muito grande porque praticamente para todos os clientes nossos hoje existe algum tipo de movimento de UX. Não é para projetos específicos.

  p #[span.eyebrow.-dark Izabela] Que massa! E quais são os seus principais clientes hoje?

  p #[span.eyebrow.-dark Fabrício] Vish... Agora a gente vai esbarrar em termos de confidencialidade... [risos].

  p #[span.eyebrow.-dark Izabela] Só os que você puder falar.

  p #[span.eyebrow.-dark Fabrício] Eu brinco que eu tenho a maldição da confidencialidade. Eu só trabalho com cliente, que eu não posso por no meu portfólio... Acho que eu não posso falar.

  p #[span.eyebrow.-dark Izabela] É, eu tava vendo seu portfólio, e tem algumas...

  p #[span.eyebrow.-dark Fabrício] É, a última atualização foi em 2010, sei lá.

  p #[span.eyebrow.-dark Izabela] E já tinha alguns critérios assim, né? Para investigar, saber um pouco mais do seu trabalho é te mandar um email?

  p #[span.eyebrow.-dark Fabrício] É, exatamente. Na RGA posso contar um pouco. Quando eu estava em São Paulo trabalhei muito com Google Brasil, projeto muito legal que a gente fez também, acho que foi em 2010 mesmo. O Google Creative Sandbox foi um dos primeiros sites responsivos feitos no Brasil. E aí quando eu estava aí na ocasião e eu compartilhei muito trabalho que a gente fez, então foi um projeto muito legal, assim. Depois em Nova York eu trabalhei muito com Intel e Samsung e agora em São Francisco estou trabalhando muito com o Google de novo. Agora Google aqui nos EUA. Então eu sempre estive muito envolvido com clientes dessa indústria de tecnologia, sabe?

  p #[span.eyebrow.-dark Izabela] E como que é a sua equipe hoje, Fabrício? Conta um pouco como é que o perfil dos designers que estão na sua equipe ou então de outros profissionais de outras áreas que também fazem parte da sua equipe hoje aí na RGA em São Francisco.

  p #[span.eyebrow.-dark Fabrício] Bom, justamente por essa cultura da RGA de misturar produção de filme, com comercial, com, né, digital, serviços, business e tal... Você acaba trabalhando com um time muito variado, assim de perfis, sabe? Hoje no meu time, bom, tem pessoas de UX, tem pessoas (e dá para quebrar um pouco assim, né) pessoas de UX com background um pouco mais de design... Pessoas de UX com background de pesquisa... E tem pessoas de UX que a gente chama de Experiencie Strategists que é meio que um híbrido de UX com planejamento, sabe?

  p #[span.eyebrow.-dark Izabela] É o Estrategista de Experiência do Usuário?

  p #[span.eyebrow.-dark Fabrício] Exatamente! É, exatamente. Depois a gente pode falar mais a respeito. É bem legal.

  p #[span.eyebrow.-dark Izabela] Quero! Me interessa muito isso aí.

  p #[span.eyebrow.-dark Fabrício] E aí também tem pessoas de que a gente chama de Visual Design, né, que são tanto designers mais sistemáticos que desenvolvem interfaces, aplicativos e sistemas mais "parrudos" e complexos quanto Diretores de Arte que são mais focados em campanha, né? Direção de arte de campanha e tal. E aí tem o pessoal de tecnologia, tem o pessoal de produção, que é bem interessante também. Produção em algumas agências e alguns lugares a gente chama de Gerente de Projetos, né? Aqui justamente pelo histórico da RGA de ser uma produtora de filmes, o papel da produção é muito diferente, né? Não é simplesmente gerenciar a timeline e o budget do projeto. É realmente por a "mão na massa" ali, sabe, e trabalhar com o time na produção daquilo que a gente está criando. Então é um time muito variado, assim. Meu foco, obviamente, é no time de UX e de Visual, mas a gente acaba trabalhando com muito mais gente. Muito bacana.

  p #[span.eyebrow.-dark Izabela] E vocês têm, por exemplo, hoje Arquiteto da Informação na sua equipe?.

  p #[span.eyebrow.-dark Fabrício] Não, é um termo que meio que já foi abandonado assim. Acho que parte disso pelo tipo de projeto que a gente faz, né? É arquitetura de informação é uma coisa muito importante quando você está fazendo um site muito grande. Então, por exemplo, quando eu estava em Nova York a gente trabalhou para Samsung para refazer um dos e-commerces deles, a gente usou Arquitetos de Informação, mas é uma coisa muito pontual né? Muito do que a gente faz hoje em dia são apps, experiências em social que acabam sendo um pouco mais "rasas" no ponto de vista de densidade de informação, sabe? Então é um perfil que não aparece em todo projeto não.

  p #[span.eyebrow.-dark Izabela] Entendi. Eu sinto, assim, às vezes tem muitas pessoas que trabalham ou trabalhavam com arquitetura de informação e que agora estão chamando de design de experiência do usuário e praticando mais e na minha visão é um processo muito diferente. Arquitetura de informação é só um pedaço do processo, enquanto design de experiência do usuário ele está no todo. Está mais ligado com processo, com metodologia, questões que são diferentes, né. Então está aí a dúvida até para entender, assim.

  p #[span.eyebrow.-dark Fabrício] Ah um ótimo ponto. Eu lá na Agência Click eu acompanhei muito dessa transformação, assim. Eu acho que falei. Eu comecei como Arquiteto de Informação e saí de lá como User Experience Designer. E a agência Click foi um lugar muito legal nesse sentido também de eles estão sempre muito atentos ao que está acontecendo no mercado e fora do Brasil e tal. E na ocasião meu chefe direto lá era o Rafael Vasconcelos.

  p #[span.eyebrow.-dark Izabela] Que hoje também está no Facebook, né?

  p #[span.eyebrow.-dark Fabrício] É, exatamente. E eu e ele a gente trocava muita ideia sobre isso, sabe? Sobre... "Pô, será que o que a gente está fazendo hoje realmente é só arquitetura de informação?", sabe?. A gente pegou projetos muitos bacanas lá, com a Fiat, que sempre foi um dos grande clientes da Click, onde a gente chegou a fazer projeto lá onde a gente repensou a interface de carros, sabe? Como é que vai ser a interface do carro do futuro e tal. E quando você pára para pensar não é um projeto de arquitetura de informação. Você tem que pensar em muito mais coisas, e você nesse papel, né, você tem que facilitar muito o processo de design. Então a gente começou a perceber que o que o time de arquitetura de informação da Click fazia já era muito mais que simplesmente aquele nome. E aí foi lá em 2008, 2009 assim que a gente começou esse processo de renomear a área e repensar também algumas  das coisas que a gente produzia e como é que a gente entregava nosso trabalho e tal. Aqui nos EUA eu acho que, bom, pelo próprio motivo de que eu vim para cá um pouco mais tarde em 2010, já é mais clara essa distinção, sabe? Do que que é arquitetura de informação e que que é UX. Mas eu acho que lá em 2008, 2009 ainda tinha muita confusão. Tanto que o nome do blog que eu eu escrevo é arquiteturadeinformação.com, né? Que veio daí assim.

  p #[span.eyebrow.-dark Izabela] Podemos falar um pouquinho dessa questão do híbrido de planejamento com UX? Como é que é? É assim, a nomenclatura mesmo é Estrategista de Experiência do Usuário?

  p #[span.eyebrow.-dark Fabrício] Isso! Na verdade a gente não coloca a palavra "usuário" porque tem essa coisa também de você está pensando na estratégia da marca que pode ser que seja uma interface que a pessoa vai usar efetivamente, mas pode ser o comercial que ela vai ver na TV, pode ser que seja um outdoor que está na rua... Sabe? Então a gente não coloca a palavra "usuário". A gente fala que é Experience Strategie. O papel dessa pessoa é justamente fazer o meio de campo entre o planejamento tradicional, sabe, que vai pensar quais são as iniciativas que a marca vai fazer naquele ano e quais objetivos dessas iniciativas e tal e o papel de UX que é realmente desenhar essa experiência, projetar a experiência do usuário. Então o Experience Strategist fica num nível um pouco mais alto no sentido das definições que ele toma. É muito mais, por exemplo, definir o papel de cada canal na experiência. Então dado o que a gente quer para aquela marca naquele ano, os mobile apps da marca têm que ser usados para fazer "x,y,z", o site da marca tem que ser usado para fazer outra coisa, social vai ter o papel de levar as pessoas até esse site, sabe? Vai definir, quase que definir o ecossistema da marca e com essa definição a gente consegue realmente kickoff dos projetos de design então beleza, então agora vamos desenhar esse site, então agora vamos colocar o time para pensar nesse conteúdo de social, então vamos começar a densenvolver esse aplicativo de celular, sabe? Meio que funciona como um planejador da experiência do usuário.

  p #[span.eyebrow.-dark Izabela] Eu estou entendendo é que como se fosse um channel planing, né? Uma pessoa que vai pensar aí nesse ecossistema da marca, no ecossistema e nos pontos de contato, na presença digital da marca, e ela também vai dar a diretriz estratégica, né? Da onde a marca quer chegar.

  p #[span.eyebrow.-dark Fabrício] Exatamente.

  p #[span.eyebrow.-dark Izabela] E mais um coisa que eu fico pensando é assim. Eu acho que essa história de, por exemplo, fazer planejamento estratégia para o ano é muito complicada, eu ando cada vez mais desacreditada nisso. Eu acho que a estratégia está cada vez mais fluida, está acontecendo nessa comunicação em tempo real... E uma coisa que me chama a atenção que você disse é: essa pessoa então não está tão ligada com o entendimento e as necessidades dos usuários de entender quem é o público que a gente está conversando, para quem vai ser projetado...?

  p #[span.eyebrow.-dark Fabrício] Também, é parte do que essa pessoa faz. Dependendo do caso ela mesma já tem esse background um pouco de pesquisa com o usuário e consegue investigar um pouco disso ou essa pessoa trabalha em parceria com um UX Researcher que vai realmente colher esses dados para informar um pouco dessa estratégia.

  p #[span.eyebrow.-dark Izabela] Ah, tá. Porque a minha dúvida era exatamente a questão, né, do "U" do UX. Porque a meu ver, assim, o planejamento surgiu nas agências principalmente por causa da pesquisa, né?

  p #[span.eyebrow.-dark Fabrício] Exato!

  p #[span.eyebrow.-dark Izabela] De entender as pessoas, entender as pesquisas e principalmente fazer a ponte dos insights para equipe de criação, para equipe de mídia e para quem mais estiver envolvido no processo. E aí me chamou a atenção o fato de tirar exatamente o "U" da nomenclatura, o que eu acho que é a principal função. Mas deu para entender agora então a questão de que UX é Researcher né Ele vai está constantemente entendendo do público e tal e vai fazer esse trabalho com parceria com UX Strategist, com o Estrategista de Experiência, né?

  p #[span.eyebrow.-dark Fabrício] Exatamente. E sobre esse outro ponto que você mencionou, eu também ando descrente de estratégia para o ano todo. Uma coisa para ter em mente é que ainda é assim que funcionam os budgets do cliente, né?

  p #[span.eyebrow.-dark Izabela] Anham!

  p #[span.eyebrow.-dark Fabrício] Você precisa apresentar um plano para o ano todo para ele conseguir segurar o budget mas a gente tem visto recentemente é que esse planejamento de um ano é muito mais uma visão daquilo que a gente quer completar do que necessariamente o que vai ser feito no decorrer do ano, sabe? Então uma coisa que a gente faz sempre é manter essa visão mas adaptar às iniciativas individuais que a gente faz de acordo com o calendário cultural do que está acontecendo, de acordo com as mudanças que acontecem na indústria e tecnologia e tudo mais, então não é um planejamento que fica travado durante um ano não.

  p #[span.eyebrow.-dark Izabela] É, porque a gente sabe que no dia-a-dia isso tudo que é planejado não é executado, né?

  p #[span.eyebrow.-dark Fabrício] Exato!

  p #[span.eyebrow.-dark Izabela] Então a gente gasta muito tempo planejando para um ano, às vezes até para 5 anos, né? Nas marcas maiores e tal mas a gente sabe que isso não dá certo. Eu acho que o momento é muito propício para pensar em que a gente precisa ter cada vez menos planejamento, mais estratégia e trabalhar mais em meta e em parceria com o time de UX, né?

  p #[span.eyebrow.-dark Fabrício] E complementando esse seu ponto também, acho que quando a gente se compromete com planejamento de três anos, cinco anos, você também perde muita oportunidade de fazer coisas que são relevantes para serem feitas agora, nesse dia, nesse minuto, sabe? Acho que agências e marcas estão percebendo muito isso. A coisa mais legal que você pode fazer é aproveitar os momentos culturais, aproveitar o que as pessoas estão falando agora e ser ágil o suficiente em cima disso, sabe? Então, realmente, cada vez menos desse planejamento a longo prazo tem funcionado.

  p #[span.eyebrow.-dark Izabela] E como é o trabalho de envolver o usuário no centro do processo de design aí, desde a etapa de estratégia e concepção até as de desenvolvimento e testes? Queria que você contasse pra gente como são essas etapas na prática, como é que vocês trabalham.

  p #[span.eyebrow.-dark Fabrício] Certo. Depende muito do projeto, do cliente. Acho que como todo lugar, tem clientes que já têm essa cultura de desenhar centrado no usuário muito enraizada na organização. Acho que você consegue imaginar que o Google é um cliente desses, e tem cliente que não, que parte do nosso trabalho acaba sendo de "catequizar" e explicar a importância, e muitas vezes convencer de que é preciso investir, e muitas vezes ele não está convencido disso. Então a gente pega e investe nós mesmos para podermos mostrar o resultado de pesquisas e testes com usuários e tal. É um cenário bastante variado. Em projetos onde o cliente já está convencido disso, por exemplo, Google, é muito bacana, porque tem casas em que o próprio cliente organiza essa coisa de pesquisa com usuário e já tem uma estrutura muito grande e robusta, de sempre consultar as pessoas, seja para teste de usabilidade, para testar mensagem, copy, enfim, vários elementos. É uma sinergia muito maior que acontece nesses casos. Para outros clientes, acho que é um processo parecido que acontece no Brasil: no começo do projeto você tem a parte de insights e de colher dados em grande escala para entender tendências de comportamento e depois entender como é que a gente deve agir em cima dessas tendências. Lá em meados do projeto você tem pesquisa com um pouco mais de profundidade, entrevistas, pesquisa etnográfica, para entender como é que as pessoas se comportam em relação àquela tarefa, àquele objetivo, e realmente pegar mais insights valiosos sobre, que vão influenciar mais diretamente naquilo que está sendo desenhado e em como aquilo vai ser desenhado, e aí, durante a etapa de design, o que a gente costuma fazer é trazer o usuário para dentro do processo. Uma coisa muito bacana que a gente faz aqui na RGA é convidar o usuário para fazer brainstorming com a gente, para fazer sessão de sketching com a gente... Para ter certeza que a gente não está perdendo tempo criando uma ideia que ninguém nunca vai usar na vida. Aí lá no final do projeto, quando já estamos desenvolvendo e implementando, aí são as etapas mais focadas em teste de usabilidade, o que está funcionando na nossa interface, o que que não está, quais são os últimos ajustes que a gente precisa fazer antes de lançar o produto, e tal... E aí pós lançamento, olhar para as métricas e, de repente, fazer mais testes também.

  p #[span.eyebrow.-dark Izabela] E, por exemplo, pensando no cenário dos clientes que já são "catequizados" com UX, vocês têm um trabalho contínuo, pensando nas quatro etapas, de pesquisa, ideação, prototipação e testes, vocês fazem tudo aí, vocês conseguem fazer tudo internamente, ou vocês terceirizam, fazem teste de usabilidade com consultorias especializadas ou com algum tipo de ferramenta específica...? Conta um pouquinho como é isso.

  p #[span.eyebrow.-dark Fabrício] Depende também do cliente. Por exemplo, o Google já tem toda a estrutura de pesquisa com o usuário lá dentro, então tem laboratório de usabilidade, uma rede de recrutamento de usuários muito grande, global, que é muito fácil da gente usar, sabe? Para esse cliente, por exemplo, a gente quase não faz teste de usabilidade dentro da agência.

  p #[span.eyebrow.-dark Izabela] Desculpa te interromper, mas só para tentar trazer um ponto que acho que está todo mundo querendo saber muito, do dia-a-dia que é assim, se você quiser você pode até não falar do nome do cliente, tem algum cliente que vocês conseguem fazer toda a etapa aí, esses quatro processos, do início ao fim?

  p #[span.eyebrow.-dark Fabrício] Sim. Teve um cliente aqui em São Francisco que a gente fez, sim. Acho que posso falar, é uma rede de hospitais aqui em São Francisco, aqui na West Coast, e foi uma combinação de contratar um terceiro que ajudou a gente na etapa de recrutamento, porque é um público muito específico, você precisa achar pacientes de determinada condição, precisa encontrar pessoas em várias cidades e vários estados... Então foi uma combinação de uma parceira que a ajudou a gente a recrutar e encontrar essas pessoas e agendar as entrevistas com o nosso time aqui dentro conduzindo realmente as entrevistas e coletando material e transformando isso tudo em insights. Então, é que a resposta varia muito, é uma resposta pouco genérica mas é que varia muito, mesmo assim. Idealmente nosso objetivo, obviamente, a longo prazo, é conseguir o máximo possível fazer as coisa aqui dentro, mas em alguns casos não vale a pena. A gente não tem a estrutura ainda, ou [com] o tempo que a gente ia gastar com tarefas mais operacionais acaba compensando mais contratar um terceiro. E o que a gente não tem ainda é um laboratório próprio de usabilidade. Nesse caso, quando é uma pesquisa um pouco mais aprofundada de interface e tal, mais para o final do projeto, a gente sempre contrata uma empresa parceira.

  p #[span.eyebrow.-dark Izabela] Entendi. Mais na questão dos testes, na prototipação, vocês fazem aí internamente?

  p #[span.eyebrow.-dark Fabrício] Sim.

  p #[span.eyebrow.-dark Izabela] Pensando nas quatro etapas, desde a primeira, de pesquisa e estratégia, segunda, de ideação, a terceira, de prototipação, vocês fazem aí, e a quarta é que hoje vocês estão trabalhando com terceiros?

  p #[span.eyebrow.-dark Fabrício] Com terceiros, exatamente.

  p #[span.eyebrow.-dark Izabela] O que estou ouvindo e o que estou vivendo aqui é que nas agências infelizmente o processo só fica em duas etapas, acho que a discussão que está tendo aqui é muito de quem trabalha em agência e que está afim de ter um imersão em UX, de fazer acontecer nessas quatro etapas, está rolando uma frustração generalizada porque aqui a maioria das agências fica em duas etapas do processo, que é a ideação e a prototipação apenas. Pula etapa de pesquisa, entendimento de quem são as pessoas e os clientes reais do projeto, o que gera implicações negativas para a estratégia, né? Porque se você não entende muito bem quem são as pessoas, como é que você vai pensar numa estratégia para elas? E aí vão direto para a ideação, chegam no protótipo e depois acabam não fazendo a etapa de testes e melhorias. O que estou escutando todo mundo falar aqui é assim, de está frustrado por querer fazer isso acontecer e a agência acaba não sendo cíclica. Acho que tem algumas agências que podem ser o ponto fora da curva, né? Como a Click que você citou. Aí a RGA, Huge, que várias pessoas citaram. Mas o que estou sentindo é que em geral está todo mundo meio frustrado por não conseguir fazer isso na agência, seja porque os donos ou o comercial da agência não conseguiu vender isso para o cliente ou porque o cliente não está "catequizado" e não tem tempo para você fazer isso. O que estou sentido aqui é isso, sabe? Que ainda está [tudo] nessas duas etapas, infelizmente.

  p #[span.eyebrow.-dark Fabrício] É. Uma coisa a se pensar é que às vezes o cliente mesmo já tem uma rotina de fazer pesquisa com usuários. Então a agência já recebe muito desse material pronto ou pré executado, pré definido, e o que a gente faz aqui em alguns casos é simplesmente pesquisa complementar. Olhar para esse material bruto que a gente recebeu do cliente, ver as áreas que a gente sente que podem ser mais exploradas e aí bolar um plano de pesquisa um pouco menor e, consequentemente, mais financeiramente viável, só para realmente cobrir esses gaps que a gente está vendo, sabe? É uma opção híbrida que de repente funciona, de repente ajuda nesse problema.

  p #[span.eyebrow.-dark Izabela] É verdade. E na relação, na etapa de testes, tem alguma coisa que você sugere para quem está afim de fazer acontecer e não está conseguindo? Sei lá, ferramentas tipo Hotjar...?

  p #[span.eyebrow.-dark Fabrício] Acho que a sugestão maior é hackear. Acho que temos essa visão de testes de usabilidade, acontecendo naquela sala de vidro, sala espelhada e com equipamentos super modernos de velação, e cafezinho na mesa e pão de queijo... E na verdade se você eliminar o processo e olhar para o resultado final que você quer pegar, você quer conversar com usuários e isso você consegue fazer de várias formas diferentes. Hoje em dia tem tantas ferramentas gratuitas e fáceis de instalar que você mesmo consegue meio que "hackear", sabe? Hack together. Colocar, montar um mini laboratório seu, mesmo.

  p #[span.eyebrow.-dark Izabela] Uhum.

  p #[span.eyebrow.-dark Fabrício] E também aquele pensamento de que às vezes ficamos esperando o cenário de recrutamento ideal onde a gente encontra o participante com 28 anos de idade, de tal cidade, porque ele é o perfil de usuário do produto que estamos criando, mas muitas vezes testar com a moça do café, se você testar com qualquer pessoa ali perto, com parentes dos funcionários da agência, sabe? Você consegue uns resultados muito bacanas, se você ficar esperando o cenário ideal para fazer teste nunca vai acontecer, nunca vai ter toda a verba, nunca vai ter todo o tempo do mundo... Então acho que a principal dica é hackear.

  p #[span.eyebrow.-dark Izabela] Legal. Bem legal, acho que essa dica de ferramentas também é legal, porque se eu uso uma ferramenta que, dependendo das funcionalidades que você precisa, por exemplo, esse mesmo Hotjar, você pode testar, tem um módulo que é gratuito...

  p #[span.eyebrow.-dark Fabrício] É!

  p #[span.eyebrow.-dark Izabela] E aí você consegue ver a interação das pessoas em tempo real, acho que tem várias ferramentas que podem ajudar, mesmo.

  p #[span.eyebrow.-dark Fabrício] Exatamente!

  p #[span.eyebrow.-dark Izabela] Essa dica é muito massa.

  p #[span.eyebrow.-dark Fabrício] É, acho que tem essa onda agora, do mesmo jeito que teve de ferramentas de prototipação há alguns anos e continua tendo, né? Está começando a surgir essa onda de ferramentas focadas em pesquisa com usuário. De gravação de tela, áudio, teste remoto, de assistir o usuário navegando no seu site. Se você achar a combinação certa de ferramentas pode dar um resultado muito legal.

  p #[span.eyebrow.-dark Izabela] É, uma coisa legal para se pensar para minimizar essa frustração e fazer acontecer, né?

  p #[span.eyebrow.-dark Fabrício] Exato! É!

  p #[span.eyebrow.-dark Izabela] Vamos falar um pouco sobre seus projetos, você já falou de alguns aí, mas... É porque você trabalha com Design de Experiência do Usuário há vários anos e desenha produtos e campanhas digitais para grandes marcas em grandes agências, e você falou que seu portfólio está desatualizado. Quando olhei vi que já tem bastante projeto. Queria saber qual projeto, produto ou campanha que mais se orgulha ou quais. Quais foram os mais memoráveis?

  p #[span.eyebrow.-dark Fabrício] Nossa, pergunta difícil. Teve esse projeto da FIAT do Brasil que eu mencionei, chama-se FIAT Mil, foi a FIAT querendo olhar para o futuro dos carros, “como é que são os carros do futuro?”! E esse é um exercício que toda montadora faz, obviamente eles têm os “carros conceito”, levam protótipos para o salão dos automóveis, esse tipo de coisa, mas acho que foi o primeiro ano em que uma montadora resolveu ouvir os usuários sobre o que eles queriam nesse carro do futuro, e aí foi um projeto muito bacana porque é uma indústria muito legal de automotiva. E essa coisa de ouvir os usuários tem uma intersecção muito grande com UX, então o que a Click fez para eles na época foi criar uma plataforma onde as pessoas conseguiam mandar ideias e sketches e sugestões de features para os carros, e tal. Trabalhar muito próximo dos engenheiros da FIAT para criar esse “carro conceito” e colocar essas features lá, e tudo mais. Foi um projeto que marcou muito, assim, primeiro porque foi uma das primeiras plataformas de Cross Sourcing feitas no Brasil e segundo por causa dessa intersecção com UX muito próxima, de ouvir os usuários, esse foi um projeto que marcou bastante.

  p Teve projeto que fiz em Nova Iorque para a Intel que foi muito legal, de ajudar os caras a uniformizar um pouco todos os times de produtos e começar a pensar em pouco mais em padronização de interação, de interface e experiência do usuário. Não dá para entrar em muito detalhe sobre o projeto em si... Enquanto o FIAT Mil foi muito mão na massa, em que a gente desenhou essa plataforma de colaboração e tal, esse da Intel foi muito mais estratégico, mais focado em trazer o pensamento de UX para uma grande corporação. A RGA trabalhou como sendo um tecido que conecta todos os times de produto lá dentro, e ajuda um pouco a criar um pouco mais de padronização nos produtos. E nisso, acho, está um pouco da beleza, também, de trabalhar em agências. Você trabalha com muitos tipos de projetos diferentes, do super tático onde você passa semanas desenhando uma mesma tela ou interação, a projetos super estratégicos onde você tem muito acesso ao core business do cliente e consegue influenciar um pouco o pensamento dele sobre UX, e tem a beleza de trabalhar em várias indústrias diferentes, de automotiva para tecnologia, hotelaria, enfim. Não tem muito mais projetos de que eu consiga contar, não. Mas esses dois foram muito marcantes.

  p #[span.eyebrow.-dark Izabela] E você tem também vários projetos que contribuem com a formação da cultura de UX, né, Fabrício?! Sei que você tem o blog Arquitetura de Informação, também contribui escrevendo para o Update or Die, tem o UX-Links, tem o livro fantástico, que estou adorando ler, “Introdução de boas práticas em UX Design”. Tem mais algum? Queria que você contasse pra gente um pouco sobre esses projetos.

  p #[span.eyebrow.-dark Fabrício] Tudo começou quando comecei a trabalhar com Arquitetura de Informação e, realmente, não tinha muito conteúdo disponível sobre isso no Brasil, ou em português, então eu tive que correr atrás de melhorar o meu inglês para poder consumir esse conteúdo e entender o que estava fazendo, o que era aquilo que estava fazendo, e o que era Arquitetura de Informação e UX. E como parte desse processo de estudar esse mundo novo que eu estava descobrindo eu queria e sentia falta de ter um lugar para meio que digerir essas ideias, colocá-las em algum lugar como forma de reforçar aquilo que eu estava aprendendo, do mesmo jeito quando você vai tomar uma aula e você anota, não porque você vai voltar nas notas depois, mas porque o processo de anotar vai te ajudar o conteúdo entrar na sua cabeça.

  p #[span.eyebrow.-dark Izabela] A cristalizar, né?! (risos)

  p #[span.eyebrow.-dark Fabrício] Exato, é! Então comecei a fazer isso informalmente, na ocasião, também, estava trabalhando com a Juliana Constantino e ela tinha esse domínio, arquiteturadeInformação.com, e aí eu falei: “ah, de repente a gente começa a colocar mais material lá”, “é, vamos sim”. E começou como uma forma do time da Click compartilhar conhecimento entre si, e foi crescendo, e hoje é um dos maiores blogs do Brasil sobre o assunto. E no mesmo espírito surgiram os outros projetos também, acho que criei esse hábito de ler muito a respeito das coisas como forma de me atualizar, de colocar essas coisas no papel como forma de aprender a contar essas histórias, e tal. E divulgar para a comunidade de UX, de Publicidade, através do Update or Die, enfim, mandar links por e-mail na UX-Links, então é meio que um hobby de certa forma.

  p #[span.eyebrow.-dark Izabela] E é muito legal, a gente só tem a agradecer.

  p #[span.eyebrow.-dark Fabrício] É importante, acho que nesse processo de escrever artigos tem muita coisa bacana que acontece na cabeça. Você precisa entender o conteúdo, aí precisa filtrar quais são as partes mais importantes daquilo, precisa criar uma narrativa de como é que você vai contar a história, depois tem a parte de escrever realmente palavra por palavra, e como eu falei no começo, sempre gostei muito de escrever, acho que pra mim é um aprendizado muito grande, mas ao mesmo tempo é um hobby.

  p #[span.eyebrow.-dark Izabela] E eu como leitora do livro, estou vendo isso claramente, você coloca de um jeito muito simples, facilmente compreensível, com uma escrita bem leve! Muito legal esse livro, recomendo pra todo mundo!

  p #[span.eyebrow.-dark Fabrício] Acho que tem essa história de UX de simplificar as coisas, que eu acho importantíssima. Não dá para a gente passar parte do dia falando em interfaces fáceis e simples de usar, simplificar a experiência, e tal, e quando a gente vai falar do nosso próprio "ganha pão" ali, da nossa própria disciplina e da parte teórica de UX... Acho que a gente tem que ter um approach similar, sabe? Quanto mais simples a gente consegue colocar essas ideias no papel, mais acessível elas vão ficar para outras pessoas e mais gente vai se interessar pelo assunto, e no fim do dia a comunidade de UX só tem a crescer quando isso acontece.

  p #[span.eyebrow.-dark Izabela] E qual é sua visão sobre Experiência do Usuário? Você está há muito tempo no mercado, já viu várias coisas acontecerem, tanto essa evolução de Arquitetura de Informação para Design da Experiência do Usuário... Hoje, qual é a sua opinião sobre, como você enxerga Experiência do Usuário?

  p #[span.eyebrow.-dark Fabrício] É um nome um pouco estranho, né? Experiência do Usuário. pensar que tem uma pessoa que é responsável por fazer a Experiência do Usuário, que na verdade é uma coisa completamente subjetiva. Acho que o que está acontecendo hoje é que as pessoas estão percebendo que todo mundo que trabalha no time que cria um produto digital tem algum impacto na Experiência do Usuário, sabe? Então, se a interface é bonita e visualmente appealing, sabe? Vai ser mais legal de usar. Se a performance do produto é boa, ele carrega rápido, vai ser mais legal de usar. Se o texto que você leu na interface é bem escrito e envolve o usuário, vai ser mais legal de usar. Acho que hoje a gente está no momento em que ainda assim é preciso ter um departamento de UX dentro das empresas para ajudar a coordenar essas áreas todas, e ter certeza que está todo mundo trabalhando em prol dela. Tentando deixar a experiência o melhor possível. Mas eu acho que em algum tempo a gente vai desaparecer enquanto profissão necessariamente, sabe? Porque se o redator que vai escrever o texto tiver Experiência do Usuário em mente, se o desenvolvedor que vai programar o produto tiver Experiência do Usuário em mente, acho que essas coisas vão começar a acontecer muito mais naturalmente, sem a necessidade de um mediador no dia-a-dia, o que é legal, porque vai permitir que a gente foque nosso tempo muito mais em realmente realizar os métodos e os processos que vão trazer o usuário, vão ouvir o que o usuário precisa e traduzir essas necessidades e vontades e tudo mais em insights para o resto do time. Mas eu acho que daqui a um tempo a gente vai virar o advogado do usuário e não o desenhista da Experiência do Usuário.

  p #[span.eyebrow.-dark Izabela] E você, que acompanha a área também há muitos anos, o que que você vê, o que você acha que está evoluindo, o que está regredindo? Porque acho que sempre quando tem um boom assim, de uma área... E eu acho que de UX as pessoas estão falando mais, acho que está rolando um boom. O que você acha que tem evolução, o que está regredindo, na sua opinião?

  p #[span.eyebrow.-dark Fabrício] Acho que isso que você falou é realmente uma evolução, o fato de que mais gente está preocupada ou falando sobre Experiência do Usuário é legal e beneficia todo mundo. E é justamente isso que eu falei, né? Daqui um tempo os redatores e Visual Designers e programadores, todos eles já vão ter essa cultura de pensar no usuário primeiro. E aí a diferença vai ser só entender realmente do que o usuário precisa o do que o usuário não precisa, e está aí o papel de UX, do UX Designer. E o lado negativo desse mesmo processo é que é só tomar o cuidado para que esse assunto também não seja tratado de forma muito leviana, da pessoa achar que porque leu alguns artigos a respeito ela já sabe o que UX faz e achar que UX é uma coisa só, um grupo de boas práticas que vai funcionar com qualquer usuário do mundo e deixar de entender que na verdade você tem que investigar caso a caso. Tem que investigar especificamente para a audiência desse produto, quais são coisas que a gente precisa fazer e como é que essa experiência tem que acontecer, e ter em mente que isso é diferente a cada projeto que você faz, que a cada produto novo você vai ter que ir lá, investigar, vai ter que ir descobrir com o usuário. Então acho que não existe, no fim do dia, um "ah eu sou um especialista em UX, sei todas as boas práticas de como desenhar interfaces e tudo mais...". Se você se chama de especialista em UX, na verdade você tem que ser um especialista em ouvir o que as pessoas precisam. É esse o nosso grande papel nos projetos.

  p #[span.eyebrow.-dark Izabela] O campo de design e tecnologia está sempre evoluindo, né? E para quem trabalha com isso ou que estuda isso é desafio você sempre aprender, se manter atualizado. Como é que você faz para se manter atualizado?

  p #[span.eyebrow.-dark Fabrício] Eu tenho uma série de sites e blogs que costumo acompanhar...

  p #[span.eyebrow.-dark Izabela] Mas você tem uma rotina? Tipo, todo dia você vê, você separa um tempo?

  p #[span.eyebrow.-dark Fabrício] Então, o que eu costumo fazer é: durante o dia, quando dá uma folguinha vou lá no meu reader e vou meio que “escaneando” todos os sites que acompanho, que eu gosto de acompanhar, os blogs e tudo mais. E vou salvando os links que eu acho mais interessantes. Geralmente no fim de semana ou quando dá uma folguinha vou realmente lendo artigo por artigo daqueles que eu salvei e aí eu vou pensando, desses artigos que estou lendo, no que de repente é uma coisa que eu consigo aplicar no meu trabalho naquela semana, ou o que é uma coisa que "ah, de repente isso aqui seria legal virar um artigo, né, ou virar um tweet, ou mandar por email para alguém”, tal e tal. Então quando tenho umas duas, três horas livres durante a semana eu sento e realmente vou ler coisa por coisa e vou meio que distribuindo o que eu quero fazer com aquela informação. E é meio nerd falar isso mas é um hábito que você vai criando com o passar do tempo. Demanda muito tempo mas acho que isso faz parte. Justamente o que você falou, né? Tecnologia muda tanto e tem tanto conteúdo online a respeito disso e a respeito de UX, e tal, que acho que é parte da nossa profissão também, se atualizar e ter certeza de que você sabe o que está acontecendo.

  p #[span.eyebrow.-dark Izabela] E é difícil filtrar, né? Tem muita coisa, é legal saber da sua metodologia para isso. E quais são as suas principais fontes de informação de UX? Você deve ter inúmeras, mas assim, se puder citar umas três... Sei lá, três blogs... Algumas dicas que você acha que seja legal para acompanhar.

  p #[span.eyebrow.-dark Fabrício] Acho que 90% do que eu leio, estudo ou sei sobre UX é online, é realmente lendo sites e blogs, e de vez em quando participo de uma conferência de design ou leio um livro sobre UX, mas é muito mais raro assim. Três referências bacanas hoje em dia... Eu gosto muito do A List Apart, não sei se você conhece mas é um blog de UX, Arquitetura de Informação, criação de produtos, enfim, é muito bacana. Acho que é https://alistapart.com/. Gosto muito do N Nielsen, esqueci o nome do site, acho que é https://www.nngroup.com/. Eles têm um pensamento um pouco mais tradicional sobre o que que é UX e o que a gente faz e tudo mais, mas eu acho muito legal acompanhar. Esse site dita muito do que está sendo pensado e falado sobre UX no mundo todo, então olho esse site muito menos como lugar para saber as tendências e o que vai acontecer com o futuro de UX, e muito mais para saber onde é que a gente está hoje, assim, sabe? O que o mundo está falando a respeito. Porque é um site que tem uma influência muito grande no mercado de UX. Qual mais? Ah, e aí tem esses Monday Morning UX Blues, UX Magazine, Smashing Magazine... Esses sites maiores, que acabam servindo muito como referência, até para o meu próprio blog.

  p #[span.eyebrow.-dark Izabela] Então vamos falar um pouco sobre a formação em UX Design. Na sua opinião, quais são as atividades e habilidades básicas dos iniciantes em UX, as habilidades que eles precisam dominar? O que você avalia quando vai contratar um iniciante aí na RGA?

  p #[span.eyebrow.-dark Fabrício] Acho que seria injusto esperar que um candidato a uma vaga de UX, para um cargo um pouco mais iniciante, tenha algum histórico disso, até no Brasil principalmente. Não existem cursos de graduação especializados em UX. É muito raro encontrar algo assim no Brasil. Pelo menos quando eu estava na RGA em São Paulo, o que procurava ver era muito mais uma pessoa que fosse capaz de explicar o pensamento por trás das decisões de design que ela tomou, sabe assim? O design pode ser horrível, o wireframe pode ser até um pouco menos claro, mas se ela for capaz de explicar como chegou até ali, para mim isso é o que mais importa, porque essas questões de craft, de quão bonitos os wireframes são, quão organizados os sitemaps são, esse tipo de coisa, tudo você consegue trabalhar com a pessoa no decorrer da carreira dela, mas esse pensamento um pouco mais estratégico é uma coisa que já “vem de fábrica”.

  p #[span.eyebrow.-dark Izabela] No seu livro "Introdução e Boas Práticas em UX Design" você cita que o estágio é um dos melhores caminhos para quem quer começar na área. Você sugere algum plano B para quem não está conseguindo um estágio? Seja porque ainda não se planejou financeiramente, como você também cita que é um caminho, ou porque as empresas ou as agências podem ter uma resistência para contratar pessoas que já têm bagagem como estagiário... Eu acho que aprender UX sozinho é complicado, porque para aprender acho que a gente precisa praticar. Aprender UX na prática, e se você não vai para um estágio, colocar a mão na massa sozinho acho que fica complicado. Existe um plano B para isso?

  p #[span.eyebrow.-dark Fabrício] Acho que dá para aproveitar essa onda de startups. Aqui em São Francisco é um absurdo, mas no Brasil também acontece muito. Você tem um amigo de um amigo que teve uma ideia de fazer uma startup, e eles precisam de ajuda com o site, sabe? Ou precisam de ajuda para desenhar as primeiras telas do produto, e tal. De repente uma ideia legal é você começar a se envolver nesses projetos, mesmo que seja fazendo um freela com um preço mais barato, ou fazendo de graça, até, para você conseguir montar portfólio... Mas acho que são formas de começar a se envolver com UX, que talvez não tenham tanto compromisso porque é uma empresinha pequena que está começando e sua ajuda vai ser muito valiosa para eles, e ao mesmo tempo o aprendizado vai ser muito valioso para você. Então acho que, de repente, essa é uma alternativa: começar a se aproximar de startups, fazer pequenos projetos, só para começar a ter material bruto para colocar no portfólio. E aí é hopefully conseguir um emprego ou estágio numa empresa um pouco maior.

  p #[span.eyebrow.-dark Izabela] E para fechar, falando em portfólio, que dica você dá para montar um portfólio legal ou onde encontrar as melhores referências? Se não me engano no seu blog tem um artigo desse... Se Behance, por exemplo, é a plataforma ideal...

  p #[span.eyebrow.-dark Fabrício] Acho que Behance e Dribbble não são as plataformas ideias para portfólios de UX porque eles focam muito no produto final. É muito sobre o quão bonito, interessante, impactante ficou o resultado final. Em UX o que você quer saber quando está entrevistando alguém é muito mais o processo, então acho que a principal dica é essa. Obviamente o portfólio tem que ser bonito, bem apresentado e consistente, mas acho que é muito mais importante explicar o porquê das coisas. E aí tem uma série de plataformas que permitem fazer isso, seja o Squarespace, Cargo Collective... Só procurar uma plataforma em que você consiga colocar um pouco mais de texto, de explicação sobre como é que você chegou no resultado final.

  p #[span.eyebrow.-dark Izabela] Legal! Muito obrigada por fazer parte e apoiar o Movimento UX.

  p #[span.eyebrow.-dark Fabrício] Claro! Muito legal o convite de vocês e a ideia do projeto, muito bacana. Eu sempre senti falta de ter um podcast de UX brasileiro, por vários momentos passou na minha cabeça, "pô, será que o blog de AI deveria fazer negócio assim?” e tal... Mas nunca rolou tempo suficiente para fazer. E uma coisa interessante do Movimento UX, tava ouvindo os outros episódios, é que, pela primeira vez consegui ouvir podcast do começo ao fim, sabe?

  p #[span.eyebrow.-dark Izabela] Poxa, estou feliz de ouvir isso!

  p #[span.eyebrow.-dark Fabrício] Bom, primeiro que você se prepara muito bem para as entrevistas e as perguntas são muito legais, e realmente o conteúdo é muito interessante. E é uma coisa que não tem em nenhum outro lugar no Brasil, então parabéns pela iniciativa, é muito legal poder participar.

  p #[span.eyebrow.-dark Izabela] Muito obrigada, Fabricio. É um enorme prazer conversar aqui com você. Os seus projetos foram inspiração para esse surgir e eu sempre repito, o Movimento UX não é nada sem vocês porque na verdade quem faz o Movimento UX são vocês, né, a cada episódio. Então muitíssimo obrigada, muito legal o papo, e é isso aí.

  p #[span.eyebrow.-dark Fabrício] Valeu, obrigado a você!

  hr

  p #[span.eyebrow.-dark Izabela] Chegamos ao fim deste quinto episódio, hoje com Fabricio Teixeira, e eu espero que você tenha gostado. Se você quiser conferir outros episódios é só acessar o canal do Movimento UX no SoundCloud. No próximo programa vou conversar com Elisa Volpato, consultora independente de UX que já trabalha há vários anos na profissão. Obrigada e até o próximo papo!

  hr

  ul.links
    li Transcrição: #[+link-text('Camila Gondo', 'https://www.linkedin.com/in/gondocamila/')]
    li Revisão: #[+link-text('Renata Moreira', 'https://www.linkedin.com/in/remoreira/')]
