include /_assets/pug/link-alt
include /_assets/pug/link-ad
include /_assets/pug/ad-hotmart

.text
  p Este podcast é uma conversa leve e cheia de aprendizados com a Ana Rafaela, User Experience Researcher no YouTube em San Bruno, Califórnia.
  p Ela trabalha há muitos anos com pesquisa para design e já passou por empresas como GoPro, Cisco e Try Consultoria. Tem formação em Ciência da Computação e também foi desenvolvedora de softwares por cinco anos.
  p Falamos sobre a dinâmica de trabalho dela com pesquisa global no time de advertising do YouTube, o uso de repositório para aprendizados de pesquisa, dicas pra quem quer trabalhar em outro país e muito mais.

  blockquote "Ver alguém num vilarejo na Índia - onde o sinal é bem ruim, onde eles não têm acesso à muita informação e nunca viram internet antes - usar um smartphone pela primeira vez, é muito interessante e é muito diferente do que seria ver uma pessoa em Londres que já teve celular antes."

  img(src='/_assets/img/23-foto-01.jpg' alt='')
  span.caption Exemplo de war room para análise de entrevistas.

  img(src='/_assets/img/23-foto-02.jpg' alt='')
  span.caption Em um dos muitos happy hours na GoPro São Francisco/CA.

  img(src='/_assets/img/23-foto-03.jpg' alt='')
  span.caption Indo fazer home visits na Índia.

  p Os links sobre os quais falamos são:
  ul.links
    li #[+link-alt('Livro Como mentir com estatística do Darrell Heff', 'https://amzn.to/2XTowFn')]
    li #[+link-alt('Livro Designing with Data - Rochelle King , Elizabeth F Churchill , Caitlin Tan', 'https://amzn.to/2J77TBM')]
    li #[+link-alt('Medium time de design Nubank', 'https://medium.com/nubank-design')]
    li #[+link-alt('Vaga de UX Research no Nubank', 'https://nubank.workable.com/j/0A9DD6DA2C')]
    li #[+link-alt('Plano de pesquisa usado no Nubank', 'https://medium.com/nubank-design/why-we-have-a-research-plan-at-nubank-7db687141077')]

  p E esse episódio também teve apoio do TESTR. <3 Nós estamos usando e adorando. E você? Já está conseguindo rodar pesquisa no tempo do produto? A gente sabe que o tempo é um super desafio e o TESTR resolve esse problema porque entrega todo o processo de teste com usuários (recrutamento, execução, recompensa aos participantes e relatório com resultados), em uma média de 48 horas! E pra quem acompanha o podcast ganha 3 participantes extras na contratação de qualquer plano. o/ Mais infos #[+link-ad('aqui', 'http://bit.ly/testeremoto', 'Content')].
  p Uma outra coisa legal que a gente falou no podcast é que o primeiro livro sobre UX Research em português está saindo do forno. As autoras Denise Pilar, Cecília Henriques e Elizete Ignacio estão escrevendo o livro “UX Research com sotaque brasileiro” e lançaram uma campanha de pré-venda, para que a gente possa comprar o livro antes mesmo de ser lançado. Ah, além do livro, existem outras recompensas ótimas pra gente contribuir com essa conquista tão legal pro nosso mercado. #[+link-alt('Dá uma olhada', 'http://bit.ly/livropesquisa')] e corre porque é só até dia 11 de março.

  .gallery
    .img
      img(src='/_assets/img/21-foto-04.png' alt='')
      span.caption Livro “UX Research com sotaque brasileiro”

  p E pra quem ficou curioso sobre as músicas deste episódio, elas são do produtor Richard Garrel com seu projeto Aeoner e fazem parte do #[+link-alt('álbum Beat Tape 1', 'https://aeoner.bandcamp.com/album/beat-tape-1')].

  p Até a próxima conversa!

.sidebar
  h3.eyebrow Localização
  p San Bruno, Califórnia

  h3.eyebrow Social
  p #[+link-alt('LinkedIn', 'https://www.linkedin.com/in/anafaela/')]

  +ad-hotmart
