.tab#transcricao
  p [Música]

  p #[span.eyebrow.-dark Izabela] Olá! Tá começando o sétimo episódio do Movimento UX. Hoje o papo é com a designer Jane Vita. A Jane trabalha com design há 19 anos e tem experiência em muitas das competências de Design, como em experiência do usuário, interação, serviços, interface, estratégia e pesquisa. 

  p Vocês vão perceber que ela já fez muita coisa legal. Ela já trabalhou em empresas como Fjord, Ixonos, Instituto Nokia, Positivo Informática e Lojas Renner. Ela também já morou em diversas cidades do Brasil, como Curitiba, que é sua cidade natal, Recife, Porto Alegre, Manaus e também em Helsinki, na Finlândia, onde ela tá hoje e trabalha como Service Creator, na Futurice. 

  p Além de um background desse tamanho, a Jane é mãe de três filhos. Uma entrevista super bacana para comemorar o Dia das Mães. Esse episódio está muito legal. Eu aprendi muito e espero que você goste! 

  p Então vamos lá, eu sou a Izabela de Fátima e esse é o Movimento UX.

  hr

  p #[span.eyebrow.-dark Izabela] Oi Jane! Tudo joia? 

  p #[span.eyebrow.-dark Jane] Oi! Tudo joia Izabela.

  p #[span.eyebrow.-dark Izabela] Muito obrigada pelo seu tempo e pela presença aqui no Movimento UX.

  p #[span.eyebrow.-dark Jane] Muito obrigada você pelo convite.

  p #[span.eyebrow.-dark Izabela] Jane, hoje você mora em Helsinki, na Finlândia, certo? 

  p #[span.eyebrow.-dark Jane] Certo.

  p #[span.eyebrow.-dark Izabela] E eu vi que você já morou em Curitiba, Porto Alegre, Manaus e no Recife. Conta para gente como é que foram essas experiências. 

  p #[span.eyebrow.-dark Jane] Bom, é, eu acho que eu, logo no começo, quando eu comecei a trabalhar com Design eu pensei assim “Ah eu vou ficar aqui em Curitiba para sempre.” Eu tinha essa ideia de fazer minha empresa em Curitiba, morar em Curitiba. Não tinha muito sonho de sair de Curitiba não. 

  p Mas, na época, quando eu comecei a me envolver com Design digital, os grandes polos de Design digital eram mais em São Paulo, Porto Alegre, por causa dos grandes portais. Eu até cheguei a passar alguns meses em São Paulo, mas eu nem coloco no meu currículo, porque foi tão pouquinho. Eu saí corrida de lá, porque a vida em São Paulo é bem intensa, e já era muito intensa na época, então para um curitibano pacato, foi complicado viver lá. 

  p Mas, então, eu me mudei para Recife. Acho que foi... a minha primeira grande mudança foi para Recife. De Curitiba para Recife. Eu passei 1 ano em Recife. E lá eu trabalhei no Diário de Pernambuco. Também trabalhei numa agência de publicidade. Faz tanto tempo isso. Foi em 2003, quando me mudei para Recife. Então, essa foi minha primeira viagem. Fiquei um ano em Recife, e depois de Recife eu voltei para Curitiba. 

  p Eu fiquei 3 anos em Curitiba trabalhando na Positivo Informática. Lá eu comecei como Designer de Interação e virei coordenadora de conteúdo, que chamávamos de conteúdos digitais, né? Então a parte de Arquitetura de Informação ou a criação das interfaces e adequação do conteúdo para interface digital era feita nesse departamento. Eram doze pessoas e eu fiquei como coordenadora depois.

  p Mas eu recebi uma oportunidade bem interessante em Recife… Desculpa, em Porto Alegre! E lá em Porto Alegre eu trabalhei nas Lojas Renner e fiquei acho que 7 meses até o meu ex-marido... ele recebeu uma proposta em Helsinki pela Nokia, e foi aí a primeira vez que eu falei assim: “Poxa, tô saindo do Brasil”. E com aquele inglês bem capenga, sabe? A minha filha acho que tinha 3 anos na época. Eu pensei “Nossa, vai ser uma grande mudança”. Mas era, a Nokia na época era, acho que para uma pessoa que trabalhasse com desenvolvimento e Design, era uma das melhores empresas para se trabalhar, né? Era o boom do mobile. Aquela coisa... Eu já desenhava, né, para mobile. Fazia algumas coisas já para pequenas interfaces. 

  p E aí eu falei assim: “Nossa, eu indo para Helsinki vai ser legal, porque eu vou ter esse contato com Design, tudo”. E então eu vim para cá e acho que foi em dois, três meses, eu comecei a trabalhar na Fjord. 

  p #[span.eyebrow.-dark Izabela] Isso a gente tá falando mais ou menos de que ano? Você lembra?

  p #[span.eyebrow.-dark Jane] Sim. Foi em 2007. Então, para você ter uma ideia, nessa mudança toda, entre dois mil... primeira vez que eu saí de Curitiba, foi em 2002, para São Paulo. Depois disso, para Porto Alegre em dois mil… Não, desculpa, para Recife, 2003 para 2004. Depois fui para Curitiba. Em daí em 2007, fui para Porto Alegre. E depois de dois mil e... então fiquei aqui em Helsinki, 2008 e 2009. Aí eu voltei pro Brasil para trabalhar no Instituto da Nokia, em Manaus. E depois de Manaus eu voltei para Curitiba de novo, e aí em Curitiba eu fui trabalhar com treinamento online. E bom, aí depois eu explico para você melhor o nome das empresas, tudo. 

  p Entre 2002 e até agora, eu acho que eu já morei em cinco lugares diferentes e duas vezes aqui, em Helsinki. E agora eu já tô desde 2012 aqui. Então eu fui para Curitiba, aí de Curitiba voltei para Recife em 2011. E 2012 voltei para Helsinki. E aqui em Helsinki eu comecei a fazer um mestrado e logo eu fiquei grávida, né? Então eu vim para cá em Janeiro, e meu bebê nasceu em Novembro. Então durante a gravidez eu fiquei fazendo o meu mestrado. Então em dois anos e fechei o mestrado, e aproveitei o tempo que tava com meu pequenininho, e com ele na barriga também, para acelerar os estudos. 

  p Mas acabei trabalhando como pesquisadora, seis horas por dia, no final da minha licença maternidade, com ele bem pequenininho. E quando ele pode ir para escola, eu acabei entrando numa empresa interessante, bem legal aqui que chama Ixonos. Fiquei lá nove meses. Depois eu voltei para Fjord, e agora eu tô na Futurice, faz um ano e meio.

  p #[span.eyebrow.-dark Izabela] Então, 2012 você foi para a Finlândia e tá aí desde então, né?

  p #[span.eyebrow.-dark Jane] Isso. Voltei faz quatro anos agora, né? 

  p #[span.eyebrow.-dark Izabela] Vamos falar um pouco da sua formação. Eu vi que você fez graduação em Design Gráfico e pós graduação em Webdesign, pela PUC do Paraná. Como é que foram essas suas escolhas? 

  p #[span.eyebrow.-dark Jane] Bom, eu primeiramente, eu fiz um técnico de Publicidade, antes de entrar na universidade. Então a primeira vez que eu tentei entrar na universidade, tentei na Federal pro curso de Publicidade. Eu tinha um grande interesse assim em fazer Publicidade, de trabalhar com Marketing, com Design Gráfico. Só que eu não tinha muito conhecimento da área de Design. Então, eu era muito mais ligada à parte de Marketing. O que eu conhecia mesmo era a parte de Publicidade, direção de arte, tudo. Então eu fui direto para essa área. E aí não sabia que se eu fizesse, por exemplo, Desenho Industrial, eu poderia trabalhar com, por exemplo, direção de arte. 

  p Então meu pai, que ele era gerente de compras e vendas na Volvo, ele tinha um contrato bem grande com a parte de Marketing, tudo. Aí ele falou: “Olha Jane, você podia fazer…”. Porque eu não passei em Publicidade. Na época era muito difícil. Pode ser que hoje também seja. Mas na época foi o curso mais concorrido, então foi muito difícil para mim. Eu fiquei bem perto de passar, mas não passei. Então esse ano que eu não passei, meu pai me ofereceu um curso técnico de Publicidade. Ele falou: “Ó, já que você tá pensando em fazer Publicidade, você deveria fazer um técnico, porque existe a possibilidade de fazer técnico e você vai conhecer melhor o que é a profissão e ver se você quer mesmo isso, né?”.

  p Então foi uma oportunidade para mim. Aí eu fiz o técnico e comecei a trabalhar ao mesmo tempo, até para pagar o cursinho, ajudar meu pai, porque era cursinho, técnico. Então eu fiquei trabalhando meio período nessa época numa agência de turismo, na área de Marketing dessa agência. Aprendi bastante. 

  p E aí eu acabei descobrindo que os meus professores de direção de arte, eles fizeram Desenho Industrial. Então eles: “Ah Jane, se você quer realmente se dedicar à essa área visual, você deve fazer Desenho Industrial, que é onde você vai ter mais contato com Design”. Eles me explicaram bastante. Na época, a parte de Design Digital mesmo era, para você ter uma ideia, tava bem no começo. O Flash, as ferramentas da Macromedia, eram puramente código, não tinha uma interface gráfica. Tinha muita coisa que tava começando com interface. Bem interessante. Nessa época, né?

  p E logo que eu entrei na universidade, em 98, toda essa parte gráfica começou a se popularizar mais, então as pessoas começaram a procurar mais. Eu até lembro que logo que eu entrei na universidade… Daí então foi assim, daí eu apliquei para Desenho Industrial, né, foi isso que você me perguntou?

  p #[span.eyebrow.-dark Izabela] É.

  p #[span.eyebrow.-dark Jane] Aí eu apliquei para Desenho Industrial, na PUC e na Federal. Mas não consegui passar na Federal de novo e acabei entrando na... porque também, se você queria passar a federal, você tem que se dedicar muito, né? E como eu tava fazendo técnico, trabalhando, e eu mais acho que dormia nas aulas do cursinho do que realmente estudava, infelizmente. Mas acabei dando uma baita de uma sorte, porque a PUC, ela tinha um laboratório, na época, de Mídias Digitais, e eles tinham um programa, um portal que chamava Eureka. Eu acabei tendo a oportunidade de fazer estágio na Eureka, então tive contato com essa primeira galera de Design, e o pessoal que fazia os sites, na época, tudo. Então eu acabei aprendendo muito com esse pessoal. 

  p #[span.eyebrow.-dark Izabela] E foi daí que você escolheu a especialização em Webdesign? 

  p #[span.eyebrow.-dark Jane] Então, esse foi o primeiro ano inclusive que teve essa especialização e o curso, essa especialização foi quase que um experimento. Não sei nem se... ela teve dois anos só na PUC, que era Webdesign. Então a gente aprendia realmente a criar projetos para site, sabe? Entender o que era o papel, por exemplo, de um site para uma empresa, qual a estrutura de um site. Inclusive a gente aprendia PHP e banco de dados, sabe? Umas coisas assim. Era o que que a gente chamava, na época, de webmaster, né? Você inclusive podia até ligar para pessoa, porque ela fazia tudo. Era bem interessante. Tinha, embaixo assim, você rolava o site, aí você via no rodapé assim: “Você tem alguma dúvida sobre seu site, website, você liga pro webmaster”, daí tinha o contato do webmaster. Então existia isso, e muitas vezes tinha esse contatozinho alí em embaixo, então eu que era o webmaster. Você mandava e-mail pro webmaster @ blablablá e vinha para mim. 

  p Então era o curso de webmaster, que naquela época era uma especialização. Mas foi bem interessante, porque eu fiz estágios em, por exemplo, uma concessionária online, chamava Autobis. Na época a ideia era vender um carro, para você ver como eles estavam otimistas, né? Na verdade assim, o que eles chamavam de vender, na verdade era se interessar pelo carro online e contactar a empresa pelo site. 

  p E era bacana que, a primeira vez... eu acho que eu fiquei trabalhando nessa empresa acho que uns quatro meses, uma coisa assim, e teve uma venda que alguém ligou e falou: “Olha, eu vi o carro pelo site e eu gostaria de viabilizar a compara”. Eu lembro que a gente estourou champagne e comeu bolo, fez uma festa, porque tinha vendido um carro.

  p Então você vê, né, como que é bacana. Eu acho que eu sou muito envolvida com Design por causa disso. Eu cresci, né? Eu sempre fui muito pioneira nas coisas, porque eu não tinha ninguém para ensinar. E a gente ia descobrindo, aí quando tinha um livro, eram bem poucos, na época. E a gente acabava lendo todos que tinha em português. Tinha os em inglês, claro. Mas, na época, meu inglês nem era tão bom, então nem tentava ler os livros. E não tinha essa coisa de “Ah vou”... Eu até tinha amigos que tinham trabalhado na Microsoft, né? Eram certificados pela Microsoft.  Bem interessante e eles: “Ah, a gente morou no Canadá”, ou “Morou nos Estados Unidos”. E eu ficava: “Isso aqui não é para mim não”. Eu fui mesmo começar de uma maneira bem orgânica, me envolvendo com Design, e buscando os meus caminhos.

  p #[span.eyebrow.-dark Izabela] Bem mão na massa também, né? Pelo que você tá contando, bem mão na massa. Ir lá, ir aprendendo, desbravando mesmo.

  p #[span.eyebrow.-dark Jane] Exatamente, exatamente. Quando você se envolve, eu acho que é muito do que você gosta de fazer também. Então você se vai se envolvendo, você vai se interessando. Você sempre quer fazer o melhor, então você vai atrás da informação, você fica sabendo que alguém sabe alguma coisa mais interessante, aí você observa, você conversa, aprende. Inclusive, isso é uma coisa que eu gostaria até de falar, que tem um cara que chama Mauro Pinheiro, ele é professor da Federal do Espírito Santo. Na época, ele trabalhava na Globo.com, e ele foi para Curitiba, numa conferência que teve por lá no Teatro Paiol, que chamava Perhaps, acho. Alguma coisa assim. E ele foi falar de Arquitetura de Informação.

  p #[span.eyebrow.-dark Izabela] Olha!

  p #[span.eyebrow.-dark Jane] para você ter uma ideia! E eu assisti aquilo e eu falei: “Gente, eu sabia que isso existia”. Achava o máximo. Aí eu olhava e falava assim: “É exatamente isso que eu tô buscando”, sabe? Era muito engraçado. 

  p #[span.eyebrow.-dark Izabela] É bom quando bate isso assim, né? Quando a gente vê algo que a gente gosta, e fala: “Não, é isso mesmo que eu quero! Que bom!”.

  p #[span.eyebrow.-dark Jane] Exato. Eu pensava isso, mas não tinha um nome, sabe? Era uma coisa bem interessante. Então as ideias foram encaixando. Aí eu cheguei a conversar com ele. E aí ele me explicou, e nossa, eu peguei o cartão de visita, na época, o cartão de visitas, né? E guardei, e falei: “Nossa”. E eu tenho até hoje o cartão. Ele nem sabe disso.

  p Mas eu falei assim: “Ah essa pessoa realmente inspirou”. Porque ele trabalhava, na época, num portal que é o Globo, né? Globo.com. E que na época tinham tão poucos, né? Tinha o UOL, tinha o Globo.com, o Terra, o IG. O IG bem era legal. E basicamente esses portais, o que que era? Eles tinham várias sessões de notícias, esportes, política e tinham várias salas de bate papo, que o pessoal se conectava por salas, por temas. E você entrava nessa sala de bate papo…

  p #[span.eyebrow.-dark Izabela] E você é mestranda em Design de Inovação e Serviços pela Universidade Laurea, em Espoo, na Finlândia. E qual foi a razão para escolha dessa área de pesquisa? Isso me chamou a atenção.

  p #[span.eyebrow.-dark Jane] Então, aqui em toda a Escandinávia, a área de serviços, Design de Serviços, ela é bastante valorizada. E eu gosto muito da área de Design de Serviços. Desde que eu entrei em contato com disciplina, foi em 2007… Não, 2008, desculpa. Quando entrei na Fjord. Então, a Fjord, eles faziam… eles tinham esse slogan que a gente fala que eles desenhavam serviços digitais, elegantes e simples. A ideia era, assim, criar serviços digitais. E a Nokia também foi, uma época... Não sei se foi uma boa escolha, mas eles voltaram totalmente para serviços. Então teve toda essa... Acho que até hoje existe essa preocupação das empresas que são basicamente... que produzem produtos, que o produto, ele não sobrevive sem os serviços atrelados aos produtos. Então esse Design de Serviços é muito mais ligado à parte estratégica. Não só quando a gente de User Experience, Experience Design. Na verdade a gente pode se focar na parte de serviços, mas não necessariamente. Porque a gente pode realmente, portanto, receber aqueles serviços já pronto. E a gente se foca na melhor maneira de fazer que aquele serviço seja adequado para o usuário, né? Não sei nem se a gente chamaria de usuário, mas se for o jogador, se for o estudante, seja lá quem for o end-user, né? 

  p Então agora quando a gente fala de Serviços, a gente tá falando dos canais, dos contatos, os canais com o consumidor. Como que esse serviço, por exemplo, você vai receber um feedback para melhorar o produto? Como que você vai atender as demandas? Como que isso vai funcionar? Como que você vai resolver dúvidas, solucionar dúvidas dos consumidores? Uma série de coisas que Serviços, ele se preocupa. 

  p Então a preocupação da Fjord, na época, era criar todo esse ecossistema que a gente fala que é o Service Ecosystem. Então isso é interessante, entende? Então eu acho que eu me viciei em querer entender, o ecossistema, né? E entender melhor o papel daquela interface. Não só pro consumidor, mas para empresa também. 

  p #[span.eyebrow.-dark Izabela] Uma coisa que eu tava pensando enquanto você foi falando essa questão de Produto e Serviço, acho que é um exemplo disso, é a Netflix, né? Porque Netflix tem um produto, mas ela tá muito preocupada nos serviços que são entregues. É isso que tô pensando? Faz sentido isso?

  p #[span.eyebrow.-dark Jane] Faz, totalmente. Faz totalmente, porque é on demand que eles falam, né? Serviços de demanda. Então a ideia é que a pessoa que tá assistindo, ela vai lá e ela escolhe o vídeo que ela quer. Então ela vai procurar, eles oferecem vários vídeos e a pessoa vai lá e escolhe aquele que ela quer. Ela vai personalizar, ela vai dizer quais são os tipos de filmes que ela gosta. Então, toda essa coisa de as features, né, que são adequadas para esses casos de uso. 

  p #[span.eyebrow.-dark Izabela] E, quando a gente fala de presença, o ecossistema de presença digital da marca, é quando a gente pensa nos diversos pontos de contato que uma pessoa, por exemplo, pode utilizar a Netflix, né?

  p #[span.eyebrow.-dark Jane] Exatamente.

  p #[span.eyebrow.-dark Izabela] Se ela tá no ônibus e tá vendo do telefone ou no tablet, ou no desktop ou na televisão. E eu acho que esse conceito, esse entendimento mesmo de produto e serviço digital, ele vem modificando com essas novidades que estão surgindo, né?

  p #[span.eyebrow.-dark Jane] Exatamente. Você não necessariamente, por exemplo, você pode, se você pega uma empresa... Eu não sei exatamente como funcionam os departamentos na Netflix, mas eles podem ter o departamento mobile, eles vão ter o departamento, por exemplo, PS4. Ele pode ter, por exemplo, tablet. Eles podem ter vários grupos, mas ao mesmo tempo o serviço ele tem que estar alinhado, né? O que a gente chama de transmídia, que esse mesmo serviço ele tem que se adequar à diferentes plataformas e ela tem que ter a melhor performance possível em cada uma das plataformas que esse serviço está sendo mostrado. E é exatamente isso que um Service Design se ele faz, né? Ele entende quais são as demandas, onde que o usuário ele vai... Quais são as possibilidades, né? Ele mapeia, ele entende a jornada do usuário, ele entende o dia do usuário, que tipo de… E não só isso também. Ele entende qual que é o papel desse Serviço específico para empresa, entende? Por exemplo, qual é o nível de maturidade que esse serviço tá, o crescimento dele, né?

  p Existe também um cara que a gente fala que é Business Designer, que ele ainda vai um pouco mais além, e faz o papel do Service Designer também, mas ele entende da parte, vamos supor, da parte numérica, parte de custos, como que esse serviço vai ser vendido, a parte da lucratividade. Tem várias coisas, né? Mas, resumindo, ele acrescenta um pouco mais ainda.

  p #[span.eyebrow.-dark Izabela] E ainda falando sobre o papel de um Service Designer, uma coisa que eu fico em dúvida é a diferença entre o Service Design e o Design Thinking. E aí quando entra então a expressão Service Design Thinking eu embolo ainda mais!

  p #[span.eyebrow.-dark Jane] Boa! Boa! Adorei a pergunta. Eu acho que essas perguntas são aquelas perguntas que ninguém sabe responder, mas todo mundo tenta, né?

  p #[span.eyebrow.-dark Izabela] E uma coisa legal assim também é que a gente tá falando de uma área e que tem muita nomenclatura, e ela tá em constante evolução, Então toda hora tem um termo novo, e às vezes a gente que tá começando a aprender, começando a trabalhar com isso, a gente se sente um pouco perdido, começa a misturar as coisas. Então é sempre bom ouvir a opinião de alguém que tá há tanto tempo trabalhando com isso. 

  p #[span.eyebrow.-dark Jane] Olha, se eu não tivesse um pezinho na área acadêmica, eu não ia te falar isso, tá? Aliás, eu não poderia estar falando isso. Mas sendo bem sincera, eu sou a favor do título Design, designer, né? E o que a gente faz é a prática do Design. E o Design nada mais é do que... a preocupação do Design, ele já tem essa preocupação com o público alvo e com a ergonomia há muitos anos já, né? Essa interface homem-máquina, ou interações que a gente fala. E seja lá quem seja o começo ou o fim... Por exemplo, pode ser um cachorro usando algum dispositivo, certo? Então não necessariamente precisa ser uma pessoa, entende? Você pode estar desenhando um serviço que seja para um petshop, né? Ou você pode desenhar coisas que não necessariamente sejam para pessoas, né?

  p Mas por quê que eu tô falando isso? Porque eu acho que o nosso papel como designer é realmente entender, ter essa visão, né? Primeiro, geral. Tentar entender o ecossistema, tentar entender os papéis, quem são as pessoas que influenciam, quem são as pessoas que usam. Quem são, por exemplo, o que a gente fala de Life Cycle Experience. Por exemplo, se a pessoa ela tá aprendendo, se ela já usa há algum tempo, se ela já usa há tanto tempo que ela já tá ensinando. 

  p Então tem várias coisas que eu acho, a gente como Designer… são coisas básicas que independem, elas são independentes de nomenclatura. E o mercado ele é muito bom de se apropriar. Às vezes tem um boom, né? “Ah”... Não falando mal da IDEO, porque eu adoro a IDEO, mas por exemplo, eles formataram muito bem essa coisa de Design Thinking. Eles empacotaram a coisa de uma maneira que ficou muito interessante e muito fácil das pessoas assimilaram. E isso também é, como a gente é falando de uma disciplina, e eu acho que aí tá o papel do Design Thinking,  foi aproximar o Design de pessoas que não entendem de Design, e tá fora da mão do designer. E isso passou a vender mais, por exemplo, quando a gente fala de hierarquia nas empresas, o designer muito, tempo atrás, ele era o cara que ele não participava do processo inicial. Ele recebia as demandas do negócio tudo quase praticamente prontas. Os problemas, o brief, a gente recebia isso tudo pronto. A gente não tinha nenhuma influência muita. Lógico que dependendo do profissional, ele busca essa influência. 

  p Mas acho que com o Design Thinking, a gente passou a ficar mais confiante e as pessoas a confiarem mais. E eu acho que isso só vem crescendo. para diferenciar, por exemplo, um Visual Designer, um cara que trabalha, não exclusivamente, mas focado em interface digital, UI Design, ou Visual Design. Aí a gente pode criar inúmeras áreas de foco, mas eu acho que você entender todo o processo, como funciona, ele só vem a acrescentar, porque te faz realmente entender o que você tá fazendo. Isso ajuda muito com a nossa instituição, em tomar as decisões certas.

  p Então eu acho que o Design Thinking, se eu te der a minha opinião, eu acho que ele é muito importante pro Design, mas eu acho que pro designer mesmo, eu acho que acrescenta, porque dá mais confiança, passa mais confiança para gente, mas eu acho que ele foi muito mais importante pro mercado, no geral. 

  p E o Service Design, a mesma coisa. Aqui na Escandinávia, eu acho que nessa região, aqui da Europa, o Service Design Thinking, né que você perguntou?

  p #[span.eyebrow.-dark Izabela] É.

  p #[span.eyebrow.-dark Jane] Porque somente o Design Thinking, ele precisa de algo a mais, porque a gente precisa colocar essa palavra ‘Service Design Thinking’, que é justamente essa preocupação em criar esses canais, né? Entender a transmídia, cross-plataform, o dia a dia do usuário, onde que ele tá. 

  p Eu tô falando a palavra ‘usuário’, tem um monte de gente que não gosta, né? 

  p #[span.eyebrow.-dark Izabela] Teve uma época que eu era implicada também com ‘usuário’, mas, sinceramente, eu acho que gente na verdade, no fim das contas, é usuário. Acho que é mais fácil de entender, do que, às vezes, ‘pessoas’ só. 

  p #[span.eyebrow.-dark Jane] A gente espera que ele use, pelo amor de Deus, né? 

  p #[span.eyebrow.-dark Izabela] É, exatamente! 

  p #[span.eyebrow.-dark Jane] Se ele não usar, aí pronto. É brincadeira, né, mas eu acho que a gente, bem isso, a gente não se deve... eu acho que o meu grande... se eu fizesse isso, eu tava perdida, Izabela. Porque quando eu comecei a trabalhar, tinha tanta coisa. Eu não digo que eu jogaria tudo o que eu fiz no lixo, e todo ano eu tava recomeçando novamente, aprendendo coisas novas, né? Mas realmente, por exemplo, PageMaker. O PageMaker, eu já usei o PageMaker, eu já usei o CorelDraw, eu já fiz tanta coisa. Por exemplo, a própria Arquitetura de Informação, né, hoje em dia ela parece tão engessada. A pessoa nem fala mais Arquitetura de Informação. Mas eu ainda gosto dos princípios, sabe? Eu acho que cada momento foi especial e a gente não deve ignorar, mas acrescentar sempre.

  p #[span.eyebrow.-dark Izabela] E agora a gente podia então falar do seu foco de estudo hoje. Que você chama de ‘Place Thinking in Service Design Thinking’, não é?

  p #[span.eyebrow.-dark Jane] Eu vou começar então pelo Futures Thinking. Na verdade, eu acho que tem algumas pessoas aí no Brasil já aplicando o que a gente fala. Quando a gente inova, né? Vai criar um produto inovador, um produto novo para empresa, tem várias coisas, né? Questões de maturidade, por exemplo, de uma tecnologia. Por exemplo, eu vou investir num VR, né? Como se chama? Virtual Reality. Eu não sei como se chama no Brasil. Acho que Realidade Virtual.

  p #[span.eyebrow.-dark Izabela] É, exato.

  p #[span.eyebrow.-dark Jane] Então você vai fazer um serviço onde você vai ser usar de técnicas de... Da tecnologia de Realidade Virtual, certo? Aí você fala: “Será que isso realmente que seria interessante pro meu negócio?”. Sempre têm várias dúvidas, né? E aí, às vezes, você vai investir em uma tecnologia que ela é pioneira? Você quer coisa de arriscar ou então você quer realmente criar. Você tá tendo alguma dificuldade, ou seus serviços todos eles já estão tão bons que você vai procurar criar um serviço novo, acrescentar. 

  p Então o Futurice Thinking Studies que a gente chama, os estudos de futuro, entender os possíveis futuros, porque a gente não tem um futuro só... Quando a gente cria os futuros cenários, a gente sempre tem probabilidades. O que pode acontecer.

  p Para você entender, por exemplo, eu tenho uma operadora. Eu vou fazer esse serviço para uma operadora, vamos supor, para Oi. A gente fala de cinco anos atrás. Eu realmente fiz esse tipo de serviço para Ericsson. Era uma coisa similar do que tô falando para você. Por exemplo, eles tinham um grande serviço surgindo na época, que era o Skype, tá? Então todas as pessoas iam poder se falar de graça, elas não iam pagar. Se tivesse internet, elas iam falar de graça. E aí, como que as operadoras, como que eu vou ganhar dinheiro com ligação, se as pessoas todas vão falar de graça umas com as outras, né? 

  p #[span.eyebrow.-dark Izabela] Um exemplo disso, Jane, que tá acontecendo aqui, é que o WhatsApp aqui no Brasil, ele é muito popular, né?

  p #[span.eyebrow.-dark Jane] Exatamente.

  p #[span.eyebrow.-dark Izabela] Já me disseram que em outros países o WhatsApp não é tão popular, porque você paga muito barato para ligar, então as pessoas não veem tanta utilidade, mas aqui no Brasil é muito. As pessoas utilizam muito. E as operadoras, elas tão muito preocupadas aqui em como que elas vão continuar mantendo o modelo de negócios delas, se as pessoas estão cada vez ligando menos. E elas estão tornando os planos de dados mais baratos, mesmo ele sendo péssimos. Mas aqui a gente já tem planos de pré pago, que você tem WhatsApp liberado, o uso de Facebook. Então elas estão vendo a receita cair e não estão sabendo muito como aumentar o lucro.

  p #[span.eyebrow.-dark Jane] Exatamente, então até mesmo o serviço de internet ser gratuito. Então existem coisas que o mercado, ele vai adotar. Vamos supor que daqui a seis anos a gente tenha um cenário onde a internet ela é de graça para todo mundo. A gente entenda que paras pessoas terem acessibilidade, direitos iguais, né, vamos supor.

  p Aqui na Finlândia tem, eu não me lembro exatamente a quantidade de megabytes, que você tem direito como cidadão aqui, porque eles entendem que você ser conectado é uma necessidade.

  p #[span.eyebrow.-dark Izabela] Fantástico, né?

  p #[span.eyebrow.-dark Jane] Se a pessoa, ela tá conectada, isso tem várias implicações, por exemplo...

  p #[span.eyebrow.-dark Izabela] Pode ajudar até na economia do país. Quanto mais acesso à internet as pessoas têm, mais elas podem produzir, mais elas podem pensar em coisas novas, né?

  p #[span.eyebrow.-dark Jane] Exatamente. A educação, né? Tem tanta coisa que a gente pode falar que se você der a internet de graça vai melhorar a qualidade de vida das pessoas. É engraçado falar isso, mas eu sei que tem muita coisa antes disso para resolver, mas já que a gente tá falando de Design, de tecnologia, vamos se ater a isso. Não entrando em outras necessidades. Mas seria no caso, no mundo que a gente vive hoje, para você ter um trabalho bacana, tudo, você tem que entender, tem que saber acessar um site, ser conectado, tudo.

  p Por quê que eu tô falando isso? Porque esse tipo de cenário, quando você cria um serviço, vai inovar numa empresa, numa operadora, por exemplo, que nem a Oi, né? Eles vão entender que, se por um acaso, isso acontecer em dois, três, quatro anos, como que a gente vai reagir ao mercado? Como a gente vai ser mais proativo e já oferecer um serviço melhor? Que tipo de coisa que a gente pode fazer que vai diminuir o impacto no nosso negócio? 

  p Então, na época, quando a gente tava fazendo esse serviço para Ericsson, eu tava trabalhando na Fjord, e a gente foi pago para fazer um workshop, somente para tentar entender esse cenário. Como que as pessoas iam se comportar? E que tipos de tecnologias estariam disponíveis, em poucos anos? Normalmente você tem três, cinco, dez anos. Depende da necessidade do seu negócio, você traz algumas periodicidades. Você fala: “Ah vou pensar daqui a três, daqui a cinco”. E você cria esses cenários, você cria cenários positivos, cenários negativos, e diferentes que te dão uma visão melhor do que pode acontecer, e como você vai se adaptar. 

  p E aí, você cria tipo um road map, que a gente fala, que é como, por exemplo, se durante esses estudos, você entende que você tem que criar um serviço. E na verdade, ele vai se direcionar ao público que você já conhece, que você vai poder se aproveitar dos dados que você já tem, mas que ele vai sofrer... O impacto vai ser tão grande que você vai ter que trazer esses usuários para um outro tipo de serviço, que é o que, por exemplos, muitas empresas têm feito, as operadoras têm feito, que é oferecer internet. Então eles estão ganhando os serviços com os pacotes de internet, em vez de ganhar os serviços com o telefone, com a ligação, né? Em vez disso, eles estão oferecendo os pacotes de internet.

  p Mas se você for pensar no que vai acontecer para frente, as pessoas vão ter outras maneiras de se conectar, vão surgir outros serviços e eles não podem... Por isso que tem esse desespero grande, né, que tá acontecendo. Eu vejo no Brasil que existe muito monopólio, então, as coisas, elas realmente são difíceis de mudar por causa disso. Mas não existe. A mudança ela vai acontecer. E a gente já tem ideia, por exemplo, com essa coisa de sharing economy, crowdfunding, e várias coisas, né?

  p Muita coisa tá acontecendo e as pessoas estão criando soluções. E não vai demorar muito e vai acontecer alguma coisa que vai causar, vai fazer com que as empresas elas acordem e comecem a entender mais com quem que elas estão… O público alvo delas, né? E como que elas se adaptam ao mercado. 

  p Mas essa prática de Futures Thinking, ela pode parecer assim… Eu tive uma conversa outro dia com uma colega, e ela falava: “Não, quando a gente fala de Future Thinking, a gente tá falando de investimento”. E quando a empresa ela não tá bem, a primeira coisa que ela faz é: “Eu não vou investir, eu não tenho dinheiro para investir”, certo? Então você investir numa técnica, por exemplo, em um estudo de Futures Thinking, entender… Isso é o Design Thinking, né? É o Design Thinking, exatamente o que a gente tem hoje de metodologias, técnicas, metodologias que a gente tem hoje, no Design Thinking, aplicadas em cenários futuros, né?

  p E tem todo o conhecimento de estudos de futuro aplicados ao Design Thinking, então é uma mesclagem do que é esses estudos do futuro com o Design de Serviços e Design Thinking.

  p Futures Thinking, eu acho que ele veio para ficar e as pessoas elas têm se interessado muito na metodologia. E aqui já é, por exemplo, quando a gente dá os nossos workshops de Futures Thinking, a gente chama, né? Agora o curso mudou de nome. A gente fala assim que é ‘Are you following or are you leading?’. É bem interessante, porque se você tá simplesmente só seguindo o que as pessoas tão dizendo para você que é certo e você vai se afundar junto com todo mundo. Ou você vai liderar, e entender, e ser o pioneiro, né? Aquele que vai trazer todo mundo para mudança. 

  p #[span.eyebrow.-dark Izabela] Isso me fez pensar em algumas marcas, na mesma hora que você falou, né? Tem algumas categorias, as marcas que sempre estão liderando e as outras que estão copiando, e vice versa. E uma dúvida no que você tá falando. Onde entra o ponto de você almejar criar serviços mais sustentáveis? Ainda falando sobre seu foco de estudo.

  p #[span.eyebrow.-dark Jane] Bom, é que eu trabalho muito com Concept Design, então muitas das coisas que eu faço, às vezes elas vão acontecer daqui uns cinco, três anos, dois anos, entende? Então eu trabalho muito com prototipagem também. Por isso que a minha habilidade visual de criar, e desenhar realmente, colocar a mão na massa, que a gente chama do Craft Design, ela me ajuda a prototipar, criar esses cenários.

  p #[span.eyebrow.-dark Izabela] É, eu posso entender que o Craft Design é como se fosse também um Visual Design, ou Design de Interface?

  p #[span.eyebrow.-dark Jane] Seria mais um mão na massa.

  p #[span.eyebrow.-dark Izabela] Ah tá!

  p #[span.eyebrow.-dark Jane] Fazer, experimentar, né? Prototipagem, criar, e realmente o visual também, né? Você tentar, mas de uma maneira, eu até diria mais informal, tá?

  p #[span.eyebrow.-dark Izabela] Ah tá, entendi.

  p #[span.eyebrow.-dark Jane] Ele não é o fim, né? Ele é uma inspiração.

  p #[span.eyebrow.-dark Izabela] Saquei, ele tá lá no meio para fazer a coisa acontecer. 

  p #[span.eyebrow.-dark Jane] Eu sou uma boa Visual Designer, para um Service Designer. para um Visual Designer, eu sou uma péssima Visual Designer. 

  p #[span.eyebrow.-dark Izabela] E você falou uma palavra nova, pelo menos para mim, que é o Concept Designer. 

  p #[span.eyebrow.-dark Jane] Isso. O Concept Designer, na verdade, quando a gente fala ‘Concept’, às vezes as pessoas não gostam da palavra ‘Concept’ também. Eu gosto de falar essas palavras, mas elas são muito provocativas, porque o Concept, na verdade, ele é criação, né que a gente fala em português. É quando você cria, né, alguma coisa. Na verdade, o Concept é uma fase, pode ser considerada uma fase do processo de Design. Que é lá no começo, quando você tá decidindo como o serviço ele vai acontecer. Você pega uma pessoa que a gente chama de Concept Designer, que ele entende um pouquinho de cada coisa. Ele é um generalista, né? E ele consegue conectar o máximo de pontos possíveis antes de você entrar num processo de cascata, né?

  p Então, isso tá num processo mais agile, agilizado, ágil. Ágil, né?. ‘Agilizado’ foi ótimo. Ágil, né? Um processo mais ágil. E aí o que a gente chama de lean, né?. Ele é mais enxuto. Então você entende melhor, você acerta mais, você consegue se focar em algumas coisas. Por exemplo, nesse começo, você entende um tudo, entra em detalhes em poucas coisas, mas você entende melhor. E aí você vai realmente entrar pros detalhes, né? E aí você não tem como se perder. O mapeamento todo, ele já foi feito. 

  p Realmente depende muito do perfil do designer. Porque tem gente que gosta de focar em coisas. Eu realmente, eu foco no Concept, que é justamente entender todo o ecossistema, entender como o serviço ele vai acontecer, até realmente testar essas primeiras interfaces. Por exemplo, fazer um protótipo e, em pouco tempo, tentar ter contato o mais rápido possível com quem vai usar, antes mesmo até de desenhar. Tentar entender se a necessidade existe, qual é a necessidade daquele serviço.

  p #[span.eyebrow.-dark Izabela] Tô pensando uma coisa aqui. Talvez pode ser que seja novo para mim e aqui, até pro projeto, porque eu acho que você é a primeira pessoa que tô conversando que trabalhou mais em empresas. Você me corrige se eu estiver errada, mas que trabalhou mais em empresas que são consultorias de Design e Inovação, que são multinacionais. E eu acho que as outras pessoas que eu conversei aqui, ou eram UX em agência ou UX e designer de produto, como o Koji, né, no Google. Que lá ele não citou, por exemplo, esse papel. Então, será que é isso? Será que é um tipo de organização mais para consultorias de Design e Inovação?

  p #[span.eyebrow.-dark Jane] Por exemplo, o Concept Design, se você for pesquisar, existe, né? Você pode ter um papel do Concept Designer, mas não necessariamente, por exemplo, uma empresa como a Fjord, ela tem a parte inicial do projeto que tem esse papel de Concept, certo? Mas não necessariamente você precisa ter o papel do Concept Designer, entendeu?

  p #[span.eyebrow.-dark Izabela] Ah, entendi.

  p #[span.eyebrow.-dark Jane] Então ela é muito mais do processo e do tipo do Design que você vai ter, e depende muito também, por exemplo, têm pessoas que gostam de trabalhar mais no começo do processo, têm pessoas que gostam de trabalhar mais detalhado, né? Gostam mais dessa parte de… Até mesmo quando a gente fala dessa coisa de User Experience, a gente tem aquela coisa de low fidelity, sabe? Baixa fidelidade, alta fidelidade, sabe? Tem várias coisas que a gente diz: “Ah esse projeto ele não exige…”. Por exemplo, os wireframes, né? De alta fidelidade, entende? Pode ser mais drafts, né? Pode ser manual, não precisa ter tanto… Aí ele é mais um concept, entende? Ele tá mais ali para inspirar. 

  p Então eu acho que quando a gente usa essa palavra ‘concept’, tem gente que gosta, tem gente que não gosta. Eu não gostaria de me ater assim à palavra ‘concept’. Mas é justamente esse início do projeto onde existe um comprometimento mais de entender o que vai ser feito, certo? Entender qual, por exemplo, as pessoas que vão influenciar no sucesso desse serviço também, entende? 

  p Aqui a gente faz muito isso. Quando a gente inicia um projeto, a gente tenta entender a parte de tecnologia, a parte de Design, tenta entender o consumidor, tenta entender quem tá trabalhando por trás do serviço, a empresa, qual que é o papel desse serviço para empresa. Porque às vezes assim, você cria um serviço super bacana, né? E a empresa mesmo, ela não tem esse comprometimento de continuar a manter, ou ela não entende, porque ele foi... Às vezes a conversa ela nem aconteceu. Você criou esse produto na agência, certo? 

  p Por exemplo, agência de publicidade ela tem esse papel. Você recebe o briefing... Eu já trabalhei em agência de publicidade também, e já trabalhei em, por exemplo, in house, que fala, né? No departamento de Design. Por exemplo, nas Lojas Renner eu trabalhava na parte de B.I., Business Inteligence. Mas eu trabalhava como uma intermediadora entre o Design, entre o marketing, e a tecnologia. Então eu já trabalhei em diversas em diversos, como que a gente fala? Em posições diferentes, né, papéis diferentes. Mas no final, é que nem eu tô te falando, eu acho que o que a gente faz é Design. E é difícil você pegar e falar assim: “Ah, depende muito em que fase do Design que a gente tá falando”.

  p #[span.eyebrow.-dark Izabela] E como é que é o seu trabalho hoje? Conta um pouco para gente do seu dia a dia, na Futurice. É ‘futurice’ que pronuncia, né? 

  p #[span.eyebrow.-dark Jane] Isso. Em finlandês, é ‘futurice’, mas a gente no geral chama de “futuráice”. Mas a gente até brinca que pode chamar de qualquer coisa.

  p Então, a gente lá na Futurice, a gente chama... Todos nós somos Service Creators. E aí você tem essa... uma especialização, vamos supor, que no meu caso seria Service Design, UI/UX Design, porque eu sou mais generalista, né? Eu sou uma designer mais generalista, até pela experiência. 

  p Mas existem, por exemplo, pessoas de Business Design, existem pessoas que trabalham com Branding, direcionamento de marca, pessoas que trabalham com analytics que é a parte de análise de dados, entender dados, e até criar como conectar, como coletar os dados, como se usufruir dos dados, como entender esses dados. Então tem várias pessoas, de várias especialidades.

  p Mas a gente entende que dependendo do serviço, algumas especialidades são mais necessárias do que as outras, não mais importantes, mas mais necessárias que outras e o papel, ele acaba sendo maior. Mas a gente tenta envolver o máximo de disciplinas possíveis num primeiro momento, que é justamente para mapear esse ecossistema, entender como que aquele serviço funciona.

  p Então ela vem disso, que a gente, num primeiro momento, que a gente chama de Service Sprint, a gente tenta entender o que é que tem que ser feito. Aí a gente faz interação bem… De duas em duas semanas, usa desenvolvimento agile, ágil, né? para tentar ter feedback mais rápido para produzir, para ter essas interações mais rápidas, para que a gente consiga melhorar e ter um conceito final. Que é mais possível de ter sucesso. Então, essa que é a ideia. Tem essa fase inicial, sempre. Pelo menos três pessoas, sabe? Uma de Business, uma de tecnologia, e uma de Design.

  p Depende muito, Izabela, depende muito do projeto, do tamanho do serviço. Às vezes realmente, não vou te mentir, vem um cliente que quer renovar um site. Ele não quer mudar nada, vamos supor, sabe? Quero simplesmente, eu tenho uma marca nova, e eu quero fazer esse mesmo site, com essa mesma informação, mas com esse Design novo. Isso realmente pode acontecer. E dependendo, às vezes, é uma marca que é interessante de trabalhar, e aí o pessoal acaba fazendo. Mas isso eu acho que tem acontecido cada vez menos, porque as pessoas elas... já que a gente vai investir em criar essa identidade nova, por que não repensar, né? E tentar entender melhor para quem que a gente tá fazendo isso, qual que é o papel deste site. Vamos supor, no caso, esse serviços mobile, ou esses serviços digitais, ou essa transmídia. Qual que é o papel desse serviço nessas múltiplas plataformas. Então depende muito do projeto. 

  p Mas eu já trabalhei em vários tipos de projetos, e a gente tem que ser um pouco pé no chão também, que às vezes o tempo… Por exemplo, o cliente precisa de uma solução para, sei lá, um mês, né, três semanas. A dedicação que você tem para esse entendimento do serviço ela também tá muito associada ao tempo que você tem para fazer. E as pessoas que estão envolvidas na equipe e tudo. 

  p Mas sempre existe a conversa. A gente trabalha muito com consultoria, então a gente se envolve muito com… Independente de ser só uma renovação de interface, a gente trabalha junto com a empresa, com os representantes. Então a gente tenta já trabalhar, por exemplo, dentro da empresa. Eles já vendem né que a gente vai lá.

  p #[span.eyebrow.-dark Izabela] Vocês vão para lá? Vocês vão para dentro da empresa mesmo, literalmente? Ou é um processo de co-criação com o cliente? 

  p #[span.eyebrow.-dark Jane] Literalmente. 

  p #[span.eyebrow.-dark Izabela] Vocês vão para lá, vocês vão para dentro. 

  p #[span.eyebrow.-dark Jane] Existem serviços que a gente passa oito meses trabalhando no cliente.

  p #[span.eyebrow.-dark Izabela] Olha só!

  p #[span.eyebrow.-dark Jane] Ou mais né. Mas assim, existe Futurice, porque a gente chama de consultoria, né? Então esse envolvimento com o cliente faz entender o dia a dia. Você acaba influenciando mais nas decisões, porque você acaba fazendo parte da equipe. Mas na Futurice a gente tem o que a gente chama, toda as sextas-feiras, que são… Todas as sextas-feiras a gente se encontra na Futurice. Então a gente sempre trabalha na Futurice, nas sextas-feiras. Nos outros dias a gente pode ou não estar trabalhando no cliente. 

  p #[span.eyebrow.-dark Izabela] Eu acho que o contexto que a gente tá inserido, isso influencia muito o nosso trabalho, né? Como que a Finlândia influencia o seu trabalho?

  p #[span.eyebrow.-dark Jane] O Design aqui, as pessoas... Primeiro que existe… A Finlândia não é um país tão rico em termos de riquezas naturais, né? Então o valor... Como o país ganha dinheiro é investindo em pessoas. As pessoas vão criar coisas aqui. Eles ganham dinheiro com as pessoas, então o maior produto deles aqui são as pessoas. Isso porque aqui é frio, entende? Então não se planta. Se planta, mas é difícil, né? Não tem essa riqueza que o Brasil tem. Então, eles realmente têm que investir em pessoas, para que as pessoas… o material intelectual, né, que eles vendem aqui.

  p E isso é legal, porque quando isso acontece, o Design é muito valorizado. E é por isso que eu me senti tão bem aqui, porque eu vejo que a voz do Design, ela é bem escutada.

  p #[span.eyebrow.-dark Izabela] Você tá muito tempo no mercado, acho que a gente já falou algumas coisas, mas teve um momento que você falou sobre Arquitetura de Informação, né, e como você gosta disso. E eu queria entender como que foi essa evolução de Arquitetura de Informação para UX designer. Como que foi esse processo de evolução? Imagina que você veio do campo de interface, você tá há muitos anos no mercado e deve ter acompanhado de perto essa modificação no papel mesmo do Design de Experiência do Usuário. Que que você destaca nesse processo?

  p #[span.eyebrow.-dark Jane] Eu não sei se vai ser resposta perfeita, né, mas eu acho que eu senti foi... Quando a gente fala User Experience, foi exatamente essa conexão entre aquela coisa que eu tinha do marketing, da publicidade, do público alvo, com a interface. Os casos de uso, né? Porque que as pessoas estão usando, criar, desenhar a informação de uma maneira que ela estivesse adequada ao uso, né?

  p Então, antigamente, com a Arquitetura de Informação, só pensando na Arquitetura de Informação, a gente tinha uma quantidade enorme de conteúdo. Você ia agrupar aquele conteúdo de uma maneira mais inteligente, certo? Então ele praticamente era um serviço que se fazia... Quase que um quebra-cabeça, né? Você ia… Era mais dentro da empresa, tentando acertar o que o usuário… Tentando disponibilizar aquela informação, certo? Pro usuário da melhor maneira possível. Mas não necessariamente aquela informação toda era a informação que o usuário queria. Por isso que a gente falava: “Ah, ficou com a complexidade da coisa”. Os serviços eram muito complexos. 

  p A gente fazia tudo, botava tudo lá e o usuário se fechava. Então, quando a parte… Quando a gente fala dessa migração de User Experience, né, ela veio, ela acrescentou… Por exemplo, você tem toda essa informação, mas essa informação, quais delas são prioridade, entende? Quais são as informações que a gente vai dar destaque, quais são as informações. Por que essa conversa? Ah, isso aqui são os casos de uso, quando, por exemplo, meu usuário não conhece o serviço ainda. O que que ele preciso saber? Quando ele já usa o serviço, que tipo de serviço ele usa? 

  p E cada vez mais a gente tem tido apoio, tecnologias que ajudam a melhorar isso, né? Por exemplo, quando você cria um serviço mais orgânico que entende os dados que o te disponibiliza, você pode, que a gente fala, tailoring, né? Que é desenhar para aquela pessoa, entende? Você pode personalizar, customizar. 

  p Eu acho que a gente só vem evoluindo e eu acho que a Arquitetura de Informação, se a gente chama isso de Arquitetura de Informação ainda, ela tá bem intrínseca com o User Experience. 

  p #[span.eyebrow.-dark Izabela] Vamos falar um pouco de repertório. O você acha que mais te ajudou a desenvolver o seu trabalho hoje? Quais foram aqueles livros, palestras, cursos ou até mesmo prática que você acha que te ajudou a chegar onde você está hoje? 

  p #[span.eyebrow.-dark Jane] Ah eu tenho uma lista aqui no meu computador, um monte. Mas eu gosto muito da UX Mag. Eu gosto muito da interface, da linguagem da UX Mag. Tem várias na verdade. Eu tenho uma lista aqui.

  p #[span.eyebrow.-dark Izabela] Tem algum um livro que você acha que te ajudou a entender melhor esse processo de Design de Serviço?

  p #[span.eyebrow.-dark Jane] Tem, tem. Até trouxe eles aqui para a mesa, para não errar o nome, tá?

  p #[span.eyebrow.-dark Izabela] Ah que ótimo.

  p #[span.eyebrow.-dark Jane] Que a gente fala de Serviços, né? ‘Services Marketing’ que ‘Integrating Customer Focus Across the Firm’. O que que é? Esse livro é bem bacana, porque ele te dá uma visão geral de como o Serviço ele tem partes em várias partes da empresa. Por exemplo, quem vai executar? Quem vai produzir? Como vai vender? Sabe? O Serviço tem o pézinho em vários lugares. E o Serviço só vai ser bem feito e vai ser interessante, se você entender todo esse ecossistema. Então acho bem legal.

  p ‘Designing for the Digital Age’, que é o da Kim Goodwin. Esse livro ele mostra o processo de Design. Bem interessante, vale muito a pena. 

  p O ‘Designing Interactions’ do Bill Moggridge, que é muito… acho que é uma Bíblia.

  p E o ‘This is Service Design Thinking’, do Stickdorn e do Schneider. Que a gente fala que é o black book, que é a Bíblia do Service Design. É muito legal.

  p E para trends, eu acho que para entender um pouco do que que é o Futures Thinking aplicado em negócios, tem mais um livro, que acabou de sair na verdade, faz pouco tempo que é o ‘Trend-Driven Innovation’. 

  p #[span.eyebrow.-dark Izabela] Jane, muito obrigado pelo apoio e por fazer parte do Movimento UX! 

  p #[span.eyebrow.-dark Jane] Adorei a conversa. Muito obrigado, Izabela. E espero que o pessoal goste. E se alguém tiver alguma dúvida, querer conectar comigo, e conversar, se tiverem alguma dúvida, tenta entrar em contato comigo. 

  p #[span.eyebrow.-dark Izabela] Ah, que bacana.

  p #[span.eyebrow.-dark Jane] Valeu, brigadão!

  p #[span.eyebrow.-dark Izabela] A gente que agradece, Jane!

  hr

  p [Música]

  p #[span.eyebrow.-dark Izabela] Chegamos ao fim deste que é o sétimo episódio. Hoje em um papo via Skype com a Jane Vita. Eu espero que você tenha gostado. 

  p Se você quiser fazer qualquer comentário, crítica ou sugestão, é só me escrever no movimentoux@gmail.com. 

  p Para conferir outros episódios, acesse o canal do Movimento UX no SoundCloud ou no seu player de podcast preferido. Obrigada e até o próximo episódio!

  hr

  ul.links
    li Transcrição: #[+link('Camila Gondo', 'https://www.linkedin.com/in/gondocamila/')]
    li Revisão: #[+link('Renata Moreira', 'https://www.linkedin.com/in/remoreira/')]
