include /_assets/pug/meta
include /_assets/pug/header
include /_assets/pug/episode
include /_assets/pug/player
include /_assets/pug/js

+meta(
  'Felipe Memória, Episódio 16 — Movimento UX',
  'Sócio fundador da Work & Co. Produto digital, inovação, liderança em design.',
  'http://movimentoux.com/ux-design/felipe-memoria/'
)

body(data-page='episode')

  +header('on', '', '')

  #barba-wrapper
    .barba-container
      +episode(
        'Felipe Memória',
        'Sócio fundador da Work & Co.',
        'Produto digital, inovação, liderança em design.',
        '16',
        '16-foto-felipe-memoria.jpg',
        '',
        '-inside'
      )

      +player('felipememoria')

      section.episode-content
        .tab.on#intro
          include intro.pug

//- last
//- but not least
+js
