include /components/includes

+meta-head(
  'Karine Drumond, Episódio 9 — Movimento UX',
  'Sócia-fundadora da Negócio de Mulher. Usabilidade, design de interação, empreendedorismo.',
  'https://movimentoux.com/ux-design/karine-drumond/',
  '',
  'episode'
)

+header('on')

+episode-section(
  'Karine Drumond',
  'Sócia-fundadora da Negócio de Mulher.',
  'Usabilidade, design de interação, empreendedorismo.',
  '09',
  '09-karine-drumond.jpg',
  '',
  '-inside'
)

+episode-player('karine-drumond')

section.episode-content
  //- +episode-tabs

  .episode-text
    include intro
    //- include transcricao

  include sidebar

+meta-js
