.tab.on#intro
  +social-players
  
  p No 9º episódio do Movimento UX você vai ouvir o papo leve e super bacana com a designer Karine Drumond.
  p A Karine trabalha com Design e Usabilidade desde 2006, já foi professora no curso de Design de Interação da PUC-Minas e sócia da Latitude14, especializada em usabilidade.
  p Hoje ela está à frente do projeto Negócio de Mulher, onde trabalha com coaching criativo para inspirar mulheres a empreenderem a si mesmas e também é consultora de UX em projetos pontuais.
  p A gente conversou sua experiência em Design de Interação, sobre como os conhecimentos e habilidades em UX a levaram ao empreendedorismo, a importância dos projetos pessoais e muito mais!

  p As dicas da Karine são:
  ul.links
    li #[+link('Livro: Design for Interactions Dan Saffer','https://amzn.to/2DDNsJd')]
    li #[+link('Livro: Business Model You. O Modelo De Negócios Pessoal','https://amzn.to/2LjnuRs')]
    li #[+link('Livro: A Startup de $100','https://amzn.to/2Vx13MI')]

  p O próximo episódio será com o Érico Fileno. 
  p Até o próximo podcast!

  hr

  +newsletter