include /components/includes

+meta-head(
  'Samyra Ribeiro, Gerente de Pesquisa UX na Globo (Parte 2). Episódio 30 — Movimento UX. Conversas sobre pesquisa em experiência do usuário. UX Research.',
  'Liderança e organização de time de pesquisa — Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Terceira Temporada. Conversas sobre pesquisa em experiência do usuário. UX Research.',
  'https://movimentoux.com/temporada-3/samyra-ribeiro-pt2/',
  'https://movimentoux.com/assets/img/share/30-samyra-ribeiro-pt2.jpg',
  'episode'
)

+header('', '', 'on')

+episode-section(
  'Samyra Ribeiro',
  'Gerente de Pesquisa UX na Globo.',
  'Liderança e organização de time de pesquisa.',
  '30',
  '30-samyra-ribeiro-pt2.jpg',
  '',
  '-inside',
  'pt2',
  'https://open.spotify.com/episode/1NtXyha0NzGHrbt2jiycMh'
)

//- +episode-player('samyra-ribeiro-pt2')

section.episode-content
  //- +episode-tabs

  .episode-text
    include intro
    //- include transcricao

  include sidebar

+meta-js
