include /components/includes

+meta-head(
  'Caio César, Episódio 1 — Movimento UX',
  'Professor de Design de Interação na PUC-MG. Introdução ao tema UX, possibilidades de atuação e dicas pra começar.',
  'https://movimentoux.com/ux-design/caio-cesar/',
  '',
  'episode'
)
  
+header('on')

+episode-section(
  'Caio César',
  'Professor de Design de Interação na PUC-MG.',
  'Introdução ao tema UX, possibilidades de atuação e dicas pra começar.',
  '01',
  '01-caio-cesar.jpg',
  '',
  '-inside',
  '',
  '',
  'standalone'
)

+episode-player('ep-01')

section.episode-content
  +episode-tabs

  .episode-text
    include intro
    include transcricao

  include sidebar

+meta-js