include /_assets/pug/meta
include /_assets/pug/header
include /_assets/pug/episode
include /_assets/pug/player
include /_assets/pug/js

+meta(
  'Pedro Beleza e Thiago Esser, Episódio 8 — Movimento UX',
  'Sócios-fundadores da UXConf. Conteúdo sobre UX, importância de comunidade, eventos de UX.',
  'http://movimentoux.com/ux-design/pedro-thiago/'
)

body(data-page='episode')

  +header('on', '', '')

  #barba-wrapper
    .barba-container
      +episode(
        'Pedro e Thiago',
        'Sócios-fundadores da UXConf.',
        'Conteúdo sobre UX, importância de comunidade, eventos de UX.',
        '08',
        '08-foto-pedro-thiago.jpg',
        '',
        '-inside'
      )

      +player('uxconfbr')

      section.episode-content
        .tab.on#intro
          include intro.pug

//- don't forget js
+js
