include /components/link-text
include /components/image

.tab.on#intro
  p O 3º episódio do Movimento UX foi com o Eduardo Loureiro.

  p A gente conversou sobre o porquê de ele ter deixado as agências de publicidade e começado a empreender, sobre seu pioneirismo nas disciplinas de Design de Experiência do Usuário no Brasil e também sobre sua ligação com Design Thinking.

  p O Eduardo me passou dicas legais pra criar repertório e divido com você.

  ul.links
    li #[+link-text('Livro — This is service design thinking', 'https://amzn.to/2PBsnUu')]
    li #[+link-text('Site — This is service design thinking', 'http://thisisservicedesignthinking.com/')]

    li #[+link-text('Livro — Gamestorming', 'https://amzn.to/2GPH1Fa')]
    li #[+link-text('Site — Gamestorming', 'http://gamestorming.com/')]
    li #[+link-text('Livro — Observing the User Experience', 'https://amzn.to/2GOOUdG')]
    li #[+link-text('Autor — Mike Kuniavsky', 'https://amzn.to/2GPNXSw')]
    li #[+link-text('Editora — Rosenfeld Media', 'http://rosenfeldmedia.com/')]
    li #[+link-text('Autor — Louis Rosenfeld', 'https://amzn.to/2W9Ts3G')]
    li #[+link-text('Consultor — Paulo Melo', 'https://www.linkedin.com/in/paulomelo')]
    li #[+link-text('Plataforma de Inovação Social — Mozaiko', 'https://www.facebook.com/Mozaikocc')]
    li #[+link-text('Plataforma de Educação em Design Thinking e UX — DesignThinkers Academy Brasil', 'http://www.designthinkersacademy.com/br/')]

  p No próximo episódio eu vou conversar com o Koji.

  p Até!
