include /pug/link-alt

.text
  p No 6º episódio do Movimento UX você vai acompanhar o ótimo papo que tive com a Elisa Volpato.
  p Conversamos sobre a trajetória da Elisa desde a Try Consultoria, passando pela AgênciaClick, UOL, Predicta, Itaú até a concepção da consultoria UX Dialog e da ferramenta de teste de usabilidade remoto TESTR — empresas em que ela está à frente hoje.
  p Também falamos sobre como ela desenvolveu suas habilidades em usabilidade, arquitetura de informação, design de interação e UX ao longo dos anos, sobre dicas pra quem quer trabalhar de forma independente com UX, os desafios dos testes de usabilidade com as novas formas de interação que estão surgindo e muito mais.

  p As dicas que a Elisa passou pra gente são:
  ul.links
    li #[+link-alt('Livro: 100 coisas que todo designer deve saber sobre pessoas', 'https://www.amazon.com.br/dp/0321767535/')]
    li #[+link-alt('Blog: Arquitetura de Informação', 'http://arquiteturadeinformacao.com/')]
    li #[+link-alt('Associação: UXPA Profissionais de Experiência do Usuário', 'http://uxpasp.com/')]

  p Você pode saber mais sobre o trabalho da Elisa aqui:
  ul.links
    li #[+link-alt('Consultoria UX Dialog', 'http://uxdialog.com.br/')]
    li #[+link-alt('Ferramenta de Teste de Usabilidade RemotoTESTR', 'http://testr.com.br/')]

  p Tenho uma novidade bem legal pra você. Nos dias 20 e 21 de maio, vai rolar a #[+link-alt('UXConf', 'http://www.wildtech.com.br/uxconfbr')], uma conferência de UX brasileira, em Porto Alegre. E consegui um desconto de 10% no valor do ingresso pra quem ouve o Movimento UX! Para isso, é só usar o código promocional MovimentoUX na página do evento. 🙂

  p No próximo episódio o papo será com a Jane Vita que é Designer e Service Creator na Futurice em Helsinki/FI.

  p Até lá!

.sidebar
  h3.eyebrow Localização
  p São Paulo

  h3.eyebrow Social
  p #[+link-alt('TESTR', 'http://testr.com.br/')]
  p #[+link-alt('LinkedIn', 'https://www.linkedin.com/in/elisavolpato/pt')]
