include /components/includes

+meta-head(
  'Thiago Fontes, Pesquisador em UX Sênior no WhatsApp/Meta. Episódio 36 — Movimento UX',
  'Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Quarta Temporada',
  'https://movimentoux.com/temporada-4/thiago-fontes/',
  'https://movimentoux.com/assets/img/share/36-thiago-fontes.jpg',
  'episode'
)

+header('', '', '', 'on')

+episode-section(
  'Thiago Fontes',
  'Pesquisador em UX Sênior no WhatsApp/Meta',
  '',
  '36',
  '36-thiago-fontes.jpg',
  '',
  '-inside',
  '',
  'https://spoti.fi/3xXIinL'
)

section.episode-content
  //- +episode-tabs

  .episode-text
    include intro
    //- include transcricao

  include sidebar

+meta-js
