.tab.on#intro
  +social-players

  p No sexto episódio da quarta temporada do Movimento UX, conversamos com o Thiago Fontes – Pesquisador em Experiência do Usuário Sênior no WhatsApp, em Londres.
  p Ele atua na unidade de negócios de Commerce e suas pesquisas contribuem para as soluções da plataforma que tem o papel de ajudar pequenas e médias empresas a alcançarem seus clientes, aumentarem as vendas e crescerem em mercados como os do Brasil, Índia e Indonésia.
  p Falamos bastante sobre como é o design organizacional de pesquisa na companhia e um dos pontos que me chamou à atenção foi a ausência de títulos como junior, pleno e senior no dia a dia.

  blockquote "Pense menos em título e posição. Pense no quanto isso impacta negativamente a capacidade de colaboração e de troca de informação… É mais uma questão de ego do que de fato algo para ajudar as coisas a funcionarem."

  +episode-links({
    1: {
      type: 'Artigo',
      title: 'Ninguém se importa com a sua pesquisa',
      url: 'https://www.linkedin.com/pulse/ningu%C3%A9m-se-importa-com-sua-pesquisa-thiago-fontes/'
    },
    2: {
      type: 'Artigo',
      title: 'Quando algo não fizer sentido, preste atenção',
      url: 'https://www.linkedin.com/pulse/quando-algo-n%C3%A3o-fizer-sentido-preste-aten%C3%A7%C3%A3o-thiago-fontes/'
    },
    3: {
      type: 'Artigo',
      title: 'The stress of delivering',
      url: 'https://www.linkedin.com/pulse/stress-delivering-thiago-fontes/'
    },
    4: {
      type: 'Artigo',
      title: 'Less searching, more prototyping',
      url: 'https://www.linkedin.com/pulse/less-searching-more-prototyping-thiago-fontes/'
    },
    5: {
      type: 'Artigo',
      title: 'Build a business that is right for you',
      url: 'https://www.linkedin.com/pulse/build-something-thats-right-you-thiago-fontes/'
    }
  })

  p Até a próxima entrevista! Ah, enquanto isso vou adorar manter contato no #[+link('Twitter', 'https://twitter.com/izabeladefatima')] :)

  hr

  p #[strong Quer ajudar o Movimento UX?]
  p Siga e avalie a gente com 5 estrelas nos aplicativos do #[+link('Spotify', 'https://open.spotify.com/show/0jpGW9nTFzzzHCjm7Y3d73?si=uuZGXryBTquSdkG1njUlTw')] e da #[+link('Apple', 'https://podcasts.apple.com/br/podcast/movimento-ux/id1093322366')]. Lembrando que, por enquanto, essa funcionalidade só está disponível no telefone. Você também pode dar uma força divulgando os episódios em suas redes.

  hr

  p #[strong Sobre o Movimento UX]
  p A criação do podcast, dos roteiros e a curadoria dos temas e entrevistas são feitas por mim, Izabela de Fátima.
  p A revisão do tema da temporada e do roteiro é feita pela #[+link('Renata Moreira', 'https://www.linkedin.com/in/remoreira/')].
  p A trilha sonora original e a execução da trilha é do Richard Garrell, no seu projeto #[+link('Aeoner', 'https://aeoner.bandcamp.com')].
  p A edição do áudio é feita pela #[+link('Renata Valentim', 'https://www.linkedin.com/in/renatavalentim/')].
  p A identidade visual é do #[+link('Cristiano Sarmento', 'https://www.linkedin.com/in/hicristiano/')]. O site também é dele em parceria com o #[+link('Pedro Ivo', 'https://www.linkedin.com/in/pedroivohudson/')].