include /_assets/pug/link

.text
  p [Música]

  p #[strong Izabela:] Olá! Bem vindo ao quarto episódio do Movimento UX. Hoje eu vou conversar com o Koji Pereira, que é Designer de Produtos no Google, em São Francisco.

  p A gente teve uma conversa bem legal por Skype sobre os processos e metodologias de trabalho no Google, sobre seu percurso profissional por lá, as tendências do mercado de UX, e muito mais. Eu espero que você goste. 

  p Então vamos lá! Eu sou a Izabela de Fátima e esse é o Movimento UX!

  hr

  p #[strong Izabela:] Ei Koji!

  p #[strong Koji:] Olá!

  p #[strong Izabela:] Muito obrigada pela presença aqui no Movimento UX! 

  p #[strong Koji:] Eu que agradeço Izabela! Bacana estar aqui podendo conversar e falar um pouco sobre a minha experiência. É um prazer!

  p #[strong Izabela:] Eu tenho uma lista com várias perguntas sobre o que você faz hoje, mas antes disso, eu queria que a gente desse uns passinhos pra trás, porque eu queria que a gente conversasse um pouco da sua história. Você nasceu e cresceu aqui em Belo Horizonte? 

  p #[strong Koji:] Isso! Eu nasci e cresci em Belo Horizonte, morei em Belo Horizonte minha vida inteira. Me mudei de Belo Horizonte tem apenas um pouco mais de um ano e meio. 

  p #[strong Izabela:] Olha só! Eu achei que você estivesse na Califórnia um bom tempo.

  p #[strong Koji:] Não. Eu estou trabalhando no Google tem bastante tempo, mas eu comecei no Google em Belo Horizonte, e eu só fui mudar pra cá recentemente, porque eu fui contratado pra trabalhar, primeiramente, numa força tarefa, na época era o Orkut. Aí depois eu saí, fundei a Voël junto com o Dudu, com o Marcos, com o Geovane, e com o Julios.

  p E depois de um tempo, eles me chamaram, o Google me chamou de volta e eu acabei voltando. Então no Google eu já tô há mais ou menos cinco, quase cinco anos. E fora esse um ano que eu fiquei nessa força tarefa.

  p #[strong Izabela:] Voltando um pouquinho atrás também... Quando é que você começou a se interessar pelas coisas que você faz hoje? A sua ligação com Design, com arte, ela vem desde criança?

  p #[strong Koji:] Então, ontem eu até tava conversando com… tem bastante brasileiro aqui no Vale, né? Bastante designers.

  p #[strong Izabela:] Aham!

  p #[strong Koji:] E ontem eu tava conversando com um, que é o Arthur, ele trabalha na R/GA. E a gente tava conversando: “Ah como você começou? Como que eu comecei...”, tal, como que ele começou. E eu, pra mim, sempre foi seguinte: eu, desde criança, eu gostei muito de desenhar…

  p #[strong Izabela:] Olha só!

  p #[strong Koji:] Mas eu desenhava coisas muito assim… Ah, eu desenhava um robô, um carro, umas coisas meio futuristas. E eu tentava pensar assim: “Ah esse carro vai ter isso, vai ter um telefone... Eu pensava, eu gostava muito de desenhar, mas eu também gostava muito de projetar coisas, sabe?

  p #[strong Izabela:] Uhum!

  p #[strong Koji:] E eu fui meio que dividindo os meus hobbies entre essas duas coisas. Mas aí em algum momento, eu me interessei bastante pelo Design Gráfico, pelo Design impresso mesmo.

  p #[strong Izabela:] E essa sua formação, seu background, vem de Design Gráfico?

  p #[strong Koji:] Então, não. Na verdade, o meu background acadêmico começou com Artes,  com Artes Plásticas. Por quê? Porque eu já era designer gráfico. Eu trabalhava na AlphaGraphics na época, 96, 97. E era como designer gráfico, mas eu via muito assim do que que era a área e eu falava: “Não. Eu quero aprender algo novo, porque se eu for fazer faculdade de Design, eu já tô praticando Design no meu dia a dia. Eu não sei até que ponto isso vai ser bom para mim, ou se eu devo aprender uma outra coisa meio que nada a ver com o que eu faço”. 

  p E aí eu fui fazer Belas Artes, gostei muito. Fiz uma formação em pintura, na época, e tudo isso continuando como... Em paralelo como designer. Aí eu saí da AlphaGraphics. Vi várias pessoas indo para agências, né, na época agências offline. Na época, Anil era uma grande agência da cidade. Acho que ainda é, mas enfim. Era a grande agência que tinha na época.

  p Só que a internet era uma coisa que tava começando e eu sempre gostei... Eu sempre tive esse lado assim… É um lado nerd, com lado artístico, misturado. E aí eu, mais ou menos nessa época, eu já tinha internet em casa, discada. Muita gente ia na minha casa pra: “Ah vamos acessar o IRC”. E antes disso eu tinha BBS também. 

  p E aí eu comecei a fazer páginas e HTML. Na época eu tinha banda e eu fazia a página da minha banda, fazia página para amigos que faziam eventos, fazia página assim de brincadeira. Aí até que eu pensei assim: “Não, acho que isso aqui é o esquema, né?”. Como aplicar Design pra esse negócio chamado internet?

  p Então eu comecei a pesquisar. “Vamos ver o que que tem de… Será que existe agência que mexe com isso?”, Na época tinha a DH Tech, tinha… A Bolt tava começando. Tinha algumas agências já, e em uma delas era a Fishing que inclusive eu lembro, eu ouvi o podcast do Eduardo, ele comentando que trabalhou lá comigo né, na Fishing também. 

  p Então, na época essa agência, eu me candidatei, sinceramente assim... Até nunca conversei muito bem isso com as pessoas de lá depois. Mas eu não sabia nada...

  p #[strong Izabela:] Com a galera da Fishing? 

  p #[strong Koji:] Da Fishing. Eu não sabia nada de Dreamweaver, de Fireworks. Eu aprendi tudo numa semana. Eles perguntaram: “Você sabe?”. Eu falei: “Sei”.

  p #[strong Izabela:] Caramba!

  p #[strong Koji:] Mas aí eu meio que aprendi assim. Eu falei que sabia também porque nunca dificuldade. E aí foi ficando. Eu fui mexendo, na época, era o Webdesign, né? Só que a Fishing, uma coisa interessante, que o dono na época da Fishing, ele tinha uma visão muito, muito interessante assim. Porque em 90… Era o quê? 99, 2000. O Franklin Valadares, ele é o fundador. Depois ele… Hoje o Franklin ele tem uma startup, chama Runrun.It. 

  p Então, o Franklin, nessa época ele já tinha uma visão de startup. Em 2000, 99. Então ele ele tinha um produto chamado Pede Tudo, que era dessa Fishing. Então, a Fishing era uma tentativa de startup, e a gente atendia outras pessoas como agência, só porque era um jeito de pagar as contas, mas o Pede Tudo, que era uma espécie de group hub, que era mais ou menos... Funcionava da seguinte forma: era uma ferramenta para empresas que fazem delivery, entregarem comida pras pessoas e eles faziam mediação. Só que na época a tecnologia era muito rudimentar, porque quase ninguém tinha internet. Então, olha só como funciona. Você fazia o pedido pela internet. E a gente tinha um servidor que era, literalmente, um computador dentro da sala. Ele mandava um fax pra, sei lá, vamos supor, Pizzaria Mangabeiras. A pizzaria Mangabeiras pegava o pedido em fax, no papel…

  p #[strong Izabela:] Caramba!

  p #[strong Koji:] Mandava entregar e recebia em dinheiro. Papel. Entendeu?

  p #[strong Izabela:] Aham!

  p #[strong Koji:] Então assim, era um cara que… eu sempre falo muito do Franklin, porque é o cara que tinha uma visão…

  p #[strong Izabela:] Que visão! É! Caramba! 

  p #[strong Koji:] É! E na época não deu certo porque era muito à frente, entendeu? 

  p #[strong Izabela:] Aham!

  p #[strong Koji:] Como o YouTube só deu certo depois de um tempo, porque na época  também não tinha internet pra nós, né?

  p #[strong Izabela:] Aham!

  p #[strong Koji:] Então, então foi assim... Eu não entendia muito bem, na época, pra ser sincero. Meu negócio era Design, de uma forma quase artística mesmo, entendeu? E um momento o Franklin saiu da empresa e falou: “Olha, eu tô fechando, eu tô indo trabalhar…”, na época era Telemig Celular. Acho que ele era Diretor de Marketing lá. “E se vocês quiserem, a gente têm duas opções: ou pago vocês aqui, que são os empregados”, né? Que o Dudu ainda nem trabalhava ainda lá, mas era eu e um gerente de projeto. “A gente… Eu pago pra vocês o seus salários e acertos e a gente fecha a empresa, ou se vocês quiserem, vocês continuam a empresa, eu dou clientes, os equipamentos e aí vocês continuam”.

  p #[strong Izabela:] Caramba que proposta! 

  p #[strong Koji:] É! Mas eu tinha 20 anos, eu não sabia nada, e era totalmente por fora de tudo assim. Então eu... mas eu aceitei, eu aceitei. O Ivan que era meu sócio aceitou.

  p #[strong Izabela:] Aham!

  p #[strong Koji:] Aí depois o Dudu trabalhou com a gente. 

  p #[strong Izabela:] Então aí você assumiu a Fishing, né? Você é um dos fundadores, então também né, digamos?

  p #[strong Koji:] Sim. Fui meio que um dos fundadores também, pelo menos nessa segunda fase. Só que aí a gente abandonou o Pede Tudo, porque realmente não tava dando. E a gente criou um outro produto, que na verdade ainda não era bem um produto. Era mais um serviço que era canais de SMS pras empresas de telefonia, no caso. Principalmente a Telemig Celular, na época, que hoje é a Vivo, né?

  p E aí nisso, a maior parte do nosso revenue era esse serviço que a gente fornecia. A gente tinha todo um sistema de... E aí o Design era até não tão importante, porque eu fazia mais o Design da parte do sistema por trás, onde as pessoas, os criadores de conteúdo agendavam quando que o SMS era enviado, criavam canais. Era importante, mas não era assim, a parte fundamental que era o SMS em si.

  p #[strong Izabela:] Saquei.

  p #[strong Koji:] Mas a gente trabalhou com várias coisas, como a Guapi, com menus em SMS, que era uma parte UX bem mais abstrata, que não tinha nada gráfico, era só texto. E aí, depois, mais tarde a gente acabou se cruzando de novo, porque a Fishing, a gente se juntou à Aorta. A Aorta meio que adquiriu a Fishing que, no caso, na época, era pouca gente, mas gente que já tinha um knowhow mais de produtos, de UX.

  p Aí a gente criou o Lembreto, que nada mais era do que tudo que a gente já fazia com SMS, só que aí qualquer pessoa podia criar um canal de SMS, e você divulgava pro seus amigos, eles se inscreviam. E aí tinha dois modelos: ou você pagava, ou os amigos pagavam por aqueles SMSs. Era quase que um Whatsapp rudimentar assim, em grupo, né? Focado em grupo.

  p #[strong Izabela:] A RBS tá nessa história aí também, não tá? Aquele grupo, conglomerado de mídia, né? Tá dentro… tá também na época dessa fusão com a Aorta…

  p #[strong Koji:] Então, aí essa parte eu já não peguei, porque que que aconteceu? Eu trabalhava na Aorta, aí nessa época eu já tava fazendo curso de Design de Interação, na PUC. Aí eu já tava ficando muito mais fundamentado nas coisas que eu fazia. Porque antes eu era praticamente um artista assim que fazia Design Gráfico para internet, entendeu? 

  p #[strong Izabela:] Entendi. Então isso a gente tá falando de mais ou menos o quê? Você tem uma ideia? 2008? 2010?

  p #[strong Koji:] Isso foi 2001, 2002... 

  p #[strong Izabela:] Caramba!

  p #[strong Koji:] É! Porque quando eu entrei pra Aorta…

  p #[strong Izabela:] Mas você começou o Design de Interação, a estudar Design de Interação em 2001? 

  p #[strong Koji:] Não. Eu estudava conta própria.

  p #[strong Izabela:] Ah tá! 

  p #[strong Koji:] E depois, depois, bem depois assim, mais pro final da Aorta que eu fui fazer o curso de Design de Interação. Eu sou péssimo com data, mas deixa eu pensar. Isso deve ter sido…

  p #[strong Izabela:] E foi com Caio, não foi?

  p #[strong Koji:] Foi com o Caio.

  p #[strong Izabela:] É.

  p #[strong Koji:] Isso acho que foi a segunda turma, foi a depois da do Dudu. Acho que foi 2010 a dele, né?

  p #[strong Izabela:] Não sei. Não sei se foi 2008, 2010. Mas eu tô perguntando, porque eu fiquei em dúvida que quando eu fui… Tava pesquisando sobre você e aí eu vi que você tinha feito o curso, mas eu não sabia que o curso era 2008, uma coisa assim. Aí por isso que eu tomei esse susto. Mas saquei! Você já estudava antes. Em 2001 você já tava…

  p #[strong Koji:] É eu estudava e tal. E eu acho que o curso ele me deu mais embasamento e tudo, mas eu já fazia teste com usuário. Também que eu conversava muito com o Dudu, a gente trocava muita ideia sobre essas coisas. Tinha um blog também que é o Dig for Design. Que hoje eu tento escrever de vez em quando, mas não é muito ativo. Enfim, aí, depois de um tempo, a Aorta ela foi adquirida por esse grupo RBS, mas eu já não estava mais, porque deu um determinado momento, que pra mim, eu já tinha feito os produtos que eles precisavam, que era o Lembreto, e um outro que chamava… Era um sistema de rádio. E aí depois que os produtos foram feitos, o que tinha pra fazer era um trabalho mais de marketing, que pra mim não me interessava tanto, entendeu? Que era mais fazer banner, esse tipo de coisa. 

  p Então quando foi a época do produto que eu fiz né, wireframe, usability test, eu meio que assim, eu levei isso pra empresa que eles também não conheciam.

  p #[strong Izabela:] Que legal!

  p #[strong Koji:] E foi super legal assim, tipo meio que a gente fez de uma forma meio... Eu fazia tudo, porque o time era pequeno, mas ao mesmo tempo era ruim, ao mesmo tempo era legal, porque tava criando essa cultura ainda na empresa. Nessa época eu resolvi sair, e foi aí que eu me inscrevi numa vaga eu que tinha visto do Google, e aí eu fui trabalhar nessa força tarefa.

  p E depois eu saí do Google, voltei e montei junto com os meninos, a Voël. E depois voltei pro Google de novo e é onde eu tô até agora. 

  p #[strong Izabela:] Então você sempre teve essa ligação com produto, né? Porque você teve um início ali com Web Design, mas pelo que você tá me contando, sempre teve produto, né? Você nunca foi um cara muito de comunicação, mais de produto mesmo, né? Isso é muito legal. 

  p #[strong Koji:] É. Foi sempre, sempre, e até hoje ainda é a coisa que mais interessa. Apesar que eu acho super legal Design de Serviços, Design Thinking. Mas… e eu acho que eles se intercruzam de alguma forma, né, as metodologias, e tudo. Mas o que eu sempre busco, e às vezes as pessoas me perguntam: “Ah, mas como fazer Design de Produto com UX?”, né? Por que a gente busca isso? Porque agência é uma coisa muito forte ainda no Brasil. Quando você vem aqui pro Vale do Silício, é tudo sobre Produto. Então é mais fácil. Mas, no Brasil, o que eu sempre digo é: procurar... Eu acho que assim, tirando exceções, agências que são exceções, do tipo a IDEO, talvez um pouco a R/GA, um pouco talvez a Huge também, elas são… O resto… A maioria das agências elas tão fazendo planos de marketing, né?

  p #[strong Izabela:] É.

  p #[strong Koji:] Então, não quer dizer que é ruim, eu particularmente não é uma coisa que me interessa. E aí pras pessoas que buscam Produto, eu acho que é interessante, ou buscar uma startup, ou criar uma startup, ou nem que seja criar... O que eu vejo muito no Behance acontecendo, são designers que veem produtos pré-existentes, e eles redesenham aquele produto de uma forma experimental, entendeu? Às vezes até com pesquisa mesmo. Do tipo: “Ah eu uso o Snapchat, mas o Snapchat eu não acho que é uma coisa que tem uma UX legal”. Então eu redesenho aquilo, jogo no Behance. E aquilo, se for bom o bastante, vai… Pode chegar nas pessoas do Snapchat com certeza. Como eu já vi muito trabalho, por exemplo, trabalhei no Google News. Teve um designer da Rússia, que fez o redesign do Google News, e que a gente olhou, e falou: “Pô interessante, esse cara fez aqui... É bacana”. Então acho que é uma forma legal de começar a ir pra essa área de produtos.

  p #[strong Izabela:] Como é que você começou no Google aqui em Belo Horizonte, né, nessa força tarefa que você contou? E aí só pra contextualizar, você começou aqui também, né, como designer de Experiência no Orkut, não foi isso? 

  p #[strong Koji:] Foi. O Orkut foi... Eu acho que o Orkut foi o primeiro produto de grandíssima escala que eu trabalhei, porque o Orkut ele era, na época, a maior rede social do Brasil, a maior da Índia, maior da Estônia e a terceira do mundo. Então, era o segundo, se não me engano, acho que ainda era o segundo. Então era um produto de alcance muito grande assim.

  p #[strong Izabela:] Caramba, então assim, você já trabalhava com produtos. Mas em comparação ao Orkut, podemos chamar de pequena escala, né? E aí você entra pro Google e já se depara com um produto extremamente utilizado aqui no Brasil, né? Que você tá aqui, entende o comportamento, a cultura. Deve ter sido muito aprendizado, né?

  p #[strong Koji:] Foi uma experiência muito legal. Eu sempre brinco que o legal de trabalhar no Orkut, é que, por mais que as pessoas gostassem, ou detestassem alguma coisa que eu fizesse, com certeza elas não iam passar batido.

  p Isso é muito legal, né, porque o Google apesar de ser uma empresa muito grande, a gente tem muito produto que eles não têm… eles não atingem todas as pessoas. Por exemplo, tem produtos que eu já trabalhei, que é pra business, do tipo Google My Business. É… eles têm muito usuário, mas é voltado para empresas e pequenos negócios que querem controlar a sua presença no Google, no Google Maps, no Google Search. 

  p #[strong Izabela:] De nicho, né? O Orkut falava com todo mundo.

  p #[strong Koji:] É, o Orkut era mais amplo, né? Então mesmo o Google Plus que eu trabalho mais assim, eu também acho que não é tão amplo assim igual o Orkut, na época. 

  p #[strong Izabela:] Uhum. E como é que você entrou no Google?

  p #[strong Koji:] Então foi meio engraçado, assim, porque eu vi alguém, na época era o Gustavo Moura, né, que tá aqui trabalhando com a gente agora também, que divulgou uma vaga: “Ó estamos precisando de um designer temporário aqui para uma força tarefa”. Primeiro, eu nem sabia quem era o Gustavo, não sabia que ele trabalhava no Google.

  p #[strong Izabela:] O Gustavo trabalhava no Google aqui em Belo Horizonte?

  p #[strong Koji:] Em Belo Horizonte já. 

  p #[strong Izabela:] Ah tá.

  p #[strong Koji:] Mas alguém me falou… Não lembro se foi o Dudu, se foi o Marcos… Alguém comentou comigo: “Ah, você viu essa vaga aí do Google?” e tal. Aí falei: “Não, não vi não”. Falei: “Ah, vou me inscrever”. Que eu tava querendo sair da Aorta já, né? E aí eu me inscrevi e esqueci, assim, porque eu também tava trabalhando, mas não tava tão preocupado. Aí os caras me contactaram. E tinha anos que eu não falava inglês, não praticava. Acho que foi a pior parte, assim, de ser entrevistado, é que  eu não esperava que a entrevista fosse em inglês, mas acabou dando certo. Eu fiquei e depois eles me chamaram de volta, né? 

  p Então foi… E é muito, isso é muito interessante, porque a conversão de trabalho que a gente chama de temp, né, temporário, para full time ela é... Ele é um processo, não é um processo muito fácil não, entendeu? É como se fosse quase que um candidato do zero, assim. E o processo seletivo do Google é muito… Como que eu posso dizer, assim? É muito detalhista. Porque ideia que se tem aqui no Vale do Silício, não só o Google, mas a maioria das empresas, é que eles buscam muito pessoas que... Retenção. Então, ao contrário de agência que talvez não tem tanto problema do tipo: “Ah você fez uma campanha agora e saiu, entrou outro, tudo bem”. Para produto é muito importante. Aqui no Vale eles entendem isso. É muito importante que você tenha uma pessoa que entenda da história do Produto, que evolua junto com o Produto, entendeu?

  p #[strong Izabela:] Uhum.

  p #[strong Koji:] E assim, esteja envolvido com usuários, e tudo isso. Entenda bem os usuários. Quando você tem um designer novato no time de Produto, ele demora muito tempo até ele entender que o Produto é, entendeu? E entender o Produto em todos os aspectos, não só: “Ah, isso parece bonito ou feio”, entendeu? Qual é a preferência dos seus usuários? Que tipo de feedback que você já teve no passado? Que tipo de coisas vocês já tentaram no passado e que deram ou não deram certo? Todo esse histórico, por mais que exista documentação, é difícil. 

  p Então, por exemplo, uma coisa que eu acho muito legal e que, se eu fosse recomendar pras startups brasileiras, é a questão do RH, né, tipo, como que você retém as pessoas pra você conseguir construir um Produto mais sólido, né? 

  p E aqui eles fazem uma coisa muito interessante. Toda startup, toda empresa maior também, eles oferecem ações. Então todo mundo tem que estar interessado que o negócio funcione, porque na hora que abrir publicamente as ações, você pode ganhar muito com aquilo, entendeu?

  p Eu fiquei um pouco menos de um ano na Voël, isso foi bem no início mesmo, ainda era bem UX, assim. A ideia era bem meio quase que uma IDEO, que a gente queria ser assim, uma IDEO. Aí eu saí da Voël, e aí eu voltei pro Google. Aí quando eu voltei pro Google, eu permaneci ainda no Google durante três anos no Brasil.

  p #[strong Izabela:] Como é que foi pra você voltar de novo pro Google e continuar?

  p #[strong Koji:] Na verdade é uma questão bem política, assim, né? O Google, eles... Eu saí, terminou a minha... Eles tentaram prolongar ao máximo que eles conseguiram, porque eles tinham gostado do meu trabalho. Só que aí, chegou uma hora que não podia mais renovar. Então aí eu saí, mas eles já falaram: “Olha, assim que tiver uma oportunidade, a gente vai te chamar de volta”.

  p #[strong Izabela:] Saquei.

  p #[strong Koji:] Mas aí eu não esperei, né? Eu trabalhava muito de freelancer com Marcos, na época. E a gente tava indo muito bem, tinha muitos clientes. 

  p #[strong Izabela:] O Marcos que a gente tá falando, só para contextualizar aqui pra quem for ouvir, é o Marcos Paulo, que também é fundador da Voël, que também trabalha com o Eduardo na Design Thinkers, né?

  p #[strong Koji:] Exatamente. E aí a gente… Aí nisso a gente montou a Voël, e tava super legal, assim. Foi bem difícil voltar pro Google. Eu fiquei muito querendo continuar, sabe? Porque eu acho muito legal a Voël, um ambiente muito legal, todo mundo amigo, enfim. Mas aí eu acabei voltando, porque eles me chamaram. Mas aí eu passei pelo processo seletivo tudo de novo, né?

  p #[strong Izabela:] Ah é?

  p #[strong Koji:] A questão do Google, ela é muito... Eles fazem tudo para que seja muito neutra. Então, essa questão de indicação, por exemplo, ela não tem um peso do tipo: “Ah, foi indicado, então tudo bem”. É muito formal a questão da... Mas isso não é só o Google, tá? Aqui, estando no Vale, você vai entendendo mais que é uma prática comum. 

  p Nesse meio tempo trabalhei no Orkut, Google My Business, trabalhei com a Google News.

  p #[strong Izabela:] Google Plus, também né?

  p #[strong Koji:] Google Plus. Eu ainda continuo... Sempre gostei dessa parte de social, social, né? Sociais.

  p #[strong Izabela:] Aham.

  p #[strong Koji:] Então, trabalho com produtos mais sociais, né? O ano passado, o meu time lançou o Who’s Down?, que eu não trabalhei cem por cento nele, mas faz parte do meu time também. 

  p #[strong Izabela:] Uhum.

  p #[strong Koji:] E o bacana é que eu trabalho com o Luke W., né? Que até o Caio mencionou aí no podcast.

  p #[strong Izabela:] Sim! 

  p #[strong Koji:] É um cara bem legal. Ele é meu chefe direto, então...

  p #[strong Izabela:] Que legal!

  p #[strong Koji:] Ele tem uma troca, assim, legal, sabe? Tipo, aprendizado... Acho que a parte que eu mais gosto do Google é esse aprendizado de trabalhar com pessoas que que têm um conhecimento bem legal, né? Têm uma história. A gente passou pela Apple, pela Yahoo!, na época áurea, né? 

  p #[strong Izabela:] E o seu trabalho hoje, Koji, você lidera a área de UX de streaming e compartilhamento de fotos?

  p #[strong Koji:] É então, é que é meio, é difícil explicar, porque a gente, no Google, funciona… A gente tem divisões que chama Product Areas, ou Áreas de Produtos que são, quase como se fossem pequenas empresas dentro do Google. E cada pequena empresa dessa trabalha com um grupo de produtos, tá?

  p Então, por exemplo, tem o Drive, que inclusive tem um Diretor de UX que é brasileiro, o Lucas. Ele tem o Google Docs, ele tem o Google Spreadsheets, ele tem o Google Drive.

  p O nosso é o que antes chamava Social, o Social, né?

  p #[strong Izabela:] Uhum.

  p #[strong Koji:] E agora ele chama SPS, que é Streaming, Photos e Sharing. E aí a gente tem vários produtos, Google Photos, Google Plus, o Blogger também agora faço parte. A gente tem o Who’s Down que eu falei, o Social Good. E tem outros produtos que a gente tá trabalhando. E nesse time, que tem 18 designers…

  p #[strong Izabela:] Você lidera essa galera? 

  p #[strong Koji:] Eu, então, eu sou Design Lead, mas não no sentido... Eu não sou manager de ninguém. Que no Google tem uma diferença entre você ser manager, que você, basicamente, você é o gerente de pessoas, então tem pessoas que reportam pra você. E a outra coisa é o Design Lead. O Design Lead é quase como se fosse um Diretor de Arte, entre aspas. É uma pessoa que ela vai... Dá uma olhada em geral em que todos os outros designers estão fazendo, e vai ajudar a criar tipo uma linguagem, a permanecer no mesmo estilo, ou criar um certo tipo de comunicação que faz sentido entre os produtos. Mas eu não sou manager de ninguém, não sou chefe de ninguém, digamos assim. 

  p #[strong Izabela:] E eu posso entender como se você fosse também um Product Owner desses vários produtos aí? Porque você mantém essa unicidade, digamos, né, entre todos eles.

  p #[strong Koji:] Sim, de certa forma sim, é mais ou menos isso que eu faço mesmo.

  p #[strong Izabela:] Vamos falar um pouco do seu dia a dia? Como que é o processo de UX aí? 

  p #[strong Koji:] Então, o processo do Google é bem interessante, né? Tem um livro que foi lançado por um cara do Google Ventures, o Jake, que chama Sprint. E é o Sprint que a gente… O Design Sprint é uma das coisas que a gente mais usa pra definir, fazer ideation, ideação, compilar as pesquisas, né? As pesquisas com usuário, e transformar aquilo em algo mais palpável, do tipo, um sketch, um rabisco, ou um protótipo, ou um... Que a gente chama aqui de mock, no Brasil é chamado de layout, né? 

  p Então, isso é uma das coisas que eu já diria pra quem tá interessado, procurar esse livro. E tem o site também do Google Ventures, que tem muita informação sobre o Design Sprint.

  p Mas assim, isso é uma parte, é uma parte do processo. O Sprint é uma parte do processo e cada time... Cada Product Area que eu falei, né, tem uma forma diferente de trabalhar. 

  p A forma que o Luke, principalmente né, ajudou a gente a implementar no nosso time, é uma forma bem parecida com o Lean Startup. Que é o seguinte: a gente tem toda semana, a gente tem pesquisa com usuário no laboratório, que a gente avalia coisas novas que a gente acha que pode ser interessante, ou não, ou diferentes alternativas pra mesma coisa. 

  p #[strong Izabela:] Poxa, que legal! Sempre uma vez na semana?

  p #[strong Koji:] Uma vez na semana.

  p #[strong Izabela:] Que fantástico isso!

  p #[strong Koji:] E aí, mas calma, tem mais. Isso é uma parte. E essas coisas são em paralelo. Na mesma semana, também o que a gente faz, a gente lança uma versão do produto, controlada, para uma quantidade limitada de usuários, que assinam um NDA, um acordo de confidencialidade, e eles brincam com esse produto durante uma semana. E aí na semana... E a gente tem um survey com eles durante a semana. Na outra semana, na semana seguinte, com tudo que a gente aprendeu na semana anterior, a gente cria uma nova interação daquele produto, entendeu? Então, toda semana, a gente tem uma evolução, e a gente vai medindo que tipo de mudanças a gente alcançou. Por exemplo: tá mais fun de usar, ou tá mais… Teve mais atividade no aplicativo que a gente tá criando.

  p E a gente faz o Sprint, no Sprint no caso eu adaptei meio a metodologia para um Sprint mais lean assim. O Sprint, em geral, ele é feito em três dias, cinco dias ou mesmo um dia inteiro, onde você começa com alguma informação de pesquisa, você faz a ideação, depois, no final, você tem algum tipo de protótipo, mesmo que seja papel. 

  p E o que eu faço é mais, é quase que um mini Sprint, ou um game storming assim, que é mais a parte da ideação. E a parte de criar mesmo um protótipo, a gente faz durante a semana, dissolvido nesses dias. Então é meio que um processo cíclico, entendeu?

  p #[strong Izabela:] Uhum.

  p #[strong Koji:] Toda semana a gente repete esse processo cíclico. E antes de lançar, a gente já tem alguma coisa, que de alguma forma, já sofreu uma evolução ao longo do tempo, entendeu? 

  p #[strong Izabela:] Pois é, que massa! Eu acho que pelo que tá me parecendo, vocês ficam... Vocês trabalham muito com Problem Seeking, né? Em vez de ficar só com Problem Solving. Porque eu ando pensando muito nisso, assim, que às vezes, quando a gente fica trabalhando só com Problem Solving, a gente fica muito reativo. E quando você tá no Problem Seeking, que é isso, você tá cíclico, você tá sempre sendo proativo, né? Você tá conseguindo trazer mais inovação, fazer umas coisas diferentes mesmo, né?

  p #[strong Koji:] É, eu acho que assim, na época que eu trabalhava mais como consultoria... No início era bem focado em usabilidade. Eu acho que o grande problema pra mim, é a gente ainda trabalhar num processo que é muito linear, e também preocupar só com a usabilidade.

  p Usabilidade é importante, mas tem outras questões do usuário, né? Questões mais voltadas para psicologia, que a gente fala, de Desirability,que é tipo, quanto que a pessoa deseja uma determinada coisa no dia a dia dela. No final das contas, pra mim, parece mais importante.

  p Então eu acho que tem sim uma parte inicial que... E a gente tem essa vantagem no Google, que a gente tem bem dividido o Researcher, a gente tem o Visual Designer, a gente tem UX Designer. É ruim, porque às vezes você quer fazer uma outra coisa e se sente um pouco preso, mas sempre há a possibilidade de você ir à campo e você também ajudar. Mas é bom por um lado, porque você pode focar no que você quer fazer, e tem uma outra pessoa te apoiando.

  p Então o que a gente faz, a gente meio que tem uma primeira fase... Que eu tive um pesquisador que era mais antropólogo, então ele procurou muito mais o problema em si. Quais são os problemas? Se são mais de um, né? Quais são os tipos de problema naquela área que a gente tá buscando? Qual é o perfil das pessoas? E a partir daquilo ali… Aquilo é só um ponto inicial. E aí eu mudei pra um pesquisador que era psicólogo.

  p #[strong Izabela:] Olha só!

  p #[strong Koji:] Aí ele já foi analisar mais o comportamento, entendeu?

  p #[strong Izabela:] Uhum.

  p #[strong Koji:] Então o primeiro foi muito mais uma coisa de profiling, assim, de personas, uma coisa quase cultural. E o antropólogo acho que é muito bom pra isso. E o segundo já era muito mais assim, a questão da psicologia, e trazendo sempre uma coisa nova. E aí acho que a questão do problema ela é sempre validada com essa questão semanal. Mas o que é interessante é que você tá sempre, de alguma forma, guiado por uma visão mais antropológica que aconteceu mais ali no início, entendeu?

  p E eu acho que também é muito importante você chegar numa hora em que você fala assim: “Olha, ok, a gente fez todo esse processo, mas no final das contas não é isso”. Então você tem que... Uma coisa é importante pra mim de startup é isso: fail fast. Então, se você for fazer alguma coisa que você viu que não deu certo, é melhor que você desista dela rapidamente. Do que fique muito tempo batendo na mesma tecla.

  p #[strong Izabela:] Planeja menos, tem mais estratégia, executa rápido pra falhar rápido e melhorar, né?

  p #[strong Koji:] É, exatamente. Isso aí.

  p #[strong Izabela:] E aí você abordou um ponto legal aí que eu acho que a gente pode aprofundar, que é o lance da equipe. Então você disse que são dezoito pessoas hoje. E aí você tá contando que você tem um UX Researcher, você tem um que é mais voltado pra psicologia, que vai tratar dessa questão do desejo, né, da desejabilidade que você comentou. Aí você tem também um Designer Visual. Quê mais? Conta um pouco aí dos chapéus, vamos dizer assim, que as pessoas assumem na equipe.

  p #[strong Koji:] De novo, depende muito da área de produto. Depende do projeto que você tá trabalhando. Mas eu já tive diferentes set ups, em diferentes ocasiões. 

  p #[strong Izabela:] Mas uma dúvida, por exemplo. Mas quando você tá aí com essa equipe, que é do Streaming e compartilhamento de fotos? São dezoito pessoas. Elas tão ali fixas, né?

  p #[strong Koji:] Elas tão fixas, mas trabalhando em produtos diferentes.

  p #[strong Izabela:] Ah tá.

  p #[strong Koji:] Entendeu?

  p #[strong Izabela:] Entendi. E aí, mas só para a gente ter uma ideia, assim. Geralmente, quais são os tipos de pessoas que estão no time de UX?

  p #[strong Koji:] Então, isso é pergunta boa. No Google, a gente tem o UX, slash, barra, Product Designer, né? Que é o que eu faço, que é mais preocupado mesmo com a questão de como, baseado no comportamento das pessoas, criar um produto. 

  p A gente tem o Visual Designer, ou Designer Visual, que é muito mais aquele cara Designer Gráfico que faz ilustração muito bem, faz os ícones, e também ele dá uma polida no Design, em geral, pra ficar mais bonito mesmo, entendeu? Ele é focado nisso.

  p A gente tem o UX Researcher, que é o pesquisador, né? Que ele faz basicamente, aplica todas essas metodologias de pesquisa com usuário, tá? 

  p Ah uma coisa que eu esqueci de falar, e o Designer de Produto, ou o UX Designer, elle também... UX Designer, também aplica metodologias. Mas aí são metodologias mais de ideação, entendeu? Metodologias mais do gamestorming, do Sprint.

  p Quem faz a ligação direta com o usuário é o Researcher. E a gente tem umas outras, são menos populares. Outras vagas, por exemplo. Tem o UX Prototyper, ou UX Engineer, que é o engenheiro de UX, ou prototipador que faz protótipos mais avançados. Por exemplo, não é só um protótipo de Pixate, ou um protótipo clicável. É um protótipo que tem dados reais, entendeu?

  p #[strong Izabela:] Aham.

  p #[strong Koji:] E a gente tem um que é meio assim, um pouco... Não tem tanto contato, na  verdade tem dois, que têm pouco contato, que é o Designer Industrial, que trabalha mais em coisas... Principalmente o Google X tem bastante coisa de Design Industrial, né? Aquela designer que criou, por exemplo, o Google Glass, é a Designer Industrial. 

  p E tem o Design Artist que eles falam, Artista Designer, acho engraçado. Que faz os doodles, né, do Google. Quando você vai num dia, sei lá no Natal, aí muda o logo do Google. Esses são bem artistas mesmo. Então, eles fazem é… Eles focam só naquilo. Então vê como o Design é uma coisa ampla, né?

  p #[strong Izabela:] É. E vocês têm o UX Strategist? 

  p #[strong Koji:] O estrategista, ele... Em tese todo mundo tem que ser estrategista, no Google. A gente tem uma organização bem pouco hierárquica nesse sentido. 

  p #[strong Izabela:] O que é muito interessante, né? De todo mundo pensar em estratégia, ainda mais pra produtos, é super importante.

  p #[strong Koji:] Sim. Tem o Gerente de Produto que, em tese, é o cara que deve, obrigatoriamente, pensar em estratégias. As outras pessoas, elas... É muito esperado que você pense estratégia, quando você atinge certo nível, independente do seu trabalho. Inclusive engenheiros.

  p A gente tem reunião com todo o mundo junto, todo mundo opina. Lá acho que é muito esperado que o designer de UX seja um estrategista, principalmente aqui no Vale do Silício, porque ninguém vai te pedir pra desenhar telas, ou fazer wireframes, entendeu? Quem vai decidir se é a hora certa de fazer wireframes, ou de escrever um texto que vai ser uma história do usuário, um user story, é você. Então quem vai definir, se por exemplo, é melhor fazer uma pesquisa X, Y, Z, é você e o pesquisador.

  p #[strong Izabela:] Olha só!

  p #[strong Koji:] Quem vai definir se é melhor focar num problema X ou Y, é o time inteiro. Tem decisões que é você sozinho, tem decisões que é você e mais outra pessoa, tem decisões estratégicas que é todo mundo. E então, assim, é mais que necessário. A não ser que você seja Júnior, e esteja começando na área, é ok você não fazer isso. Mas chega um certo ponto que é mais necessário. E é claro que assim, se você é ilustrador, ok. É bacana você participar dessa outra parte. Mas se não, tudo bem, não é tão esperado, entendeu? Porque você já tá muito ocupado mexendo com arte. 

  p #[strong Izabela:] Entendi.

  p #[strong Koji:] Então acho que isso vai muito de cada área. Não existe essa vaga explícita, UX Strategist, no Google.

  p #[strong Izabela:] Queria que a gente falasse um pouco das suas entregas hoje, ou do seu time. E no ponto de... No seguinte ponto de entrega: que tem muito uma discussão, né, de como que essas entregas, se os entregáveis, eles vão ser mais documentados ou se eles acontecem de uma maneira mais informal. Como é que é aí?

  p #[strong Koji:] Olha, eu já trabalhei em formalidades extremas do tipo... Um bom exemplo era o Google Plus. O Google Plus era um time bem gigantesco. e agora é um pouco mais enxuto. E era um processo muito engessado até. Até um pouco demais, como se diz? Assim, muito formal.

  p Então, você tinha que fazer uma red line, por exemplo, que é aqueles specs de tamanho do botão. Você tinha que fazer um relatório, que era... Como se diz assim? Os requisitos daquele feature, né? Daquele recurso do Google Plus. 

  p Mas hoje eu tô num time que é muito mais enxuto. Então tem 1 engenheiro, que trabalha comigo. Eu viro pra ele e converso com ele, entendeu? Falo: “Ah, vamos fazer isso, vamos fazer aquilo. Não deu certo, vamos mudar. Você precisa dessa fonte? Que tamanho que é?”. Se ele tá querendo saber que tamanho que é, aí eu já falo pra ele. Não preciso criar tanta documentação e criar flows enormes e fluxogramas. E então depende muito do tamanho do produto. Depende muito da quantidade de pessoas que tá no time, que estão no time.

  p Eu já fiz de tudo. Por exemplo, uma coisa que eu fiz nesse time, que foi até divertido de fazer, foi os storyboards, né? Pensar como que seria esse produto numa realidade de um país como o Brasil, por exemplo, que tem uma internet cara, lenta. E é o que a gente fala aqui de países emergentes, Emerging Markets, né? Que é tipo Brasil, Índia, Rússia e Indonésia, né? Então eles têm… Eles não têm tanto contexto. Então a gente precisa, às vezes, criar... O storyboard ele ajuda a criar quase que um cineminha pra explicar um caso de uso, né?

  p Então depende muito assim. Mas no geral, eu posso dizer que hoje em dia, no momento, o que eu mais faço é... Eu tava falando isso pra uns alunos essa semana. 80% conversas.

  p #[strong Izabela:] Olha só!

  p #[strong Koji:] Conversas, discussões, defesas, apresentações, tá? Então muito isso. Depois eu tenho uma quantidade muito grande também de papel e lápis. Eu não faço mais wireframe, porque pra mim... Acho que naquela época ali do eBay, que o Dudu tava falando. A gente tava numa fase de que a gente achava que Arquitetura da informação era tudo. Então a gente começava a fazer uns wireframes super detalhados, bonitos. Mas você perde tanto tempo naquilo, que perdeu um pouco o sentido, né? Então eu faço direto no papel, mostro pras pessoas. Às vezes tiro foto, compartilho. E daquilo aí já parto pro Sketch, já faço a parte mais visual, e quando necessário, eu faço muito protótipo em Pixate, né? Que a gente usa pra fazer os estudos com usuário, pesquisa com usuário. Então é isso. O que eu mais faço é isso. Faço bastante papel, offline.

  p #[strong Izabela:] Legal! E o que tem tudo a ver com que você contou também da sua infância, né? Sempre gostou muito de desenhar, de projetar.

  p #[strong Koji:] É, pra caramba.

  p #[strong Izabela:] Interessante isso. Eu vi que você também trabalha com projetos experimentais, né?

  p #[strong Koji:] Sim.

  p #[strong Izabela:] Você tá relacionado, então, com o desenvolvimento de novos produtos. 

  p #[strong Koji:] Sim, sim. A gente… O Google inteiro tá fazendo produtos novos, com uma frequência, digamos, um pouquinho mais agressiva que no passado assim. E o meu time, a gente é responsável…. A gente quase que tá virando um Google X assim. Mas não o Google X, porque o Google X é mais amplo no sentido que eles são muito mais focados em engenharia e inovação na parte de engenharia. Então eles estão fazendo coisas do tipo self-driving car, Google Glass, que está ligado ao hardware. Todas essas coisas que pro designer sozinho é muito difícil fazer. 

  p E a gente já tá fazendo muito mais uma coisa experimental, no sentido de criar plataformas, ou aplicativos ou produtos que são focados em pessoas. Então a gente tem alguns produtos que a gente lançou, e outros que a gente vai lançar. Então os dois últimos, que eu posso dizer assim dessa fase experimental, um foi o Social Good, que é um produto para doação de dinheiro pra organizações não governamentais. Então eles têm um app, e também têm uma plataforma no YouTube. 

  p #[strong Izabela:] Que legal! Isso já tá rolando?

  p #[strong Koji:] Já tá rolando. Ainda de uma forma experimental, mas tá rolando. 

  p #[strong Izabela:] Que legal!

  p #[strong Koji:] Então você tá assistindo um vídeo de uma ONG e aí tem um botão lá: “Doar cinco dólares”. Você doa, entendeu?

  p Um outro produto é o Who’s Down, né? Que aqui significa, mais ou menos tipo, “Quem está a fim?”, de fazer alguma coisa.

  p #[strong Izabela:] Aham. Ah, eu li sobre ele. 

  p #[strong Koji:] É, basicamente você tem cinco pessoas, cinco amigos, vamos supor. E é tão difícil a gente marcar coisa, né, de fazer, porque cada um tem uma agenda. Então é quase que um botão. Você abre o app e fala assim: “Olha, estou livre e quero tomar um café”. Se os seus amigos falarem: “Ah, eu também tô livre”, ele automaticamente, ele organiza um evento pra você. Aí você encontra os seus amigos. Então esse foi o último que a gente lançou. Ele ainda não tá disponível pra pessoas que não foram convidadas. Então ele tá sendo um teste piloto ainda com os estudantes de Austin.

  p #[strong Izabela:] Saquei. Legal. Vamos falar um pouco agora mais de UX mesmo, de UX. Como que você enxerga a Experiência do Usuário, Koji? 

  p #[strong Koji:] Pra mim, eu sempre falo assim, que eu gosto muito de tecnologia e gosto muito de Produtos. Mas, pessoas são muito mais importantes do que tudo isso. E se você não entende isso, é muito difícil você entender o que é UX, sabe? Porque UX é sobre pessoas. Esse é o primeiro ponto. Então a primeira coisa que você tem que entender é: procure menos por… A gente fala né, tipo de modas, ou trends, de navegação, “Ah, parallax”, não sei o quê. E preocupa mais com pessoas. 

  p Que tipo de problemas as pessoas têm e que tipo de produto você pode criar para resolver algum tipo de problema? Ou para mesmo tornar a vida um pouco mais divertida, ou mais prazerosa, sabe? Então, pra mim é isso. É mais importante assim. E acho que a pesquisa ela tá muito relacionada à isso. No Google, apesar de eu não fazer pesquisa, eu tô sempre presente na hora que a pesquisa é feita, e acompanhando, né? A gente tem um laboratório,onde a gente pode acompanhar. Ou até mesmo indo à campo, né? Eu fiz uma pesquisa junto, uma vez, com os pesquisadores daqui. Foi muito interessante. Em São Paulo e Belo Horizonte. A gente foi em vários lugares bem distantes, conversar com pessoas, e tirar foto assim, do tipo, um cara em São Paulo, por exemplo, ele usava a internet do vizinho. E na época era o Orkut, né? E ele falou: “Olha, eu uso o Orkut como ferramenta de aprendizado. Eu aprendi a usar o CorelDraw pelo Orkut”. 

  p Isso é muito interessante né, porque, às vezes, acho que um pensamento mais antigo de produto, é do produto brigar com a pessoa. As pessoas usarem produtos de uma forma considerada, entre aspas, errada. E aí chega alguém do produto e fala assim: “Ah, vocês estão usando errado”. O que eu acho totalmente, né assim, equivocado. O correto é: ok, vamos ver como as pessoas usam e vamos ajudá-las a continuarem usando como elas bem entenderem, né? 

  p #[strong Izabela:] Aham.

  p #[strong Koji:] Por exemplo, o Snapchat, né? O Snapchat começou como uma coisa meio de nudes, privados. E hoje agora tem o Stories, que tem empresas lá dentro. E foi uma necessidade que os usuários foram criando. Então isso é muito importante, ouvir os usuários. Mas não só depois que fez o lançamento. Antes, durante, e depois.

  p #[strong Izabela:] Cíclico também, né? 

  p #[strong Koji:] Cíclico, sempre. 

  p #[strong Izabela:] Você tá há muito tempo no mercado de Experiência do Usuário, né? Que mudanças mais chamam a sua atenção?

  p #[strong Koji:] O que mais chama a atenção é essa mudança pela... Do UX, como ele era no início, apenas uma coisa mais voltada para usabilidade ou Arquitetura da Informação. E hoje ele transformar nessa coisa que é mais assim, um conjunto de disciplinas quase, né? Não é só uma coisa isolada. Então você tem gente trabalhando com Service Design, gente trabalhando com Design Thinking, você tem gente trabalhando com produto. Eu acho isso um processo de amadurecimento. Mas eu acho que o mesmo tempo, ainda falta... Eu sinto muita falta dessa cultura se expandir mais assim. Principalmente…

  p #[strong Izabela:] Essa cultura de UX?

  p #[strong Koji:] De UX em geral, eu acho que aqui é um lugar meio fora da curva, porque tem... Mesmo pros Estados Unidos, né, o do Vale do Silício é muito centralizador. Mas se você pensar que no Brasil tem pouquíssimos cursos, pouquíssimas universidades, né? A PUC foi uma das primeiras aí. Eu acho que o Caio é super... Tem toda essa experiência. Eu devo muito à ele assim, eu acho que ele é um cara super visionário. Mas eu sinto falta, né? O Faber-Ludens não tá mais ativo. Eu acho que falta muito isso, A questão de repassar... Eu dei aula uma época, na PUC também. Mas eu sinto muita falta de repassar um pouco, expandir mais. Do Interaction por exemplo, não ser um evento que acontece só nos Estados Unidos, na Europa, e que custa mil dólares, sabe? Esse tipo de coisa que faz falta. Eu acho que as pessoas aí de Belo Horizonte são muito… Eles correm muito atrás. 

  p Participei também, ajudei a organizar o Interaction South America, quando aconteceu em BH. E eu acho que precisa mais dessas coisas, sabe? Que é o único jeito de a gente sair desse ciclo vicioso que é... Não ciclo vicioso, mas assim, dessa certa limitação que a gente tem, que o Brasil tem uma cultura muito longa de marketing e publicidade. Mas tem gente que não quer só fazer isso. Tem gente quer fazer outras coisas também

  p #[strong Izabela:] Que que você acha que está por vir? Que que você acha que é o futuro do mercado de UX? Do mercado do Design de Interação…

  p #[strong Koji:] Então, eu tive agora num Interaction 16, lá na Finlândia, e o tema era justamente esse. ‘What’s Next?’, sabe? O quê vem por aí. E muitas coisas, pra mim, eu acho que tem, fundamentalmente, alguns braços aí de futuro. 

  p O primeiro, para mim, é a questão do Design, do ponto de vista mais humanizado, as questões sociais, as questões políticas, as questões ecológicas. Se o UX Design vai continuar sendo uma coisa aquém desses problemas, ou se a gente vai tentar de alguma forma pensar no UX Design para esse futuro, um pouco, talvez não muito interessante, que tá por vir.

  p #[strong Izabela:] Olha só!

  p #[strong Koji:] Aí a segunda parte... Teve muitas apresentações legais nesse sentido. Até questões bem assim, polêmicas.

  p E a outra questão, pra mim, é a inteligência artificial, né, e autonomia. Coisas autônomas, objetos autônomos. Então, que tem tudo a ver, por exemplo, com... Tem um livro que chama, acho que é ‘Invisible Interface’. Que é esse futuro, onde talvez a gente não tenha mais interface gráfica, mas a gente tenha outros tipos de interface.

  p A questão da inteligência artificial, que cada vez mais objetos são inteligentes e não só conectados à internet. Mas eles têm algum tipo de aprendizado ao longo tempo. Eles aprendem com vocês, aprendem com a situação, com ambiente, com as pessoas. 

  p #[strong Izabela:] Um exemplo disso seria a Amazon Echo, por exemplo? Ou não?

  p #[strong Koji:] Eu acho que sim. A Amazon Echo, de uma forma rudimentar ainda, mas sim, porque eu acho que a inteligência artificial ainda tá caminhando, né? Ainda é uma coisa muito nova. 

  p #[strong Izabela:] Eu posso tá falando bobagem aqui, mas vamos . Só pra tentar trazer uns exemplos. O Google Nexus, talvez? 

  p #[strong Koji:] Eu acho que mais o carro auto-dirigível, por exemplo. 

  p #[strong Izabela:] Tá.

  p #[strong Koji:] Que o carro auto-dirigível ele tem duas coisas. Ele tem a questão da autonomia, e ele tem a questão da inteligência artificial. Então, como que... Vou te dar um exemplo aqui que meio que entrecruza vários problemas aqui... Várias questões que a gente tá conversando. 

  p Qual o papel, por exemplo, do UX Designer, Designer de UX, num carro que não tem volante? Que ele tem que tomar decisões, por exemplo, em que talvez não tenha nenhuma interface gráfica? Entendeu?

  p #[strong Izabela:] Caramba! Aham.

  p #[strong Koji:] Qual tipo de processo envolvido? Qual tipo de papel nós vamos tomar? E que que tipo... Por exemplo, até deliverable você tem. Tem várias coisas nesse sentido. O Gustavo, por exemplo, o Gustavo Mora trabalha com interface de voz. Então ele nem faz mais interface gráfica, praticamente. Ele trabalha no... Quando você pergunta alguma coisa pro Google, o Google te responde alguma coisa, né, a pesquisa, no telefone. 

  p Então acho que tem muita coisa que a gente ainda tá, vai ter que aprender nesses próximos tempos aí. Eu acho que essa questão social também eu acho bem interessante e complicada ao mesmo tempo. Mas aqui tem várias startups que já estão pensando nisso.

  p #[strong Izabela:] Você pode dar um exemplo… Eu ia te pedir agora um exemplo dessa questão social.

  p #[strong Koji:] Tem startups aqui, por exemplo, fazendo aqui... A Califórnia está em seca tem anos já. Choveu um pouco agora, acho que deu uma melhorada, mas o problema continua. Então tem muitas startups pensando nisso, por exemplo, criando métodos de reutilizar a água da chuva. Isso aqui agora não vai ser mais uma questão de: “Ah, eu sou ecológico” não. É uma questão de necessidade, entendeu? Ou é isso, ou não tem água pra regar sua planta, por exemplo.

  p Ou vamos criar um hambúrguer que parece carne pras pessoas que ainda comem carne, pelo menos provar e achar legal. E quer consumir mais produtos de origem vegetal.

  p No Google, por exemplo, eu reparei outro dia... Que a gente tem vários restaurantes lá. O Google aqui de Mountain View é como se fosse uma grande universidade. Você imagina a UFMG, só que maior. Tem vários prédios e cada prédio tem um grupo ali trabalhando, tem restaurantes e tal. Eu reparei que todos os restaurantes, agora eles estão utilizando a maionese que não tem produtos de origem animal.

  p #[strong Izabela:] Que legal!

  p #[strong Koji:] Porque os ovos, eles consomem uma quantidade enorme de água pra ser produzidos. Eles têm um impacto no ambiente brutal. E tem uma questão de saúde que aumentou muitos casos de... Caso recente, né? De doenças por causa do ovo ali na maionese fica ali, anos ali parado. Então o negócio apodrece. Então tem uma startup que chama Hampton Creek, que tem investimento da Microsoft, do Google. E eles tão criando alimentos do futuro assim, que eles falam. Por exemplo, essa maionese deles é mais barata que a maionese normal. Foi considerada mais gostosa do que uma Hellman’s por exemplo. Eles fizeram teste cego com uns chefs de cozinha. 

  p Então, assim, entendeu? Tem várias coisas. E todas essas áreas, existe espaço pra metodologias de UX, mesmo que não seja necessariamente UX. Pode ser Design Thinking, pode ser Design de Serviço. Mas são metodologias que, inicialmente, nasceram desse entremeio que o UX é, né?

  p #[strong Izabela:] E você… Uma pergunta bem pessoal agora. Mas você que é vegan, né? E já tem muitos anos, não tem?

  p #[strong Koji:] Tem quinze anos que eu sou vegan. 

  p #[strong Izabela:] Também trabalhando com produtos há tantos anos, você não fica a fim de criar seus próprios produtos nesses desafios, aí?

  p #[strong Koji:] É uma outra área que eu tenho muita vontade assim, sabe?

  p #[strong Izabela:] Você já tá fazendo alguma coisa?

  p #[strong Koji:] Não. Eu participo, participei muitos anos do Gato Negro, em Belo Horizonte, que é uma organização de amigos assim. No momento eu penso algumas coisas. Mas eu não tenho nada que eu possa compartilhar. 

  p #[strong Izabela:] Tudo bem.

  p #[strong Koji:] Eu tenho várias ideias.

  p #[strong Izabela:] Mas já é legal sabe que você tá pensando nisso. 

  p #[strong Koji:] Vontade não falta. Às vezes falta tempo.

  p #[strong Izabela:] Então vamos falar um pouco de repertório. Como é que você faz pra se manter atualizado, Koji?

  p #[strong Koji:] Olha, é uma pergunta difícil assim. Eu converso muito com pessoas do trabalho assim, eu tento ver do que eles tão falando. Para mim, eu acho que essa parte do offline ainda conta muito. Eu usava muito mais no Twitter. Hoje em dia eu não uso tanto pra me informar. Eu busco muito assim, principalmente esses blogs que tem o Core 77. Tem algumas páginas que eu sigo também do tipo InteractionDesign.org. Tem alguns podcasts que eu escuto, de vez em quando. Por exemplo, aquele... Teve um que o Caio comentou, eu comecei a ouvir, gostei muito. Só não vou lembrar o nome.

  p #[strong Izabela:] 99% Invisível, alguma coisa assim.

  p #[strong Koji:] É, isso.

  p #[strong Izabela:] Que a produção é fantástica.

  p #[strong Koji:] Muito legal. Então assim, tem coisas que eu sigo, mas de uma forma geral assim, eu tenho um app que tem no iOS que é muito mais de notícias em geral assim. Mas é difícil uma coisa mais específica assim. Ainda não tem um lugar que eu acho que tenha informação centralizado. Mas eu gosto muito do blog do Fabrício também, acho bem legal.

  p #[strong Izabela:] E você tá lendo alguma coisa, hoje? Algum livro? Eu li em algum lugar nas pesquisas sobre você que você gosta bastante de ler livros.

  p #[strong Koji:] Gosto. Eu tô no momento lendo três livros. Um é um quadrinho, inclusive. Dois não têm nada a ver com UX. Os que não têm a ver com UX, um é o ‘Maus’, que é um quadrinho sobre o nazismo. Um outro livro chama ‘Quarto de Despejo’, que é da Carolina de Jesus, que é uma favelada, escritora brasileira. 

  p E o outro livro que eu tô lendo é o ‘Shaping Things’, que é um livro sobre, basicamente Design de Produto, assim em geral. Que é um livro que inclusive foi o Luke que me deu de presente. É um livro bem legal também assim. Tem um lado de Design de Produto que eu não conheço tanto que é o Design de produto físico, né? Inclusive tem muitas... Uma coisa que eu vejo é que tem muita… Quando você começa a trabalhar com produtos digitais, você vê que tem muita coisa de Design de Produto físico que são reutilizáveis, pensamentos que são reutilizáveis pro digital, né? Por exemplo, eu fui uma palestra com o Naoto que é da Muji, que é como se fosse uma IKEA japonesa, e que foi bem interessante assim, a palestra dele, bem legal. E quem abriu foi o cara da IDEO lá, o CEO da IDEO. Esqueci o nome dele, sou péssimo com nome. 

  p #[strong Izabela:] Eu também. Eu até peguei o aquele manual de guias e práticas da IDEO ontem, de Design Thinking, e provavelmente eu li o nome dele, mas eu não lembro. 

  p #[strong Koji:] É, enfim.

  p #[strong Izabela:] Sabendo do seu background com Produto, com Design de Produto. E também trabalhando numa empresa de tecnologia. E eu acho que tem muitas pessoas que escutam hoje o Movimento UX que são de startups ou querem abrir startups e tenha muitas pessoas também querem que focar cada vez mais em Produto. Eu queria saber se tem algum livro que você acha assim, fundamental para quem quer trabalhar cada vez mais com o produto. 

  p #[strong Koji:] Pois é. Eu tava querendo escrever um post sobre isso, porque eu ainda não conheço nenhum... Eu não tive introdução para Produto através de livro. A minha introdução para Produto foi através da prática.

  p #[strong Izabela:] Saquei.

  p #[strong Koji:] Ao contrário de UX, que eu acho que pra mim foi fundamental o ‘Design do Dia a Dia’. Mas ele não é especificamente Produto. Eu poderia indicar esse ‘Shaping Things’ que eu tô lendo, que ele é um escritor de ficção científica, mas que no final ele acabou trabalhando com Produto. Só que ele parte várias coisas de Design Industrial, e nisso ele começa a conversar sobre Produto, e aí Produtos Digitais também. Eu acho é uma boa assim. 

  p #[strong Izabela:] Então, o livro de UX o principal para você, então foi o do Don Norman, do ‘Design do Dia a Dia’.

  p #[strong Koji:] Foi. Pra mim, ele é o cara que assim mudou a minha perspectiva, porque ele é psicólogo. Então ele tem esse background mais analítico e ele pensa em Design de uma forma holística. Então ele começa a falar de produtos do dia a dia pra chegar em questões que tem a ver com Produtos Digitais. Então é bem... É um livro bem interessante pra quem tá buscando... Acho que é mais inspirador do que prático. Pra quem tá buscando prática, talvez aí já seria mais um... Aquele livro da... Ah não, o livro da Priece tá um pouco desatualizado. Mas tem ‘Design Interactions’, por exemplo. Aí tem um ‘Sketching User Interfaces’. Eu acho que é melhor pra quem busca o início na prática, porque eu acho que ele é fundamental esse livro.

  p #[strong Izabela:] Tá. Beleza. Então é isso, Koji. Muito obrigada pelo seu tempo, por apoiar o Movimento UX. Conversa sensacional 

  p #[strong Koji:] Prazer. Legal. É um prazer. Tô sempre disponível a compartilhar o que eu tenho aí pra compartilhar.

  p #[strong Izabela:] Ah, você pode ter certeza que essa conversa aqui vai ser muito rica pra todo mundo que escuta o Movimento UX. Muito obrigada!

  p #[strong Koji:] Parabéns pela iniciativa e continue aí, firme e forte! 

  p #[strong Izabela:] Brigada! Eu sempre repito, o Movimento UX não seria nada sem vocês. Vocês são fundamentais para esse projeto. 

  p #[strong Koji:] Bacana!

  p #[strong Izabela:] Obrigada Koji!

  p #[strong Koji:] Obrigado, um abraço! 

  hr

  p #[strong Izabela:] Chegamos ao fim desse quarto episódio, hoje com o Koji Pereira. Espero que você tenha gostado de ouvir, assim com eu gostei de conversar com ele. 

  p Se você quiser conferir outros episódios, é só acessar o canal do Movimento UX no SoundCloud. No próximo programa vou conversar com o Fabrício Teixeira, que é Diretor de Experiência do Usuário na R/GA em São Francisco, e também curador do blog Arquitetura de Informação. 

  p Obrigada e até o próximo papo!

  p [Música]

  hr

  ul.links
    li Transcrição: #[+link('Camila Gondo', 'https://www.linkedin.com/in/gondocamila/')]
    li Revisão: #[+link('Renata Moreira', 'https://www.linkedin.com/in/remoreira/')]

.sidebar
