html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  background-color: $black;
}

body {
  font-family: 'Rubik', -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
  font-size: $font-size;
  line-height: 1.8em;
  font-weight: 400;
  color: $white;
  padding: $padding-responsive-y $padding-responsive-x $padding-responsive-x;

  &::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    border: $padding-responsive solid #fff;
    pointer-events: none;
    z-index: 999;
  }
}
