html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  background-color: $white;
  padding: 1.4vw;
}

body {
  font-family: 'Rubik', -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: $black;
  color: $white;
  padding: 3vw 4vw;
}

a {
  color: $white;
}
