.title {
  position: relative;
  left: -0.5vw;
  font-size: 8.1vw;
  line-height: 0.9em;
  font-weight: 700;
  z-index: 0;
}

.subtitle {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.eyebrow {
  position: relative;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1.6rem;
  font-weight: 500;
}
