// colors
$black: #111;
$white: #fff;

//paddings
$padding-responsive: 1.4vw;
$padding-responsive-y: $padding-responsive * 3;
$padding-responsive-x: $padding-responsive * 4;

$padding-font: 1rem;
$padding-font-y: $padding-font * 1;
$padding-font-x: $padding-font * 2;

// motion
$timing: 600ms;
$timing-fast: 300ms;
$easing: cubic-bezier(0.165, 0.84, 0.44, 1); //easeOutQuart
