// type
$font-size: 18px;

// spacing
$spacing-body-x: 5vw;
$spacing-body-y: 4vw;
$spacing: 10px;
$spacing-1: $spacing * 1;
$spacing-2: $spacing * 2;
$spacing-3: $spacing * 3;
$spacing-4: $spacing * 4;
$spacing-6: $spacing * 6;
$spacing-8: $spacing * 8;
$spacing-10: $spacing * 10;

//media queries
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

// colors
$black: #111;
$white: #e6e6e6;
$clear-white: white;
$gray: #e9e9e8;
$selection: gray;

// motion
$timing: 460ms;
$timing-fast: 300ms;
$easing: cubic-bezier(0.165, 0.84, 0.44, 1); //easeOutQuart
