# 301 Redirect URLs.
Redirect 301 /work/ep1_caiocesar /caio-cesar
Redirect 301 /work/rodrigo-medeiros /rodrigo-medeiros
Redirect 301 /work/ep3_eduardoloureiro /eduardo-loureiro
Redirect 301 /work/ep4_kojipereira /koji-pereira
Redirect 301 /work/ep5_fabricioteixeira /fabricio-teixeira
Redirect 301 /work/ep6_elisavolpato /elisa-volpato
Redirect 301 /work/ep7_janevita /jane-vita
Redirect 301 /work/ep8-pedrothiago /pedro-thiago
Redirect 301 /work/ep9_karinedrumond /karine-drumond
Redirect 301 /work/ep10_ericofileno /erico-fileno
Redirect 301 /work/ep11_robsonsantos /robson-santos
Redirect 301 /work/ep12_sergiosalvador /sergio-salvador
Redirect 301 /work/ep13_fernandabarbato /fernanda-barbato
Redirect 301 /work/ep14_fabriciodore /fabricio-dore
Redirect 301 /work/nubank /guilherme-neumann
Redirect 301 /work/felipememoria /felipe-memoria
Redirect 301 /work/carolina-leslie /carolina-leslie
Redirect 301 /work/netflix /andre-do-amaral
Redirect 301 /episodios /temporada-um
Redirect 301 /loja /
