# 404 Error
ErrorDocument 404 /404/

# 301 Redirect URLs
Redirect 301 /work/ep1_caiocesar /ux-design/caio-cesar
Redirect 301 /work/rodrigo-medeiros /ux-design/rodrigo-medeiros
Redirect 301 /work/ep3_eduardoloureiro /ux-design/eduardo-loureiro
Redirect 301 /work/ep4_kojipereira /ux-design/koji-pereira
Redirect 301 /work/ep5_fabricioteixeira /ux-design/fabricio-teixeira
Redirect 301 /work/ep6_elisavolpato /ux-design/elisa-volpato
Redirect 301 /work/ep7_janevita /ux-design/jane-vita
Redirect 301 /work/ep8-pedrothiago /ux-design/pedro-thiago
Redirect 301 /work/ep9_karinedrumond /ux-design/karine-drumond
Redirect 301 /work/ep10_ericofileno /ux-design/erico-fileno
Redirect 301 /work/ep11_robsonsantos /ux-design/robson-santos
Redirect 301 /work/ep12_sergiosalvador /ux-design/sergio-salvador
Redirect 301 /work/ep13_fernandabarbato /ux-design/fernanda-barbato
Redirect 301 /work/ep14_fabriciodore /ux-design/fabricio-dore
Redirect 301 /work/nubank /ux-design/guilherme-neumann
Redirect 301 /work/felipememoria /ux-design/felipe-memoria
Redirect 301 /work/carolina-leslie /ux-design/carolina-leslie
Redirect 301 /work/netflix /ux-design/andre-do-amaral

Redirect 301 /uxdesign /ux-design
Redirect 301 /rodrigo-medeiros /ux-design/rodrigo-medeiros
Redirect 301 /eduardo-loureiro /ux-design/eduardo-loureiro
Redirect 301 /koji-pereira /ux-design/koji-pereira
Redirect 301 /fabricio-teixeira /ux-design/fabricio-teixeira
Redirect 301 /elisa-volpato /ux-design/elisa-volpato
Redirect 301 /jane-vita /ux-design/jane-vita
Redirect 301 /pedro-thiago /ux-design/pedro-thiago
Redirect 301 /karine-drumond /ux-design/karine-drumond
Redirect 301 /erico-fileno /ux-design/erico-fileno
Redirect 301 /robson-santos /ux-design/robson-santos
Redirect 301 /sergio-salvador /ux-design/sergio-salvador
Redirect 301 /fernanda-barbato /ux-design/fernanda-barbato
Redirect 301 /fabricio-dore /ux-design/fabricio-dore
Redirect 301 /guilherme-neumann /ux-design/guilherme-neumann
Redirect 301 /felipe-memoria /ux-design/felipe-memoria
Redirect 301 /carolina-leslie /ux-design/carolina-leslie
Redirect 301 /andre-do-amaral /ux-design/andre-do-amaral

Redirect 301 /uxresearch /ux-research
Redirect 301 /paola-sales /ux-research/paola-sales
Redirect 301 /carol-zatorre /ux-research/carol-zatorre
Redirect 301 /caio-gama /ux-research/caio-gama

Redirect 301 /pesquisaux /pesquisa-uxr
Redirect 301 /pesquisa-ux /pesquisa-uxr
Redirect 301 /pesquisauxr /pesquisa-uxr

Redirect 301 /episodios /ux-design
Redirect 301 /temporada-um /ux-design
Redirect 301 /temporada-dois /ux-research
Redirect 301 /temporadaum /ux-design
Redirect 301 /temporadadois /ux-research
Redirect 301 /temporada-1 /ux-design
Redirect 301 /temporada-2 /ux-research
Redirect 301 /temporada1 /ux-design
Redirect 301 /temporada2 /ux-research
Redirect 301 /loja /
