include /_assets/pug/meta
include /_assets/pug/header
include /_assets/pug/episode
include /_assets/pug/social
include /_assets/pug/js

+meta(
  'Movimento UX — Segunda Temporada. Conversas sobre pesquisa para produto. UX Research.',
  'Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Segunda Temporada. Conversas sobre pesquisa para produto. UX Research.',
  'http://movimentoux.com/ux-research/'
)

body(data-page='season')

  +header('', 'on', '')

  #barba-wrapper
    .barba-container
      article.intro-text
        p.eyebrow Segunda Temporada
        h1.title UX <br> Research
        p Nov, 2018 — Conversas sobre pesquisa para produto.

      +social('-home')
      
      ul.list-grid
        li.list.-on #[svg(src='_assets/img/ep-list.svg')]
        li.grid #[svg(src='_assets/img/ep-grid.svg')]
      
      .episode-wrapper
        +episode(
          'Cristina Bilsland',
          '[inserir]',
          '[inserir]',
          '22',
          '22-foto-cristina-bilsland.jpg',
          '/ux-research/cristina-bilsland/'
        )
        +episode(
          'Caio Gama',
          'User Researcher no Nubank.',
          'Data & analytics, mix de técnicas de pesquisa qualitativa e quantitativa.',
          '21',
          '21-foto-caio-gama.jpg',
          '/ux-research/caio-gama/'
        )
        +episode(
          'Carol Zatorre',
          'Head de Pesquisa na Kyvo.',
          'Consultoria, pesquisa qualitativa e pesquisa na sprint.',
          '20',
          '20-foto-carol-zatorre.jpg',
          '/ux-research/carol-zatorre/'
        )
        +episode(
          'Paola Sales',
          'Head de User Studies no Descomplica.',
          'Pesquisa humanizada, empatia e criação de área.',
          '19',
          '19-foto-paola-sales.jpg',
          '/ux-research/paola-sales/'
        )

//- don't forget js
+js
