.tab.on#intro
  +social-players

  p A quarta temporada do Movimento UX estreia com uma convidada muito especial, a Paula Macedo – Gerente de Design Sênior no Nubank.
  p Neste episódio, ela conta como foi estruturar o time de pesquisa em um momento momento de rápido crescimento do Nubank. A Paula também contou sobre outros modelos de organização e como avaliar qual é o mais adequado para a sua empresa.

  blockquote "As pessoas que vivem a pesquisa têm que ser as mesmas pessoas que vivem a solução, por isso acho muito importante aproximar engenheiros e pessoas de produto da pesquisa."

  p Também falamos sobre a estratégia de alinhar com os responsáveis o tamanho e a senioridade do time de pesquisa que a unidade de negócio (B.U) precisava, para que cada pesquisador tivesse seu escopo de trabalho bem definido – mostrando que certas iniciativas poderiam ter a pesquisa sendo feita por outras disciplinas, como design, conteúdo ou produto.

  blockquote "Isso foi uma construção para que os pesquisadores pudessem ter sucesso. Acontecia que chegava um pesquisador mais júnior em uma unidade com muitas pessoas sêniores e ele ficava tirando e entregando pedidos sem ter um papel mais decisivo no produto final. A primeira coisa que eu tentei mudar de modelo de pensamento foi isso."

  p Nesse processo, Paula conta que criava uma agenda junto com o time de negócio com as pesquisas que seriam e não seriam feitas pela pessoa pesquisadora a fim de dar mais qualidade para as entregas da equipe. Esse era um momento em que também eram definidas as possibilidades de novas vagas para o time de pesquisa.
  p Além de criar o time, Paula também teve o papel de fazer uma pesquisa de fundação para a estratégia de cinco anos da empresa, que explorava os públicos que o Nubank ainda não atingia e quais as necessidades financeiras não atendidas dos brasileiros.

  blockquote "Ela alimentou um pouco os produtos que já existiam, mas também ajudou o time da estratégia corporativa e o chefe de produto da empresa a pensar a estratégia de portfólio e como o Nubank teria sucesso no Brasil até 2025."

  p Como uma  reflexão para quem está construindo um time e para quem está em busca de uma empresa para trabalhar, Paula alerta que muitos profissionais se frustram por não estarem alinhados com o propósito da companhia. Exemplo disso foi que apesar de nunca ter se visto trabalhando em bancos, ela conta que a opinião dela mudou quando conheceu melhor a proposta do Nubank.

  blockquote "Os pesquisadores são muito sonhadores com o seu papel na sociedade e isso é tão grande dentro da pessoa que ela tem dificuldade de entender o quanto de valor ela pode entregar hoje, e o que ela almeja vai vir com o tempo. Não dá pra você entrar numa empresa de tecnologia financeira e querer derrubar o sistema financeiro. A grande dificuldade dos designers e pesquisadores é entender que é por #[strong meio de] e não #[strong contra] o negócio que você muda a vida das pessoas.”

  +episode-links({
    1: {
      type: 'Podcast',
      title: 'Jag Duggal menciona a pesquisa de fundação com brasileiros e as necessidades financeiras',
      url: 'https://fi.11fs.com/784'
    },
    2: {
      type: 'Podcast',
      title: 'Irene Au conta sobre escalar design no Google',
      url: 'https://www.designbetter.co/podcast/irene-au'
    },
    3: {
      type: 'Texto',
      title: 'Nubank - Design and Research for people and business growth, por Paula Macedo',
      url: 'https://www.linkedin.com/pulse/nubank-design-research-people-business-growth-paula-macedo/?trackingId=7Gk5aRNoRnu0YtE2GFB7Yg%3D%3D'
    }
  })

  p Até a próxima entrevista! Ah, enquanto isso vou adorar manter contato no #[+link('Twitter', 'https://twitter.com/izabeladefatima')] :)

  hr

  p #[strong Quer ajudar o Movimento UX?]
  p Siga e avalie a gente com 5 estrelas nos aplicativos do #[+link('Spotify', 'https://open.spotify.com/show/0jpGW9nTFzzzHCjm7Y3d73?si=uuZGXryBTquSdkG1njUlTw')] e da #[+link('Apple', 'https://podcasts.apple.com/br/podcast/movimento-ux/id1093322366')] – por enquanto, essa funcionalidade só está disponível nos aplicativos de telefone. Você também pode dar uma força divulgando os episódios em suas redes.

  hr

  p #[strong Sobre o Movimento UX]
  p A criação do podcast, dos roteiros e a curadoria dos temas e entrevistas são feitas por mim, Izabela de Fátima.
  p A revisão do tema da temporada e do roteiro é feita pela #[+link('Renata Moreira', 'https://www.linkedin.com/in/remoreira/')].
  p A trilha sonora original e a execução da trilha é do Richard Garrell, no seu projeto #[+link('Aeoner', 'https://aeoner.bandcamp.com')].
  p A edição do áudio é feita pela #[+link('Renata Valentim', 'https://www.linkedin.com/in/renatavalentim/')].
  p A identidade visual é do #[+link('Cristiano Sarmento', 'https://www.linkedin.com/in/hicristiano/')]. O site também é dele em parceria com o #[+link('Pedro Ivo', 'https://www.linkedin.com/in/pedroivohudson/')].

  //- hr

  //- +newsletter