.tab.on#intro
  +players

  p A quarta temporada do Movimento UX estreia com uma convidada muito especial, a Paula Macedo.
  //- p Falamos sobre o boom de vagas de pesquisa em UX, a consolidação da posição de liderança e dicas para quem quer seguir a linha de gestão de pessoas.
  //- p Falamos sobre os primeiros passos para organizar um grupo de pesquisadores, os critérios que você poderia avaliar na hora de montar um time e como lidar com o fato de que boas entregas de pesquisa vão gerar cada vez mais demandas.

  blockquote "As pessoas que vivem a pesquisa tem que ser as mesmas pessoas que vivem a solução.”

  //- .episode-gallery
  //-   .img #[+image('30-foto-01.png', 'Hipótese de jornada de carreira do Dave Hora.', 'Artigo', 'https://uxdesign.cc/the-researchers-journey-leveling-up-as-a-user-researcher-a85cd35b53f5', 'border')]

  +episode-links({
    1: {
      type: 'Podcast',
      title: 'Jag Duggal menciona a pesquisa de fundação com brasileiros e as necessidades financeiras (em inglês)',
      url: 'https://fi.11fs.com/784'
    },
    2: {
      type: 'Podcast',
      title: 'Irene Au conta sobre escalar design no Google (em inglês)',
      url: 'https://www.designbetter.co/podcast/irene-au'
    }
  })

  p #[strong Quer ajudar o Movimento UX?]
  p Siga e avalie a gente com 5 estrelas nos aplicativos do #[+link('Spotify', 'https://open.spotify.com/show/0jpGW9nTFzzzHCjm7Y3d73?si=uuZGXryBTquSdkG1njUlTw')] e da #[+link('Apple', 'https://podcasts.apple.com/br/podcast/movimento-ux/id1093322366')]. Lembrando que, por enquanto, essa funcionalidade só está disponível no telefone. Você também pode dar uma força divulgando os episódios em suas redes.
  p A criação do podcast, dos roteiros e a curadoria dos temas e entrevistas são feitas por mim, Izabela de Fátima.
  p A revisão do tema da temporada e do roteiro é feita pela Renata Moreira.
  p A trilha sonora original e a execução da trilha é do Richard Garrell, no seu projeto #[+link('Aeoner', 'https://aeoner.bandcamp.com')].
  p A edição do áudio é feita pela Renata Valentim.
  p A identidade visual é do Cristiano Sarmento. O site também é dele em parceria com o Pedro Ivo.
  p Até a próxima entrevista! Ah, enquanto isso vou adorar manter contato no #[+link('Twitter', 'https://twitter.com/izabeladefatima')] :)

  //- hr

  //- +newsletter