include /components/meta
include /components/header
include /components/episode
include /components/player
include /components/tabs
include /components/js

+meta(
  'Caio Gama, User Researcher no Nubank. Episódio 21 — Movimento UX. Conversas sobre pesquisa para produto. UX Research.',
  'Data & analytics, mix de técnicas de pesquisa qualitativa e quantitativa — Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Segunda Temporada. Conversas sobre pesquisa para produto. UX Research.',
  'http://movimentoux.com/ux-research/caio-gama/',
  'http://movimentoux.com/assets/img/share/21-caio-gama.jpg'
)

body(data-page='episode')

  +header('', 'on', '')

  #barba-wrapper
    .barba-container
      +episode(
        'Caio Gama',
        'User Researcher no Nubank.',
        'Data & analytics, mix de técnicas de pesquisa qualitativa e quantitativa.',
        '21',
        '21-caio-gama.jpg',
        '',
        '-inside'
      )

      +player('caiogama')

      section.episode-content
        +tabs

        .tab.on#intro
          include intro.pug

        .tab#transcricao
          include transcricao.pug

//- don't forget js
+js
