include /components/includes

+meta-head(
  'Robson Santos, Episódio 11 — Movimento UX',
  'Designer Estratégico na PorQueNão?. Pesquisa para produto, estratégia de UX, usabilidade.',
  'https://movimentoux.com/ux-design/robson-santos/',
  '',
  'episode'
)

body

  +header('on')

  +episode-section(
    'Robson Santos',
    'Designer Estratégico na PorQueNão?.',
    'Pesquisa para produto, estratégia de UX, usabilidade.',
    '11',
    '11-robson-santos.jpg',
    '',
    '-inside'
  )

  +episode-player('robsonsantos')

  section.episode-content
    //- +episode-tabs

    .episode-text
      include intro
      //- include transcricao

    include sidebar

+meta-js
