include /components/meta-head
include /components/header
include /components/episode-section
include /components/episode-player
include /components/episode-tabs
include /components/meta-js

+meta-head(
  'Robson Santos, Episódio 11 — Movimento UX',
  'Designer Estratégico na PorQueNão?. Pesquisa para produto, estratégia de UX, usabilidade.',
  'https://movimentoux.com/ux-design/robson-santos/'
)

body(data-page='episode')

  +header('on')

  +episode-section(
    'Robson Santos',
    'Designer Estratégico na PorQueNão?.',
    'Pesquisa para produto, estratégia de UX, usabilidade.',
    '11',
    '11-robson-santos.jpg',
    '',
    '-inside'
  )

  +episode-player('robsonsantos')

  section.episode-content
    //- +episode-tabs

    .wrapper
      .content
        include intro.pug
        //- include transcricao.pug

      include sidebar.pug

+meta-js
