include ../pug/meta
include ../pug/header
include ../pug/episode
include ../pug/player
include ../pug/link
include ../pug/js

+meta(
  'Jane Vita, Episódio 7 — Movimento UX',
  'Service Creator na Futurice. Design de serviços, futures thinking, UX em outros países.',
  'http://movimentoux.com/jane-vita/'
)

body(data-page='episode')

  +header('on', '', '')

  #barba-wrapper
    .barba-container
      +episode(
        'Jane Vita',
        'Service Creator na Futurice.',
        'Design de serviços, futures thinking, UX em outros países.',
        '07',
        '07-foto-jane-vita.jpg',
        '',
        '-inside'
      )

      +player('janevita')

      section.episode-content
        .text
          p A Jane trabalha com Design há 19 anos e tem experiência em muitas das competências da disciplina, como em experiência do usuário, interação, serviços, interface, estratégia e pesquisa. Com uma bagagem enorme, ela já passou por diversas empresas em diferentes cidades brasileiras. Hoje está em Helsinki, na Finlândia, onde trabalha como Service Creator na Futurice, consultoria de inovação.
          p Entre tantas coisas, a gente conversou sobre sua experiência profissional, sua atuação na Futurice e outros trabalhos na Finlândia, os estudos em Inovação e Design de Serviços e Futures Thinking, o Design na Finlândia e ela ainda deu dicas de livros pra quem quer aprender sobre esses temas.

          p As dicas que a Jane passou pra gente são:
          ul.links
            +link(
              'Podcast: TheThingCast',
              'https://soundcloud.com/thethingcast'
            )
            +link(
              'Revista: UXmag',
              'https://uxmag.com/'
            )
            +link(
              'Livro: Services Marketing — Integrating Customer Focus Across the Firm',
              'https://www.amazon.com/Services-Marketing-6th-Valerie-Zeithalm/dp/0078112052/'
            )
            +link(
              'Livro: Designing for the Digital Age',
              'https://www.amazon.com/Designing-Digital-Age-Human-Centered-Products/dp/0470229101/'
            )
            +link(
              'Livro: Designing Interactions',
              'https://www.amazon.com.br/Designing-Interactions-Press-Bill-Moggridge-ebook/dp/B00DDTJ3GM/'
            )
            +link(
              'Livro: This is Service Design Thinking',
              'https://www.amazon.com.br/This-Service-Design-Thinking-Basics-Tools-Cases-ebook/dp/B00BAVJW8Y/'
            )
            +link(
              'Livro: Trend-Driven Innovation',
              'https://www.amazon.com.br/Trend-Driven-Innovation-Accelerating-Customer-Expectations-ebook/dp/B017TJ12QK/'
            )
            +link(
              'Apresentação: Innovation and Futures Thinking — Are you Leading or Following?',
              'https://www.amazon.com.br/Trend-Driven-Innovation-Accelerating-Customer-Expectations-ebook/dp/B017TJ12QK/'
            )

          p Se você quiser conhecer mais sobre o trabalho e os estudos da Jane, é só acessar o site dela e a apresentação Innovation and Futures Thinking — Are you Leading or Following? que ela cita no podcast.
          p Até o próximo episódio! 🙂

        .sidebar
          h3.eyebrow Localização
          p Vancouver

          h3.eyebrow Site
          p #[a(href='http://www.janevita.com/' title='Site pessoal' target='_blank' rel='noopener').link.-alt Site pessoal]

//- last
//- but not least
+js
