.episode-sidebar
  .info
    h3.eyebrow Localização
    p Belo Horizonte

    h3.eyebrow Site
    p #[+link('Negócio de Mulher','http://negociodemulher.com.br/')]

    h3.eyebrow Social
    p #[+link('LinkedIn','https://br.linkedin.com/in/karinedrumond/pt')]

    h3.eyebrow Download
    p #[+link('Arquivo MP3', '#!', 'download')]