include /components/link

.sidebar
  h3.eyebrow Localização
  p Belo Horizonte

  h3.eyebrow Site
  p #[+link('Negócio de Mulher','http://negociodemulher.com.br/')]

  h3.eyebrow Social
  p #[+link('LinkedIn','https://br.linkedin.com/in/karinedrumond/pt')]
