include ../pug/meta
include ../pug/header
include ../pug/episode
include ../pug/link
include ../pug/js

+meta(
  'Carolina Leslie, Episódio 17 — Movimento UX',
  'Sócia fundadora da Saiba+. Consultoria, pesquisa com usuários, usabilidade.',
  'http://movimentoux.com/carolina-leslie/'
)

body(data-page='episode')
  
  +header('on', '', '')
  
  #barba-wrapper
    .barba-container
      +episode(
        'Carolina Leslie',
        'Sócia fundadora da Saiba+.',
        'Consultoria, pesquisa com usuários, usabilidade.',
        '17',
        '17-foto-carolina-leslie.jpg',
        '',
        '-inside',
        ''
      )
      
      aside(data-soundcloud='carolinaleslie').episode-player
        .backwards
        .play
        .forwards
        .time.-current 00:00
        .timeline
          .percentage
          .mouse
        .time.-duration 0:00:00
        .volume #[span]
      
      section.episode-content
        .text
          p Oi, pessoal!
          p Neste novo podcast, a entrevistada foi a Carolina Leslie, sócia e fundadora da Saiba+.
          p Falamos sobre o trabalho dela à frente da consultoria de UX com clientes como Itaú, Smiles e Gol, métodos de pesquisa com usuários, como é empreender no mercado de Experiência do Usuário, a relação dela com Arquitetura de Informação e muito mais!
          
          blockquote “É difícil definir o que é Experiência de Uso, mas um conceito simples é de cuidar de todos os pontos de interação de clientes e usuários com as interfaces da empresa, e isso extrapola o digital. Também é uma disciplina de estudo que entende como clientes e consumidores se relacionam com produtos digitais, e um objetivo a ser alcançado por uma organização como um todo.'”
            
          p As dicas que ela deixou pra gente são:
          ul.links
            +link(
              'Livro Elementos da Experiência de Uso do Jesse James Garret',
              'http://www.jjg.net/elements/'
            )
            +link(
              'Information Architecture, For the Web and Beyond do Louis Rosenfeld e Peter Morville',
              'https://www.amazon.com.br/Information-Architecture-Beyond-Louis-Rosenfeld/dp/1491911689/'
            )
            +link(
              'Livro The User Experience Team of One: A Research and Design Survival Guide da Leah Buley',
              'https://www.amazon.com/User-Experience-Team-One-Research/dp/1933820187'
            )
            +link(
              'Site da Leah Buley',
              'http://leahbuley.com/'
            )
            +link(
              'Site do Jorge Arango',
              'https://jarango.com/'
            )
            +link(
              'Data science na empresa Stitchfix',
              'http://algorithms-tour.stitchfix.com/#data-platform'
            )
            +link(
              'Canal do Medium com a cobertura do evento WIA 2017',
              'https://medium.com/wiad2017'
            )
            +link(
              'Newsletter da User Focus UK',
              'http://www.userfocus.co.uk/'
            )
            +link(
              "Newsletter da O'Reilly",
              'http://www.oreilly.com/design/newsletter.html'
            )
            li Bônus! O que ela viu de mais legal nos últimos tempos: #[a(href='http://www.dear-data.com/' title='Dear Data' target='_blank' rel='noopener').link.-alt Dear Data]
          
          p Os projetos da Carol sobre os quais falamos durante o podcast:
          ul.links
            li Panorama sobre o mercado de UX em 2016: #[a(href='https://pt.slideshare.net/lulileslie/panorama-do-mercadode-ux-uxconfbr' title='Keynote' target='_blank' rel='noopener').link.-alt keynote] e #[a(href='https://www.infoq.com/br/presentations/maturidade-do-mercado-de-ux-no-brasil' title='palestra' target='_blank' rel='noopener').link.-alt palestra]
            li Panorama sobre o mercado de UX em 2017: #[a(href='https://www.slideshare.net/lulileslie/panorama-mercado-ux-2017' title='Keynote' target='_blank' rel='noopener').link.-alt keynote] e #[a(href='https://www.youtube.com/watch?v=yJb5IC8dOSQ' title='palestra' target='_blank' rel='noopener').link.-alt palestra] (no minuto 24 em diante)
          
          p E pra quem quiser saber mais sobre o trabalho dela:
          ul.links
            li Talk sobre #[a(href='https://www.youtube.com/watch?v=usCW-o4p86M' title='"Testes de usabilidade: você está fazendo isso errado"' target='_blank' rel='noopener').link.-alt "Testes de usabilidade: você está fazendo isso errado"] no encontro iMasters de 2015
            li Entrevista sobre #[a(href='https://www.youtube.com/watch?v=usCW-o4p86M' title='"Por Que, UX?"' target='_blank' rel='noopener').link.-alt "Por Que, UX?"] no projeto da Paula Macedo
          
          p Uma novidade super legal! O Movimento UX fez uma parceria com a UXConf para oferecer a você um desconto de 10% na compra do ingresso para o evento deste ano, que vai acontecer nos dias 19 e 20 de maio em Porto Alegre. 
          p A lista de palestrantes está muito legal e inclui quatro nomes que já foram entrevistados no podcast, Jane Vita, Koji Pereira, Érico Fileno e Robson Santos.
          
          p Para comprar o ingresso com 10% de desconto, é só acessar #[a(href='http://www.uxconf.com.br/ingressos' title='esse link' target='_blank' rel='noopener').link.-alt esse link] e aplicar o código promocional #[em movimentoux]
          
          p Obrigada por acompanhar o Movimento UX e até a próxima edição, na volta das férias, em julho!

        .sidebar
          h3.eyebrow Localização
          p São Paulo
          
          h3.eyebrow Site
          p #[a(href='http://www.saiba-mais.com/' title='Saiba+' target='_blank' rel='noopener').link.-alt Saiba+]
          
          h3.eyebrow Social
          p #[a(href='https://medium.com/@lulileslie' title='Medium' target='_blank' rel='noopener').link.-alt Medium]
          //- p #[a(href='https://twitter.com/paolasalesetc' title='Twitter' target='_blank' rel='noopener').link.-alt Twitter]
          //- p #[a(href='https://instagram.com/paolasales/' title='Instagram' target='_blank' rel='noopener').link.-alt Instagram]

//- last
//- but not least
+js
