include ../pug/meta
include ../pug/header
include ../pug/episode
include ../pug/player
include ../pug/link-alt
include ../pug/link-ad
include ../pug/js
include ../pug/ad

+meta(
  'Caio Gama, Episódio 21 — Movimento UX',
  'User Researcher no Nubank. Data & analytics, mix de técnicas de pesquisa qualitativa e quantitativa.',
  'http://movimentoux.com/caio-gama/'
)

body(data-page='episode')

  +header('', 'on', '')

  #barba-wrapper
    .barba-container
      +episode(
        'Caio Gama',
        'User Researcher no Nubank.',
        'Data & analytics, mix de técnicas de pesquisa qualitativa e quantitativa.',
        '21',
        '21-foto-caio-gama.jpg',
        '',
        '-inside'
      )

      +player('caiogama')

      section.episode-content
        .text
          p O terceiro podcast da nova temporada foi com o Caio Gama, User Experience Researcher no Nubank. Ele tem formação em Ciência da Computação, trabalhou como desenvolvedor back-end por 8 anos e traz um visão bem interessante sobre como podemos mesclar dados de uso e técnicas qualitativa e quantitativa para conhecer as pessoas que usam os produtos e serviços que vamos investigar.
          p Também falamos sobre como ele fez a transição de desenvolvedor para pesquisador UX, o dia a dia no Nubank, dicas pra você começar a usar data no processo de pesquisa e outras coisas mais!
          //- p O segundo podcast da nova temporada é uma conversa descontraída e didática com a Carol Zatorre, head de pesquisa na Kyvo - consultoria que entrega inovação por meio do design. Ela tem formação em Antropologia e uma perspectiva interessante sobre UX Research.
          //- p O episódio traz um panorama das etapas de projeto de pesquisa qualitativa (planejamento, moderação e análise), incluindo dicas para você tirar as hipóteses do papel e ir para a rua investigar.
          //- p Falamos sobre o dia a dia de pesquisa em consultoria, como fazer pesquisa na sprint, diferença entre empatia e alteridade e muito mais!
          
          img(src='/img/21-foto-01.jpg' alt='')
          span.caption Plano de pesquisa usado pelo time de design.
          
          blockquote "… Pesquisa é uma guilda e diversas pessoas da empresa, de diversos backgrounds diferentes fazem pesquisa."
          
          //- .gallery
          //-   .img
          img(src='/img/21-foto-02.png' alt='')
          span.caption Plano de pesquisa usado pelo time de design.
            //- .img
          img(src='/img/21-foto-03.jpg' alt='')
          span.caption Parte do time de design.
          
          p Os links que falamos são:
          ul.links
            li #[+link-alt('Livro Como mentir com estatística do Darrell Heff', 'https://www.amazon.com.br/dp/B01FIGE0S8/')]
            li #[+link-alt('Livro Designing with Data - Rochelle King , Elizabeth F Churchill , Caitlin Tan', 'https://www.amazon.com/Designing-Data-Improving-Experience-Testing/dp/1449334830')]
            li #[+link-alt('Medium time de design Nubank', 'https://medium.com/nubank-design')]
            li #[+link-alt('Vaga de UX Research no Nubank', 'https://nubank.workable.com/j/0A9DD6DA2C')]
            li #[+link-alt('Plano de pesquisa usado no Nubank', 'https://medium.com/nubank-design/why-we-have-a-research-plan-at-nubank-7db687141077')]
          //-   li #[+link-alt('Como a alteridade pode trazer qualidade para a pesquisa em design', 'https://www.linkedin.com/pulse/empatia-e-alteridade-carolina-zatorre-fileno/')]
          //-   li #[+link-alt('Indexação de Dados de Pesquisa | ISA17', 'https://www.slideshare.net/kyvoinnovation/indexao-de-dados-de-pesquisa-isa17')]
          //- 
          //- p As dicas que ela deixou para ampliar os conhecimentos em pesquisa são:
          //- ul.links
          //-   li - Fazer curso de oratória
          //-   li - Ler sobre escuta ativa
          //-   li - Acompanhar o #[+link-alt('EPIC', 'https://www.epicpeople.org/')]
          //- 
          //- p E as novidades continuam por aqui: estamos bastante empolgados em contar que o TESTR é o apoiador deste episódio! Como vocês ouviram neste papo, uma das barreiras mais comuns para fazer pesquisa em ambiente ágil é o tempo. E é exatamente esse o problema que o TESTR resolve: entrega todo o processo de teste com usuários de forma automatizada - incluindo recrutamento, execução, recompensa aos participantes e relatório com resultados, em uma média de 48 horas.
          p E esse episódio também teve apoio do TESTR. <3 Nós estamos usando e adorando. E você? Já está conseguindo rodar pesquisa no tempo do produto? A gente sabe que o tempo é um super desafio e o TESTR resolve esse problema porque entrega todo o processo de teste com usuários (recrutamento, execução, recompensa aos participantes e relatório com resultados), em uma média de 48 horas! E pra quem acompanha o podcast ganha 3 participantes extras na contratação de qualquer plano. o/ Mais infos #[+link-ad('aqui', 'http://bit.ly/testeremoto', 'Content')].
          p Uma outra coisa legal que a gente falou no podcast é que o primeiro livro sobre UX Research em português está saindo do forno. As autoras Denise Pilar, Cecília Henriques e Elizete Ignacio estão escrevendo o livro “UX Research com sotaque brasileiro” e lançaram uma campanha de pré-venda, para que a gente possa comprar o livro antes mesmo de ser lançado. Ah, além do livro, existem outras recompensas ótimas pra gente contribuir com essa conquista tão legal pro nosso mercado. #[+link-alt('Dá uma olhada', 'http://bit.ly/livropesquisa')] e corre porque é só até dia 11 de março.
          //- p E quem acompanha o Movimento UX tem a vantagem de ganhar 3 participantes extras na contratação de qualquer plano. É só acessar #[+link-ad('aqui', 'http://bit.ly/testeremoto', 'Content')] :) Agora você não tem mais desculpa pra dizer que não dá pra rodar pesquisa dentro da sprint, hein?!
          //- p As trilhas deste episódio são parte do projeto Aeoner do produtor Richard Garrell. As faixas sampleam sons 8 bits, discos de vinil, fitas cassete e gravações de campo feitas no Japão. Você pode ouvir todo o álbum #[+link-alt('aqui', 'https://aeoner.bandcamp.com/')].
          
          .gallery
            .img
              img(src='/img/21-foto-04.png' alt='')
              span.caption Livro “UX Research com sotaque brasileiro”
          
          p E pra quem ficou curioso sobre as músicas deste episódio, elas são do produtor Richard Garrel com seu projeto Aeoner e fazem parte do #[+link-alt('álbum Beat Tape 1', 'https://aeoner.bandcamp.com/album/beat-tape-1')].
          //- 
          
          //-   .img
          //-     img(src='/img/20-foto-04.png' alt='')
          //-     span.caption Arte de Ing Lee. Design da Isabela Scalioni.
          //- 
          p Até a próxima conversa!

        .sidebar
          h3.eyebrow Localização
          p São Paulo
          
          h3.eyebrow Site
          p #[+link-alt('thecaiogama.com', 'http://thecaiogama.com')]
          
          h3.eyebrow Social
          p #[+link-alt('LinkedIn', 'https://www.linkedin.com/in/thecaiogama/')]
          p #[+link-alt('Medium', 'https://medium.com/@thecaiogama')]
          p #[+link-alt('GitHub', 'https://github.com/thecaiogama')]
          
          +ad

//- last
//- but not least
+js
