.tab.on#intro
  +social-players
  
  p Oi! O entrevistado desta edição é o Caio Gama, pesquisador de Experiência do Usuário no Shopify em Ottawa, Canadá.
  p Ele trabalha com uma abordagem de pesquisa bem interessante que mistura técnicas de Ciência de Dados e Pesquisa em UX. É a segunda vez que o Caio participa do podcast e, desta vez, ele veio contar pra gente o que são personas orientadas por dados comportamentais quantitativos.

  blockquote "... é uma forma da gente ir para o espectro mais oposto possível de como as personas são tradicionalmente feitas, baseadas em dados demográficos...”

  p Também falamos sobre as situações em que este tipo de persona se encaixa, como é a coleta, a implementação e análise dos dados, além de outros assuntos.
  p Para tangibilizar um pouco o que falamos, ele deixou um exemplo de como desenhar este tipo de persona:

  .episode-gallery
    .img #[+image('27-foto-01.png', 'Modelo de personas orientadas por dados comportamentais quantitativos.', 'Documento exemplo', 'https://docs.google.com/document/d/1mk4gBa-qKHNYt3KklqBClhi9tMVR5kHb4ez2kPGFOXU/edit', 'border')]

  p Ao longo da entrevista, ele me contou que vai ministrar o curso Dados & Pesquisa Quantitativa, na escola #[+supporter-link('Aprender Design', 'https://bit.ly/cursodocaio', 'Aprender Design', 'Content 01')], ensinando alguns dos conceitos e habilidades que falamos neste episódio.
  p Achei tão legal o conteúdo do curso que, além de me inscrever, consegui desconto pra quem acompanha o MUX e quer aprender mais sobre o tema. :)

  p #[strong 15% de desconto] para fazer o curso sobre Dados & Pesquisa Quantitativa com o Caio Gama, em janeiro de 2021.
  p Serão cinco aulas online e ao vivo, entre os dias 18 e 27 de janeiro, das 19h30 às 22h. Todas as informações estão na #[+supporter-link('página do curso', 'https://bit.ly/cursodocaio', 'Aprender Design', 'Content 02')]. Para ganhar 15% de desconto, use o código #[strong movimentoux] na hora do pagamento. Importante: o código é válido apenas para a turma de janeiro de 2021.

  .episode-gallery
    .img #[+image('27-supporter-aprender.png', 'Estrutura macro do curso "Dados & Pesquisa Quantitativa".', 'Site da Aprender Design', 'https://bit.ly/cursodocaio')]

  p Aprender Design é uma escola remota que ensina os fundamentos para criação de experiências digitais, pautados em princípios de Design e contextualizados para o Brasil.
  p Vamos nos encontrar por lá?

  hr

  +episode-links({
    1: {
      type: 'Livro',
      title: 'Estatística: O que é, para que serve, como funciona, por Charles Wheelan',
      url: 'https://amzn.to/2JVLKJy'
    },
    2: {
      type: 'Tutorial',
      title: 'Python Tutorial for Absolute Beginners #1',
      url: 'https://youtu.be/Z1Yd7upQsXY'
    },
    3: {
      type: 'Texto',
      title: 'Why I’m always looking at data',
      url: 'https://ux.shopify.com/why-im-always-looking-at-data-61cedaff6c44'
    },
    4: {
      type: 'Medium',
      title: 'Time de UX do Shopify ',
      url: 'https://ux.shopify.com/tagged/ux-research'
    },
    5: {
      type: 'Entrevista',
      title: 'Entrevista com o Caio na 2ª temporada do MUX',
      url: 'https://www.movimentoux.com/temporada-2/caio-gama/'
    }
  })

  p #[strong Patrocinador deste episódio]
  p O Banco BMG foi o patrocinador deste episódio! Um super obrigada à equipe de Design do BMG por apoiar financeiramente o podcast e incentivar a produção de conteúdo sobre UX em português para a comunidade.

  hr

  p As músicas deste episódio são do produtor Richard Garrel com seu projeto #[+link('Aeoner', 'https://aeoner.bandcamp.com')].
  p Até a próxima entrevista! Ah, enquanto isso vou adorar manter contato no #[+link('Twitter', 'https://twitter.com/izabeladefatima')].

  hr

  +newsletter