include /components/includes

+meta-head(
  'Movimento UX — Primeira Temporada. Conversas sobre o universo de design de experiência de uso. UX Design.',
  'Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Primeira Temporada. Conversas sobre o universo de design de experiência de uso. UX Design.',
  'https://movimentoux.com/temporada-1/',
  '',
  'season'
)

+header('on')

//- section.intro-section.-snap
//-   span.eyebrow UX Design
//-   h1.header Primeira <br> Temporada
//-   p Fev, 2016 — Conversas sobre o universo de design de experiência de uso.
//-   +social-links('-home')


//- ul.list-grid
//-   li.list.-on #[img(src='assets/img/ui/ep-list.svg')]
//-   li.grid #[img(src='assets/img/ui/ep-grid.svg')]

//- .episode-wrapper
+episode-section(
  'Andre do Amaral',
  'Designer de Produto na Netflix.',
  'Visual design, design digital, UX em outros países.',
  '18',
  '18-andre-do-amaral.jpg',
  '/temporada-1/andre-do-amaral',
  '-snap',
  '',
  '',
  'standalone'
)
+episode-section(
  'Carolina Leslie',
  'Sócia fundadora da Saiba+.',
  'Consultoria, pesquisa com usuários, usabilidade.',
  '17',
  '17-carolina-leslie.jpg',
  '/temporada-1/carolina-leslie',
  '-snap',
  '',
  '',
  'standalone'
)
+episode-section(
  'Felipe Memoria',
  'Sócio fundador da Work & Co.',
  'Produto digital, inovação, liderança em design.',
  '16',
  '16-felipe-memoria.jpg',
  '/temporada-1/felipe-memoria',
  '-snap',
  '',
  '',
  'standalone'
)
+episode-section(
  'Guilherme Neumann',
  'UX Lead no Nubank.',
  'Cultura de experiência, design de produto, liderança em design.',
  '15',
  '15-guilherme-neumann.jpg',
  '/temporada-1/guilherme-neumann',
  '-snap',
  '',
  '',
  'standalone'
)
+episode-section(
  'Fabricio Dore',
  'Diretor Executivo de UX na McKinsey.',
  'Design de interação, inovação digital, UX em outros países.',
  '14',
  '14-fabricio-dore.jpg',
  '/temporada-1/fabricio-dore',
  '-snap',
  '',
  '',
  'standalone'
)
+episode-section(
  'Fernanda Barbato',
  'UX Lead na Designit.',
  'Hyper Island, pesquisa com usuários, UX em outros países.',
  '13',
  '13-fernanda-barbato.jpg',
  '/temporada-1/fernanda-barbato',
  '-snap',
  '',
  '',
  'standalone'
)
+episode-section(
  'Sérgio Salvador',
  'Diretor de UX na Huge.',
  'Consultoria, liderança, design antecipatório.',
  '12',
  '12-sergio-salvador.jpg',
  '/temporada-1/sergio-salvador',
  '-snap',
  '',
  '',
  'standalone'
)
+episode-section(
  'Robson Santos',
  'Designer Estratégico na PorQueNão.',
  'Pesquisa para produto, estratégia de UX, usabilidade.',
  '11',
  '11-robson-santos.jpg',
  '/temporada-1/robson-santos',
  '-snap',
  '',
  '',
  'standalone'
)
+episode-section(
  'Érico Fileno',
  'Head de Inovação na Visa.',
  'Design estratégico, inovação em serviços e experiência do usuário.',
  '10',
  '10-erico-fileno.jpg',
  '/temporada-1/erico-fileno',
  '-snap',
  '',
  '',
  'standalone'
)
+episode-section(
  'Karine Drumond',
  'Sócia-fundadora da Negócio de Mulher.',
  'Usabilidade, design de interação, empreendedorismo.',
  '09',
  '09-karine-drumond.jpg',
  '/temporada-1/karine-drumond',
  '-snap',
  '',
  '',
  'standalone'
)
+episode-section(
  'Pedro e Thiago',
  'Sócios-fundadores da UXConf.',
  'Conteúdo sobre UX, importância de comunidade, eventos de UX.',
  '08',
  '08-pedro-thiago.jpg',
  '/temporada-1/pedro-thiago',
  '-snap',
  '',
  '',
  'standalone'
)
+episode-section(
  'Jane Vita',
  'Service Creator na Futurice.',
  'Design de serviços, futures thinking, UX em outros países.',
  '07',
  '07-jane-vita.jpg',
  '/temporada-1/jane-vita',
  '-snap',
  '',
  '',
  'standalone'
)
+episode-section(
  'Elisa Volpato',
  'Fundadora na TESTR.',
  'Pesquisa para produto, teste de usabilidade, consultoria.',
  '06',
  '06-elisa-volpato.jpg',
  '/temporada-1/elisa-volpato',
  '-snap',
  '',
  '',
  'standalone'
)
+episode-section(
  'Fabricio Teixeira',
  'Diretor de UX na R/GA.',
  'UX em agências, arquitetura de informação, UX em outros países.',
  '05',
  '05-fabricio-teixeira.jpg',
  '/temporada-1/fabricio-teixeira',
  '-snap',
  '',
  '',
  'standalone'
)
+episode-section(
  'Koji Pereira',
  'Designer de Produto no Google.',
  'Design digital, prototipação, UX em outros países.',
  '04',
  '04-koji-pereira.jpg',
  '/temporada-1/koji-pereira',
  '-snap',
  '',
  '',
  'standalone'
)
+episode-section(
  'Eduardo Loureiro',
  'Sócio gerente DesignThinkers Brasil.',
  'Co-criação, transição de agências, empreendedorismo.',
  '03',
  '03-eduardo-loureiro.jpg',
  '/temporada-1/eduardo-loureiro',
  '-snap',
  '',
  '',
  'standalone'
)
+episode-section(
  'Rodrigo Medeiros',
  'Líder local no IxDA Recife.',
  'Design centrado no usuário, design thinking e mercado de UX.',
  '02',
  '02-rodrigo-medeiros.jpg',
  '/temporada-1/rodrigo-medeiros',
  '-snap',
  '',
  '',
  'standalone'
)
+episode-section(
  'Caio César',
  'Professor de Design de Interação na PUC-MG.',
  'Introdução ao tema UX, possibilidades de atuação e dicas pra começar.',
  '01',
  '01-caio-cesar.jpg',
  '/temporada-1/caio-cesar',
  '-snap',
  '',
  '',
  'standalone'
)

+meta-js
