.episode-sidebar
  .info
    h3.eyebrow Localização
    p São Paulo

    h3.eyebrow Social
    p #[+link('LinkedIn', 'https://www.linkedin.com/in/camilaborja/')]
    p #[+link('Twitter', 'https://twitter.com/camila_borja')]
    p #[+link('UX Collective', 'https://uxdesign.cc/@camila.brj')]

    h3.eyebrow Download
    p #[+link('Arquivo MP3', '#!', 'download')]

  +supporter-sidebar(
    'Patrocinador do episódio',
    'Hotmart',
    'A Hotmart é pioneira e líder na América Latina na venda de produtos digitais.',
    'http://bit.ly/vagasdahotmart',
    'hotmart-logo.png'
  )