include /components/meta-head
include /components/header
include /components/episode-section
include /components/episode-player
include /components/episode-tabs
include /components/meta-js

+meta-head(
  'Cristina Bilsland, User Experience Researcher Senior no Google UK. Episódio 22 — Movimento UX. Conversas sobre pesquisa para produto. UX Research.',
  'Pesquisa global, estratégia de pesquisa, design sprint — Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Segunda Temporada. Conversas sobre pesquisa para produto. UX Research.',
  'https://movimentoux.com/ux-research/cristina-bilsland/',
  'https://movimentoux.com/assets/img/share/22-cristina-bilsland.jpg'
)

body(data-page='episode')

  +header('', 'on')

  +episode-section(
    'Cristina Bilsland',
    'User Experience Researcher Senior no Google UK.',
    'Pesquisa global, estratégia de pesquisa, design sprint.',
    '22',
    '22-cristina-bilsland.jpg',
    '',
    '-inside'
  )

  +episode-player('cristinabilsland')

  section.episode-content
    +episode-tabs

    .episode-text
      include intro.pug
      include transcricao.pug

    include sidebar.pug

+meta-js