include /components/meta
include /components/header
include /components/episode
include /components/player
include /components/tabs
include /components/js

+meta(
  'Cristina Bilsland, User Experience Researcher Senior no Google UK. Episódio 22 — Movimento UX. Conversas sobre pesquisa para produto. UX Research.',
  'Pesquisa global, estratégia de pesquisa, design sprint — Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Segunda Temporada. Conversas sobre pesquisa para produto. UX Research.',
  'http://movimentoux.com/ux-research/cristina-bilsland/',
  'http://movimentoux.com/assets/img/share/22-cristina-bilsland.jpg'
)

body(data-page='episode')

  +header('', 'on', '')

  +episode(
    'Cristina Bilsland',
    'User Experience Researcher Senior no Google UK.',
    'Pesquisa global, estratégia de pesquisa, design sprint.',
    '22',
    '22-cristina-bilsland.jpg',
    '',
    '-inside'
  )

  +player('cristinabilsland')

  section.episode-content
    +tabs

    .tab.on#intro
      include intro.pug

    .tab#transcricao
      include transcricao.pug

+js
