include /components/meta
include /components/header
include /components/episode
include /components/player
include /components/tabs
include /components/js
include /components/supporter-sidebar

+meta(
  'Camila Borja, User Experience Researcher no Itaú (Parte 2). Episódio 25 — Movimento UX. Conversas sobre pesquisa para produto. UX Research.',
  'Operação de pesquisa (Research Ops), Síntese de aprendizados e Storytelling — Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Segunda Temporada. Conversas sobre pesquisa para produto. UX Research.',
  'http://movimentoux.com/ux-research/camila-borja-pt2/',
  'http://movimentoux.com/assets/img/share/25-camila-borja.jpg'
)

body(data-page='episode')

  +header('', 'on', '')

  +episode(
    'Camila Borja 02',
    'User Experience Researcher no Itaú.',
    'Operação de pesquisa (Research Ops), Síntese de aprendizados e Storytelling.',
    '25',
    '24-camila-borja.jpg',
    '',
    '-inside'
  )

  +player('camilaborja-parte2')

  section.episode-content
    .content
      +tabs

      .tab.on#intro
        include intro.pug

      .tab#transcricao
        include transcricao.pug
    
    .sidebar
      h3.eyebrow Localização
      p São Paulo

      h3.eyebrow Social
      p #[+link('LinkedIn', 'https://www.linkedin.com/in/camilaborja/')]
      p #[+link('Twitter', 'https://twitter.com/camila_borja')]
      p #[+link('UX Collective', 'https://uxdesign.cc/@camila.brj')]

      +supporter-sidebar(
        'Patrocinador do episódio',
        'Hotmart',
        'A Hotmart é pioneira e líder na América Latina na venda de produtos digitais.',
        'http://bit.ly/vagasdahotmart',
        'hotmart-logo.png'
      )

+js
