include /components/link
include /components/image
include /components/episode-links
include /components/supporter-link

.tab.on#intro
  p Chegamos no 25º episódio! :)
  p Esta é continuação da conversa sobre pesquisa UX democratizada com a Camila Borja, Especialista de User Research no Itaú.
  p Nessa segunda parte da conversa, o formato é bem mais uma discussão do que entrevista. Compartilhei bastante sobre o meu ponto de vista como UX Researcher. A gente falou sobre: operação de pesquisa ou research-ops, síntese de aprendizados, o que vem pela frente e muito mais.

  blockquote "Essa parte operacional de pesquisa é desgastante. Quem faz recrutamento, sabe o quanto que é desafiador [...] Isso é tão importante e tão operacional que precisa de uma estrutura de operação e de um modelo. Precisa que alguém centralize. Então, Research Ops vem para resolver essa e uma série de outras coisas..."

  .episode-gallery
    .img #[+image('25-foto-01.jpg','As 3 lentes de domínios de linguagem.')]
    .img #[+image('25-foto-02.jpg','Condução de dinâmicas com clientes e time.')]
  +image('25-foto-03.jpg','Treinamento de Lego Serious Play na Dinamarca.')
  
  +episode-links({
    1: {
      type: 'Artigo',
      title: 'As 3 linguagens do pesquisador, do Caio Casseb',
      url: 'https://medium.com/@caiocasseb/as-3-linguagens-do-pesquisador-e6eb4cd364d'
    },
    2: {
      type: 'Livro',
      title: 'Rocket Surgery Made Easy, do Steve Krug',
      url: 'https://amzn.to/329zlpm'
    },
    3: {
      type: 'Artigo',
      title: 'The 9 Rules of Design Research, da Erika Hall',
      url: 'https://medium.com/mule-design/the-9-rules-of-design-research-1a273fdd1d3b'
    },
    4: {
      type: 'Vídeo',
      title: 'Powers of Ten, do Eames',
      url: 'https://www.youtube.com/watch?v=0fKBhvDjuy0'
    },
    5: {
      type: 'Vídeo',
      title: 'Microsoft Office 2007: The Story of the Ribbon',
      url: 'https://youtu.be/Tl9kD693ie4'
    },
    6: {
      type: 'Documentário',
      title: 'Privacidade Hackeada',
      url: 'https://www.netflix.com/title/80117542'
    },
    7: {
      type: 'Tweet',
      title: 'Jobs To Be Done, do Jared Spool',
      url: 'https://twitter.com/jmspool/status/1085982138128912384'
    },
    8: {
      type: 'Tweet',
      title: 'Pesquisa com 5-8 usuários, do Jared Spool',
      url: 'https://twitter.com/jmspool/status/1150947701695156224'
    },
    9: {
      type: 'Artigo',
      title: 'Plataforma de Inteligência Artificial, do Grupo Publicis',
      url: 'https://www.meioemensagem.com.br/home/comunicacao/2018/05/24/publicis-groupe-apresenta-marcel.html'
    }
  })

  p #[strong Parceria Movimento UX & Panorama UX]
  p Vamos investigar a fundo o mercado de UX Research entre os brasileiros com uma pesquisa online.
  p Estamos unindo forças com a pesquisa Panorama UX que há 5 anos investiga o mercado. Dessa parceria vai nascer uma análise especialmente sobre os profissionais e o mercado de UX Research.
  p Para participar e receber o formulário do Panorama UX no dia que lançar, inclua seu nome e e-mail #[+link('nesse link', 'https://movimentoux.com/pesquisa-uxr/')]. Ao participar, você também receberá os resultados fresquinhos no e-mail. Prometo que esse cadastro vai ser usado exclusivamente para o envio da pesquisa Panorama UX.

  hr

  p #[strong Patrocinador]
  p Hotmart, pioneira e líder na América Latina na venda de produtos digitais e atua nas áreas de educação à distância, marketing digital e fintech, em Belo Horizonte. Está em amplo crescimento internacional e o desafio de desenvolver produtos globais.
  p A boa notícia é que tem várias vagas para os times de design e desenvolvimento. Se você é designer de produto ou desenvolvedor com habilidades em UX, pesquisa e interface pode se cadastrar no #[+supporter-link('banco de talentos', 'http://bit.ly/vagasdahotmart', 'Hotmart', 'Content')] da empresa.

  hr

  p As trilhas são do Garrel com seu projeto #[+link('Aeoner', 'https://aeoner.bandcamp.com')].

  p O podcast entra de férias a partir de agora e volta com muitas novidades em 2020.
  p Até lá!