include /components/includes

+meta-head(
  'Heitor Pagliari, Líder de Design de Serviços e Pesquisa na OLX Europa. Episódio 38 — Movimento UX',
  'Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Quarta Temporada',
  'https://movimentoux.com/temporada-4/heitor-pagliari/',
  'https://movimentoux.com/assets/img/share/38-heitor-pagliari.jpg',
  'episode'
)

+header('', '', '', 'on')

+episode-section(
  'Heitor Pagliari',
  'Líder de Design de Serviços e Pesquisa na OLX Europa',
  '',
  '38',
  '38-heitor-pagliari.jpg',
  '',
  '-inside',
  '',
  'google.com'
)

section.episode-content
  //- +episode-tabs

  .episode-text
    include intro
    //- include transcricao

  include sidebar

+meta-js
