.tab.on#intro
  +social-players

  p No oitavo episódio da quarta temporada do Movimento UX, conversamos com o simpático Heitor Pagliari.
  p Ele é líder de Design de Serviço e Pesquisa na OLX Group Europa. A estrutura de lá é bem legal e conta com a maior proporção de pesquisadores por designers que já vimos aqui no podcast: é quase 1 pra 1!

  //- blockquote "Foi mais ou menos em 2017 e 2018 que começou esse movimento de crescimento. A estrutura de Design se conectou a negócios e no ano passado o time dobrou. Hoje o time de pesquisa está com mais ou menos 30 pessoas dentro da diretoria de Canais Digitais."

  +image('38-foto-01.png', '', '', '', 'border')

  +episode-links({
    1: {
      type: 'Artigo',
      title: 'Projective techniques in design research co-escrito com o Eduardo Ulrich',
      url: 'https://uxdesign.cc/projective-techniques-in-design-research-c41e630c8338'
    },
    2: {
      type: 'Palestra',
      title: 'AI-by-design approach to radical innovation',
      url: 'https://servicedesigndays.com/work/heitor-pagliari/'
    }
  })

  p Até a próxima entrevista! Ah, enquanto isso vou adorar manter contato no #[+link('Twitter', 'https://twitter.com/izabeladefatima')] :)

  hr

  p #[strong Quer ajudar o Movimento UX?]
  p Siga e avalie a gente com 5 estrelas nos aplicativos do #[+link('Spotify', 'https://open.spotify.com/show/0jpGW9nTFzzzHCjm7Y3d73?si=uuZGXryBTquSdkG1njUlTw')] e da #[+link('Apple', 'https://podcasts.apple.com/br/podcast/movimento-ux/id1093322366')]. Lembrando que, por enquanto, essa funcionalidade só está disponível no telefone. Você também pode dar uma força divulgando os episódios em suas redes.

  hr

  p #[strong Sobre o Movimento UX]
  p A criação do podcast, dos roteiros e a curadoria dos temas e entrevistas são feitas por mim, Izabela de Fátima.
  p A revisão do tema da temporada e do roteiro é feita pela #[+link('Renata Moreira', 'https://www.linkedin.com/in/remoreira/')].
  p A trilha sonora original e a execução da trilha é do Richard Garrell, no seu projeto #[+link('Aeoner', 'https://aeoner.bandcamp.com')].
  p A edição do áudio é feita pela #[+link('Renata Valentim', 'https://www.linkedin.com/in/renatavalentim/')].
  p A identidade visual é do #[+link('Cristiano Sarmento', 'https://www.linkedin.com/in/hicristiano/')]. O site também é dele em parceria com o #[+link('Pedro Ivo', 'https://www.linkedin.com/in/pedroivohudson/')].