include /_assets/pug/meta
include /_assets/pug/header
include /_assets/pug/episode
include /_assets/pug/player
include /_assets/pug/js

+meta(
  'Fabricio Dore, Episódio 14 — Movimento UX',
  'Diretor Executivo de UX na McKinsey. Design de interação, inovação digital, UX em outros países.',
  'http://movimentoux.com/ux-design/fabricio-dore/'
)

body(data-page='episode')

  +header('on', '', '')

  #barba-wrapper
    .barba-container
      +episode(
        'Fabricio Dore',
        'Diretor Executivo de UX na McKinsey.',
        'Design de interação, inovação digital, UX em outros países.',
        '14',
        '14-foto-fabricio-dore.jpg',
        '',
        '-inside'
      )

      +player('fabriciodore')

      section.episode-content
        .tab.on#intro
          include intro.pug

//- last
//- but not least
+js
