include /_assets/pug/link-alt

.text
  p A Jane trabalha com Design há 19 anos e tem experiência em muitas das competências da disciplina, como em experiência do usuário, interação, serviços, interface, estratégia e pesquisa. Com uma bagagem enorme, ela já passou por diversas empresas em diferentes cidades brasileiras. Hoje está em Helsinki, na Finlândia, onde trabalha como Service Creator na Futurice, consultoria de inovação.
  p Entre tantas coisas, a gente conversou sobre sua experiência profissional, sua atuação na Futurice e outros trabalhos na Finlândia, os estudos em Inovação e Design de Serviços e Futures Thinking, o Design na Finlândia e ela ainda deu dicas de livros pra quem quer aprender sobre esses temas.

  p As dicas que a Jane passou pra gente são:
  ul.links
    li #[+link-alt('Podcast: TheThingCast', 'https://soundcloud.com/thethingcast')]
    li #[+link-alt('Revista: UXmag', 'https://uxmag.com/')]
    li #[+link-alt('Livro: Services Marketing — Integrating Customer Focus Across the Firm', 'https://www.amazon.com/Services-Marketing-6th-Valerie-Zeithalm/dp/0078112052/')]
    li #[+link-alt('Livro: Designing for the Digital Age', 'https://www.amazon.com/Designing-Digital-Age-Human-Centered-Products/dp/0470229101/')]
    li #[+link-alt('Livro: Designing Interactions', 'https://www.amazon.com.br/Designing-Interactions-Press-Bill-Moggridge-ebook/dp/B00DDTJ3GM/')]
    li #[+link-alt('Livro: This is Service Design Thinking', 'https://www.amazon.com.br/This-Service-Design-Thinking-Basics-Tools-Cases-ebook/dp/B00BAVJW8Y/')]
    li #[+link-alt('Livro: Trend-Driven Innovation', 'https://www.amazon.com.br/Trend-Driven-Innovation-Accelerating-Customer-Expectations-ebook/dp/B017TJ12QK/')]
    li #[+link-alt('Apresentação: Innovation and Futures Thinking — Are you Leading or Following?', 'https://www.amazon.com.br/Trend-Driven-Innovation-Accelerating-Customer-Expectations-ebook/dp/B017TJ12QK/')]

  p Se você quiser conhecer mais sobre o trabalho e os estudos da Jane, é só acessar o site dela e a apresentação Innovation and Futures Thinking — Are you Leading or Following? que ela cita no podcast.
  p Até o próximo episódio! 🙂

.sidebar
  h3.eyebrow Localização
  p Vancouver

  h3.eyebrow Site
  p #[+link-alt('Site pessoal', 'http://www.janevita.com/')]
