include /components/meta-head
include /components/header
include /components/episode-section
include /components/episode-player
include /components/episode-tabs
include /components/meta-js

+meta-head(
  'Elisa Volpato, Episódio 6 — Movimento UX',
  'Fundadora na TESTR. Pesquisa para produto, teste de usabilidade, consultoria.',
  'https://movimentoux.com/ux-design/elisa-volpato/'
)

body(data-page='episode')

  +header('on')

  +episode-section(
    'Elisa Volpato',
    'Fundadora na TESTR.',
    'Pesquisa para produto, teste de usabilidade, consultoria.',
    '06',
    '06-elisa-volpato.jpg',
    '',
    '-inside'
  )

  +episode-player('elisa-volpato')

  section.episode-content
    +episode-tabs

    .episode-text
      include intro.pug
      include transcricao.pug

    include sidebar.pug

+meta-js