include /components/link

.sidebar
  h3.eyebrow Localização
  p São Paulo

  h3.eyebrow Social
  p #[+link('TESTR', 'http://testr.com.br/')]
  p #[+link('LinkedIn', 'https://www.linkedin.com/in/elisavolpato/pt')]
