include /components/link-text

.tab#transcricao
  p [Música]

  p #[span.eyebrow.-dark Izabela] Olá. Bem vindo ao sexto episódio do Movimento UX. 

  p O papo de hoje é sobre experiência do usuário e teste de usabilidade com a Elisa Volpato. A Elisa trabalha com UX desde 2005 e passou pela Try Consultoria, Agência Click e UOL. Ela também foi líder de experiência do usuário na Predicta e pesquisadora de UX na área de inovação no Itaú. Hoje ela está à frente da consultoria UX Dialog e da ferramenta de teste de usabilidade remoto, TESTR. 

  p Então vamos lá! Eu sou a Izabela de Fátima e este é o Movimento UX. 

  hr

  p #[span.eyebrow.-dark Izabela] Oi Elisa! Tudo bem? 

  p #[span.eyebrow.-dark Elisa] Oi Izabela. Tudo bem e você?

  p #[span.eyebrow.-dark Izabela] Tudo jóia! Muito obrigada pelo seu tempo e pela presença aqui no Movimento UX.

  p #[span.eyebrow.-dark Elisa] Que isso! Eu que agradeço o convite.

  p #[span.eyebrow.-dark Izabela] Elisa, pesquisando sobre você, vi que você fez faculdade de jornalismo na USP e pós-graduação em pesquisa de mercado. Conta um pouquinho para gente da sua escolha profissional. 

  p #[span.eyebrow.-dark Elisa] Olha, eu fiz jornalismo, mas sempre que eu conto sobre isso eu tenho que dizer que eu nunca fui jornalista porque eu terminei a faculdade e, não sei, é bem comum na área de comunicação a gente perceber que quer outra coisa na verdade, né?! 

  p Eu terminei a graduação e fiquei perdida por mais ou menos um ano. Até que eu vi uma vaga de estágio de arquitetura de informação no mural da faculdade. Eu não fazia ideia do que era isso e fui procurar. Descobri que era uma coisa super legal de organizar a informação, que tinha tudo a ver com o que eu gostava de fazer, que era organizar informação e pensar na melhor forma de mostrar aquela informação para outras pessoas no site. Eu achei “Ah tem a ver comigo!”. Aí eu fui fazer entrevista. Não passei, mas serviu como uma sementinha na cabeça, sabe? 

  p Daí eu comecei a procurar conteúdo sobre o assunto. Eu fiz faculdade, eu comecei em 2000, né? Faz um certo tempo. Então na minha época não tinha jornalismo digital na faculdade, não tinha blog, não tinha nada. A única matéria que tinha a ver com internet era telemática, pra você ter uma ideia. Eu fui falar com a professora e ela estava dando um curso de Design Centrado no Usuário. Também não sabia o que era, mas ela disse que eu ia gostar.  Eu fiz e percebi que isso juntava as coisas que eu realmente gostava de fazer e que eu gostava do jornalismo. 

  p Eu gostava muito de entrevistar pessoas e falar com gente diferente para investigar um ponto específico. Então eu podia entrevistar um cientista aqui, um professor da biologia ali. Isso eu achava muito legal! Conversar com gente diferente, conversar não só com cientistas, mas com pessoas comuns também, né? Isso era muito legal. E outra coisa que era organizar informação depois. Isso era o que eu gostaria de fazer. Aí eu percebi que UX era pra mim, né? Antes de se chamar UX, que eu não fazia ideia que se chamava UX. E foi mais ou menos assim. Daí foi quando eu descobri que essa era uma área bacana.

  p #[span.eyebrow.-dark Izabela] Ah que legal! Desde criança você tinha esse interesse em conversar com as pessoas, observar as pessoas, organizar suas coisas?

  p #[span.eyebrow.-dark Elisa] Não, não tinha não. Quando eu era criança, sempre fui muito tímida. Sou tímida até hoje, né? Mas de criança era mais tímida ainda, então o que eu queria fazer quando era criança era desenhar histórias em quadrinhos pra Disney. 

  p #[span.eyebrow.-dark Izabela] Que ótimo!

  p #[span.eyebrow.-dark Elisa] É! Eu ficava desenhando a Margarida e o Donald, e coisas do tipo. Só gostava de desenhar os patos. E eu sempre gostei de escrever e foi isso que me levou pro jornalismo. Eu era muito boa de redação, então, foi a única coisa que consegui pensar que era próximo disso. E não, não fazia ideia do que eu ia fazer na vida. Eu achava que ia ser uma jornalista da Folha de São Paulo, ou que ia ser uma executiva. Não sei. A imagem que a gente tem pra gente quando a gente é criança, a imagem que você tem de uma pessoa de 30 anos, é bem diferente do que vai ser de fato, né? Acho que não tinha muito a ver.

  p Eu era bem organizada, meus brinquedos ficavam bem organizadinhos, mas eu não fazia ideia. 

  p #[span.eyebrow.-dark Izabela] E eu vi que você teve destaque em uma competição de avaliação de usabilidade, também na USP, né? Em que ponto da sua trajetória você consolidou o seu interesse pela interação homem-máquina? 

  p #[span.eyebrow.-dark Elisa] Como eu tava contando, meu primeiro contato foi essa disciplina da pós-graduação, mas eu nem cheguei a fazer essa pós-graduação. Na USP você pode fazer aula como ouvinte, né? Então só fiz uma matéria, gostei bastante e aí criei uma relação com essa professora, a Maria Laura Martins, que dava essa matéria. Ela resolveu criar um pequeno grupo de estudos, com alguns alunos que faziam essa aula e desse grupo de estudos, a gente se inscreveu em uma avaliação, que foi no IHC, um evento que teve em Natal. E era uma competição para avaliar o sistema de submissão de artigos ao IHC. Então era uma mega competição dentro do evento. Fui eu apresentar, mas eu tinha um grupo de mais duas pessoas que eram também alunos desse grupo de estudos da Maria Laura.

  p Mas, nessa época, também já tava trabalhando na área. Meu primeiro emprego foi na Try Consultoria, né? Então lá eu entrei como analista/faz tudo, né? Observa teste, tal. Então, eu tava ao mesmo tempo aprendendo com a Maria Laura, a teoria. E, na prática, na Try, eu já estava trabalhando com isso. 

  p Então, eu acho que assim que entrei na Try e eu vi qual que era o trabalho, que era observar as pessoas fazendo uma coisa, fazer uma análise daquilo, investigar um problema em potencial, e dar uma sugestão, eu percebi: “Nossa, isso é muito legal! Isso eu posso fazer!”. Acho que ali eu já percebi que eu tava no lugar certo, sabe?

  p E quando você estuda, você não sabe de fato se aquilo vai dar certo pra você, se você vai se dar bem. Mas assim que eu comecei a trabalhar, já percebi que “Nossa, isso é bem bacana, e é o que eu quero fazer”. 

  p #[span.eyebrow.-dark Izabela] Não sei se foi nessa época também, mas me chamou a atenção a sua pesquisa. Na pós-graduação em Pesquisa de Mercado, eu vi que você investigou como que as crianças fazem pesquisa na web, né?! 

  p #[span.eyebrow.-dark Elisa] Sim, é.

  p #[span.eyebrow.-dark Izabela] Eu isso achei interessante. Eu queria saber de onde que veio o interesse assim do público, desse tema. 

  p #[span.eyebrow.-dark Elisa] Eu comecei a… tentei fazer essa pós, que foi quando? Faz muito tempo. 2005. Eu tava lá na USP tentando fazer pós na ECA, mesmo, né? Mas aí eu comecei a trabalhar, e não deu muito certo. Então eu retomei a Pós em 2011. Mas aí já era outra coisa. Eu fui fazer Pós em um programa mesmo de pesquisa de mercado. Aí foi uma especialização. Lá em 2005 em pensava em fazer em Mestrado e tal. 

  p Mas falando da Pós de Pesquisa de Mercado, eu fiz uma monografia, né? De fim de curso, que era sobre pesquisa com crianças. Então foi uma oportunidade que eu encontrei pra… eu nunca tinha feito, no trabalho, pesquisa com crianças. Eu queria muito! Porque, afinal, achava que poderia ser muito divertido, muito interessante. Então, eu aproveitei a tese pra investigar sobre isso e ao mesmo conseguir fazer pesquisa com crianças, finalmente. 

  p Então eu fui procurar tudo que tinha sobre… foi bem focado em teste de usabilidade, porque eu tentei definir um foco bem claro, pra não ficar amplo demais, né? Mas eu também procurei referências sobre pesquisa em geral, com crianças, que métodos você tem que adotar, que adaptações você tem que fazer no protocolo de pesquisa, na questão de ética, né? 

  p Tem várias coisas que a gente faz um pouco diferente quando você vai lidar com criança. Porque você não pode, a criança não é responsável por assinar um termo de compromisso, coisas do tipo. Então você tem que falar com o pai antes. No meu caso, eu fiz nas escolas, né? Então eu tive que pedir pra escola enviar pros pais um termo, pra eles autorizarem as crianças a participarem. A escola teve que autorizar. Então são níveis de burocracia maiores. 

  p Ao mesmo tempo, tem que ter uma adaptação na forma como você cria tarefas e situações pras crianças. Uma dificuldade que eu tive, que eu não esperava muito, que é, num teste de usabilidade você cria um cenário, você pede para o participante se imaginar aquilo lá e colaborar com você, usando a imaginação.

  p “Imagine que você está procurando uma bolsa. Como é que você faria?”. Aí ele entra ali no jogo. Pra criança, se aquilo não tem interesse pra ela, ela não vai querer fazer. Tinha uma dose de motivação extra que eu tinha que colocar nas tarefas e pedir pras crianças conseguirem fazer aquilo. Então a gente tinha algumas… eu propus algumas tarefas e a ideia era ver como as crianças pesquisavam sobre assuntos na internet. 

  p A pergunta que eu queria responder é: “Eles são nativos digitais, porque eles nasceram depois da internet, diferente de mim, que não nasci e eu tive que me adaptar a isso, né? Então, mas será que o fato de já ter nascido com essa possibilidade, faz com que as crianças saibam lidar com a tecnologia? Saibam encontrar a informação e usar a internet da melhor forma?” 

  p Então eram alguns pontos que a gente queria investigar para dizer se eles têm… eu não sei se tem um termo em português, mas em inglês é Web Literacy, que é se eles conseguem usar a web proficientemente, alguma coisa desse tipo.

  p Então, deixa eu lembrar… Se eles sabem navegar na web. A questão de usar hiperlinks, de ir de um lugar pro outro, se sabem como é que funciona. Se sabem definir as queries de busca, definir problemas de busca e colocar, e investigar aquilo da melhor forma na internet, e uma coisa muito importante que é se eles sabem julgar uma fonte que é boa ou que não é boa. É legal que se aplica a adultos também. 

  p #[span.eyebrow.-dark Izabela] É! É o que tava pensando exatamente aqui! Por exemplo, eu mesmo tem hora que eu vou buscar alguma coisa, eu penso uma coisa, e na hora que eu vou digitar, eu digito outra. E com criança então deve ser mais interessante ainda. Quantos anos mais ou menos tinham essas crianças?

  p #[span.eyebrow.-dark Elisa] Pois é! A minha orientadora me disse para definir um foco bem específico, porque crianças mudam muito de um ano pro outro. Então eu delimitei por “crianças que estavam na quarta série”, só quarta série do ensino fundamental. E aí pegou de… tinha uma de oito, uma ou outra de oito, mas a maioria de nove, dez. Então, eu escolhi ser da quarta série, porque achei que fechar por série seria um grupo mais homogêneo do que pegar crianças de nove e dez, porque se eu pego uma criança da quarta série, a da quinta série tá um pouquinho mais avançadinha. Então o corte foi por turma mesmo.

  p E aí o que que a gente fez? Tinha algumas tarefas que levavam a criança a usar mecanismos de busca. A ideia era ver se ela sabia formular uma busca e depois de encontrar o resultado, se ela sabia avaliar se aquilo era confiável, se era bom, se era a resposta para o que ela tava procurando. 

  p Uma coisa que surgiu bastante, desde o começo, elas dizendo: “Eu sempre busco e encontro coisas na Wikipedia, mas a minha professora falou que a Wikipedia não é confiável, porque qualquer um pode editar lá. Qualquer um pode botar qualquer coisa na Wikipedia, então não vou lá.” 

  p Mas então o que as crianças faziam… Tinha uma tarefa que era: “Encontre onde é Madagascar e me mostre”. Então na tarefa, eu esperava que ele achassem um mapa. Aí eles digitavam “Onde é Madagascar?”. Quando você digita uma pergunta desse jeito assim, formulada como pergunta, não palavra-chave, geralmente você encontra o primeiro resultado no Yahoo! Respostas, né? E era o que acontecia com a crianças. 

  p Iam todas no Yahoo! Respostas, achavam uma pergunta lá. Às vezes era uma resposta ok, mas muitas vezes não era, e elas acreditavam, “Ah, Madagascar é isso aqui”. Ou às vezes elas nem chegavam em uma resposta que era válida pra questão. Às vezes elas só falavam “Ah, Madagascar é África”, “Madagascar é outra coisa”, sabe? Então elas tinham essa orientação dos professores de que o Wikipedia era ruim, mas não sabiam como avaliar uma coisa que fosse boa. 

  p Eu fiz isso em uma escola particular e em uma escola pública, pra ver se tinha alguma diferença, era a mesma coisa. Eles não tinham uma orientação de como encontrar a informação na internet. Mas foi bem legal! Foi bem legal fazer pesquisa com crianças. 

  p É engraçado que todas queriam muito participar. Participar, porque era uma coisa diferente que elas iam fazer. Elas iam usar o computador, era uma moça diferente que tava lá na escola, e porque eles iam sair da aula também, né? Iam sair da aula um pouquinho pra participar. E, como recompensa, a gente geralmente dá, sei lá, uma vale compras, ou mesmo um brinde em dinheiro. Pras crianças eu levei chocolates, fiz estrategicamente. 

  p #[span.eyebrow.-dark Izabela] Era festa! Que ótimo!

  p #[span.eyebrow.-dark Elisa] Era festa! Pois é, aí as professoras me falaram: “Olha, você vai fazer com cinco ou dez, no máximo?”, “É isso”, “Então, você tem que trazer chocolate pra turma toda, pra ninguém se sentir excluído”. Ah então tá bom, eu trouxe chocolate para todos. Eles ficaram muito felizes.

  p #[span.eyebrow.-dark Izabela] Ah que legal! Então, desde 2005 você trabalha com UX, passou pela Consultoria Try, a agência Click e Wall. Também foi líder de experiência do usuário na Predicta, e pesquisadora de experiência do usuário na área de inovação e canais digitais do Itaú. É isso mesmo? 

  p #[span.eyebrow.-dark Elisa] É, basicamente isso mesmo. Foram experiências razoavelmente diferentes entre si e eu achei isso bom. Então eu fiquei na Try uns dois anos e o foco lá era muito usabilidade. Na época, a gente fazia teste de usabilidade, praticamente. Não tinha outras… A gente fazia um grupo ou outro, mas a gente não fazia arquitetura de informação. No máximo, para sugerir uma melhoria para um site, a gente fazia um wireframe, era isso. 

  p E aí da Try eu fui pra Click, e na Click eu virei Arquiteta de Informação mesmo. Esse era o nosso cargo, e era o que eu queria fazer. Eu queria fazer wireframe. Eu já tinha feito dois anos de teste de usabilidade, eu queria aprender outra coisa. E aí fiquei na Click mais um ano e meio. Foi bem bacana, mas era bem diferente. Eu ficava um pouco chateada de não conseguir fazer tanta pesquisa no dia a dia, mas acho que isso é comum de agência. 

  p #[span.eyebrow.-dark Izabela] Ah, eu acho.

  p #[span.eyebrow.-dark Elisa] Tinha uma pesquisa ou outra. Às vezes, eu podia ajudar a escolher o fornecedor e analisar o resultado, porque como eu já tinha experiência, eu ajudava nisso, mas não fazia parte de todos os processos, sabe? 

  p #[span.eyebrow.-dark Izabela] Mas então na Click você pode desenvolver mais a questão da, talvez, da ideação, da prototipação? Fazia mais wireframes, mais materializar as ideias no papel, assim? Você desenvolveu muito pesquisa na Try, né? E lá você começou a desenvolver os inputs de pesquisa e colocar as ideias no papel e tal.

  p #[span.eyebrow.-dark Elisa] É, exatamente, a gente só não falava nada de ideação e prototipação na época. A gente só dizia “fazer wireframe”, que era no PowerPoint, para começar. E aí depois de alguns meses surgiu o Axure e a gente começou a usar o Axure, graças à Deus. Ninguém merece fazer wireframe no Power Point, não dá pra fazer nada. O que era legal é que a Click tinha… a Click que hoje não é mais Click. 

  p #[span.eyebrow.-dark Izabela] Isobar, né?

  p #[span.eyebrow.-dark Elisa] É. Tinha muitos projetos rápidos de propaganda, hotsite, tal, mas tinha projetos projetões. E eu conseguia pegar esse projetões, então trabalhei para banco, fiz intranet e gostava de fazer essas coisas mais complicadas, em que você fica um tempo se dedicando ao cliente, você entende mais a fundo, e vai e volta com cliente. Isso era legal. 

  p No UOL já foi diferente de novo. Tem essa coisa de quando você tá em consultoria, você fica um mês no projeto e larga. Na Click, eu tinha sorte de pegar projetos até grandinhos. Você entrega o projeto e não quer mais ver. No UOL foi bem diferente, porque aí eu tinha um produto meu, né? Aí eu virei PO mesmo. Product Owner de produtos, alguns produtos de e-commerce e tal. Então era legal, porque não tinha essa experiência de acompanhar o crescimento do produto, ver se tava dando resultado o que eu tinha desenhado, olhar métricas. Vieram coisas que a gente não tinha, porque a gente entregava e não via mais o que aconteceu com o site do cliente. 

  p Então foi muito legal, acompanhar o desenvolvimento mais perto, lidar com o dia a dia mesmo, com tudo o que dava para fazer, tudo o que não dava para fazer. Tem um lado bom e um lado ruim de estar numa consultoria. Quando você tá numa consultoria, você sugere a melhor solução: “Olha, eu acho que é isso que você tem que fazer”, e você torce pro cara implementar aquilo. Quando você vai virar PO de um produto, você vai entrar na no dia a dia mesmo, você vê tudo que você não consegue fazer. Todas as limitações, e legados, e problemas, e empecilhos, sei lá. Coisas que você tem que driblar pra conseguir fazer a melhor experiência de usuário. Mas eu gostava, porque aquilo era a vida real, sabe? 

  p Foi bem bacana. Foi bem bacana pra aprender como lidar com o dia a dia mesmo. Você se sentia mais dono do que tava fazendo. Isso era muito legal. A gente lidava com cada coisa que ia pro ar. 

  p #[span.eyebrow.-dark Izabela] Imagino que você deve ter um contato maior do início ao fim, né? Igual você diz.

  p #[span.eyebrow.-dark Elisa] Sim, exatamente! 

  p #[span.eyebrow.-dark Izabela] E lá você trabalhava mais com o UOL ou com outras marcas também do UOL? Que eu acho uma diferença que tem também quando a gente de agência, e de consultoria, mas mais agência, mais para uma empresa de tecnologia da informação, o UOL, empresa mais de informação, na verdade, né? Portal. Você tem um tanto de cliente e aí depois, no UOL, talvez você tenha só um, ou então algumas submarcas, né? Algumas marcas de produto. Deve ser legal isso também. Poder focar mais de entender a marca, os desafios de negócio, as pessoas. 

  p #[span.eyebrow.-dark Elisa] Sim. Era bem isso. No UOL, na minha época… eu sei que hoje já mudou tudo, já faz tempo. Mas na minha época tinha essa divisão de produtos e conteúdo. Eu estava em produtos, então, produtos era PagSeguro, Shopping UOL, tinha o Emprego Certo, na época. E aí conteúdo, a home do UOL, que todo mundo conhece, que tem todos os canais de conteúdo. Então eu tinha alguns produtos que eu cuidava. Com o tempo, como eu já fazia pesquisa, eu comecei a cuidar dos fornecedores de pesquisa e receber, então eu fazia esse intermédio. Depois a gente começou a internalizar pesquisa lá. Foi bem bacana. 

  p Mas sim, isso que você falou é totalmente isso. Você passa a ter um cliente só e a acompanhar ele no dia a dia.

  p #[span.eyebrow.-dark Izabela] Do UOL você foi ser líder de experiência do usuário na Predicta?

  p #[span.eyebrow.-dark Elisa] Foi. Na Predicta era mais consultoria de novo. Isso já era um pouco mais amplo do que a gente fazia na Try, porque já era outro momento. Então a gente fazia arquitetura, design de interação com os clientes, fazia teste de usabilidade também, fazia outros tipos de pesquisa. E eu entrei com especialista, depois minha chefe saiu e eu fiquei no lugar dela. E tive uma equipe muito legal, muito bacana. Adoro todos. Beijo gente.

  p E foi bem legal, foi bem legal pra poder retomar várias técnicas de pesquisa que não dava tempo de fazer na agência, ou no UOL. Então, aprendi bastante coisa também. E aí, depois disso eu fui pro Itaú. No Itaú era o começo da área de inovação e canais digitais. Em 2011, né? Então a minha equipe tinha duas pessoas, aí eu fui a terceira, e a minha função era mais ou menos ser a pessoa de pesquisa da área. Então tinha engenheiro, tinha desenvolvedor, tinha designer, tinha uma psicóloga que ia entrar. A minha função era facilitar a pesquisa pra todo mundo. Eu fazia pesquisas, mas de forma geral eu tentava orientar todo mundo a aprender sobre pesquisa, e a colocar a pesquisa nos projetos de todos, né? 

  p Na verdade, foi um período curto que eu fiquei no Itaú. Foi por uma questão que, quando eu saí da Predicta, eu já tinha ideia de trabalhar sozinha. E aí quando eu já tava pensando em sair, surgiu o Itaú. Aí eu pensei: “Não, vou, né? Super legal”. Mas não era bem o momento pra mim, sabe? Eu queria mesmo tentar uma carreira solo, fazer as coisas do meu jeito e fora de escritório. Então foi aí que eu saí do banco e montei a Dialog, minha consultoria, em 2012. Acho que já faz 4 anos.

  p #[span.eyebrow.-dark Izabela] Antes de a gente falar sobre a Dialog e TESTR, eu queria que a gente falasse um ponto que eu achei bem legal, que você participou da criação do capítulo paulista, da UPA, que é a Associação de Profissionais de Experiência do Usuário, né?

  p #[span.eyebrow.-dark Elisa] Sim, sim. É então, foi 2009, acho. Então a Lúcia Figueiras, professora da POLE, ela chamou a gente. Eu, Andressa Vieira, Stefan Martins. Tinha um grupinho assim que ela conhecia de mercado, porque sempre tem esse pequeno abismo entre mercado e Academia, né?

  p #[span.eyebrow.-dark Izabela] É verdade.

  p #[span.eyebrow.-dark Elisa] Quem tá na Academia não vai pro mercado e que tá no mercado não se aproxima tanto da Academia. Então a Lúcia queria dar uma aproximada. Então ela resolveu reativar essa ideia de ter a UPA, no capítulo de São Paulo e chamou a gente para fazer parte, porque afinal, a UPA é uma Associação de Profissionais, né? Então é legal ter gente do mercado e ter gente da Academia também. As duas coisas.

  p Então, a gente fez um processo burocrático lá. Para abrir a UPA na época precisava de dez pessoas e tinha um corpo diretor, a coisa toda. E foi um bom aprendizado. Um dos objetivos da UPA, como Associação, era fomentar o contato das pessoas e trocar informação, orientar quem tá começando. Então o primeiro evento que a gente fez foi o World Usability Day, e a gente continua fazendo isso todos os anos. E depois a gente começou a pensar em outros eventos menores. Tinha o UX Camp que é um evento mais… O WUD era um palestrão, né? Onde tinham palestrantes, eles vinham, assistiam, tal. O UX Camp era pra ser um evento mais informal. Então a gente tinha algumas salas, e aí você chega lá e você decide “Ah eu quero falar sobre isso. Vamos discutir sobre isso?”, “Claro!”. Aí vamos todos para a sala discutir. E tinha um mais informal ainda, que era o UX31, que todo dia 31 do mês, as pessoas iam pra um bar, e aí no bar podiam discutir coisas sérias ou não sérias. E é isso.

  p Hoje, a UPA na verdade é UXPA, né? Porque ela evoluiu de Usabilidade para User Experience.

  p #[span.eyebrow.-dark Izabela] Ah tá.

  p #[span.eyebrow.-dark Elisa] Então, eu fiquei na UPA, ainda como UPA, até 2011. Eu saí porque não estava conseguindo lidar com a pós e com a UPA, estava muita coisa. 

  p #[span.eyebrow.-dark Izabela] Sei. 

  p #[span.eyebrow.-dark Elisa] Então decidi “vou dar um tempo” e tal. Mas hoje tem um grupo bem legal cuidando, elas estão fazendo várias coisas.

  p #[span.eyebrow.-dark Izabela] Pra quem tiver interesse em se aproximar da UXPA, hoje, que que deve fazer? 

  p #[span.eyebrow.-dark Elisa] Olha, acho que tem o Facebook da UXPA, que é o melhor caminho. Elas sempre estão postando as coisas lá e convites para eventos, tal. Acho que é por aí. Tem várias formas de participar. Desde, acho que o UX31 continua, como evento assim. E elas estão fazendo eventos às quintas feiras, mais informais. Então, tá bem legal. É bem aberto pra quem quiser participar. A UPA, ou UXPA, sempre foi um espaço assim que quem quiser participar de reunião pode participar, sabe? Não precisa ser um diretor para estar lá ajudando e contribuindo de alguma forma. E é um trabalho voluntário. Então, sempre precisando de gente.

  p #[span.eyebrow.-dark Izabela] Eu li em algum lugar que a sua cachorrinha, que se chama Gato, foi inspiração pra você deixar o emprego fixo e começar a carreira solo. Como é que foi isso? Teve alguma coisa mais por trás dessa decisão para começar a trabalhar por conta própria? Como é que foi? 

  p #[span.eyebrow.-dark Elisa] Foi mais ou menos isso. Em 2010, surgiu a Gato, que é minha cachorra, fêmea.

  p #[span.eyebrow.-dark Izabela] Aham.

  p #[span.eyebrow.-dark Elisa] E eu comecei a repensar isso de “Nossa, eu tenho que sair todo dia e eu tenho que ver essa carinha triste olhando para mim, pensando ‘Que horas ela vai voltar? Será que ela volta essa vez?”. E aí eu comecei a repensar a vida. Já me incomodava um pouco, com a rotina de escritório, de ficar muitas horas fora de casa. Não ter flexibilidade na vida. Me incomodou a ideia de não conseguir, sei lá, ir no médico sem ter que faltar no trabalho, sabe? Bom, enfim, foi uma reunião de várias questões. Eu já tava pensando nisso a um tempo, desde 2010. E chegou num momento que eu pensei: “Não, eu acho que é hora de tentar trabalhar de outra forma”. E aí  foi quando eu saí do banco. Eu já pensava nisso desde a época… desde 2010. Em 2010 eu tava no UOL ainda, e foi quando a gente adotou a Gato, enfim. Foi meio pensando num jeito diferente de trabalhar. De não ficar presa a uma rotina. Me incomodava muito você ter que ficar horas de trabalho num lugar, mesmo não tendo o que fazer, sabe?

  p #[span.eyebrow.-dark Izabela] Sei.

  p #[span.eyebrow.-dark Elisa] Você pensava “Poxa, se eu não tenho o que fazer, porque eu não posso ir pra casa?”, sabe? Isso é uma coisa que não acontece em empresa. Então eu quis experimentar de outro jeito. Funcionou, e agora é difícil eu voltar pra um escritório de novo.

  p #[span.eyebrow.-dark Izabela] E aí então 2012 você criou a UX Dialog, que é uma consultoria de experiência do usuário, não é?

  p #[span.eyebrow.-dark Elisa] Isso mesmo. 

  p #[span.eyebrow.-dark Izabela] Como é que é o seu trabalho na UX Dialog? 

  p #[span.eyebrow.-dark Elisa] A minha ideia é fazer, como consultora, a mesma coisa que uma empresa de consultoria faria. Uma das motivações que me fez também sair de empresa é que quando você começa a virar Sênior, especialista, você tem dois caminhos na vida, né? Ou você vira chefe e gerencia uma equipe. Ou você vira especialista, aquela pessoa quem entende muito do assunto, e vai orientar outras pessoas. Nem todas as empresas têm esse caminho de especialistas. Algumas têm carreira em Y, outras não têm. Mas eu tava sentindo que eu não queria… eu gostava de ser chefe, não tô reclamando disso, mas eu sentia falta de colocar a mão na massa. De ir a campo,  de aplicar um teste de usabilidade, de fazer as coisas do dia a dia. 

  p Quando você começa a virar chefe, gerente, líder, você não pode mais fazer isso, né? Porque a sua hora começa a ficar muito preciosa, então você tem que orientar outras pessoas e não pode se envolver tanto assim. Você fica mais no macro, né?

  p Eu sentia falta disso, então foi um dos motivos que me fez: “Não, eu quero fazer tudo, do começo ao fim”, como se fosse uma UX artesanal mesmo.

  p Em vez de ter uma equipe em que cada uma faz uma coisa e tal, eu queria tentar fazer, eu, sozinha. Então, na Dialog é assim, eu não tenho funcionários. Eu às vezes contrato pessoas para me ajudar, geralmente pessoas que já trabalharam comigo, e tal, que eu confio. Mas, no geral, eu cuido de todas as etapas e eu acho que isso é uma coisa muito positiva, porque a gente elimina o ruído.

  p Quando você tem, por exemplo, uma faz o planejamento, outra faz o campo, e outra vai fazer a análise, isso pode acontecer, você vai ter que ter uma comunicação muito grande entre elas. Agora, enquanto eu estou fazendo tudo, eu tô cuidando de todas as etapas, do começo ao fim, tá tudo na minha cabeça. Quando eu vou escrever o relatório, eu já planejei, já moderei todos os testes, já acompanhei tudo que aconteceu. E tá tudo na minha cabeça, só passar pro papel e contar pra outras pessoas o que aconteceu. É, foi essa a proposta. Quando é necessário, eu chamo outras pessoas pra me ajudar, geralmente em campo, quando a gente tem que formar duas equipes, esse tipo de coisa. Para recrutar pessoas, às vezes para trabalhar no Design visual, que eu não sei fazer Design visual, né? Ou para ajudar em prototipação também, quando a gente tem um prazo muito curto, então eu chamo alguém pra me ajudar. Mas é isso.

  p #[span.eyebrow.-dark Izabela] Eu vi no no site que você coloca que você pode ajudar os clientes, tanto na etapa de pesquisa, na etapa de design de interação, desenhando wireframes… Tirando o Visual Design, você trabalha em todas as etapas então, né? Na etapa de pesquisa, na etapa de Design interação, desenhando wireframe, protótipo, que até você já faz, fazia isso nos outros trabalhos, e também na avaliação. Então você oferece soluções bem amplas, né?

  p #[span.eyebrow.-dark Elisa] É. Eu não vou mentir. O que eu gosto mais fazer é a parte de pesquisa. Mas eu acho muito legal fazer um protótipo quando ele foi embasado numa pesquisa anterior ou quando você vai prototipar e testar, e prototipar novo. Isso eu acho muito legal de fazer. 

  p Eu evito pegar projetos em que eu tenho só que fazer prototipação, ou só wireframe, só isso. Então prefiro quando tem uma etapa de pesquisa antes, ou uma validação depois. É o ideal.

  p #[span.eyebrow.-dark Izabela] É, mas foi isso que me chamou a atenção mesmo. Assim, você oferecer de forma mais ampla. Que tem gente que só oferece a pesquisa, e aí não desenha. Mas você oferece o todo, né? E eu vi que na UX Dialog você também oferece workshops e cursos sobre testes de usabilidade, né?

  p #[span.eyebrow.-dark Elisa] Sim! 

  p #[span.eyebrow.-dark Izabela] Eu acho que isso pode interessar muita gente que ouve o Movimento UX. Queria que você contasse sobre isso.

  p #[span.eyebrow.-dark Elisa] É, isso começou meio de brincadeira, porque tinha uma amiga que, que ela trabalhava como designer. E ela falou: “Olha Elisa, eu queria aprender a fazer mais teste. Posso ficar te seguindo pra ver como é que você faz no dia a dia, aprender com você e tal? Por que você não dá um curso?”. 

  p Tá bom, vou fazer isso sim. Vou montar o curso e vou soltar. Se tiver mais gente, aí eu dou. Aí montei um curso, em 2013, que era um curso fácil assim, de 4 horas. E aí muita gente apareceu. Esgotou muito rápido. Aí eu “Nossa, acho que existe uma demanda”. E aí desde então eu organizo cursos, que são cursos livres. Então quem quiser pode participar.

  p Os cursos acontecem a cada, sei lá, um no primeiro semestre, um no segundo semestre. E hoje são oito horas de curso. Eu fico até pensando em expandir, porque cada vez que eu faço o curso eu penso em mais coisas que eu podia dizer. Mas a ideia do curso é dar uma visão bem prática de como é fazer um teste de usabilidade. Desde o planejamento, pensar no objetivo da pesquisa, o que você quer descobrir. Passa pela criação do roteiro, pela moderação, o que você pode falar, como vou falar. Tem exercício pra mostrar pra pessoa como é que é ficar com uma poker face na hora, né?

  p E tem um pouco de cenários também. A gente usa alguns exemplos fictícios, outros exemplos reais, pra mostrar como extrair informação dali, de teste ou de uma tabulação de teste, né? Então é bem legal. Foi uma das melhores coisas que eu fiz recentemente foi começar a dar cursos, viu? Porque, a gente, parece bobagem falar isso, né? Mas quem tá dando curso aprende muito, porque é um jeito… Eu tinha toda essa informação na minha cabeça, essa coisa que eu fui aprendendo na prática, com o tempo, que tava uma névoa na cabeça, né?

  p Quando você vai fazer um curso, você organiza tudo isso. “Olha, tem isso, tem aquilo”. E te obriga também a estudar, rever as referências que você tinha lido há dez anos atrás, para colocar e passar pras pessoas. Aprendo muito com o tipo de dúvida que as pessoas têm. E aí você percebe: “Nossa, isso não é óbvio. Podia deixar isso mais claro”. E ao mesmo tempo você percebe que tudo que você sabe, nossa, é mesmo, as pessoas não sabem fazer isso, e eu já aprendi. É muito bacana, muito legal dar curso.


  p #[span.eyebrow.-dark Izabela] Legal.

  p #[span.eyebrow.-dark Elisa] E agora eu vou… o próximo vai ser um workshop, vai ser um pouquinho mais curto, de quatro horas no, UX Conf, que vai ser em Maio, daqui um mês praticamente. Vai ser super legal. Porto Alegre.

  p #[span.eyebrow.-dark Izabela] Porto Alegre, né? Dia 20 e 21, né? É vai ser super legal. Quero muito ir nessa conferência. E no ano passado você criou a TESTR, que é uma empresa de teste de usabilidade remoto.

  p #[span.eyebrow.-dark Elisa] Então, foi uma coisa doida isso, porque partiu que eu tava procurando uma ferramenta para usar como consultora. Quando você faz teste no dia a dia… eu adoro fazer teste, adoro moderar, falar com a pessoa, estar ali ao vivo, é ótimo, mas dá um trabalhão. 

  p Esse negócio de recrutar, de achar a pessoa na hora certa, achar a pessoa certa. A moderação mesmo ela é muito desgastante. Você faz oito testes num dia e depois cai morto, porque é um nível de atenção extrema que você tem que ficar. Tem que ficar prestando atenção se a pessoa tá navegando direito, se tá entendendo o que você quis dizer, tem que ver se ela tá cumprindo os objetivos, as pesquisa, é muita coisa ao mesmo tempo.

  p E aí eu comecei a olhar testes remotos, não moderados, que é uma forma bem bacana de você ampliar e falar com mais gente, sem ter tanto trabalho, sabe? Não tem de você ter que marcar com cada pessoa, e ter um horário certo. Você dispara o teste e as pessoas respondem para você.

  p E aí eu procurei uma ferramenta pra isso. Mas eu não gostei muito das opções que eu achei, porque eu queria fazer um teste bacana com todos os elementos do teste moderado tradicional, que já fazia, né? Mas remoto, e via que as ferramentas que eu encontrava não chegavam a esse ponto. E aí eu tava conversando com um amigo, e ele falou: “Ah, por que você não faz uma sua?”. Eu: “Como assim fazer uma minha? Não sei fazer ferramenta”. Ele: “Claro que sabe! Você sabe fazer o Design de interação, você sabe o que as pessoas precisam, você sabe fazer pesquisa. Você só não sabe desenvolver, aí obviamente você contrataria alguém pra fazer”. Olha! Tá bom! E foi aí que surgiu a ideia.

  p É, trabalhando nisso, surgiu a ideia em 2014. E aí a gente trabalhou bastante ano passado e agora estamos em fase de pré lançamento. Então alguns clientes já podem usar a ferramenta. É bem legal. Lembra que eu falei de quando eu fui pro UOL e tinha um produto meu, e de acompanhar o dia a dia, ver crescendo? É a mesma sensação. Agora não tô entregando um projeto para um outro cliente, torcendo para dar certo. 

  p Agora eu tô vendo se tá dando certo, se não tá, o que tá dando errado. Eu cuido do dia a dia, das métricas, cuido do comercial. Cuido de tudo. É outra coisa.

  p #[span.eyebrow.-dark Izabela] Aham. E o Fabrício Teixeira, que no episódio passado ele falou uma coisa que eu achei interessante, que tem a ver que teve uma época… eu não posso falar com tanta propriedade, porque eu não vivi isso, mas que parece que as ferramenta de prototipação, elas tiveram um boom e que agora parece que é o momento das ferramentas de teste de usabilidade remoto. Ou pela facilidade que, como você está comentando assim, pode ser uma simplificação na forma das pessoas entenderem se o que elas estão projetando e criando, se está fazendo sentido, porque tem muita gente reclamando, muito gente de agência, reclamando essa questão de que não consegue se aproximar muito de pesquisa ou às vezes mesmo pessoas que não estão em agência, estão começando suas empresas ou mesmo trabalha com consultoria, que às vezes precisa fazer uma coisa um pouco mais rápida, com menos custo. E eu acho que as pessoas estão comentando bastante dessas ferramentas e eu não conhecia nenhuma ferramenta brasileira até que eu olhei a sua, que eu entrei no site e tal. Eu achei muito legal isso, de ter uma ferramenta brasileira.

  p #[span.eyebrow.-dark Elisa] Tem muito a ver o que você falou, porque é bastante pensando nisso que a gente criou o TESTR. A gente sabe que muita gente gostaria de incluir pesquisa no projeto. Mas pesquisa é muito demorado ou não sei fazer, ou custa caro, ou não sei como recrutar as pessoas. Eu passo por isso na vida de consultora. Às vezes eu faço uma proposta pra um cliente, mas ele não pode esperar duas, três semanas. Ou ele não tem dinheiro, porque é caro. Fica caro! Tem a hora do moderador, você tem uma sala de espelho, custa caríssimo. Se você não tem uma sala de espelho, você tem um custo alto com recrutamento, porque você tem que achar a pessoa certa, a pessoa tem que poder vir até você, você tem o brinde do participante. Você vai pagar pra compensar a pessoa vir até você. 

  p Então, fazer teste remoto, ainda que seja moderado mesmo, já tira boa parte do trabalho. Você não precisa de uma estrutura física e tal. Mas às vezes, só de você ter que agendar com a pessoa no horário específico, e ela tem que estar lá e você estar lá, e funcionar, já é uma complicação. 

  p Então a gente conversou com bastante gente, no ano passado, de várias áreas. Gente de agência, gente de consultoria, gente de portal, gente que trabalha com UX na empresa pra entender se existia uma demanda dessa de verdade, porque pra mim fazia todo o sentido criar uma ferramenta. Eu usaria, Elisa, né? Mas será que as outras pessoas iam usar também?

  p Então fui conversar com várias pessoas. Então a gente ouvia coisas do tipo… um cara de e-commerce, ele cuida de conversão de e-commerce, ele: “Olha, a gente tem muita coisa pra investigar, mas eu não sei por onde começar, não sei o que fazer. Eu contrato uma consultoria”. Era o cara que me contratava como consultora, mas ele não podia me contratar o tempo inteiro. Porque às vezes ele tinha uma dúvida específica: “Nossa, queria mudar um label”. Ele não vai fazer um teste de usabilidade inteiro, né? Com todo o planejamento, para fazer uma investigação pontual. Então para isso, uma ferramenta como o TESTR é muito bacana, porque é muito mais leve, muito mais rápido e fácil de fazer. Você pode investir o dinheiro que é bem menor pra fazer uma pesquisa pontual.

  p Também tinha gente que falava coisas do tipo… um cara que trabalha num portal. O cara sabe fazer pesquisa, ele tem uma equipe dele, as pessoas fazem pesquisa no dia a dia, mas não dá tempo. Ao mesmo tempo que ele sabe investigar e trabalhar com pesquisa com usuário, ele também tem que fazer wireframe, ele tem que cuidar da área de negócios, ele tem ajudar no que há de desenvolvimento. Então ele não tem tempo. Podemos dizer que ele não tem verba para ter uma consultoria o tempo todo ali, fazendo pesquisas no dia a dia. Então nisso o TESTR se encaixa, né?

  p E tem o caso que você até citou. Pra quem tá em agência, por exemplo, a gente sabe que agência é um ritmo de festa né? Corrido. Então, às vezes é difícil você conseguir fazer uma validação, uma investigação daquilo que você tá propondo. Então a gente vê o teste remoto não moderado, como um jeito de pessoas, que não fazem pesquisa no dia a dia, fazerem pesquisa, incluírem pesquisa no projeto. 

  p E para quem já faz, é um jeito de ampliar. Se você consegue fazer com cinco pessoas no mês, com o teste remoto não moderado você consegue fazer com quinze, vinte, porque o custo financeiro e o custo de tempo é muito menor. Isso amplia o nosso poder mesmo. 

  p A gente sabe que um teste remoto não moderado, ele não entrega a mesma coisa do que um teste presencial, porque você tem menos contato com a pessoa. Ele é menos qualitativo. Mas o ganho de poder de quantidade de tempo vale muito a pena, né? Se encaixa muito pra quem está trabalhando com o ciclo de desenvolvimento ágil, por exemplo. Eu vou desenvolver um protótipo e eu quero já descobrir se tá bacana. Eu vou testar com algumas pessoas, depois eu faço um outro protótipo, testo mais um pouquinho. Então tem um ganho de agilidade muito grande ali.

  p #[span.eyebrow.-dark Izabela] E uma dúvida. Vamos pegar esse exemplo aí. Eu estou com um protótipo, e aí eu quero testar ele. E aí eu entrego o protótipo pra vocês, vocês colocam lá e aí as pessoas… Primeiro, a base. Eu tenho que ter a base, ou vocês têm a base pra gente testar?

  p #[span.eyebrow.-dark Elisa] Depende. Pode ser duas coisas. A gente tem uma base nossa. A gente tá trabalhando pra crescer essa base, pra ficar bem robusta, né? Ou o cliente pode optar por fazer com a base dele. Depende de cada caso. Por exemplo, se for um e-commerce, bem popular, que todo mundo usa no dia a dia, provavelmente dá pra usar nossa base, porque não tem requisitos muito complexos. Se for testar o site de um banco, por exemplo, aí provavelmente o banco pode querer usar os clientes dele, porque a gente não tem na nossa base, que tipo de banco a pessoa usa, sabe?Então varia de projeto para outro. 

  p Mas a ideia é que você tem um protótipo para testar. Aí você vai, publica. A gente precisa que ele esteja online, porque a pessoa faz aquilo online. No TESTR tem uma interface que dá para você criar o roteiro de teste. Então lá você define que tarefas a pessoa vai fazer e que perguntas você vai fazer pra pessoa poder fazer as tarefas. Então se você vai testar uma loja de sapatos. Aí você coloca lá: “Encontre o produto de seu interesse e mostre como você faria para descobrir o valor com o frete”. É isso que a pessoa vai ver e ela vai fazer no site, né? E aí pode ser no site ou no seu protótipo. Do nosso lado, depois que a gente cria, a gente tem uma etapa de consultoria. Isso foi uma coisa que a gente não tinha na ideia original. E a gente acabou agregando porque a gente percebeu que tinha um valor. 

  p Lá atrás, no ano passado, a gente começou a conversar com muita gente sobre o assunto, primeiro para validar, pra ver se era uma ideia que fazia sentido. Depois eu comecei a desenhar a ideia. Aí eu desenhei no papel, e aí eu levava… “Gente, faz sentido isso?”. Aí eu desenhei no Axure, fiz um protótipo bem bonitinho. E a gente foi fazendo validação aos poucos pra ver se tava legal, se fazia sentido. E o produto foi mudando muito ao longo do tempo. Então o produto de 2014 é bem diferente do que a gente tá lançando agora.

  p E uma das coisas que surgiu é que as pessoas tinham uma certa dificuldade de montar um roteiro bacana, de definir o enunciado da tarefa de um jeito mais eficiente pra testar o que elas queriam testar. Nem todo mundo sabe fazer teste de usabilidade, nem todo mundo sabe fazer roteiro, e a ideia é que você não precisa ser um especialista nisso pra usar uma ferramenta, porque depois que o cliente vai e cria o roteiro lá, a gente dá uma olhada. A gente faz uma moderação, uma revisão. Então se rolou, desde errinhos de português até erros conceituais de tarefa, a gente vai dar uma ajuda: “Olha, isso você não pode pedir para a pessoa, por exemplo, colocar o cartão de crédito”. Você tem que falar pra pessoa, senão vai dar tudo errado durante o teste.

  p Se a ideia é testar a funcionalidade de salvar nos favoritos, você tem que criar um cenário. Você não pode criar uma tarefa “Salve nos favoritos”. E aí é esse tipo de expertise que a gente traz com esse TESTR. Não é uma ferramenta total self-service. A gente percebeu que isso tinha um valor pros clientes que iam usar. A gente orienta sobre como criar o roteiro, como analisar isso depois, e se a pessoa criar uma coisa que a gente acha que não vai dar muito certo, a gente ajuda revisar, a melhorar isso. E isso faz com que a gente tenha responsabilidade sobre o resultado também, porque se a pessoa cria um roteiro de tarefas que não faz muito sentido, isso vai afetar os resultados. Você sabe disso. 

  p #[span.eyebrow.-dark Izabela] Sei.

  p #[span.eyebrow.-dark Elisa] E aí, de quem é a culpa? É da pessoa ou é do TESTR? Então, se a gente revisa, ajuda a criar, fazer o planejamento da pesquisa, a gente tem pouco mais de responsabilidade. A gente garante que você vai ter um resultado bacana com isso.

  p #[span.eyebrow.-dark Izabela] Legal, muito legal.E além da ferramenta gravar a navegação, a integração das pessoas com o que está sendo testado, vocês têm aquela funcionalidade também de avaliar como que é a reação, a expressão das pessoas quando elas estão fazendo a tarefa?

  p #[span.eyebrow.-dark Elisa] Tem. Então, essa é uma coisa que a gente quis fazer, desde o começo, que complicou muito o desenvolvimento. Mas a gente queria ter. As ferramentas gringas, elas têm o quê? Elas têm a navegação na tela, então grava a tela e pega o áudio da pessoa. Mas eu testando como consultora, sinto muita a falta de ver quem que era a pessoa. Qualquer era a cara que ela estava fazendo, se ela tava chateada. Às vezes você não percebe por um comentário. Às vezes a pessoa não diz nada, mas ela faz uma cara que já te diz tudo.

  p #[span.eyebrow.-dark Izabela] É! Isso deve influenciar muito, né? 

  p #[span.eyebrow.-dark Elisa] Influencia para caramba. Não só na análise do que a pessoa tá fazendo, te ajuda a criar uma relação maior com a pessoa ali. Eu não sou muito de telefone, porque sinto falta de ver o que a pessoa tá expressando ali quando ela tá falando e conversando, né? E com a webcam a gente tem um ganho de informação bem legal.

  p Então o que o TESTR entrega é navegação na tela, dá pra ver o mouse da pessoa clicando. Tudo normal, né? O áudio da pessoa comentando e a webcam, sincronizada com tudo. É bem parecido com o vídeo que a gente teria num teste tradicional moderado. A ideia é entregar bem próximo disso. 

  p Além do vídeo, a gente tenta ir um pouquinho além, que é entregar já a informação, não só um vídeo bruto. Isso foi uma coisa que a gente também descobriu fazendo pilotos com pessoas de UX, que só entregar o vídeo bruto dá muito trabalho pra cuidar e analisar. Você vai ter que ver um vídeo inteiro pra ver o que aconteceu.

  p Então o que a gente tá fazendo? A gente automatiza o que a gente pode de análise do resultado, então, a cada tarefa que a pessoa completa, ela diz se completou, se conseguiu ou não conseguiu. Se ela conseguiu, ela tem o rating de muito fácil a muito difícil. E isso já fica lá online automático no relatório. Então já tem um jeito de ir direto na pessoa que achou difícil ou na pessoa que demorou muito para fazer as tarefas. 

  p Também tem o tracking de tempo, né? Então, além do vídeo, a gente entrega uma previsão de resultado já automatizando sucesso tarefa, as respostas da pessoa por escrito, e o tempo de tarefa também que acho que isso é bem bacana.

  p #[span.eyebrow.-dark Izabela] Legal, parece muito legal. Vou colocar um link para as pessoas poderem conhecer o TESTR. Então pensando sobre testes de usabilidade, os novos padrões de interação, as novas formas de interação que estão surgindo, queria que a gente falasse um pouquinho disso, porque eu acho que a forma como o que as pessoas usam os produtos digitais, por exemplo, desktop, telefone, óculos inteligente, relógio inteligente, hoje a gente tem até lente inteligente, né? Tá evoluindo bastante os padrões de interação. Em vez de clique ou toque na tela, as pessoas estão começando a interagir com piscada de olho, um aceno de cabeça, um movimento corporal, como palmas pra acender uma luz. E eu fico pensando que isso deve ser um desafio muito grande para os testes de usabilidade, né? 

  p Como que funciona o processo de avaliação frente esses desafios todos? Dessa grande evolução, essa rapidez de evolução da tecnologia e os novos produtos. Como é que é isso?

  p #[span.eyebrow.-dark Elisa] Olha, é um desafio extra, porque além da… durante muitos anos, só que se fez no computador, né? Então a maioria das ferramentas que existem é pra gravar a tela do computador. Gravar o clique do mouse. Agora a gente tem algumas coisas para gravar no celular. Mas se você for para outras coisas, pro Google Glass, para coisas que mal têm tela, você não tem como gravar isso, acompanhar de alguma forma. 

  p Mas aí eu acho que não é tão dramático assim, porque você pode usar técnicas para pesquisa tradicional. O que que você faz em uma observação, num teste de usabilidade? Você observa a pessoa utilizando o produto. Você vai conseguir gravar o que ela tá vendo no Google Glass? Não. Não sei. Talvez tenha algum jeito de projetar em algum lugar. Mas o fato de você estar observando o que ela está fazendo vai te dar uma grande quantidade de informação, né? 

  p Quando a gente não tinha… Tinha uma época que a gente mal conseguia gravar a tela do computador. O que que a gente fazia? Observava, anotava, e conversava com a pessoa depois. Às vezes a gente faz pesquisa com o celular, às vezes eu faço pesquisa meio de guerrilha assim, em contexto. Aí eu vou na casa da pessoa, e eu tenho que filmar o celular dela, e ela tem que usar o wi-fi, aí a luz tá ruim e o vídeo fica horroroso, a estrutura é horrível. Mas o que mais importa é você estar ali com a pessoa, observando que ela está fazendo. 

  p Então às vezes não tem ferramenta pronta, não tem um framework certo para você usar. Aí você usa a criatividade né? Não tem muito jeito. Quem se preocupa com a interface é a gente. As pessoas querem resolver problemas, certo? 

  p #[span.eyebrow.-dark Izabela] Certo.

  p #[span.eyebrow.-dark Elisa] Elas podem resolver aquele problema no site, no aplicativo, no software, no papel. Ela vai resolver do jeito que ela acha bom. Uma coisa muito importante disso que você tava falando que eu até esqueci de comentar na pergunta anterior. Quando você começa a ter interface diferentes, não-interfaces, muda o contexto. Por isso que a forma da gente fazer teste tradicional não se aplica a todos os casos. O tradicional é o que? Você chama as pessoas numa sala, coloca ela na frente do computador. Não é mais desse jeito que isso acontece. 

  p Mesmo com celular, você traz a pessoa num lugar, mas só para eliminar a variável, mas a pessoa tá usando em um contexto diferente, uma situação diferente. É difícil você reproduzir isso no mundo real. É mais difícil fazer pesquisa, né? Se você tem que ir até onde a pessoa está fazendo, no momento que ela estava fazendo aquilo lá. O que a gente faz, você tenta atacar de várias formas. 

  p Você pode tentar fazer uma coisa que aprendi eu aprendi na Pós que é a triangulação. Você faz vários tipos de pesquisa, para atacar um problema de jeitos diferentes. Por exemplo, se você quer avaliar uma interface… Vou usar um exemplo que eu já fiz, né? De corretora de seguros. A pessoa tem um lugar lá que ela faz a cotação do seguro. Você pode analisar só com enterrados. 

  p Você pode fazer isso até com uma análise heurística, sem sair do escritório. Mas a gente tinha um componente que era muito importante que acontece hoje. O uso daquela interface não era de uma pessoa só. Eram várias pessoas. O cara que fazia a cotação, ele não fazia sozinho, ele passava pro chefe. E o chefe avaliava e depois respondia pra ele. Isso tudo acontecia sem interface nenhuma. Iam lá as pessoas em campo e ver como era o dia a dia delas mesmo, a gente via que o cara não mandava por e-mail. Isso que ele tinha contado: “Ah eu mando pro meu chefe”. Eu imaginava: “Ah, ele manda um e-mail, ou ele manda um PDF, ou a própria ferramenta tem um jeito de mandar”. Não. Ele anotava num papel que tinha uma planilha inteira impressa no papel. Ele anotava, ia até a mesa do chefe e levava e isso resolvia o problema dele. O que era a interface? Era o papel ali. Então, nesse caso, foi muito útil fazer essa triangulação. 

  p A gente analisar a interface era uma coisa. A gente observar o contexto de uso, como é que as pessoas fazem de verdade, era outra coisa. Não era nem teste de usabilidade, era só observação mesmo e depois a gente conversava pra entender o que estava acontecendo ali. às vezes a interface dele, ele tava no telefone atendendo uma ligação e fazendo uma cotação ao mesmo tempo. Isso você não consegue reproduzir em uma situação de teste. É mundo real, né?

  p Mas ao mesmo tempo a gente olhava métricas, que vão te dar a real também do que tá acontecendo. Quantas pessoas fazem isso, quantas pessoas fazem aquilo. Então, no mundo ideal você aborda o mesmo problema de vários jeitos diferentes. Teste de usabilidade é só um dos jeitos. É muito legal, muito divertido e muito útil, mas tem outras coisas que você pode fazer também.

  p #[span.eyebrow.-dark Izabela] Vamos falar então sobre repertório. E repertório sobre pesquisa e avaliação em UX. Que dicas que você dá? Pode ser livro, pode ser vídeo de palestra, blog.

  p #[span.eyebrow.-dark Elisa] Legal. Eu acho que ajuda muito você ter informações, não só de testes de usabilidade e pesquisa em si. Tem um livro que foi bem útil pra mim, que é um livro da Susan… Não sei falar bem o sobrenome dela, mas acho que é Weinschenk. E ela tem esse livro que chama ‘100 Coisas que Todo Designer Deve Saber Sobre Pessoas’. É um livro ótimo de ler. São historinhas curtas, quase anedotas assim, mas ela exemplifica coisas do tipo: a forma como você conta uma história, muda o registro daquela história na sua cabeça. Então sabe “Quem conta um conto aumenta um ponto”? Toda vez que eu tô contando uma lembrança, eu tô contando as coisas pra você, eu tô modificando aquilo internamente, e isso é uma coisa muito importante pra gente saber. Se eu peço pra pessoa: “Ah me conta como é que você faz cotações de seguro no dia a dia”. Aquilo é o jeito que a pessoa está lembrando, e quando ela vai contando, ela vai construindo aquela coisa, naquele momento. É a realidade aquilo? Não sei. É importante que seja a realidade? Para pesquisa com usuário, para entender o uso, é importante. Se você for um psicólogo, você pode estar mais interessado na visão que a pessoa tem daquilo, como ela se sente em relação àquilo. Mas, pro nosso caso é importante. Então, enfim, esse é um livro ótimo. Tem muitas histórias que, nossa, mudou o meu jeito de pensar sobre o assunto. 

  p Deixa eu lembrar... Ah eu recomendaria o blog do Fabrício. O Fabrício é meu amigo, sou meio suspeita, mas ele consegue fazer uma reunião de muita coisa. Ele é um bom curador de conteúdo.

  p #[span.eyebrow.-dark Izabela] E para fechar, o que você diria para quem quer começar a trabalhar com UX de forma mais independente? 

  p #[span.eyebrow.-dark Elisa] Ah, tem várias coisas pra dizer. Vamos ver. Bom. Olha, me ajudou muito, vou falar da minha experiência, né? Porque é isso que eu tenho. O que ajuda muito é você ter uma rede de contatos. No começo, quando você abre empresa, vira freela, vira independente, você vai ter um período do limbo, em que nada vai acontecer. Você vai ficar um mês, dois meses, podem ser vários meses, em que nada vai surgir. Isso é normal, não precisa desistir. Uma hora a coisa engrena.

  p Se você tem uma rede de contatos e contar para todo mundo desses contatos. Seus contatos e seus amigos viram clientes em potencial. Então eu recomendaria pra quem que virar independente, primeiro trabalha em vários lugares, faz vários amigos da área. 

  p Não sei se é um bom caminho, sei lá, “Vou começar a trabalhar em UX de forma independente”. Porque você não teve a vivência de como funcionam as empresas, não aprendeu com outra pessoas ainda. E você não tem contato suficiente pra começar. E depois quando você começa, um cliente indica o outro, um cliente indica o outro e aí vai. 

  p E uma outra coisa muito importante é saber guardar dinheiro, porque você nunca sabe quando vai ter dinheiro, quando não vai ter. Às vezes você trabalha muito, às vezes você trabalha bem pouco. E você precisa contar com um dinheirinho no fim do mês, né? Então exige uma certa organização. Eu acho que não é o caminho para todo mundo assim. Você tem que saber se organizar, trabalhar bem sozinho. A gente lida com uma certa solidão. Mas tem vários pontos positivos, como poder viajar a qualquer momento, poder trabalhar no horário que eu funciono melhor e não no horário que a empresa impôs pra mim. E poder passear com as cachorras a qualquer momento, isso é muito legal também.

  p #[span.eyebrow.-dark Izabela] Elisa, muito obrigada pelo apoio e por fazer parte do Movimento UX.

  p #[span.eyebrow.-dark Elisa] Que isso! Eu que agradeço, achei muito divertido. 

  hr

  p [Música]

  p #[span.eyebrow.-dark Izabela] Chegamos ao fim deste que é o sexto episódio, hoje num papo via Skype com a Elisa Volpato. Eu espero que você tenha gostado. Tem uma novidade bem legal pra você. Nos dias 20 e 21 de Maio, vai rolar a UX Conf, uma conferência de UX brasileira, em Porto Alegre, e você pode fazer a sua inscrição com 10% de desconto, usando o código promocional Movimento UX na página do evento, que é uxconf.com.br.

  p Ah, e claro, pra conferir os outros episódios, é só acessar o canal do Movimento UX no SoundCloud, ou no iTunes. 

  p No próximo episódio, vou conversar com a Jane Vita. Obrigada e até lá!

  hr

  ul.links
    li Transcrição: #[+link-text('Camila Gondo', 'https://www.linkedin.com/in/gondocamila/')]
    li Revisão: #[+link-text('Renata Moreira', 'https://www.linkedin.com/in/remoreira/')]
