include /components/includes

+meta-head(
  'Robson Santos, Episódio 11 — Movimento UX',
  'Designer Estratégico na PorQueNão?. Pesquisa para produto, estratégia de UX, usabilidade.',
  'https://movimentoux.com/ux-design/robson-santos/',
  '',
  'episode'
)

+header('on')

+episode-section(
  'Robson Santos',
  'Designer Estratégico na PorQueNão?.',
  'Pesquisa para produto, estratégia de UX, usabilidade.',
  '11',
  '11-robson-santos.jpg',
  '',
  '-inside',
  '',
  'https://open.spotify.com/episode/4V8hMmEQeyfxawx3Zo03IR'
)

+episode-player('ep-11')

section.episode-content
  //- +episode-tabs

  .episode-text
    include intro
    //- include transcricao

  include sidebar

+meta-js
