include /_assets/pug/meta
include /_assets/pug/header
include /_assets/pug/episode
include /_assets/pug/player
include /_assets/pug/js

+meta(
  'Eduardo Loureiro, Episódio 3 — Movimento UX',
  'Sócio gerente DesignThinkers Brasil. Co-criação, transição de agências, empreendedorismo.',
  'http://movimentoux.com/ux-design/eduardo-loureiro/'
)

body(data-page='episode')

  +header('on', '', '')

  #barba-wrapper
    .barba-container
      +episode(
        'Eduardo Loureiro',
        'Sócio gerente DesignThinkers Brasil.',
        'Co-criação, transição de agências, empreendedorismo.',
        '03',
        '03-eduardo-loureiro.jpg',
        '',
        '-inside'
      )

      +player('episodio-3-eduardo-loureiro')

      section.episode-content
        .tab.on#intro
          include intro.pug

//- don't forget js
+js
