include /components/link

.text
  p Oi, gente!
  p Neste 14º episódio, o último do ano, tive a honra de conversar com o Fabricio Dore, Diretor Executivo de Experiência do Usuário (UX) na McKinsey de São Paulo.
  p A gente conversou sobre sua extensa trajetória como Designer de Interação Sênior na IDEO em São Francisco, Chicago e Munique por mais de quatro anos; Head de Inovação Digital do Itaú e Diretor de UX na Huge e na Sapien Nitro de Londres.
  p Além de suas experiências nestas empresas - e como a vivência em outras culturas influenciam hoje o seu trabalho - falamos também sobre seu retorno ao Brasil e o desafio atual na área digital da McKinsey para o mercado da América Latina. Ele também dá dicas de habilidades importantes a serem desenvolvidas pra quem trabalha com Experiência do Usuário, nos conta o que é Design Centrado na Atividade e muitas outras coisas!
  
  p Os projetos do Fabricio sobre os quais falamos neste podcast são:
  ul.links
    li #[+link('Ford: MyFordTouch (2005)', 'https://owner.ford.com/how-tos/sync-technology/myford-touch/setup/sync-system-overview.html')]
    li #[+link('AT&T: Home Manager (2008)', 'http://gizmodo.com/5053128/att-home-manager-landline-meets-smartphone')]
    li #[+link('Common Bank of Australia: Pi Plataforma de Pagamentos (2011)', 'https://www.ideo.com/case-study/new-digital-ways-to-pay')]
    li #[+link('Pictet Asset Management: sites globais e estratégia de UX (2015)', 'https://www.am.pictet/en/uk/individual')]

  p E as dicas que ele deixou pra gente são:
  ul.links
    li #[+link('Livro Design Sprints do Google Ventures', 'https://amzn.to/2Vva0pP')]
    li #[+link('Livro The Lean Startup', 'https://amzn.to/2DEiDUM')]
    li #[+link('Livro Users, Not Customers: Who Really Determines the Success of Your Business', 'https://www.amazon.com.br/Users-Not-Customers-Determines-Business-ebook/dp/B004XFYND8/')]
    li #[+link('Blog Invision', 'https://www.invisionapp.com/inside-design/')]
    li #[+link('Blog Intercom', 'https://blog.intercom.com/')]
    li #[+link('Portal TechCrunch', 'https://techcrunch.com/')]
    li #[+link('Portal Ars Technica', 'http://arstechnica.com/')]
    li #[+link('Aplicativo de notícias Quartz', 'http://qz.com/')]
  
  p Tenho uma novidade pra contar pra vocês: vamos produzir as camisas do podcast! Olha como ficou linda e aproveita pra pedir a sua nesse rápido #[a(href='http://bitly.com/CamisasMUX' title='Formulário de pedidos' target='_blank' rel='noopener').link.-alt formulário de pedidos].
  p No próximo podcast, vou conversar com o Guilherme Neumann, UX Designer no Nubank.
  p Obrigada por acompanhar o Movimento UX e até a próxima edição!

.sidebar
  h3.eyebrow Localização
  p São Paulo
