include /components/includes

+meta-head(
  'Viviane Delvequio, Gerente de Pesquisa em Design no PagSeguro. Episódio 28 — Movimento UX. Conversas sobre pesquisa em experiência do usuário. UX Research.',
  'Operações de Pesquisa em Design — Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Terceira Temporada. Conversas sobre pesquisa em experiência do usuário. UX Research.',
  'https://movimentoux.com/temporada-3/viviane-delvequio/',
  'https://movimentoux.com/assets/img/share/28-viviane-delvequio.jpg',
  'episode'
)

+header('', '', 'on')

+episode-section(
  'Viviane Delvequio',
  'Gerente de Pesquisa em Design no PagSeguro.',
  'Operações de Pesquisa em Design.',
  '28',
  '28-viviane-delvequio.jpg',
  '',
  '-inside',
  '',
  'https://open.spotify.com/episode/1RDwdN6L4Hn89Fb3EgPO8O'
)

//- +episode-player('viviane-delvequio')

section.episode-content
  //- +episode-tabs

  .episode-text
    include intro
    //- include transcricao

  include sidebar

+meta-js
