.tab.on#intro
  p Oi! Hoje a conversa é com a Viviane Delvequio, gerente de Pesquisa em Design no PagSeguro. Vamos falar sobre Research Ops, ou no bom portugues, Operações de Pesquisa.
  p Acho esse tema importante porque cada vez mais falamos sobre a necessidade de escalar a pesquisa em Design e disseminar o conhecimento sobre os usuários nas empresas. Ao mesmo tempo, esse parece ser um dos grandes desafios da disciplina neste momento.
  p A Vivi foi a primeira pesquisadora que conheci a assumir uma posição de liderança para estruturar a área com essa mentalidade. A experiência dela pode nos ajudar a pensar mais sobre nosso contexto e como levar os aprendizados para o dia a dia.

  blockquote "... Gosto da definição que diz que Research Ops ou Operações de Pesquisa é o conjunto de processos, pessoas e ferramentas para que a pesquisa aconteça no dia a dia da empresa...”

  .episode-gallery
    .img #[+image('28-foto-01.png', 'Texto e ilustração complementar à definição que a Vivi comenta acima.', 'Artigo', 'https://www.uxmatters.com/mt/archives/2019/01/researchops-and-user-experience.php', 'border')]
    .img #[+image('28-foto-02.png', 'Tipos de suportes de pesquisa no PagSeguro.', '', '', 'border')]

  +image('28-foto-03.png','Orientando pesquisas e exemplo de testes remotos no PagSeguro.')

  +episode-links({
    1: {
      type: 'Artigo',
      title: 'Visão estratégica de Operações de Pesquisa (em inglês)',
      url: 'https://medium.com/researchops-community/leveling-up-your-ops-and-research-a-strategic-look-at-scaling-research-and-ops-eec38133f7cc'
    },
    2: {
      type: 'Artigo',
      title: 'Reflexões sobre a prática de pesquisa durante a pandemia e o isolamento social',
      url: 'https://medium.com/pagsegurodesign/ux-research-na-pandemia-voce-precisa-mesmo-fazer-essa-pesquisa-ac5bf205efc3'
    },
    3: {
      type: 'Site',
      title: 'Site com recursos e ferramentas dedicados à pesquisa com usuário (em inglês)',
      url: 'http://guidetouxr.com/'
    },
    4: {
      type: 'Templates',
      title: 'Templates de atividades de pesquisa do Gabriel Bastos',
      url: 'https://www.gabinsights.com.br/templates?lang=pt'
    },
    5: {
      type: 'Instagram',
      title: 'Dicas do Gabriel Bastos sobre como fazer pesquisas',
      url: 'https://www.instagram.com/gab.insights/'
    },
    6: {
      type: 'Instagram',
      title: 'Dicas da Sheylla Lima para o dia dia de pesquisa em UX',
      url: 'https://www.instagram.com/sheylla_uxresearch/'
    },
    7: {
      type: 'Medium',
      title: 'Bônus: textos da Sheylla Lima sobre como fazer pesquisa em UX ',
      url: 'https://sheylla-uxresearch.medium.com/'
    },
    8: {
      type: 'Site',
      title: 'Notion: ferramenta para organização e gestão dos aprendizados de pesquisa',
      url: 'https://www.notion.so/'
    },
    9: {
      type: 'Podcast',
      title: 'Episódio com a Camila Borja sobre treinamento não ser escalável',
      url: 'https://www.movimentoux.com/temporada-2/camila-borja-pt1/'
    },
    10: {
      type: 'Artigo',
      title: 'Atomic Research pelo Tomer Sharon (em inglês)',
      url: 'https://medium.com/@tsharon/foundations-of-atomic-research-a937d5da5fbb'
    },
    11: {
      type: 'Artigo',
      title: 'Atomic Research pelo Daniel Pidcock (em inglês)',
      url: 'https://blog.prototypr.io/what-is-atomic-research-e5d9fbc1285c'
    }
  })

  p #[strong Patrocinador deste episódio]
  p O Banco BMG foi o patrocinador deste episódio! Um super obrigada à equipe de Design do BMG por apoiar financeiramente o podcast e incentivar a produção de conteúdo sobre UX em português para a comunidade.

  hr

  p As músicas deste episódio são do produtor Richard Garrel com seu projeto #[+link('Aeoner', 'https://aeoner.bandcamp.com')].
  p Até a próxima entrevista! Ah, enquanto isso vou adorar manter contato no #[+link('Twitter', 'https://twitter.com/izabeladefatima')].

  hr

  +newsletter