include /_assets/pug/link

.text
  p No 11º episódio do Movimento UX você vai ouvir o papo incrível e divertido que eu tive com o Robson Santos.
  p A gente conversou sobre seu dia a dia de trabalho na PorQueNão, como pensar estrategicamente na Experiência do Usuário, a evolução do mercado de UX no Brasil e muito mais!
  
  .gallery
    .img
      img(src='/_assets/img/11-foto-01.jpg' alt='')
      span.caption Cabeceira do Robson, lado esquerdo.
    .img
      img(src='/_assets/img/11-foto-02.jpg' alt='')
      span.caption Cabeceira do Robson, lado direito.
  
  p O que está na cabeceira do Robson hoje? Olha só o que ele respondeu quando perguntei o que ele está lendo:
  ul.links
    li #[+link('Mangá: Tokyo Ghoul', 'https://www.amazon.com.br/Tokyo-Ghoul-Vol-Sui-Ishida/dp/142158039X/')]
    li #[+link('Mangá: The Innocent', 'https://www.amazon.com.br/Innocent-%C3%9Anico-Avi-Arad/dp/8577876918/')]
    li #[+link('Mangá: All You Need Is Kill', 'https://www.amazon.com.br/All-Need-Kill-Hiroshi-Sakurazaka/dp/8545701012/')]
    li #[+link('Livro: A maldição do Tigre', 'https://amzn.to/2Pz2YLf')]
    li #[+link('Livro: O que é a filosofia? — Gilles Deleuze e Félix Gatarri', 'https://amzn.to/2VwkYv3')]
    li #[+link('Livro: Tres Ensaios Sobre A Teoria Da Sexualidade — Freud', 'https://amzn.to/2J75dEB')]

  p A dica de leitura sobre UX que ele deixou pra gente foi:
  ul.links
    li #[+link('Livro: Experience Design — Nathan Shedroff', 'https://amzn.to/2GQMj36')]

  p No próximo episódio eu vou conversar com o Sergio Salvador, diretor de Experiência do Usuário da HUGE no Rio de Janeiro. 

.sidebar
  h3.eyebrow Localização
  p Rio de Janeiro
