include /components/meta-head
include /components/header
include /components/episode-section
include /components/episode-player
include /components/episode-tabs
include /components/meta-js

+meta-head(
  'Andre do Amaral, Episódio 18 — Movimento UX',
  'Designer de Produto na Netflix. Visual design, design digital, UX em outros países.',
  'https://movimentoux.com/ux-design/andre-do-amaral/'
)

body(data-page='episode')

  +header('on')

  +episode-section(
    'Andre do Amaral',
    'Designer de Produto na Netflix.',
    'Visual design, design digital, UX em outros países.',
    '18',
    '18-andre-do-amaral.jpg',
    '',
    '-inside'
  )

  +episode-player('andredoamaral')

  section.episode-content
    //- +episode-tabs

    .episode-text
      include intro.pug
      //- include transcricao.pug

    include sidebar.pug

+meta-js
