include /components/link

.sidebar
  .info
    h3.eyebrow Localização
    p São Francisco

    h3.eyebrow Social
    p #[+link('Site pessoal', 'http://www.doamaral.com/')]

    h3.eyebrow Download
    p #[+link('Arquivo MP3', '#!', 'download')]