include /components/link-text

.episode-sidebar
  .info
    h3.eyebrow Localização
    p São Francisco

    h3.eyebrow Social
    p #[+link-text('Site pessoal', 'http://www.doamaral.com/')]

    h3.eyebrow Download
    p #[+link-text('Arquivo MP3', '#!', 'download')]