include /components/includes

+meta-head(
  'Guilherme Neumann, Episódio 15 — Movimento UX',
  'UX Lead no Nubank. Cultura de experiência, design de produto, liderança em design.',
  'https://movimentoux.com/ux-design/guilherme-neumann/',
  '',
  'episode'
)

+header('on')

+episode-section(
  'Guilherme Neumann',
  'UX Lead no Nubank.',
  'Cultura de experiência, design de produto, liderança em design.',
  '15',
  '15-guilherme-neumann.jpg',
  '',
  '-inside'
)

+episode-player('guilhermeneumann')

section.episode-content
  //- +episode-tabs

  .episode-text
    include intro
    //- include transcricao

  include sidebar

+meta-js
