.about-social {
  display: flex;

  @media (max-width: $sm) {
    margin-bottom: $spacing-4;
  }

  > .item {
    margin-right: $spacing-2;
  }

  > .item .icon {
    display: block;
    transition: transform $timing $easing;

    &:hover,
    &:focus {
      transform: translateY(-4px);
    }
  }
}
