.about-footer {
  padding: 0 $spacing-body-x $spacing-body-x;

  @media (max-width: $sm) {
    padding: 0 $spacing-4 $spacing-4;
  }

  > .madewithlove {
    margin: $spacing-8 0 $spacing-2;
    display: block;
  }
}
