.about-description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  > .description {

    @media (max-width: $sm) {
      width: 100%;
    }
  }

  > .description .header {
    // margin-bottom: $spacing-8;

    @media (max-width: $sm) {
      margin-bottom: $spacing-2;
      font-size: 9.2vw;
      line-height: 1.2em;
    }
  }

  > .description p {
    // width: 60%;
    // width: 34.375rem;
    // padding-bottom: $spacing-4;

    @media (max-width: $sm) {
      width: 100%;
      padding-bottom: $spacing-2;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}
