.description {
  @include paragraph;

  // @media (max-width: $sm) {
  //   width: 100%;
  // }
}

.description .header {
  // margin-bottom: $spacing-8;

  @media (max-width: $sm) {
    margin-bottom: $spacing-2;
    font-size: 9.2vw;
    line-height: 1.2em;
  }
}
