.episode-content {
  width: 100%;
  padding: $spacing-body-y $spacing-body-x calc(#{$spacing-body-y} + #{$spacing-8});
  background-color: $white;
  color: $black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $sm) {
    padding: $spacing-4 $spacing-4 $spacing-10;
  }
}
