.episode-content {
  width: 100%;
  padding: $spacing-body-y $spacing-body-x calc(#{$spacing-body-x} + #{$spacing-8});
  background-color: $white;
  color: $black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $sm) {
    padding: $spacing-4 $spacing-4 $spacing-10;
  }

  // .wrapper {
  //   display: flex;

  //   @media (max-width: $sm) {
  //     flex-direction: column;
  //   }
  // }

  // .episode-text {
  //   width: 100%;
  // }

  // .tab {
  //   width: 100%;
  //   display: none;

  //   &.on {
  //     display: flex;
  //     animation: tabShow 0.8s $easing backwards;
  //   }
  // }

  // .text {
  //   @include paragraph;

  //   width: 100%;
  //   margin-right: $spacing-8;

  //   @media (max-width: $sm) {
  //     margin-right: 0;
  //   }

  //   figure, video {
  //     margin: $spacing-12 0;

  //     @media (max-width: $sm) {
  //       margin: $spacing-6 0;
  //     }
  //   }

  //   em {
  //     font-style: italic;
  //   }

  //   hr {
  //     width: 100%;
  //     max-width: $spacing * 80;
  //     border: calc(#{$spacing} / 2) solid $grayish;
  //     margin: $spacing-8 0;
  //   }

  //   figcaption {
  //     display: block;
  //     position: relative;
  //     padding-top: $spacing;
  //     color: $grayer;
  //   }

  //   .links {
  //     margin-top: -$spacing-3;
  //     margin-bottom: $spacing-4;
  //   }

  //   .links li {
  //     margin-bottom: $spacing-1;
  //     font-size: $font-size-text;
  //   }
  // }
}

// @keyframes tabShow {
//   0% {
//     transform: translateY(40px);
//     opacity: 0;
//   }

//   100% {
//     transform: translateY(0);
//     opacity: 1;
//   }
// }
