.episode-content {
  width: 100%;
  padding: $spacing-body-y $spacing-body-x calc(#{$spacing-body-x} + #{$spacing-8});
  background-color: $white;
  color: $black;
  display: flex;
  flex-direction: column;

  @media (max-width: $sm) {
    padding: $spacing-4 $spacing-4 $spacing-10;
  }

  .wrapper {
    display: flex;

    @media (max-width: $sm) {
      flex-direction: column-reverse;
    }
  }

  .content {
    width: 100%;
  }

  .tab {
    width: 100%;
    display: none;

    &.on {
      display: flex;
      animation: tabShow 0.8s $easing backwards;
    }
  }

  .text {
    width: 100%;
    margin-right: $spacing-8;

    @media (max-width: $sm) {
      margin-right: 0;
    }

    p {
      @include paragraph;
    }

    figure, ul, video {
      margin: $spacing-8 0;
    }

    em {
      font-style: italic;
    }

    hr {
      width: 100%;
      max-width: 38rem;
      border: 1px solid $gray;
      margin: $spacing-8 0;
    }

    *:last-child {
      margin-bottom: 0;
    }

    figcaption {
      display: block;
      position: relative;
      padding-top: $spacing;
      color: $grayer;
    }

    .links {
      margin-top: -$spacing-3;
    }

    .links li {
      margin-bottom: $spacing-1;
      font-size: $font-size-text;
    }
  }

  .sidebar {
    width: 100%;
    max-width: 14rem;

    @media (max-width: $sm) {
      max-width: 100%;
      margin-bottom: $spacing-8;
    }

    .info {
      transition: margin-bottom 920ms cubic-bezier(0.165, 0.84, 0.44, 1);
      backface-visibility: hidden;
    }

    .eyebrow {
      margin-top: $spacing-4;

      @media (max-width: $sm) {
        margin-top: $spacing-2;
      }
    }

    .eyebrow:first-child {
      margin-top: 0;
    }

  }

  .gallery {
    display: flex;
    justify-content: space-between;

    @media (max-width: $sm) {
      flex-direction: column;
    }

    .img {
      max-width: 48%;

      @media (max-width: $sm) {
        max-width: 100%;
      }
    }
  }

  .carousel .item {
    width: 100%;
  }

  blockquote {
    font-size: $font-size-quote;
    line-height: $line-height-quote;
    font-weight: 500;
    margin: $spacing-8 0;

    @media (max-width: $sm) {
      font-size: $font-size-text;
      margin: $spacing-4 0 $spacing-6;
      padding: $spacing-4 0;
    }
  }
}

@keyframes tabShow {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
