.episode-supporter {
  position: sticky;
  top: calc(#{$spacing-border} + #{$spacing-2});
  margin-top: $spacing-4;

  &:first-child {
    border: 0;
    margin-top: 0;
    padding-top: 0;
  }

  @media (max-width: $sm) {
    margin-top: $spacing-2;
    padding-top: $spacing-2;
  }

  .supporter {
    display: block;
    color: $black;
    transition: color $timing $easing;

    &:hover {
      color: $white;

      &::before {
        opacity: 1;
        transform: scale(1) translateY(0);
      }

      img {
        filter: brightness(0) invert(1);
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: -$spacing-2;
      left: -$spacing-3;
      width: calc(100% + #{$spacing-6});
      height: calc(100% + #{$spacing-4});
      background-color: $black;
      transform: scale(0.95) translateY($spacing);
      opacity: 0;
      transition: transform $timing $easing, opacity $timing $easing;
    }

    p {
      position: relative;
      font-size: $font-size-regular;
    }

    img {
      position: relative;
      max-width: 200px;
      margin: $spacing-2 0;
      display: block;
      transition: filter $timing $easing;
    }
  }
}
