.episode-tabs {
  width: 100%;
  margin-bottom: $spacing-body-y;
  display: flex;

  @media (max-width: $sm) {
    margin-bottom: $spacing-6;
  }

  li {
    margin-right: $spacing-4;
    font-size: $font-size-text;
    font-weight: 500;
  }

  .link {
    color: $black;

    &::before {
      background: $black;
      height: 2px;
      bottom: -$spacing-1;

      @media (max-width: $sm) {
        display: block;
      }
    }
  }
}

.tab {
  width: 100%;
  display: none;

  &.on {
    display: flex;
    flex-direction: column;
    animation: tabShow 0.8s $easing backwards;
  }
}

@keyframes tabShow {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
