.intro-episode {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  padding: $spacing-body-y $spacing-body-x $spacing-body-x;
  scroll-snap-align: start;

  @media (max-width: $sm) {
    display: block;
    height: auto;
    padding: $spacing-2 $spacing-4 $spacing-4;
  }

  > .text {
    width: 100%;
    z-index: 99;
    pointer-events: none;
    // transition: all $easing $timing * 3;
    transition: opacity $easing $timing;
    position: fixed;
    bottom: $spacing-body-x;
    opacity: 0;

    @media (max-width: $sm) {
      position: relative;
      bottom: 0;
      opacity: 1;
    }
  }

  > .text .header {
    max-width: 38%;
    margin: $spacing-1 0;
    z-index: 99;
    // transition: all cubic-bezier(0.86, 0, 0.07, 1) $timing * 3;
    transition: font-size $easing $timing;

    @media (max-width: $sm) {
      max-width: 100%;
    }

    .part {
      margin-left: $spacing-2;
      font-size: $font-size-part;

      @media (max-width: $sm) {
        margin-left: $spacing-1;
        font-size: $font-size-text;
      }
    }
  }

  > .number {
    font-size: 8.1vw;
    line-height: 0.9em;
    font-weight: 700;
    position: fixed;
    bottom: $spacing-body-x;
    display: flex;
    align-self: flex-end;
    color: $black;
    text-shadow: -2px 0 $white, 0 2px $white, 2px 0 $white, 0 -2px $white;
    // transition: all cubic-bezier(0.86, 0, 0.07, 1) $timing * 3;
    transition: opacity $easing $timing;
    opacity: 0;

    @media (max-width: $sm) {
      display: none;
    }
  }

  > .buttons {
    display: flex;
    align-items: center;
    margin-top: $spacing-8;

    .link {
      margin-left: $spacing-2;
    }

    span {
      transform: translateY(1px);
      display: inline-block;
      margin-right: 4px;
    }
  }

  &.-clone {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }

  &.-inside {
    justify-content: center;

    @media (max-width: $sm) {
      padding-top: $spacing-10;
    }

    .text {
      pointer-events: all;
      position: relative;
      opacity: 1;
      bottom: 0;
    }

    .header {
      max-width: 50%;
    }

    .number {
      position: absolute;
      bottom: auto;
      opacity: 1;
    }
  }

  &.-active {
    > .text,
    > .number {
      opacity: 1;
    }
  }
}
