.intro-text {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: $spacing-body-y $spacing-body-x $spacing-body-x;

  @media (max-width: $sm) {
    justify-content: center;
    padding: $spacing-2 $spacing-4;
  }

  .header {
    margin: $spacing-2 0;
  }

  &.-about {
    margin-top: 30vh;
    height: auto;
  }
}
