.iframe-box {
  width: 100%;
  max-width: 700px;

  iframe {
    margin-left: -5%;
    width: 100%;
    max-width: 700px;
    height: 100%;
    min-height: 550px;
    overflow-x: hidden !important;

    @media (max-width: $sm) {
      margin-left: 0;
      max-width: 100%;
      min-height: 650px;
    }
  }

  @media (max-width: $sm) {
    max-width: 100%;
  }
}

.pesquisa-logo {
  max-width: 370px;
  margin-bottom: $spacing-8;
}

[data-barba='container'] {
  position: absolute;
  width: 100%;
}