.social-links {
  position: sticky;
  bottom: $spacing-body-y;
  right: $spacing-body-x;
  text-align: right;
  font-size: $font-size-text;

  > .eyebrow {
    margin-bottom: $spacing-1;
  }

  @media (max-width: $sm) {
    position: relative;
    left: 0;
    text-align: left;
    padding-top: $spacing-8;
  }

  &.-home {
    position: absolute;
  }
}
