.social-links {
  position: sticky;
  bottom: $spacing-body-x;
  right: $spacing-body-x;
  text-align: right;
  font-size: $font-size-text;

  > .eyebrow {
    margin-bottom: $spacing-1;
  }

  @media (max-width: $sm) {
    position: relative;
    bottom: auto;
    left: 0;
    right: auto;
    display: none;
  }

  &.-home {
    position: absolute;
  }
}
