.episode-friends {
  text-align: center;
  border-top: 2px solid $gray;
  margin-top: $spacing-4;
  padding-top: $spacing-4;

  @media (max-width: $sm) {
    margin-top: $spacing-2;
    padding-top: $spacing-2;
  }

  img {
    max-width: 170px;
    margin: $spacing-2 auto;
  }
}
