include /components/meta-head
include /components/header
include /components/episode-section
include /components/episode-player
include /components/episode-tabs
include /components/meta-js

+meta-head(
  'Pedro Beleza e Thiago Esser, Episódio 8 — Movimento UX',
  'Sócios-fundadores da UXConf. Conteúdo sobre UX, importância de comunidade, eventos de UX.',
  'https://movimentoux.com/ux-design/pedro-thiago/'
)

body(data-page='episode')

  +header('on')

  +episode-section(
    'Pedro e Thiago',
    'Sócios-fundadores da UXConf.',
    'Conteúdo sobre UX, importância de comunidade, eventos de UX.',
    '08',
    '08-pedro-thiago.jpg',
    '',
    '-inside'
  )

  +episode-player('uxconfbr')

  section.episode-content
    +episode-tabs

    .wrapper
      .content
        include intro.pug
        include transcricao.pug

      include sidebar.pug

+meta-js
