include /components/link

.sidebar
  h3.eyebrow Localização
  p Porto Alegre

  h3.eyebrow Social
  p #[+link('Pedro Belleza','https://br.linkedin.com/in/pedrobelleza/pt')]
  p #[+link('Thiago Esser','https://br.linkedin.com/in/thiagoesser/pt')]
