include /assets/pug/link

.text
  p [Música]

  p #[strong Izabela:] Olá, está começando o oitavo episódio do Movimento UX. Hoje, com uma edição especial sobre a segunda UXConf BR, conferência de UX que aconteceu na semana passada, em Porto Alegre. 

  p O papo foi lá mesmo com os organizadores da conferência, o Pedro Belleza e o Thiago Esser. O Pedro é designer de interação na Unidade de Pesquisa e Desenvolvimento da HP. E o Thiago é consultor de design de interação e experiência, e sócio da Wildtech. 

  p A gente conversou sobre a criação da UXConf BR, os bastidores da conferência, as novidades em relação ao evento do ano passado, as expectativas para 2017, e muito mais. 

  p Então vamos lá. Eu sou a Izabela de Fátima e esse é o Movimento UX. 

  hr

  p #[strong Izabela:] Estou aqui com o Pedro Beleza e o Thiago Esser, organizadores da UXConf BR, Conferência Nacional sobre UX e Design, dedicada a discutir a experiência do usuário sobre vários aspectos, que aconteceu nos dias 20 e 21 de Maio, em Porto Alegre. Pedro, Thiago, brigada pelo apoio! 

  p #[strong Thiago:] Obrigado pelo convite, Izabela. Ficamos muito felizes por estar falando sobre a UXConf com você. 

  p #[strong Pedro:] Brigado Isabela. Bom dia, e estamos felizes por você ter vindo nos prestigiar aqui no evento também. 

  p #[strong Izabela:] Ah eu também estou muito feliz. O Cristiano também. O evento foi fantástico e eu queria que a gente conversasse sobre o evento, e tentasse dividir um pouco do que rolou por aqui na UXConf. Então, pra começar, de onde veio a ideia de fazer a conferência? 

  p #[strong Thiago:] A ideia surgiu há um tempo atrás, nas conversas que eu tinha com o Pedro, sobre ter um evento de um UX nacional, uma vez que a gente tava meio carente de eventos nesse nosso cenário. Porque o Interaction South America, ele foi deixando de ser um evento que se realizava aqui no Brasil, pra ir pra outros países. Como eu acredito que teria, tinha que ser de fato o rumo dele.

  p Então, começou muito com essa conversa informal. Eu e o Pedro a gente fazia pequenas talks, a gente ia a eventos também, apresentava ideias como palestrante. E também não dá pra deixar de falar da parceria que eu tinha com Daniel e com o Rafael, que também são organizadores da UXConf. 

  p Mas no sentido de organizar eventos: a gente organizava pequenas palestras, ou enfim, eventos pequenos que nos deram expertise pra gente poder começar com a UXConf, e juntar a minha parceria com Pedro, em termos de conteúdo de UX e conhecimento na área de UX, com o conhecimento de organizar eventos que eu tinha junto com o Daniel e o Rafael. Embora todos nós fôssemos amigos já, a gente se conhecia de algum momento. E foi até legal a gente falar lá na UXConf que a gente se conheceu em evento mesmo. Então o próprio cenário de eventos nos fez com que a gente se conhecesse, e depois de um tempo a gente viesse a organizar um acontecimento como esse, por nossa própria conta. 

  p Foi legal a gente fazer isso um tempo depois e ter se conhecido num próprio evento. Então, essa junção de conhecimento da área de UX, de fazer palestras, com o conhecimento de organizar eventos, foi o que propiciou que a gente organizasse esse ano, e o ano passado, a UXConf. 

  p #[strong Izabela:] Então essa é a segunda edição do evento, né? Que que essa edição teve de novidade em relação ao evento do ano passado?

  p #[strong Pedro:] Olha, teve bastante coisa nova. O evento de 2015, nós fizemos num auditório bem menor, né? A capacidade para 130 pessoas, e aconteceu durante apenas um dia, de manhã e de tarde. 

  p O evento desse ano tomou uma outra proporção. Nós tivemos então dois dias de evento. Nós tivemos eventos paralelos também acontecendo. Na sexta feira de manhã, nós tivemos acontecendo simultaneamente 5 workshops. E também, simultaneamente, nós tivemos um espaço para o que a gente chama de Lightning Talks, que são palestras rápidas de cinco minutos. Então nós tínhamos um espaço físico diferente, né? Era o espaço lounge, bem aconchegante, super agradável, pra fazer com que as pessoas ficassem juntas, interagindo entre elas. E um mini palco com um púlpito, onde as pessoas poderiam ir ali palestrar, sem nenhum pré requisito de submissão anterior. Nós estimulamos que as pessoas fossem lá, falassem com a gente: “Olha, eu quero falar ali durante cinco minutos”. A gente passava microfone e a pessoa palestrava. Então isso foi uma grande novidade. Acho que deu super certo. 

  p E depois, as palestras, além de a gente tá numa outra dimensão. A gente teve um auditório com mais de 360 pessoas. Temos em número de público, mais de três vezes. 

  p A palestra também. Ela durava 20 minutos. E uma coisa bem interessante, que nós temos um timer, que é um relógio, uma contagem regressiva, onde quando acaba esse tempo, a gente estimula que a plateia comece a aplaudir, mesmo que a pessoa, que o palestrante ainda esteja no meio da sua fala. Isso nos ajuda a controlar o tempo do evento, torna o evento bastante dinâmico. Então a gente tem certeza que não vai haver atrasos em relação a uma pessoa ficar palestrando, enfim, pra mais. isso foi uma coisa bastante interessante, e esses foram os principais, modificações, enfim. Novidades, né? 

  p Nós tivemos também, nesse ano, food trucks, que foi uma coisa que o pessoal gostou bastante e fazia parte do preço do ingresso, então a pessoa não precisava, se quer pagar pra participar. E claro, o pós evento, que é uma coisa que todo mundo gosta, né? Happy hours também depois. Enfim, tinha alguns locais selecionados exclusivos, assim, para o evento, que também permite, então, que haja essa interação entre as pessoas. Isso foi muito bem recebido. O pessoal de fato aderiu também. E faz parte desse conjunto, né, de toda a experiência da pessoa no evento. 

  p Então, basicamente, o evento cresceu muito do ano passado pra cá, e isso fez também com que a gente atraísse de pessoas até de outras geografias, o que nos surpreendeu positivamente.Nós tivemos pessoas de todas as regiões do Brasil, tá? De Manaus, Recife, Fortaleza, Belo Horizonte, Brasília. Bom, aí de São Paulo pra baixo, né, também o pessoal participou em peso. Mas nós tivemos também participantes de outros países da América Latina, como por exemplo, Peru, Argentina e Chile. Isso mostra que o evento tomou uma dimensão que a gente sequer imaginava e estamos bastante felizes com isso. 

  p Essas são as principais, enfim, novidades que a gente teve no ano de 2016. 

  p #[strong Izabela:] E Pedro, vamos falar sobre a programação da conferência desse ano. Como é que vocês configuraram essa programação? 

  p #[strong Pedro:] Foi semelhante, um pouco, ao do ano passado, A gente tem duas maneiras básicas de fazer isso. Uma é convidar algumas pessoas que nós conhecemos, né? A gente tem uma rede de contatos muito grande. Eu e o Thiago, a gente, enfim, como ele já tinha falado, a gente frequenta muito eventos também, né? A gente já trabalha há algum tempo na área. Nós trabalhamos como designers também, então a gente conhece bastante o pessoal da comunidade. Algumas dessas pessoas nós convidamos. A gente sabe que tem um trabalho muito consistente, que tem um conteúdo interessante pra falar. A gente vai atrás dessas pessoas, a gente convida elas e felizmente todas aceitaram. 

  p E a gente tem, e é a maior parte, isso é muito legal, que é: a gente abre para submissões, certo? Então, a gente tem um formulário que a gente divulga para que qualquer pessoa também possa submeter a sua palestra. Então, quem tiver uma ideia interessante, um conteúdo bacana que acha que vale a pena ser compartilhado, a pessoa entra no formulário, faz uma descrição bem completa do que que vai ser a sua palestra. Depois a gente faz uma avaliação, né, e seleciona.

  p A gente ficou bastante surpreendido com o número de submissões que tivemos. A gente abriu no início de Fevereiro e fechamos no final de Fevereiro, que é um mês curto, que tem carnaval no meio. Então é um mês atípico, digamos. E durante esse curto período nós recebemos 71 submissões, sendo que algumas das submissões é mais de uma pessoa. Então diria que foi uma centena de pessoas aí que submeteu palestras, né? A gente teve que selecionar dessas todas, treze. Então imagina o trabalho, né, pra fazer essa seleção. Foi bastante trabalhoso, mas foi muito legal também. A gente ficou muito surpreendido com a qualidade dos trabalhos que chegaram, tá. E das pessoas também que submeteram. 

  p Enfim, aí tem vários critérios, né, pra fazer essa seleção. Mas basicamente a gente busca que a pessoa seja muito clara na descrição da sua palestra. Clareza na argumentação da sua ideia é o critério, assim, fundamental, né, pra que a gente faça uma boa avaliação.

  p Também, um outro fator, não menos importante, é se o tema é um tema novo digamos, né, se é uma novidade. Se uma coisa, um assunto muito batido, não tem porque tá apresentando no evento, né? Então também nós buscamos coisas que sejam, de alguma maneira, novidade pra comunidade, né? Então a gente quer boas ideias que sejam novas. E até não importa tanto, digamos assim, se a pessoa já teve outras experiências como palestrante. A gente tá em busca do melhor conteúdo. E a maior parte das palestras, então, foram de submissões, né? Não necessariamente pessoas que a gente conhece. Porque, às vezes, até o pessoal acha: “Ah, tá lá palestrando, porque é amigo deles”. Negativo. Isso é a menor parte. A gente realmente convida algumas pessoas, mas a grande maioria dos participantes vem da comunidade, né? Então, isso eu acho que é uma coisa muito legal.

  p A própria questão das Lightning Talks, é uma maneira da gente estimular isso. Tanto o Thiago quanto eu, a gente começou a participar e palestrar de eventos nesse formato de Lightning Talks, de cinco minutos, uma coisa um pouco mais informal, mas você, digamos assim, ganha um desprendimento, né, e ganha um pouco de coragem, digamos assim, pra começar a palestrar em evento. 

  p Então nós tivemos, na manhã da sexta feira, muitas pessoas que foi a primeira vez que elas tinham palestrado em público, né? E a gente espera que muitas dessas pessoas, o ano que vem, submetam as palestras, né? E assim a gente vai tendo essa escalada gradual.

  p #[strong Izabela:] E falando um pouco mais sobre as palestras que aconteceram no auditório. Quantas palestras tiveram no auditório, no total? 

  p #[strong Thiago:] Foram 19 palestras no auditório principal, e aí depois teve as do Open Space, que eu não sei contar, porque a gente não tava durante todo o tempo ali. Mas foram várias palestras curtas de... A gente acabou não usando timer. A gente chegou a essa conclusão de que o timer no espaço aberto não era necessário. E na verdade, essa conclusão... Se chegou a essa conclusão... Quem chegou a essa conclusão foram os próprios participantes que estavam lá naquele local. Então a gente tinha um mediador, o France Figueroa, que é um palestrante, é um cara que falou no ano passado. Esse ano a gente convidou ele também para mediar e fazer essa organização, pra poder também dar uma direção e convocar, chamar as pessoas. Então o que aconteceu é que em vários momentos, ele mesmo falava. Ele é um um baita professor e tem muito assunto para falar, então ele acabava falando quando dava uma murchada, quando a coisa dava uma baixada, e enfim, ficava mais lento, ele ia lá e puxava a galera.

  p A gente também tinha o Rafael, que é um parceiro nosso que fez mentorias. Então todos os palestrantes do palco principal, eles tinham a oportunidade de ser mentorados por uma pessoa. É o Rafael da empresa Point, e ele dava essa mentoria. Mesmo não sendo um cara de Design, ele dá uma mentoria da parte de como apresentar bem, como se posicionar, todas essas coisas. Isso foi uma coisa, uma parceria que apareceu, e que a gente viu como uma coisa muito legal pra dar uma qualidade geral das palestras assim. E ele tava lá também no espaço Open Space, pra quem quisesse ser mentorado ali na hora mesmo. Então se a pessoa tinha alguma timidez, alguma coisa, ou não sabia exatamente como apresentar a sua ideia, ele tava disponível ali pra ajudar a pessoa a apresentar suas ideias. 

  p #[strong Izabela:] Então, como você contou, a gente teve 19 palestras no auditório, sendo que destas, 13 foram por meio de submissão, né, dos papers. E como é que foi essa escolha dessas outras 6 palestras?

  p #[strong Pedro:] Bom, a primeira delas foi a do Robson Santos, porque na verdade, a gente anunciou desde o ano passado. O Robson Santos era pra ter participado na primeira edição, em 2015, mas infelizmente, na hora ele não pode participar. Então, lá em 2015 nós já tínhamos até confirmado o nome dele. Então esse nós sabíamos que era uma pessoa certa, que viria pra edição de 2016. 

  p Bom, fora isso, a gente tentou buscar aí uma diversidade não apenas de assuntos, mas como também de geografias. Então, a gente destaca a Ingrid Castro e o Falex Vidal, que são lá de Fortaleza. Então, a gente queria um representante que fugisse um pouco também do eixo Rio-São Paulo. Isso é bastante interessante para, enfim, estimular que o pessoal do Nordeste e Norte do país comece a participar desses eventos, tá? 

  p A gente teve também, em termos de diversidade de assuntos, o Paulo Caroli da ThoughtWorks, que é uma pessoa que é referência em métodos ágeis, uma pessoa que vem mais um background tecnológico, né, e tem muito a acrescentar em relação à metodologias. E, enfim, a gente teve um retorno super bacana da palestra dele, tá? 

  p A gente também teve, em termos de geografia, né, participantes internacionais, que foi o Eduardo Aguayo e o Rodrigo Vera, do Chile, né, que por sinal, eles também são os organizadores do Interaction South America 2016, que vai acontecer lá em Santiago. Então eles tiveram aqui, falando todo um panorama de como é que se deu a comunidade de UX no Chile, certo?

  p E também tivemos o Rodrigo Quaresma da startup Resultados Digitais, e também o Kleber Puchaski, da Philips Design. Então a gente também tem um contraste de empresas, startups, que estão no ritmo de crescimento acelerado, e também um representante da Philips Design, né, que a Philips é uma empresa que tem 125 anos de idade. Essa divisão Philips Design tem 90 anos. Então tu vê essa diversidade de empresas que têm, enfim, poucos anos e outras que estão totalmente consolidadas no mercado. E esse contraste ficou bastante evidente ali, na hora das palestras. Então, basicamente, essa foi a diversidade que a gente tentou buscar nesses convidados.

  p #[strong Izabela:] E eu pesquisei um pouco sobre o evento do ano passado, e eu percebi que alguns nomes se repetiram. Luiz Felipe, William Sertório e Luciana Terceiro. Como é que foi isso? 

  p #[strong Pedro:] O ano passado, eles foram, enfim, palestrantes que submeteram. Inclusive ali o William, a gente nem conhecia ele antes. E depois nesse ano, a gente, quando abriu para as submissões, eles submeteram novamente. E a gente tava analisando e: “Olha, aqui eles tão de novo”. Só que a palestra deles, o ano passado, foi tão boa, que a gente pensou: “Não tem como deixar de chamar eles, tão bacana, tão interessante que foi as palestras”, né? E também que, enfim, a maneira como eles se colocam no palco, né, a dinâmica, foi excelente. A gente teve ótimos feedbacks o ano passado. Eles trouxeram assuntos que foram diferentes do ano passado. Então a gente tinha certeza que a gente teria excelentes palestras, como de fato se confirmou.

  p #[strong Thiago:] E teve uma questão que foi o fato de que, ano passado, as submissões, elas tinham direito a falar durante dez minutos. As submissões tinham direito a 10 minutos. E ficou muito evidente naquele… Dá pra chamar assim, de certa forma, nosso MVP, a nossa primeira edição do evento, que 10 minutos era muito pouco tempo, e ficou um gostinho de quero mais pra todas essas pessoas que passaram na submissão, mas que não tiveram assim um espaço adequado. Foi por isso que a gente acabou aí igualando, e vendo que 20 minutos, mais 5 de perguntas, que foi o formato que a gente criou pra esse ano, era um formato praticamente ideal pra dar um ritmo bom, e um tempo suficiente pra pessoa dar seu recado. Pelo menos é o que a gente acredita. Assim, algumas pessoas podem até discordar, mas a gente acredita que esse é um formato bem interessante pra conduzir um evento, e dar um ritmo pra ele. 

  p #[strong Izabela:] Ainda falando sobre a programação desse ano. O que que você destaca, Thiago? 

  p #[strong Thiago:] Na parte da manhã de sexta feira, a gente teve uma série de workshops. A gente teve 5 workshops rolando paralelamente. Então a gente teve o workshop de Pesquisa Etnográfica, com a Carol Zatorre. A gente teve O X da Questão, com a Priscila Albuquerque e a Júlia Guise. Testes Habilidade com a Elisa Volpato. Depois Design Principles com a Camila Boga. E o Tailormade Methodology, com a Juliana Gonçalves e Clara Martins. 

  p É interessante ressaltar que vários desses workshops, três deles, os três primeiros, eram workshops pago, pagos, que as pessoas tinham que fazer a inscrição antes do evento e eles esgotaram um bom tempo antes. Então tinha uma expectativa muito grande. E depois a gente colocou, adicionou ainda dois workshops que eram com inscrição na hora. Então até tinha uma certa tensão assim das pessoas de chegarem, fazerem o credenciamento, que era bem no primeiro momento de evento e já ir correndo pras salas. Então tinha um pouco dessa tensão de pegar um lugar. Mas deu tudo certo. As pessoas conseguiram se alojar dentro da salas. 

  p E de fato ficaram 5 workshops bem lotados, e a gente recebeu feedbacks muito bons sobre a qualidade de cada um dos workshops. Então eu ouvia das pessoas dizendo: “Ah mas foi muito bom aquilo lá, praticamente mudou minha vida”. Era uma coisa assim nesse nível. 

  p E o que as pessoas também disseram que foi um feedback interessante, é de que elas gostariam de ter feito mais de um workshop, então até fica como uma possível ideia assim pra nós, fazer no ano que vem, talvez, de dar a oportunidade de a pessoa fazer mais um workshop. São coisas pra gente pensar, porque realmente a qualidade deles era muito, muito boa mesmo.

  p #[strong Izabela:] Pensando nos dois dias, eu acho que Métricas, Negócios e Design Thinking foram assuntos presentes em várias das palestras, né? Vários palestrantes ressaltaram a importância de quem trabalha com UX de saberem analisar métricas pra entender o comportamento do usuário, de entender dos processos de Design Thinking pra solução de problemas, e também da importância de entender o negócio, né, do designer ou da pessoa que trabalha com UX, ser o elo entre negócios e usuário, entendimento do comportamento do usuário. Vocês também perceberam isso? O quê que vocês perceberam desses temas? 

  p #[strong Thiago:] Eu acho que tu tá bem certa em fazer essa ligação e essa percepção de que esses assuntos foram os que mais apareceram. E eu acredito que isso tem muito a ver com a maturidade geral da nossa comunidade de UX. Então a gente precisa, como comunidade, fazer de fato esse elo entre negócios de Design. A gente precisa saber analisar métricas pra poder ser levado mais a sério. Talvez alguma coisa nesse sentido. E é interessante também ver, a própria apresentação que teve da Carol Leslie, onde ela fez um apanhado geral de como a comunidade está lidando com isso. Então foi um retrato, de certa forma, até, em algum momento, um tapa na cara. Saber acordar e saber o que fazer. 

  p Mas também ao mesmo tempo, as outras palestras tavam dizendo: “Olha, a gente tem que fazer isso. A gente tem que melhorar no sentido de métricas. A gente tem que sim melhorar no sentido de metodologias”. Então, quando tinha uma palestra, por exemplo, falando sobre métodos ágeis, são coisas que também aparecem volta e meia, dentro de cada uma das palestras, falando sobre esse processo de gestão, como a gente espalha o processo de Design dentro da empresa, que tem muito a ver com isso da questão do Design Thinking, de poder espalhar o nosso processo pra pessoas que não necessariamente são formadas ou que têm a base, o background, em Design. Então eu acredito que tu fez uma boa descrição daquilo que a gente viu. 

  p A gente viu também questões que não podem ficar de lado, que são as questões de inovação, de pra onde a gente vai. Então quando a gente fala de IoT, de Smart Objects, como teve ali o pessoal da Intel falando. A gente tá pensando qual o futuro? Que a gente vai fazer? Também tinha a palestra sobre Design pra smartwatch da Juliana, na manhã de sábado, onde ela falou do desafio que ela teve de desenhar pra um meio diferente, e como a gente pode, a cada novo meio que vai surgir, e vão surgir novos meios, a gente pode criar approaches que se assemelham ao longo desse processo. 

  p Acho que a presença no primeiro dia da Talita Pagani, falando sobre Design para pessoas com autismo, ou enfim, outras limitações cognitivas, foi uma palestra que chamou muita atenção de bastante gente. E a gente ficou muito feliz com um fato desse assunto estar aparecendo, porque a gente, eu digo um pouco pela minha experiência como designer, que a gente trabalha, a gente às vezes acaba deixando de lado essas questões de acessibilidade. E parece que têm pequenos especialistas, pessoas que lidam com isso, enquanto o resto dos 97% por cento de designers não tão pensando muito nisso. Então eu arrisco dizer que é algo que a gente pode estar negligenciando, de forma geral. E que essa palestra serviu pra nos despertar pra essa questão. 

  p #[strong Izabela:] Vamos falar um pouco agora dos bastidores. Conta pra gente as dificuldades que vocês enfrentam na realização de um evento como esse, como é que vocês contornam essas dificuldades. Quero ver quem que vai querer responder essa agora, hein?

  p #[strong Thiago:] Bom, essa é fácil e difícil, né? Porque a gente fica meio assim também: “Bah, será que dá pra contar isso mesmo?”. Mas nada muito, muito estranho que tenha acontecido, a não ser as algumas noites talvez de sono, principalmente na última semana, perdidas pra gente ajustar.

  p Na prática, sempre vai ter um detalhe que a gente não pensou, e que na última hora vai aparecer e a gente vai ter que dar um jeito de resolver. Quer falar um pouco, Pedro? Sobre…

  p #[strong Pedro:] Não, tem alguns imprevistos, né, coisas que às vezes fogem do nosso controle. De manhã a gente ia oferecer foodtruck e a pessoa chegou atrasada. Então, enfim, gera uma tensão na hora e gente pensa: “Nossa, será que a pessoa vem mesmo? Será que isso vai acontecer? E se não acontecer, qual é o nosso plano B?”. Coisas que fazem parte, né, de um evento desse tipo. E quando este tipo de coisa acontece num evento dessa proporção, é bastante tenso ali na hora. Mas, felizmente deu tudo certo.

  p A gente tava um pouco tenso também com a questão do clima, então tava, podia chover ou não, e a gente tava muito ansioso. Felizmente na hora não deu. Mas são coisas que acontecem na hora, enfim, que pode ser um pouquinho tenso, né? Mas depois tudo se resolveu, enfim.

  p #[strong Thiago:] Legal falar que a nossa equipe é formada por vários generalistas, então cada uma das pessoas podia resolver vários problemas. Então, se faltasse uma pessoa, um outro ia lá e preenchia aquele espaço. A gente tentava sempre resolver dessa forma, assim. Não é: “Ah, eu sou o especialista em mandar e-mails de comunicado”, “Eu sou especialista em publicar coisas no site ou fazer um post nas redes sociais”. Porque, na prática, sendo bem honesto, o core ali dos organizadores eram os caras que faziam praticamente tudo ao mesmo tempo assim. Então a gente ia dividindo assim: “Ah hoje eu faço isso aqui, amanhã eu faço aquele outro lá”. Não tinha uma questão de cargos ou missões extremamente definida ao ponto de: “Ah, eu não posso fazer isso, eu só faço aquilo ali. Eu só cuido do financeiro do evento”. Então tinha muito assim essa coisa de se virar, fazer várias coisas ao mesmo tempo e sem ser especialista em algo.

  p #[strong Izabela:] Antes da gente falar um pouquinho mais sobre a equipe por trás aí desse evento tão bacana, eu queria saber um pouco mais sobre o dia a dia de vocês. Porque o Pedro, você trabalha na HP, né? Você é designer de interação na HP. O Thiago é sócio da Wildtech. Então como é que vocês conciliam o dia a dia de trabalho e a realização de um evento como esse? 

  p #[strong Pedro:] É, tem uma coisa que o pessoal, enfim, muitas vezes acha que a gente se dedica apenas ao evento e que não faz qualquer outra coisa. Mas a gente trabalha como qualquer outra pessoa, né, normalmente e a gente continuou fazendo isso até o final. Então, realmente, nos últimos dias ali, era quase 24 horas por dia assim, que a gente têm estado nesses, enfim, nesses últimos dias. Mas assim, a gente tem conseguido conciliar. Eu acho que também o fato da gente atuar na profissão nos dá, enfim, uma credibilidade junto às outras pessoas, porque a gente entende o ponto de vista também das outras pessoas que trabalham, quando a gente faz os convites, na própria seleção dos assuntos. 

  p Então a gente se sente bastante confortável, por estar organizando um evento de um UX, porque a gente atua, né? Nossa profissão é essa também. Então nós sabemos, enfim, por experiência, o quê que a comunidade quer, quais são as coisas que a gente pode trazer de relevante. Então, realmente eu acho que isso é fundamental e a gente não vê sendo diferente disso. 

  p #[strong Thiago:] É, resumindo um pouco do que o Pedro falou, a gente gosta de ser designer e organizar eventos também. A gente não consegue enxergar as duas coisas dissociadas, assim. A gente só organizando eventos, ou só sendo designers. 

  p #[strong Izabela:] E há quanto tempo vocês estão trabalhando para fazer a conferência desse ano acontecer? 

  p #[strong Thiago:] No mínimo, desde o comecinho do ano de 2016. Mas se for pensar antes, a gente já tava pensando em várias coisas, porque que a gente lançou o evento em Janeiro, final de Janeiro. Então antes a gente já tava fazendo um trabalho de background grande no ano passado mesmo assim. Então ali por Novembro, Dezembro já tinham atividades ou ações que a gente tava fazendo, como por exemplo, captação de patrocínios, que é uma parte falando assim, da parte de backstage assim de como a gente...  Que dificuldades a gente tem como organizadores. 

  p Essa é uma que eu considero bem difícil mesmo de endereçar, porque a gente tem que ter contatos em empresas. Geralmente funciona um processo de uma conversa, que não é uma conversa rápida, a gente vai falar, vai trocar dois e-mails e tá tudo resolvido. A gente, em geral, tem que abrir uma conversa por Skype, fazer uma thread de e-mails que às vezes fica bem longa. Até a gente chegar de fato ao fechamento, isso leva um bom tempo. Então o trabalho ele começa, no mínimo, uns seis meses antes assim do evento.

  p #[strong Izabela:] Como é que vocês se dividem? Eu também percebi que tem algumas pessoas que são voluntárias, né, na equipe de vocês. 

  p #[strong Thiago:] Isso. Algumas pessoas a gente chamou, porque a gente já tinha trabalhado no ano passado, então são pessoas de confiança pra resolver questões específicas que surgem lá na hora. Questões técnicas, como ajustar as apresentações, ajustar o som do auditório, questões assim. Então são pessoas que a gente já chama pra fazer esse trabalho específico.

  p E outras, a gente acabou recrutando na própria Universidade, porque a gente tem uma relação muito boa com a UniRitter, a Universidade que é nossa patrocinadora maior, e a gente tem essa relação direta com eles. E a gente acabou recrutando estudantes da Universidade. Ou seja, pessoas que não necessariamente têm uma experiência como designer na área, ou que nem necessariamente são designers, porque acabaram aparecendo pessoas da área de desenvolvimento, ou enfim, outras áreas, que preencheram essa necessidade da gente ter pessoas que ajudassem ali na execução do evento. Então são pessoas que a gente recrutou, que têm esse caráter de ser estudante, aprendiz e ao mesmo tempo querer trabalhar também no evento, porque tem que ralar um pouco ali pra fazer a coisa acontecer. 

  p #[strong Pedro:] Bom, a gente acaba fazendo de tudo um pouco, tá? Mas a gente tem, digamos assim, algumas divisões básicas, né? Por exemplo, o Rafael Relmi (31:58) ele cuida um pouco mais da parte financeira, a parte ali de patrocínios. Apesar de que todo mundo acaba, enfim, participando de tudo um pouco. Mas a gente se divide um pouco assim. 

  p Thiago e eu, a gente fica então nessa questão mais do conteúdo, da curadoria, de ir atrás das pessoas, da relação com os palestrantes. Porque acontece muita coisa antes que a gente tem que, enfim, conversar com as pessoas, entender, enfim, de alguma maneira se o conteúdo tá relevante, né, dar consultoria nesse sentido pra elas. 

  p E também tem uma questão técnica que a gente se divide um pouco, o Thiago e eu, que são questões práticas, assim, até de logística do evento propriamente dito, né? Do slide, questões de estrutura, como é que vai ser o credenciamento, a questão do que a gente teve, por exemplo, do foodtruck, coffee break. Todos esses detalhes que, às vezes, um por menor ali pode fazer uma grande diferença.

  p Então a gente, mais ou menos, se divide. Só que, como o Thiago já tinha falado, a gente tem esse perfil um pouco mais generalista, que faz com que qualquer pessoa da equipe consiga resolver qualquer assunto, qualquer urgência, tá? 

  p Mas eu acho que a grande… O que faz isso funcionar é que a gente tá com um time muito, muito coeso, muito entrosado. E nos últimos dias, antes do evento, as nossas comunicações eram, praticamente, 24 horas por dia, né? Então, o celular sempre, né, notificação ali no nosso grupo de WhatsApp, de maneira muito intensa. E eu acho que esse entrosamento de equipe, se não fosse isso, a gente não teria como fazer. Então a gente tá muito feliz de ter, eu fico pessoalmente feliz de ter parceiros assim que a gente, que eu posso contar, né? Que foi o Thiago, o Rafael, o Daniel, o core mesmo do evento.

  p #[strong Izabela:] Sobre a UXConf BR 2017. O quê que vem por aí? Vocês já têm em mente temas e convidados que estão pensando em explorar? 

  p #[strong Pedro:] Bom, primeiro lugar é que a UXConf BR 2017 vai acontecer. Vai ser em Maio. A gente ainda não definiu exatamente uma data, mas vai ser em algum momento, em algum momento de Maio.

  p Uma das questões que ficou bastante evidente e a gente têm recebido muito feedback nesse sentido, é em relação aos workshops. Nós tivemos 5 workshops, esse ano acontecendo de maneira simultânea, e muitas pessoas participavam de um workshop, e queriam ter feito outro. Então a gente tá pensando, de alguma maneira, fazer com que a pessoa consiga participar de mais de um workshop. Então, talvez aumentar um pouco, ter um dia adicional, só para workshops, alguma coisa nesse sentido a gente tá pensando. 

  p A gente pretende ficar, pelo menos o ano que vem, aqui em Porto Alegre. Isso é uma coisa que muita gente têm questionado. “Ah vocês vão levar pra outras cidades ou não?”. A gente acha que a gente ainda precisa amadurecer mais o evento. A gente tá numa fase de muito aprendizado. Tem muita coisa, muito detalhe, que a gente ainda precisa ajustar. E fazer o evento aqui em Porto Alegre, para nós, ajuda bastante, porque se já é complexo organizar um evento na cidade onde a gente mora, que a gente conhece, enfim, têm contatos de fornecedores, imagina numa outra cidade distante, né? Então a gente acha que, no momento, a gente ainda vai manter ele aqui. 

  p Enfim, como falei a questão dos workshops. Eu acho que a gente também quer expandir cada vez mais a questão das subcomissões da comunidade. A gente quer tornar o evento, enfim, cada vez mais democrático nesse sentido, pra fazer com que novos talentos, e existe muita gente boa na área, participe e comece, enfim, a mostrar o seu trabalho. 

  p #[strong Izabela:] Pra quem já tá pensando em alguma palestra pra submeter pro evento do ano que vem, que que ela deve fazer?

  p #[strong Pedro:] Bom, ela deve primeiro…. O nosso principal meio de, canal de comunicação é o Facebook, onde a gente tá sempre informando as pessoas. Ela pode entrar lá e vai ficar por dentro do que tá rolando. 

  p A gente vai, né, acredito que dentro de alguns meses já começar a anunciar a conferência do ano que vem. E a gente tem um formulário onde a pessoa coloca seu e-mail, e a gente faz algumas comunicações periódicas dizendo que pode estar rolando, dizendo quando que nós vamos abrir as submissões, né? Confirmar a data do evento, esse tipo de coisa, a gente faz. Então a minha dica é: entrem no nosso canal do Facebook ou Twitter, né, acessem o nosso site uxconf.com.br. É uma maneira também de saber o que que tá rolando. A gente faz bastante comunicação lá, e basicamente isso, ficar ligado nas nossas redes sociais. 

  p #[strong Izabela:] Thiago, na sua opinião, que implicações o evento traz pro mercado? 

  p #[strong Thiago:] Traz uma maturidade muito grande pra nossa área, pra gente poder ser levado a sério e também se levar mais a sério, e ter confiança pra poder apresentar novas ideias e conseguir expandir um pouco a nossa atuação e sair da parte… Às vezes, a gente reclama que: “Ah eu só tô na interface” ou “Eu só estou fazendo aquilo. Não está me faltando, enfim, ser levado mais em conta”. Agora, a gente tem um material, a gente tem um pouco mais de um embasamento pra poder fazer esse crescimento dentro das empresas onde a gente trabalha.

  p #[strong Izabela:] Que dica que vocês dão pra quem quer fazer eventos?

  p #[strong Thiago:] Primeiro, ninguém faz um evento sozinho. Então se juntem com pessoas que vocês acham legais e que vão pegar junto e que vão fazer a coisa acontecer. E achem parceiros também. Então sempre vai ter essa equipe core que vai estar ali fazendo o principal, mas também pequenos parceiros que vão fazer, resolver problemas que surgem nessa organização, que vão fazer ele ficar mais fácil, e mais factível, assim. Então o evento bom é aquele evento que sai do papel mesmo e vai pra realidade.

  p #[strong Izabela:] E você, Pedro? Quais são as dicas que você vai deixar pra gente?

  p #[strong Pedro:] A dica que eu dou, eu acho que é uma coisa que qualquer empreendedor fala é: não tenha medo. Porque quando a gente começa com um evento desses, têm muitas incertezas, mas a gente tem que ter a coragem de fazer acontecer. Eu acho que foi isso que permitiu com que a gente fizesse esse evento. Ter a coragem de ir rumo, digamos assim, a algo que é desconhecido ainda, e que a gente vai estar construindo. Mas eu acho que o Thiago já falou do ponto de estar com as pessoas certas, as pessoas que você pode confiar. E ter muita disposição, porque dá bastante trabalho. É cansativo, principalmente nos últimos dias, então estejam preparados pra isso. Só que é uma delícia gente. É muito legal. A gente está super feliz de ter feito. Então, eu acho que realmente vale a pena. Eu estimulo que as pessoas façam isso. 

  p E mais uma dica é que as pessoas comecem pequeno. A gente começou assim. A gente começou fazendo pequenos eventos na nossa comunidade local. A gente têm várias iniciativas que a gente criou aqui, como por exemplo, o UX Book Club. Isso é uma excelente maneira de juntar algumas pessoas ao redor de um tema para discutir. 

  p A gente fazia eventos assim ó, de cinco, seis pessoas. De alguns minutos de duração. E por menor que isso seja, isso já dá um trabalho de fazer uma organização. Então, isso tem que ser passo a passo. Eu acho que dificilmente uma pessoa vai construir um evento desse porte assim do zero. 

  p É uma coisa que está sendo construída, eu e o Thiago, a gente vem trabalhando unido nesse tipo de coisa há vários anos já. Então, isso é o resultado de uma coisa que vem de fato sendo construída e consolidada, passo a passo. 

  p Então, a minha dica é assim ó: comecem pequeno e vocês vão chegar lá.

  p #[strong Izabela:] Que outro evento tem esse ano pra gente ir?

  p #[strong Thiago:] Bom, um é um evento que eu e o Pedro, mais uma série de pessoas aqui em Porto Alegre não perde nunca é o Interaction South America, que este ano vai acontecer em Santiago do Chile. Se não me engano, dia 2 de Novembro. É sempre em Novembro. Então é um evento que a gente adora ir e palestrar lá também. Sempre submeto palestras. Não perco uma submissão. E o Interaction South America é um evento imperdível aqui da nossa comunidade. Aí já ampliando um pouco mais para o continente inteiro.

  p #[strong Pedro:] E tanto o Thiago quanto eu, a gente já participou de eventos em vários lugares do mundo, e o Interaction South America não fica atrás. Na minha opinião, o ISA, Interaction South America, é um dos principais eventos do mundo da área. Então quem tá aqui no Brasil, olha, é imperdível. 

  p A gente tem palestrantes de renome internacional dos Estados Unidos, Europa, uma diversidade de pessoas de todos os países, da América Latina, também. Vários países da Europa e Estados Unidos participam. É incrível. A gente recomenda. É um evento que a gente já frequenta há bastante tempo. A gente sempre vai. E cada vez que tu vai, tu acaba revendo amigos que tu viu já nas outras edições e conhecendo pessoas novas. Então quem ainda nunca foi, vá. Porque depois que você começa a ir, você vai começando a conhecer as pessoas e acaba, enfim, virando praticamente uma família. Então a gente recomenda demais esse evento.

  p #[strong Izabela:] E pra fechar. Vocês vão disponibilizar os vídeos da palestra?

  p #[strong Thiago:] Com certeza, nós gravamos as palestras, elas estavam sendo filmadas. A gente vai disponibilizar isso em breve. Claro que o vídeo ainda tem um processo de edição que demora um pouquinho mais para ficar pronto. Mas os slides da palestra a gente pretende já nos próximos dias aí, mandar o link desses slides.

  p #[strong Izabela:] Legal. Vou colocar o link. Os vídeos vão para o canal do YouTube né?

  p #[strong Thiago:] Eles vão ser disponibilizados através da Infoq, que é uma empresa que faz essa gravação. Inclusive, eles fazem aquela montagem que as pessoas já devem conhecer, onde eles botam o vídeo e os slides sincronizados. Então eles são um dos nossos apoiadores, e a missão deles foi fazer a gravação de vídeo, toda a captação. Então essa é uma das coisas que a gente acabou também terceirizando, porque a gente fez ano passado. Deu um trabalhão. O Pedro editou todos os vídeos. Foi um troço assim que o pós evento ali, assim, como se não bastasse, ainda acabou fazendo mais isso, que a gente terceirizou, porque dá muito trabalho e realmente tem que ser uma coisa feita por um profissional, uma pessoa que vai ficar dedicada só à aquilo assim. Assim como a gente fez com fotografia também esse ano. A gente contratou uma fotógrafa, pessoas pra fazer coisas específicas e isso tem tudo a ver com o crescimento do evento. 

  p #[strong Izabela:] Gente, foi muito legal conversar com vocês. Foi superfantástico participar do evento. Muito obrigada por apoiarem e fazerem parte do Movimento UX. 

  p #[strong Pedro:] Nós é agradecemos, Izabela. E pra gente é um prazer estar fazendo parte do podcast, Movimento UX, que tá sendo um sucesso. Todo mundo falou super bem lá durante evento, muita gente comentou. E a gente é que tem que agradecer por ter tido a oportunidade. 

  p #[strong Thiago:] É, eu sou um ouvinte. Já ouvi vários episódios e tô gostando muito da qualidade, da forma como tu tem colocado os assuntos, conduzido todas as perguntas. Então a gente fica muito feliz por estar participando aí do Movimento UX. 

  p #[strong Izabela:] Muitíssimo obrigada, gente! 

  p [Música]

  hr

  p #[strong Izabela:] Chegamos ao fim deste que é o oitavo episódio, hoje num papo com o Pedro Belleza e o Thiago Esser. E eu espero que você tenha gostado. 

  p Se você quiser fazer qualquer comentário, crítica ou sugestão, é só me escrever no movimentoux@gmail.com. Se você quiser conferir outros episódios, acesse o site movimentoux.com. 

  p No próximo episódio eu vou conversar com a Karine Drumond, que é designer de interação e fundadora do projeto Negócio de Mulher. Brigada e até o próximo papo!

  hr

  ul.links
    li Transcrição: #[+link('Camila Gondo', 'https://www.linkedin.com/in/gondocamila/')]
    li Revisão: #[+link('Renata Moreira', 'https://www.linkedin.com/in/remoreira/')]

.sidebar
