include /components/includes

+meta-head(
  'Diana Fournier, Gerente de Design no iFood. Episódio 32 — Movimento UX',
  'Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Quarta Temporada',
  'https://movimentoux.com/temporada-4/diana-fournier/',
  'https://movimentoux.com/assets/img/share/33-diana-fournier.jpg',
  'episode'
)

+header('', '', '', 'on')

+episode-section(
  'Diana Fournier',
  'Gerente de Design Sênior no iFood',
  '',
  '33',
  '33-diana-fournier.jpg',
  '',
  '-inside',
  '',
  'https://anchor.fm/movimento-ux/episodes/Estrutura-de-times-de-pesquisa--Diana-Fournier--iFood---Ep-33-temporada-4-e1mi9oc'
)

//- +episode-player('samyra-ribeiro-pt2')

section.episode-content
  //- +episode-tabs

  .episode-text
    include intro
    //- include transcricao

  include sidebar

+meta-js
