include /components/includes

+meta-head(
  'Diana Fournier, Gerente de UX Sênior no iFood. Episódio 32 — Movimento UX',
  'Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Quarta Temporada',
  'https://movimentoux.com/temporada-4/diana-fournier/',
  'https://movimentoux.com/assets/img/share/33-diana-fournier.jpg',
  'episode'
)

+header('', '', '', 'on')

+episode-section(
  'Diana Fournier',
  'Gerente de UX Sênior no iFood',
  '',
  '33',
  '33-diana-fournier.jpg',
  '',
  '-inside',
  '',
  'https://open.spotify.com/episode/4G2FQzWF7QPLtNdBVI4JS8'
)

//- +episode-player('samyra-ribeiro-pt2')

section.episode-content
  //- +episode-tabs

  .episode-text
    include intro
    //- include transcricao

  include sidebar

+meta-js
