.tab.on#intro
  +social-players

  p No terceiro episódio da quarta temporada do Movimento UX, conversamos com a Diana Fournier – Gerente de Design no iFood. 
  p Diana é formada em Design e atua na área desde 2010. Neste episódio, ela conta um pouco sobre sua experiência nas duas últimas empresas em que atuou como líder – já que iniciou no iFood há pouco tempo.
  p Na Escale, a sua área ficava dentro da diretoria de Design e o seu foco principal eram as pesquisas mais amplas porque a demanda era maior, mas também atendia à esteira de produtos. Já no PicPay, a área de pesquisa respondia diretamente ao CPO (Chief Product Officer). Nesse cenário, todas as pessoas pesquisadoras pertenciam ao mesmo time, mas tinham perfis diferentes. No entanto, como a disciplina atuava lado a lado com outras disciplinas, outras pessoas também realizavam suas próprias pesquisas, mesmo não atuando dentro da área da Diana.

  blockquote "O nosso papel ali era capacitar as pessoas para que elas pudessem fazer pesquisas com maior excelência, além de criar um padrão para as entregas."

  p Diana conta que, quando chegou no PicPay, a atuação funcionava como uma consultoria interna. As equipes demandavam pesquisas para um time que era muito pequeno e com um backlog que ficava cada vez maior – formato que para ela não funcionava. 
  p Seu primeiro passo foi mapear a pergunta principal das pesquisas que (1) já tinham sido feitas, (2) estavam em andamentos e (3) estavam no backlog. Ao fazer isso, percebeu que pesquisas de verticais diferentes estavam sempre perguntando a mesma coisa, deixando claro que esse modelo de atuação além de sobrecarregar um time pequeno, não fazia com que as informações chegassem de maneira horizontal para a empresa.
  p Nesse momento, Diana percebeu que a equipe estava gastando muito tempo com pesquisas pontuais e então montou uma nova proposta para os líderes.

  blockquote "A gente percebeu que estávamos no espaço da solução, ou seja, fazendo muita pesquisa micro e respondendo pergunta de produto. Só que tinha muita pergunta sobre descoberta, sobre dor e necessidades que a gente não tinha respondido ainda. Falei que a gente precisava atuar aqui, no espaço do problema."

  p Para colocar esse plano em prática, Diana conta que foi feito um planejamento para capacitar as pessoas designers na disciplina de pesquisa, o que gerou o início de um trabalho de Ops. Ela considera que este foi o pontapé inicial para escalar o time.
  p Em um momento posterior, quando a empresa começou a se desdobrar em várias unidades de negócio diferentes, Diana planejou que todas teriam pelo menos uma pessoa pesquisadora. Nesse contexto, dentro de uma unidade de negócio, a pessoa pesquisadora teria como pares as lideranças de Design e de Produto.
  p Em um determinado momento, a estrutura do time passou para dentro da equipe de Design e Diana passou a ficar responsável pela gestão da carreira e pelas contratações. Já o líder de Design tinha como responsabilidade se juntar com a pessoa pesquisadora e olhar para a unidade de negócio a fim de identificar as prioridades e ajudá-la a focar em pesquisas mais estratégicas – dado que neste cenário a pessoa voltou a receber muitas demandas pontuais.
  p No momento de definir a melhor alocação do seu time nas unidades de negócio, Diana usava como principal critério a maturidade referente à disciplina de pesquisa e o ponto forte da pessoa.

  blockquote "Em uma unidade de negócio específica tinham muitas pessoas de bancos tradicionais e pouca familiaridade com UX. Quanto menor a maturidade, mais eu precisava de pessoas sêniores. Outro ponto também foi a característica da pessoa – uma pessoa com interesse em pesquisa quantitativa em uma unidade que precisava mais desse tipo de análise."

  p Explicando um pouco melhor sobre os tipos de pesquisa que Diana considera serem de responsabilidade de sua equipe, ela comenta que muitas vezes se confunde Product Discovery ou User Discovery. Para ela, quando olhamos para o Product Discovery, precisamos mitigar três riscos: proposta de valor, viabilidade técnica, usabilidade, negócio.

  blockquote "Você entende que isso já é sobre um problema que precisamos solucionar? Não tem como perguntar qual é o risco do desenvolvimento de algo se a gente nem parou para saber o que é."

  p Para ela, o Product Discovery está no segundo diamante e por isso se caracteriza como uma pesquisa micro. No primeiro diamante, não sabemos qual o mercado, quais são os usuários, quais são as dores – e essas são as pesquisas macro, as que Diana acredita que sejam de responsabilidade do time de pesquisa.
  p Diana também conta sobre as pesquisas semi-específicas, como os ciclos de descobertas constantes que os times rodavam para ter insumos recorrentes. 

  blockquote "As vantagens de estar junto do time de Design são a força e a proximidade, conseguimos colocar mais coisas em prática. Já  a desvantagem de estar com Design é a de ficar apenas nas pautas d a área. Às vezes a área de negócios tinha uma incerteza latente que se a gente conseguisse responder ajudaria a todos."

  p Diana conta que respondendo direto para o CPO ela conseguia ter uma visão bem mais macro da estratégia, mas a conexão com as demais áreas ficavam mais fracas e demandavam muito esforço de comunicação.
  p Nesse último time, que teve um máximo de 23 pessoas, elas se dividiam entre Research Ops, Market Research e UX Research – sendo que neste último grupo havia lideranças e cada uma cuidava de algumas pessoas.
  
  +image('33-foto-01.png','', '', '', 'border')

  p Com a escala, as unidades de negócio (BU) acabaram ficando ainda maiores e com muitas tribos. Nesse ponto foi necessário ter lideranças por BU e um pesquisador por tribo, que era composta por cinco ou seis squads. Além de fazer pesquisa para aquela tribo, a pessoa também tinha que dar suporte para PDs e PMs que faziam pesquisa. Em BUs que não precisavam de uma liderança por serem muito pequenas a pessoa pesquisadora respondia diretamente para ela.

  blockquote "O nosso principal papel e propósito era ser uma fonte de dados para a tomada de decisões estratégicas. A empresa tinha muitos núcleos de coleta de informações sobre os usuários e queríamos ser um hub dessas informações."


  +episode-links({
    1: {
      type: 'Livro',
      title: 'Marty Cagan - Inspirado',
      url: 'https://amzn.to/3plCY8X'
    },
    2: {
      type: 'Livro',
      title: 'Marty Cagan - Empoderado',
      url: 'https://amzn.to/3zYjoo5'
    },
    3: {
      type: 'Livro',
      title: 'Teresa Torres – Continuous Discovery',
      url: 'https://amzn.to/3w6rHNq'
    },
    4: {
      type: 'Artigo',
      title: 'Construindo um time de UX Research, por Diana Fournier',
      url: 'https://medium.com/difournier-uxr/construindo-um-time-de-ux-research-f76765dd64f'
    }
  })


  p Até a próxima entrevista! Ah, enquanto isso vou adorar manter contato no #[+link('Twitter', 'https://twitter.com/izabeladefatima')] :)

  hr

  p #[strong Quer ajudar o Movimento UX?]
  p Siga e avalie a gente com 5 estrelas nos aplicativos do #[+link('Spotify', 'https://open.spotify.com/show/0jpGW9nTFzzzHCjm7Y3d73?si=uuZGXryBTquSdkG1njUlTw')] e da #[+link('Apple', 'https://podcasts.apple.com/br/podcast/movimento-ux/id1093322366')]. Lembrando que, por enquanto, essa funcionalidade só está disponível no telefone. Você também pode dar uma força divulgando os episódios em suas redes.

  hr

  p #[strong Sobre o Movimento UX]
  p A criação do podcast, dos roteiros e a curadoria dos temas e entrevistas são feitas por mim, Izabela de Fátima.
  p A revisão do tema da temporada e do roteiro é feita pela #[+link('Renata Moreira', 'https://www.linkedin.com/in/remoreira/')].
  p A trilha sonora original e a execução da trilha é do Richard Garrell, no seu projeto #[+link('Aeoner', 'https://aeoner.bandcamp.com')].
  p A edição do áudio é feita pela #[+link('Renata Valentim', 'https://www.linkedin.com/in/renatavalentim/')].
  p A identidade visual é do #[+link('Cristiano Sarmento', 'https://www.linkedin.com/in/hicristiano/')]. O site também é dele em parceria com o #[+link('Pedro Ivo', 'https://www.linkedin.com/in/pedroivohudson/')].