.episode-sidebar
  .info
    h3.eyebrow Localização
    p São Paulo, Brasil

    h3.eyebrow Social
    p #[+link('LinkedIn', 'https://www.linkedin.com/in/dianafournier/')]
    p #[+link('Medium', 'https://medium.com/@difournier')]
    p #[+link('Instagram', 'https://www.instagram.com/difournier_uxr/')]