@mixin selection {
  background-color: rgba($selection, 0.1);
  color: $selection;
}

*::-moz-selection {@include selection}
*::selection {@include selection}

body {
  background-color: $black;
  color: $white;
  overflow-y: scroll;
  overflow-x: hidden;

  &[data-page='season'] {
    scroll-snap-type: y proximity;
    // scroll-snap-type: y mandatory;

    @media (max-width: $sm) {
      scroll-snap-type: none;
    }
  }

  &::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    border: $spacing-border solid $white;
    pointer-events: none;
    z-index: 999;

    @media (max-width: $sm) {
      display: none;
    }
  }
}

input {
  font-size: 1rem;
  background: transparent;
  color: $white;

  &[type='text'] {
    border: 0;
    border-bottom: 2px solid $white;
  }
}

img, video {
  width: 100%;
  height: auto;
  display: block;

  @media (max-width: $sm) {
    width: calc(100% + (#{$spacing-4} * 2));
    margin-left: -$spacing-4;
  }
}

svg {
  display: block;
}

strong {
  font-weight: 700;
}

.border {
  border: $spacing solid $grayish;
}

.pesquisa-logo {
  max-width: 430px;
  margin-bottom: $spacing-8;

  &.-invert {
    margin-top: $spacing-8;
    margin-bottom: $spacing-4;

    path {
      fill: $black;
    }
  }
}
