@mixin selection {
  background-color: rgba($selection, 0.1);
  color: $selection;
}

*::-moz-selection {@include selection}
*::selection {@include selection}

body {
  background-color: $white;
  color: $white;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 $spacing-border;

  &[data-page='season'] {
    scroll-snap-type: y proximity;
    // scroll-snap-type: y mandatory;

    @media (max-width: $sm) {
      scroll-snap-type: none;
    }
  }

  &::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    border-right: $spacing-border solid $white;
    border-left: $spacing-border solid $white;
    pointer-events: none;
    z-index: 999;
    display: none;

    @media (max-width: $sm) {
      // display: block;
    }
  }
}

input {
  font-size: 1rem;
  background: transparent;
  color: $white;

  &[type='text'] {
    border: 0;
    border-bottom: 2px solid $white;
  }
}

img, video {
  width: 100%;
  height: auto;
  display: block;

  @media (max-width: $sm) {
    width: calc(100% + (#{$spacing-4} * 2) + (#{$spacing-border} * 2));
    margin-left: calc(-#{$spacing-4} - #{$spacing-border});
  }
}

svg {
  display: block;
}
