@mixin selection {
  background-color: rgba($selection, 0.1);
  color: $selection;
}

*::-moz-selection {@include selection}
*::selection {@include selection}

:root {
  background-color: $white;
  color: $white;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 $spacing-border;

  &[data-page='season'] {
    scroll-snap-type: y proximity;
    // scroll-snap-type: y mandatory;

    @media (max-width: $sm) {
      scroll-snap-type: none;
    }
  }
}

input {
  font-size: 1rem;
  background: transparent;
  color: $white;

  &[type='text'] {
    border: 0;
    border-bottom: 2px solid $white;
  }
}

img, video {
  width: 100%;
  height: auto;
  display: block;

  @media (max-width: $sm) {
    width: calc(100% + (#{$spacing-4} * 2) + (#{$spacing-border} * 2));
    margin-left: calc(-#{$spacing-4} - #{$spacing-border});
  }
}

svg {
  display: block;
}
