html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-family: 'Rubik', -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 400;

  @media (min-width: $xl) {
    font-size: $font-size-base-xl;
  }

  @media (min-width: $xxl) {
    font-size: $font-size-base-xxl;
  }
}

p {
  font-size: $font-size-medium;
  // width: 100%;
  // max-width: 38rem;
  // padding-bottom: $spacing-4;
}

.header {
  position: relative;
  left: -0.5vw;
  font-size: $font-size-large;
  line-height: $line-height-large;
  font-weight: 700;
  z-index: 0;
}

.subtitle {
  font-size: $font-size-medium;

  @media (max-width: $sm) {
    // font-size: 1.4rem;
    // line-height: 2.2rem;
  }
}

.eyebrow {
  position: relative;
  text-transform: uppercase;
  font-size: $font-size-small;
  font-weight: 500;
}
