// type
$font-size-base: 16px;
$line-height-base: 1.5;

$line-height-sm: 1.5;
$line-height-xl: 1.5;

// $font-size-text: 1.375rem;
// $line-height-text: 1.875rem;

$font-size-text: 1.25rem;
// $line-height-p: 1.875;

$font-size-small: 0.75rem;
$line-height-small: 1.5rem;

$font-size-sm: 16px;
$font-size-xl: 1.4vw;

// spacing
$spacing-border: $font-size-base;
$spacing-body-x: 5vw;
$spacing-body-y: 4vw;
$spacing: $font-size-base / 2;
$spacing-1: $spacing * 1;
$spacing-2: $spacing * 2;
$spacing-3: $spacing * 3;
$spacing-4: $spacing * 4;
$spacing-6: $spacing * 6;
$spacing-8: $spacing * 8;
$spacing-10: $spacing * 10;
$spacing-12: $spacing * 12;

//media queries
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1919px;

// colors
$black: #000;
$white: #fff;
$clear-white: white;
$gray: #e9e9e8;
$selection: gray;

// motion
$timing: 460ms;
$timing-fast: 300ms;
$easing: cubic-bezier(0.165, 0.84, 0.44, 1); //easeOutQuart
