// type
$font-size-base: 16px;
$font-size-base-xl: 22px;
$font-size-base-xxl: 30px;
$line-height-base: 1.5;

$font-size-header: 8.2vw;
$line-height-header: 1;
$font-size-regular: 1rem;
$font-size-text: 1.25rem;
$font-size-eyebrow: 0.75rem;
$font-size-quote: 2.25rem;
$line-height-quote: 1.25;

// spacing
$spacing-border: $font-size-base;
$spacing-body-x: 5vw;
$spacing-body-y: 4vw;

$spacing: 0.5rem;
$spacing-1: $spacing * 1;
$spacing-2: $spacing * 2;
$spacing-3: $spacing * 3;
$spacing-4: $spacing * 4;
$spacing-6: $spacing * 6;
$spacing-8: $spacing * 8;
$spacing-10: $spacing * 10;
$spacing-12: $spacing * 12;

//media queries
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1919px;
$xxl: 2340px;

// colors
$black: black;
$white: white;
$grayish: #f6f6f6;
$gray: #ddd;
$grayer: #757575;
$selection: $grayer;

// motion
$timing: 460ms;
$timing-fast: 300ms;
$easing: cubic-bezier(0.165, 0.84, 0.44, 1); //easeOutQuart
