include /components/includes

+meta-head(
  'Fernanda Barbato, Episódio 13 — Movimento UX',
  'UX Lead na Designit. Hyper Island, pesquisa com usuários, UX em outros países.',
  'https://movimentoux.com/ux-design/fernanda-barbato/',
  '',
  'episode'
)

+header('on')

+episode-section(
  'Fernanda Barbato',
  'UX Lead na Designit.',
  'Hyper Island, pesquisa com usuários, UX em outros países.',
  '13',
  '13-fernanda-barbato.jpg',
  '',
  '-inside',
  '',
  '',
  'standalone'
)

+episode-player('ep-13')

section.episode-content
  //- +episode-tabs

  .episode-text
    include intro
    //- include transcricao

  include sidebar

+meta-js
