.tab.on#intro
  +players
  
  p Oi, pessoal!
  p No 13º episódio do Movimento UX, tive uma conversa inspiradora com a Fernanda Barbato, Industry Leader na Hyper Island e UX Lead na Designit em Estocolmo/SWE.
  p A Fernanda é mineira de Belo Horizonte, mas mora há 6 anos na Suécia. Além de nos contar sobre seu extenso background, ela falou sobre a jornada de aprendizado no curso de Interactive Art Director na Hyper Island, de como descobriu o desejo de criar produtos centrados nos usuários - veio de um papo com um taxista bósnio - e da sua experiência de estágio na IDEO de Munique.
  p Também conversamos sobre seu dia a dia de trabalho de pesquisa com os usuários na consultoria VeryDay, os desafios e oportunidades que vivenciou ao fazer parte da equipe da startup Narrative Clip, a primeira câmera wearable do mundo, a sua missão na Designit e várias outras coisas!
  
  p As dicas que ela deixou pra gente são:
  ul.links
    li #[+link('Livro Isto é Design Thinking de Serviços', 'https://amzn.to/2PBsnUu')]
    li #[+link('Livro About Face do Alan Cooper', 'https://amzn.to/2Vz3I8K')]
    li #[+link('Lean UX', 'https://amzn.to/2J74yTD')]
    li #[+link('UXPin no Medium', 'https://medium.com/@uxpin')]
    li #[+link('Dave Malouf no Medium', 'https://medium.com/@daveixd')]
    li #[+link('The Ready no Medium', 'https://medium.com/the-ready')]
    li #[+link('Christina Wodtke no Medium', 'https://medium.com/@cwodtke')]

  p E aqui estão alguns links sobre os quais falamos neste podcast: 
  ul.links
    li #[+link('Start up Narrative Clip', 'http://getnarrative.com/')]
    li #[+link('Consultoria VeryDay', 'http://veryday.com/')]
    li #[+link('Métodos e ferramentas utilizados na HyperIsland', 'http://toolbox.hyperisland.com/')]
  
  p Ah, e pra quem quiser saber um pouco mais sobre o dia a dia do curso de Interactive Art Director na Hyper Island de Estocolmo é só escrever pro Cristiano! Ele vai ter o maior prazer de responder: #[+link('twitter.com/cristianodoes', 'http://twitter.com/cristianodoes')]. Você também pode acompanhar a jornada dele pelo snap: hicristiano.
  p No próximo podcast, vou conversar com o Fabricio Dore, Diretor Executivo de Design na McKinsey.
  p Obrigada por acompanhar o Movimento UX e até a próxima edição!
  p Obs: se você tiver qualquer dúvida ou quiser me dar um feedback é só me escrever no twitter.com/izabeladefatima ou no izabeladefatima@gmail.com 🙂

  hr

  +newsletter