include /_assets/pug/meta
include /_assets/pug/header
include /_assets/pug/social
include /_assets/pug/js

+meta(
  'Sobre — Movimento UX',
  'Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário.',
  'http://movimentoux.com/sobre/'
)

body

  +header('', '', 'on')

  #barba-wrapper
    .barba-container
      article.intro-text.-about
        section.about-description
          .description
            h1.title Movimento UX <br>é um podcast <br>de entrevistas <br>sobre o universo <br>de Experiência <br>do Usuário.
            p Oi, bem-vindx ao Movimento UX! Meu nome é Izabela, tenho 34 anos, moro em São Paulo e trabalho com pesquisa para produto no iFood. Trabalhei a maior parte do tempo como estrategista em agências de publicidade e hoje meu foco é pesquisa e estratégia de produto.
            p O podcast surgiu no momento em que resolvi me aproximar da área de UX. A vontade surgiu pela busca por projetos centrados (de verdade) nas pessoas e pelo desejo de ir além da comunicação para projetar produtos e serviços digitais.
            p O primeiro passo que dei foi pesquisar informações para começar a criar repertório. Achei bastante coisa, principalmente online. Se por um lado o volume de dados encontrado foi muito animador, por outro me deixou bastante perdida sobre como começar em uma área tão ampla, com inúmeras nomenclaturas e diversas possibilidades de atuação. E uma coisa me chamou à atenção durante a procura. Não encontrei nenhum canal de informação voltado para iniciantes, e em português  —  não tenho nada contra a língua inglesa; pelo contrário, gosto e admiro o poder de síntese, mas conteúdo em português pode facilitar a entrada num campo desconhecido. Isso me fez pensar que outras pessoas poderiam estar com o mesmo problema que o meu, confusas sobre como começar a trabalhar com UX. E como acredito que conversar sobre um problema é uma das melhores formas de encontrar caminhos para solucioná-lo, resolvi criar esse projeto.
            p O propósito do Movimento UX é entrevistar líderes do mercado de experiência do usuário no Brasil e no mundo para que a gente possa utilizar o ponto de vista dele ou dela para aprender mais sobre o tema.
            p A primeira temporada tem 18 episódios e o objetivo foi investigar sobre o universo de UX Design. Já a segunda temporada tem a proposta de discutir sobre Pesquisa para produto (UX Research). Eu fico à frente da produção dos podcasts enquanto o Cristiano Sarmento e o Pedro Ivo Hudson (que além de serem designers que admiro, tenho a sorte de tê-los como parceiros neste projeto) lideram a parte visual e o site. Espero que você goste!

          +social('')

      section.about-team
        p.eyebrow Equipe
        .members
          .member-block
            img(src='/_assets/img/team-izabela.jpg' alt='Fotografia de Izabela de Fátima')
            h2.subtitle Izabela de Fátima
            h3.job Pesquisadora UX & Apresentadora
            ul.member-social
              //- li.item
                a(href='http://izabeladefatima.com/' title='Website' target='_blank' rel='noopener').icon #[svg(src='_assets/img/social-website.svg')]
              li.item
                a(href='https://www.linkedin.com/in/izabeladefatima/' title='LinkedIn' target='_blank' rel='noopener').icon #[svg(src='_assets/img/social-linkedin.svg')]
              li.item
                a(href='https://twitter.com/izabeladefatima' title='Twitter' target='_blank' rel='noopener').icon #[svg(src='_assets/img/social-twitter.svg')]
          
          .member-block
            img(src='/_assets/img/team-cristiano.jpg' alt='Fotografia de Cristiano Sarmento')
            h2.subtitle Cristiano Sarmento
            h3.job Designer & Diretor de Arte
            ul.member-social
              li.item
                a(href='http://cristiano.do/' title='Website' target='_blank' rel='noopener').icon #[svg(src='_assets/img/social-website.svg')]
              li.item
                a(href='https://www.linkedin.com/in/hicristiano/' title='LinkedIn' target='_blank' rel='noopener').icon #[svg(src='_assets/img/social-linkedin.svg')]
              li.item
                a(href='https://twitter.com/cristianodoes' title='Twitter' target='_blank' rel='noopener').icon #[svg(src='_assets/img/social-twitter.svg')]
          
          .member-block
            img(src='/_assets/img/team-pedroivo.jpg' alt='Fotografia de Pedro Ivo Hudson')
            h2.subtitle Pedro Ivo Hudson
            h3.job Designer
            ul.member-social
              li.item
                a(href='http://podrivo.com/' title='Website' target='_blank' rel='noopener').icon #[svg(src='_assets/img/social-website.svg')]
              li.item
                a(href='https://www.linkedin.com/in/pedroivohudson/' title='LinkedIn' target='_blank' rel='noopener').icon #[svg(src='_assets/img/social-linkedin.svg')]
              li.item
                a(href='https://twitter.com/podrivo' title='Twitter' target='_blank' rel='noopener').icon #[svg(src='_assets/img/social-twitter.svg')]
      
      footer
        a(href='mailto:contato@movimentoux.com' title='envie email para — contato@movimentoux.com').btn.-lg envie email para — contato@movimentoux.com

//- don't forget js
+js
