include /components/includes

+meta-head(
  'André Souza, Pesquisador Quantitativo no Spotify. Episódio 26 — Movimento UX. Conversas sobre pesquisa em experiência do usuário. UX Research.',
  'Pesquisa Quantitativa e Neurociência aplicada a Design e UX — Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Terceira Temporada. Conversas sobre pesquisa em experiência do usuário. UX Research.',
  'https://movimentoux.com/temporada-3/andre-souza/',
  'https://movimentoux.com/assets/img/share/26-andre-souza.jpg',
  'episode'
)

+header('', '', 'on')

+episode-section(
  'André Souza',
  'Pesquisador Quantitativo no Spotify.',
  'Pesquisa Quantitativa e Neurociência aplicada a Design e UX.',
  '26',
  '26-andre-souza.jpg',
  '',
  '-inside'
)

+episode-player('andre-souza')

section.episode-content
  //- +episode-tabs

  .episode-text
    include intro
    //- include transcricao

  include sidebar

+meta-js
