.tab.on#intro
  p A terceira temporada do Movimento UX estreia com um convidado muito especial: o André Souza.
  p Ele é Doutor em Psicologia Cognitiva com ênfase em Neurociência e saiu da academia para trabalhar como pesquisador quantitativo em gigantes da tecnologia.
  p Neste episódio, ele conta como ajudou a criar cultura e disseminar a posição de pesquisador quantitativo dedicado em times de UX e Ciência de Dados no Google/CA, Facebook/CA e Spotify/NY.
  p Falamos sobre o papel de pesquisador quantitativo nessas empresas, como a neurociência pode gerar impacto positivo no desenvolvimento de produtos e serviços digitais, seus projetos, cases e muito mais.

  blockquote "Toda vez que eu participo de algum evento ou congresso que tem alguma discussão sobre o estado da disciplina de pesquisa em UX, eu sempre começo falando sobre voltar com o rigor metodológico das pesquisas que a gente faz. Às vezes parece que por ser quantitativo é mais rigoroso que o qualitativo. Não é isso. O rigor científico tem que existir tanto do lado quantitativo como do lado qualitativo também."

  .episode-gallery
    .img #[+image('26-foto-01.jpg','Facebook War Room.')]
    .img #[+image('26-foto-02.jpg','Home visit na África do Sul durante o trabalho nas eleições presidenciais.')]
  +image('26-foto-03.jpg','Escritório do Google na Índia durante uma entrevista com usuários.')
  
  +episode-links({
    1: {
      type: 'Curso',
      title: 'Curso Introdução a Ciência de Dados',
      url: 'https://www.coursera.org/specializations/introduction-data-science?'
    },
    2: {
      type: 'Curso',
      title: 'Curso básico de SQL',
      url: 'https://www.coursera.org/specializations/learn-sql-basics-data-science?'
    },
    3: {
      type: 'Podcast',
      title: 'Podcast Pizza de Dados',
      url: 'https://pizzadedados.com/'
    },
    4: {
      type: 'Podcast',
      title: 'Episódio do podcast da revista Gama sobre o impacto do uso excessivo de tecnologia',
      url: 'https://gamarevista.com.br/podcast/podcast-da-semana/a-internet-ta-funcionando/'
    },
    5: {
      type: 'Podcast',
      title: 'Episódio com a Cris Bisland em que ela cita o projeto de pesquisa que ele também participou - que coincidência!',
      url: 'https://www.movimentoux.com/ux-research/cristina-bilsland/'
    }
  })

  p Quer ajudar o podcast? Compartilhe este episódio com outras pessoas e  avalie o Movimento UX no seu player de podcast preferido. Isso vai ajudar o podcast a chegar em mais pessoas e disseminar a cultura de pesquisa em design ainda mais!
  p O banco BMG foi o patrocinador deste episódio! Um super obrigada à equipe de Design do BMG <3 por apoiar financeiramente o podcast e incentivar a produção de conteúdo sobre UX em português para a comunidade.
  p As músicas deste episódio são do produtor Richard Garrel com seu projeto #[+link('Aeoner', 'https://aeoner.bandcamp.com')].
  p Até a próxima entrevista! Ah, enquanto isso vou adorar manter contato no #[+link('Twitter', 'https://twitter.com/izabeladefatima')].

  hr

  +newsletter