.episode-sidebar
  .info
    h3.eyebrow Localização
    p Nova Iorque

    h3.eyebrow Social
    p #[+link('LinkedIn', 'https://www.linkedin.com/in/andrelesouzaa/')]
    p #[+link('Medium', 'https://medium.com/@andrelesouza')]

    //- h3.eyebrow Download
    //- p #[+link('Arquivo MP3', '#!', 'download')]

  +supporter-sidebar(
    'Patrocinador do episódio',
    'Banco BMG',
    'O único com cashback duplo nas operações de crédito e débito.',
    'https://www.bancobmg.com.br/',
    'bmg-logo.png'
  )