.about-description {
  width: 100%;
  margin-top: 6vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  > .description {
    width: 60%;
  }

  p {
    padding-bottom: $padding-font-x;

    &:last-child {
      padding-bottom: 0;
    }
  }
}
