.about-description {
  width: 100%;
  // margin-top: 6vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  // padding: 0 $spacing-body-x $spacing-body-x;
  padding-top: $spacing-10;

  > .description {
    width: 60%;

    p {
      padding-bottom: $spacing-4;
    }

    p:last-child {
      padding-bottom: 0;
    }
  }
}
