.about-team {
  margin-top: 8vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;

  > .eyebrow {
    margin-bottom: $spacing-4;
  }

  > .members {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.member-block {
  width: 28%;

  > img,
  > .job,
  > .text {
    margin-bottom: $spacing-4;
  }
}

.member-social {
  display: flex;

  > .item {
    margin-right: $spacing-1;
  }

  .icon {
    display: block;
    transition: transform $timing $easing;

    &:hover,
    &:focus {
      transform: translateY(-4px);
    }
  }
}
