.about-description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  > .description {

    @media (max-width: $sm) {
      width: 100%;
    }
  }

  > .description .title {
    margin-bottom: $spacing-8;

    @media (max-width: $sm) {
      margin-bottom: $spacing-2;
    }
  }

  > .description p {
    width: 60%;
    padding-bottom: $spacing-4;

    @media (max-width: $sm) {
      width: 100%;
      padding-bottom: $spacing-2;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}
