.about-team {
  margin-top: 8vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;

  > .eyebrow {
    margin-bottom: $padding-font-x;
  }

  > .members {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.member-block {
  width: 28%;

  > .job {
    margin-bottom: $padding-font-x;
  }

  > img {
    width: 100%;
    height: auto;
    margin-bottom: $padding-font-x;
  }
}

.member-social {
  display: flex;
  margin-top: $padding-font-x;

  > .item {
    margin-right: $padding-font;
  }

  .icon {
    display: block;
    transition: transform $timing $easing;

    &:hover,
    &:focus {
      transform: translateY(-4px);
    }
  }

  svg {
    display: block;
  }
}
