.episode-content {
  // position: relative;
  // left: -$spacing-body-x;
  // width: calc(100% + (#{$spacing-body-x} * 2));
  width: 100%;
  // margin-bottom: -$spacing-body-x;
  padding: $spacing-body-y $spacing-body-x;
  background-color: $white;
  color: $black;
  display: flex;
  justify-content: space-between;

  > .text {
    width: 60%;

    img {
      width: 120%;
      margin-bottom: $spacing-4;
    }

    p {
      margin-bottom: $spacing-4;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  > .details {
    width: 20%;

    .eyebrow {
      margin-top: $spacing-4;
    }

    .eyebrow:first-child {
      margin-top: 0;
    }

  }
  blockquote {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 500;
    margin-bottom: $spacing-4;
    padding: $spacing-8 0;
    // border-top: 1px solid rgba($black, 0.1);
    // border-bottom: 1px solid rgba($black, 0.1);
  }
}
