.episode-content {
  width: 100%;
  padding: $spacing-body-y $spacing-body-x calc(#{$spacing-body-x} + #{$spacing-8});
  background-color: $white;
  color: $black;
  display: flex;
  justify-content: center;

  > .text {
    max-width: 700px;
    margin-right: $spacing-body-x * 2;

    img, p, ul {
      margin-bottom: $spacing-4;
    }

    *:last-child {
      margin-bottom: 0;
    }

    .caption {
      margin-top: -$spacing-4;
      margin-bottom: $spacing-4;
      font-size: 0.9rem;
      text-align: right;
      display: block;
    }

    .links {
      margin-top: -$spacing-4;
    }
  }

  > .sidebar {

    .eyebrow {
      margin-top: $spacing-4;
    }

    .eyebrow:first-child {
      margin-top: 0;
    }

  }

  .gallery {
    display: flex;
    justify-content: space-between;

    .img {
      max-width: 48%;
    }
  }

  blockquote {
    font-size: 2rem;
    line-height: 2.6rem;
    font-weight: 500;
    margin: $spacing-8 0;
    padding: $spacing-8 0;
    border-top: 2px solid $gray;
    border-bottom: 2px solid $gray;
  }
}
