.episode-player {
  position: fixed;
  bottom: 14px;
  width: 100%;
  padding: $spacing-2 $spacing-body-x;
  background-color: $black;
  color: $white;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > .play {
    position: relative;
    width: 26px;
    height: 28px;
    font-size: 1.6rem;
    margin-right: $padding-font-x;
    cursor: pointer;
    box-sizing: content-box;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      box-sizing: content-box;
    }

    &::before {
      content: '';
      right: 0;
      width: 0;
      height: 100%;
      border-top: 0 solid transparent;
      border-bottom: 0 solid transparent;
      border-left: 0.3em solid #fff;
      transition: all 0.15s;
      opacity: 0;
    }

    &::after {
      content: '';
      left: 0;
      width: 0;
      height: 0;
      border-top: 0.5em solid transparent;
      border-bottom: 0.5em solid transparent;
      border-left: 0.833334em solid #fff;
      transition: all 0.25s;
    }

    &.-on::before {
      border-top-width: 0;
      border-bottom-width: 0;
      border-left-width: 0.28em;
      height: 100%;
      opacity: 1;
    }

    &.-on::after {
      border-top-width: 0;
      border-bottom-width: 0;
      border-left-width: 0.28em;
      height: 100%;
    }
  }

  > .time {
    width: 60px;
    font-size: 0.8rem;
    text-align: center;

    &.-current {
      text-align: right;
    }

    &.-duration {
      text-align: left;
    }
  }

  > .timeline {
    position: relative;
    width: 100%;
    margin: 0 $spacing-1;
    height: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba($white, 0.25);
    overflow: hidden;
    cursor: pointer;

    &.-active {cursor: pointer;}

    > .percentage,
    > .mouse {
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 100%;
      border-radius: 8px;
    }

    > .mouse {
      background-color: rgba($white, 0.15);
      transition: all $timing / 2 $easing;
    }

    > .mouse.teste {
      height: 140%;
      top: -20%;
    }

    > .percentage {
      background-color: $white;
      transition: all $timing $easing;
    }
  }
}
