header {
  background-color: $black;
  position: fixed;
  top: 14px;
  left: 0;
  width: 100%;
  padding: $spacing-3 $spacing-body-x;
  z-index: 999;

  @media (max-width: $sm) {
    display: none;
  }

  > .wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo::after {
    display: none;
  }

  .menu {
    display: flex;

    > .item {
      padding-left: $spacing-4;
    }
  }
}
