header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > .logo::after {
    display: none;
  }

  > .menu {
    display: flex;

    > .item {
      padding-left: $spacing-4;
    }
  }
}
