header {
  background-color: $black;
  position: fixed;
  top: 14px;
  left: 0;
  width: 100%;
  padding: $spacing-3 $spacing-body-x;
  z-index: 999;

  @media (max-width: $sm) {
    // display: none;
    padding: $spacing-2 $spacing-4;
  }

  > .wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    z-index: 101;

    @media (max-width: $sm) {
      width: 30px;

      svg {
        pointer-events: none
      }

      svg .logo-type {
        display: none;
      }
    }

    &::after {
      display: none;
    }
  }

  .menu {
    display: flex;
    z-index: 101;

    @media (max-width: $sm) {
      &.-desktop {
        display: none;
      }

      &.-desktop.teste {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $black;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 2rem;
        line-height: 4rem;
        z-index: 100;
      }
    }

    &.-mobile {
      display: none;

      .link:hover::before,
      .link:focus::before {
        display: none;
      }

      @media (max-width: $sm) {
        display: block;
      }
    }


    > .item {
      padding-left: $spacing-4;
    }
  }
}
