.intro {
  width: 100%;
  margin-top: 12vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  > .title {
    max-width: 80%;
    line-height: 1.1em;
    margin-left: -0.5vw;
  }

  &::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    border: $padding-responsive solid #fff;
    pointer-events: none;
    z-index: 999;
  }
}
