.intro-text {
  // margin-top: 25vh;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: flex-end;
  // align-items: flex-end;
  flex-direction: column;
  padding: $spacing-body-y $spacing-body-x $spacing-body-x;

  > .title {
    // bottom: -1vw;
    // line-height: 1.1em;
    margin: $spacing-2 0;
  }

  &.-about {
    margin-top: 30vh;
    height: auto;
  }
}
