.intro-episode {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 26vw 0 0;

  > .title,
  > .title-upper,
  > .keywords,
  > .number {
    pointer-events: none;
  }

  > .title {
    margin: $padding-font 0;
  }

  > .keywords {
    position: relative;
  }

  > .number {
    font-size: 8.2vw;
    line-height: 0.9em;
    font-weight: 700;
    position: absolute;
    align-self: flex-end;
    color: $black;
    text-shadow: -2px 0 $white, 0 2px $white, 2px 0 $white, 0 -2px $white;
  }
}

.intro-cover {
  position: absolute;
  align-self: center;
  perspective: 1000;

  > img {
    max-width: 600px;
    height: auto;
    display: block;
    backface-visibility: hidden;
    transition: transform $timing $easing;
  }

  &:hover > img,
  &:focus > img {
    transform: rotateY(18deg);
  }
}
