.intro-episode {
  // background-color: $black;
  // visibility: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  padding: $spacing-body-y $spacing-body-x $spacing-body-x;
  // transition: all $timing $easing;

  @media (max-width: $sm) {
    display: block;
    height: auto;
    padding: $spacing-2 $spacing-4 $spacing-4;
  }

  > .text {
    z-index: 99;
    pointer-events: none;
  }

  > .text .title {
    max-width: 50%;
    margin: $spacing-1 0;
    z-index: 99;
    // transition: all ($timing * 2.3) $easing;

    &.-two {
      max-width: 83%;
    }
  }

  > .number {
    font-size: 8.1vw;
    line-height: 0.9em;
    font-weight: 700;
    position: absolute;
    align-self: flex-end;
    color: $black;
    text-shadow: -2px 0 $white, 0 2px $white, 2px 0 $white, 0 -2px $white;

    @media (max-width: $sm) {
      display: none;
    }
  }

  > .buttons {
    display: flex;
    align-items: center;
    margin-top: $spacing-8;

    .link {
      margin-left: $spacing-2;
    }

    span {
      transform: translateY(1px);
      display: inline-block;
      margin-right: 4px;
    }
  }

  &.-hide {
    visibility: hidden;
  }

  &.-clone {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }

  &.-inside {
    justify-content: center;
    // visibility: visible;

    @media (max-width: $sm) {
      padding-top: $spacing-10;
    }
  }

  &.-inside .text {
    pointer-events: all;
  }
}
