include /pug/meta
include /pug/header
include /pug/episode
include /pug/player
include /pug/js

+meta(
  'Rodrigo Medeiros, Episódio 2 — Movimento UX',
  'Líder local no IxDA Recife. Design centrado no usuário, design thinking e mercado de UX.',
  'http://movimentoux.com/ux-design/rodrigo-medeiros/'
)

body(data-page='episode')
  
  +header('on', '', '')
  
  #barba-wrapper
    .barba-container
      +episode(
        'Rodrigo Medeiros',
        'Líder local no IxDA Recife.',
        'Design centrado no usuário, design thinking e mercado de UX.',
        '02',
        '02-foto-rodrigo-medeiros.jpg',
        '',
        '-inside'
      )
      
      +player('movimento-ux-ep-2-rodrigo-medeiros')
      
      section.episode-content
        .tab.on#intro
          include intro.pug

//- last
//- but not least
+js
