include /components/includes

+meta-head(
  'Elisa Volpato, Episódio 6 — Movimento UX',
  'Fundadora na TESTR. Pesquisa para produto, teste de usabilidade, consultoria.',
  'https://movimentoux.com/ux-design/elisa-volpato/',
  '',
  'episode'
)

+header('on')

+episode-section(
  'Elisa Volpato',
  'Fundadora na TESTR.',
  'Pesquisa para produto, teste de usabilidade, consultoria.',
  '06',
  '06-elisa-volpato.jpg',
  '',
  '-inside',
  '',
  'https://open.spotify.com/episode/4ky3r0jSlSBbKBtuNDIOvx'
)

//- +episode-player('elisa-volpato')

section.episode-content
  +episode-tabs

  .episode-text
    include intro
    include transcricao

  include sidebar

+meta-js