include /components/includes

+meta-head(
  'Pedro Beleza e Thiago Esser, Episódio 8 — Movimento UX',
  'Sócios-fundadores da UXConf. Conteúdo sobre UX, importância de comunidade, eventos de UX.',
  'https://movimentoux.com/ux-design/pedro-thiago/',
  '',
  'episode'
)

+header('on')

+episode-section(
  'Pedro e Thiago',
  'Sócios-fundadores da UXConf.',
  'Conteúdo sobre UX, importância de comunidade, eventos de UX.',
  '08',
  '08-pedro-thiago.jpg',
  '',
  '-inside',
  '',
  '',
  'standalone'
)

+episode-player('ep-08')

section.episode-content
  +episode-tabs

  .episode-text
    include intro
    include transcricao

  include sidebar

+meta-js
