.tab.on#intro
  p O 8º episódio do Movimento UX foi uma edição especial sobre a 2ª UXConfBR, conferência nacional sobre UX e Design dedicada a discutir a experiência do usuário sob vários aspectos, que aconteceu nos dias 20 e 21 de maio em Porto Alegre.
  p Eu conversei com o Pedro Belleza e o Thiago Esser, organizadores do evento, sobre a criação da UXConfBR, os bastidores, as novidades em relação à primeira edição, as expectativas para 2017 e muito mais.
  p O Pedro trabalha com Design de Interação e Experiência há mais de 15 anos e hoje ocupa a posição de Lead Interaction Designer na unidade de R&D da HP, foi um dos fundadores da IxDA POA (Interaction Design Association, capítulo Porto Alegre), além de ter criado o primeiro UX Book Club da América Latina.
  p Já o Thiago é consultor de Design de Interação e Experiência e sócio da #[+link('Wildtech','http://www.wildtech.com.br/')] professor e fundador da #[+link('UXniversity','http://uxnivers.com/')] espaço para cursos de UX e autor do livro #[+link('Design para a Experiência do Usuário: alguém está fazendo isso por você','http://uxnivers.com/livro')].
  p O próximo papo será com a Karine Drumond, que é Designer de Interação e fundadora do projeto Negócio de Mulher.
  p Até o próximo podcast!
