include /components/includes

+meta-head(
  'Rafaela de Souza, Pesquisadora de Experiência do Usuário Sênior no Spotify. Episódio 39 — Movimento UX',
  'Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Quarta Temporada',
  'https://movimentoux.com/temporada-4/rafaela-souza/',
  'https://movimentoux.com/assets/img/share/39-rafaela-souza.jpg',
  'episode'
)

+header('', '', '', 'on')

+episode-section(
  'Rafaela de Souza',
  'Pesquisadora de Experiência do Usuário Sênior no Spotify',
  '',
  '39',
  '39-rafaela-souza.jpg',
  '',
  '-inside',
  '',
  'http://bit.ly/3Ln5MKC'
)

section.episode-content
  //- +episode-tabs

  .episode-text
    include intro
    //- include transcricao

  include sidebar

+meta-js
