.tab.on#intro
  +social-players

  p No nono episódio da quarta temporada do Movimento UX, conversamos com a Rafaela de Souza.
  p Dentro do Spotify, ela atua no #[+link('Soundtrap', 'https://www.soundtrap.com/')], um software de criação e edição de áudio e podcasts bem legal.


  +image('39-foto-01.png', '', '', '', 'border')

  +episode-links({
    1: {
      type: 'Artigo',
      title: '21 coisas que precisam acabar em UX Design',
      url: 'https://www.design2021.com.br/artigos/21-coisas-que-tem-que-acabar-em-ux-design-para-2021'
    },
    2: {
      type: 'Palestra',
      title: 'Realidade da Pesquisa no UX Team Summit 2019',
      url: 'https://www.youtube.com/watch?v=G00eRXRPFl4'
    }
  })

  p Até a próxima entrevista! Ah, enquanto isso vou adorar manter contato no #[+link('Twitter', 'https://twitter.com/izabeladefatima')] :)

  hr

  p #[strong Quer ajudar o Movimento UX?]
  p Siga e avalie a gente com 5 estrelas nos aplicativos do #[+link('Spotify', 'https://open.spotify.com/show/0jpGW9nTFzzzHCjm7Y3d73?si=uuZGXryBTquSdkG1njUlTw')] e da #[+link('Apple', 'https://podcasts.apple.com/br/podcast/movimento-ux/id1093322366')]. Lembrando que, por enquanto, essa funcionalidade só está disponível no telefone. Você também pode dar uma força divulgando os episódios em suas redes.

  hr

  p #[strong Sobre o Movimento UX]
  p A criação do podcast, dos roteiros e a curadoria dos temas e entrevistas são feitas por mim, Izabela de Fátima.
  p A revisão do tema da temporada e do roteiro é feita pela #[+link('Renata Moreira', 'https://www.linkedin.com/in/remoreira/')].
  p A trilha sonora original e a execução da trilha é do Richard Garrell, no seu projeto #[+link('Aeoner', 'https://aeoner.bandcamp.com')].
  p A edição do áudio é feita pela #[+link('Matheus Cogli', 'https://www.linkedin.com/in/matheuscogli/')].
  p A identidade visual é do #[+link('Cristiano Sarmento', 'https://www.linkedin.com/in/hicristiano/')]. O site também é dele em parceria com o #[+link('Pedro Ivo', 'https://www.linkedin.com/in/pedroivohudson/')].