include /components/includes

+meta-head(
  'Movimento UX — Todos os episódios.',
  'Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário',
  'https://movimentoux.com/episodios/',
  '',
  'season'
)

+header

//- section.intro-section.-snap
//-   span.eyebrow UX Research
//-   h1.header Terceira <br> Temporada
//-   p Nov, 2020 — Conversas sobre pesquisa em experiência do usuário.
//-   +social-links('-home')

//- ul.list-grid
//-   li.list.-on #[img(src='assets/img/ui/ep-list.svg')]
//-   li.grid #[img(src='assets/img/ui/ep-grid.svg')]

//- .episode-wrapper



//- Temporada 4
+episode-section(
  'Thiago Fontes',
  'Pesquisador em UX Sênior no WhatsApp/Meta',
  '',
  '36',
  '36-thiago-fontes.jpg',
  '/temporada-4/thiago-fontes/',
  '-snap',
  '',
  'https://open.spotify.com/episode/1dsCHxvSE2pR7eyIMD2zs0'
)
+episode-section(
  'Bruna Maia',
  'Líder Global de Pesquisa em UX no Gympass',
  '',
  '35',
  '35-bruna-maia.jpg',
  '/temporada-4/bruna-maia/',
  '-snap',
  '',
  'https://open.spotify.com/episode/1sGyRCrFDmkj8cTrL8UsMY'
)
+episode-section(
  'Pablo Turazzi',
  'Pesquisador em Experiência do Usuário Sênior no Mercado Livre',
  '',
  '34',
  '34-pablo-turazzi.jpg',
  '/temporada-4/pablo-turazzi/',
  '-snap',
  '',
  'https://open.spotify.com/episode/6DkYXF1ktAumTrvPXyiAo3'
)
+episode-section(
  'Diana Fournier',
  'Gerente de Design Sênior no iFood',
  '',
  '33',
  '33-diana-fournier.jpg',
  '/temporada-4/diana-fournier/',
  '-snap',
  '',
  'https://open.spotify.com/episode/4jQ5nvdhI6KdVdBTcE8hvp'
)
+episode-section(
  'Ana Coli',
  'Gerente de UX Sênior no Nubank',
  '',
  '32',
  '32-ana-coli.jpg',
  '/temporada-4/ana-coli/',
  '-snap',
  '',
  'https://open.spotify.com/episode/4G2FQzWF7QPLtNdBVI4JS8'
)
+episode-section(
  'Paula Macedo',
  'Gerente de Design Sênior no Nubank',
  '',
  '31',
  '31-paula-macedo.jpg',
  '/temporada-4/paula-macedo/',
  '-snap',
  '',
  'https://open.spotify.com/episode/4acDQ2KvTOqdw4DLQLU728'
)

//- Temporada 3
+episode-section(
  'Samyra Ribeiro',
  'Gerente de Pesquisa UX na Globo.',
  'Liderança e organização de time de pesquisa.',
  '30',
  '30-samyra-ribeiro-pt2.jpg',
  '/temporada-3/samyra-ribeiro-pt2/',
  '-snap',
  'pt2',
  'https://open.spotify.com/episode/1NtXyha0NzGHrbt2jiycMh'
)
+episode-section(
  'Samyra Ribeiro',
  'Gerente de Pesquisa UX na Globo.',
  'Liderança e organização de time de pesquisa.',
  '29',
  '29-samyra-ribeiro-pt1.jpg',
  '/temporada-3/samyra-ribeiro-pt1/',
  '-snap',
  'pt1',
  'https://open.spotify.com/episode/26CGohUgeZ7K8IDcsQr0XN'
)
+episode-section(
  'Viviane Delvequio',
  'Gerente de Pesquisa em Design no PagSeguro.',
  'Operações de Pesquisa em Design.',
  '28',
  '28-viviane-delvequio.jpg',
  '/temporada-3/viviane-delvequio/',
  '-snap',
  '',
  'https://open.spotify.com/episode/1RDwdN6L4Hn89Fb3EgPO8O'
)
+episode-section(
  'Caio Gama',
  'Pesquisador UX no Shopify.',
  'Personas orientadas por dados comportamentais quantitativos.',
  '27',
  '27-caio-gama.jpg',
  '/temporada-3/caio-gama/',
  '-snap',
  '',
  'https://open.spotify.com/episode/7rmtvG86uwueBgHBwLXJ4v'
)
+episode-section(
  'André Souza',
  'Pesquisador Quantitativo no Spotify.',
  'Pesquisa Quantitativa e Neurociência aplicada a Design e UX.',
  '26',
  '26-andre-souza.jpg',
  '/temporada-3/andre-souza/',
  '-snap',
  '',
  'https://open.spotify.com/episode/15D6mSmmJorvNFLva2IwG1'
)





//- Temporada 2
+episode-section(
  'Camila Borja',
  'User Experience Researcher no Itaú.',
  'Operação de pesquisa (Research Ops), Síntese de aprendizados e Storytelling.',
  '25',
  '24-camila-borja.jpg',
  '/temporada-2/camila-borja-pt2/',
  '-snap',
  'pt2',
  'https://open.spotify.com/episode/1IbCIdwwsK9IRGWC4Vh1Pt'
)
+episode-section(
  'Camila Borja',
  'User Experience Researcher no Itaú.',
  'Capacitação em Pesquisa, Atomic Research e Gestão e organização dos aprendizados.',
  '24',
  '24-camila-borja.jpg',
  '/temporada-2/camila-borja-pt1/',
  '-snap',
  'pt1',
  'https://open.spotify.com/episode/4xm2vQx3Ok6GSnz0PVL3ZH'
)
+episode-section(
  'Ana Rafaela',
  'User Experience Researcher no YouTube San Bruno/CA.',
  'Pesquisa global, técnicas híbridas de pesquisa, repositório de aprendizados.',
  '23',
  '23-ana-rafaela.jpg',
  '/temporada-2/ana-rafaela/',
  '-snap',
  '',
  'https://open.spotify.com/episode/2wqWqSyvi5QvSXkDQ4dDmQ'
)
+episode-section(
  'Cristina Bilsland',
  'User Experience Researcher Senior no Google UK.',
  'Pesquisa global, estratégia de pesquisa, design sprint.',
  '22',
  '22-cristina-bilsland.jpg',
  '/temporada-2/cristina-bilsland/',
  '-snap',
  '',
  'https://open.spotify.com/episode/3JwHXkphQCMcFbNIWuHdcd'
)
+episode-section(
  'Caio Gama',
  'User Researcher no Nubank.',
  'Data & analytics, mix de técnicas de pesquisa qualitativa e quantitativa.',
  '21',
  '21-caio-gama.jpg',
  '/temporada-2/caio-gama/',
  '-snap',
  '',
  'https://open.spotify.com/episode/5yUMlC5wVZtuTs09PK7OJG'
)
+episode-section(
  'Carol Zatorre',
  'Head de Pesquisa na Kyvo.',
  'Consultoria, pesquisa qualitativa e pesquisa na sprint.',
  '20',
  '20-carol-zatorre.jpg',
  '/temporada-2/carol-zatorre/',
  '-snap',
  '',
  'https://open.spotify.com/episode/2j63pcmZKBPaevnhfg400R'
)
+episode-section(
  'Paola Sales',
  'Head de User Studies no Descomplica.',
  'Pesquisa humanizada, empatia e criação de área.',
  '19',
  '19-paola-sales.jpg',
  '/temporada-2/paola-sales/',
  '-snap',
  '',
  'https://open.spotify.com/episode/3EyIYp3iphuqgDMUsneXU8'
)




//- Temporada 1
+episode-section(
  'Andre do Amaral',
  'Designer de Produto na Netflix.',
  'Visual design, design digital, UX em outros países.',
  '18',
  '18-andre-do-amaral.jpg',
  '/temporada-1/andre-do-amaral',
  '-snap',
  '',
  'https://open.spotify.com/episode/2Ifs6HeUOlpeJviO6Z2rEQ'
)
+episode-section(
  'Carolina Leslie',
  'Sócia fundadora da Saiba+.',
  'Consultoria, pesquisa com usuários, usabilidade.',
  '17',
  '17-carolina-leslie.jpg',
  '/temporada-1/carolina-leslie',
  '-snap',
  '',
  'https://open.spotify.com/episode/5feBVqSFk9GzOWWvJK2eLM'
)
+episode-section(
  'Felipe Memoria',
  'Sócio fundador da Work & Co.',
  'Produto digital, inovação, liderança em design.',
  '16',
  '16-felipe-memoria.jpg',
  '/temporada-1/felipe-memoria',
  '-snap',
  '',
  'https://open.spotify.com/episode/0mUO5nPXIkqIYBTlY2xcsr'
)
+episode-section(
  'Guilherme Neumann',
  'UX Lead no Nubank.',
  'Cultura de experiência, design de produto, liderança em design.',
  '15',
  '15-guilherme-neumann.jpg',
  '/temporada-1/guilherme-neumann',
  '-snap',
  '',
  'https://open.spotify.com/episode/2SfBnWCLNFSWwIlm6zmMff'
)
+episode-section(
  'Fabricio Dore',
  'Diretor Executivo de UX na McKinsey.',
  'Design de interação, inovação digital, UX em outros países.',
  '14',
  '14-fabricio-dore.jpg',
  '/temporada-1/fabricio-dore',
  '-snap',
  '',
  'https://open.spotify.com/episode/061W2iGG7ad2Bsmu0DBHKE'
)
+episode-section(
  'Fernanda Barbato',
  'UX Lead na Designit.',
  'Hyper Island, pesquisa com usuários, UX em outros países.',
  '13',
  '13-fernanda-barbato.jpg',
  '/temporada-1/fernanda-barbato',
  '-snap',
  '',
  'https://open.spotify.com/episode/4iDOgYbOvvl6uZgpgNS42x'
)
+episode-section(
  'Sérgio Salvador',
  'Diretor de UX na Huge.',
  'Consultoria, liderança, design antecipatório.',
  '12',
  '12-sergio-salvador.jpg',
  '/temporada-1/sergio-salvador',
  '-snap',
  '',
  'https://open.spotify.com/episode/3mX2BGKykULgw1TmyZnL3Z'
)
+episode-section(
  'Robson Santos',
  'Designer Estratégico na PorQueNão.',
  'Pesquisa para produto, estratégia de UX, usabilidade.',
  '11',
  '11-robson-santos.jpg',
  '/temporada-1/robson-santos',
  '-snap',
  '',
  'https://open.spotify.com/episode/4V8hMmEQeyfxawx3Zo03IR'
)
+episode-section(
  'Érico Fileno',
  'Head de Inovação na Visa.',
  'Design estratégico, inovação em serviços e experiência do usuário.',
  '10',
  '10-erico-fileno.jpg',
  '/temporada-1/erico-fileno',
  '-snap',
  '',
  'https://open.spotify.com/episode/6Imxn6gCosDhdcRg5vdsxN'
)
+episode-section(
  'Karine Drumond',
  'Sócia-fundadora da Negócio de Mulher.',
  'Usabilidade, design de interação, empreendedorismo.',
  '09',
  '09-karine-drumond.jpg',
  '/temporada-1/karine-drumond',
  '-snap',
  '',
  'https://open.spotify.com/episode/2met1waNRmEevjSEqq5Cpc'
)
+episode-section(
  'Pedro e Thiago',
  'Sócios-fundadores da UXConf.',
  'Conteúdo sobre UX, importância de comunidade, eventos de UX.',
  '08',
  '08-pedro-thiago.jpg',
  '/temporada-1/pedro-thiago',
  '-snap',
  '',
  'https://open.spotify.com/episode/60Ag3gMg6MDRdlaUYLrrh8'
)
+episode-section(
  'Jane Vita',
  'Service Creator na Futurice.',
  'Design de serviços, futures thinking, UX em outros países.',
  '07',
  '07-jane-vita.jpg',
  '/temporada-1/jane-vita',
  '-snap',
  '',
  'https://open.spotify.com/episode/5yHioTfdbzBvUDsQ3Wcyi5'
)
+episode-section(
  'Elisa Volpato',
  'Fundadora na TESTR.',
  'Pesquisa para produto, teste de usabilidade, consultoria.',
  '06',
  '06-elisa-volpato.jpg',
  '/temporada-1/elisa-volpato',
  '-snap',
  '',
  'https://open.spotify.com/episode/4ky3r0jSlSBbKBtuNDIOvx'
)
+episode-section(
  'Fabricio Teixeira',
  'Diretor de UX na R/GA.',
  'UX em agências, arquitetura de informação, UX em outros países.',
  '05',
  '05-fabricio-teixeira.jpg',
  '/temporada-1/fabricio-teixeira',
  '-snap',
  '',
  'https://open.spotify.com/episode/1S8ePM7Q6rW3ZjRafVOv1o'
)
+episode-section(
  'Koji Pereira',
  'Designer de Produto no Google.',
  'Design digital, prototipação, UX em outros países.',
  '04',
  '04-koji-pereira.jpg',
  '/temporada-1/koji-pereira',
  '-snap',
  '',
  'https://open.spotify.com/episode/3lsEQmHL6l0pUsenxIaUGh'
)
+episode-section(
  'Eduardo Loureiro',
  'Sócio gerente DesignThinkers Brasil.',
  'Co-criação, transição de agências, empreendedorismo.',
  '03',
  '03-eduardo-loureiro.jpg',
  '/temporada-1/eduardo-loureiro',
  '-snap',
  '',
  'https://open.spotify.com/episode/5QCy7uqP8GyZBhaCChJKMh'
)
+episode-section(
  'Rodrigo Medeiros',
  'Líder local no IxDA Recife.',
  'Design centrado no usuário, design thinking e mercado de UX.',
  '02',
  '02-rodrigo-medeiros.jpg',
  '/temporada-1/rodrigo-medeiros',
  '-snap',
  '',
  'https://open.spotify.com/episode/1ymc39N9vbY461hvZjdWN5'
)
+episode-section(
  'Caio César',
  'Professor de Design de Interação na PUC-MG.',
  'Introdução ao tema UX, possibilidades de atuação e dicas pra começar.',
  '01',
  '01-caio-cesar.jpg',
  '/temporada-1/caio-cesar',
  '-snap',
  '',
  'https://open.spotify.com/episode/5RDWa0o37jXUlPzlcDgif5'
)


+meta-js
