mixin ad
  .episode-ad
    p.eyebrow Apoiador deste episódio
    a(href='http://bit.ly/testeremoto' title='TESTR - Plataforma completa de teste de usabilidade ágil' target='_blank' rel='noopener')
      img(src='/img/ad/TESTR-logo.png' alt='TESTR' data-ad='Sidebar').ad
    p Plataforma completa de teste de usabilidade ágil.
