doctype html
html
  
  head
    meta(charset='utf-8')
    title Movimento UX - Podcast de entrevistas sobre o universo de Design de Experiência do Usuário
    meta(name='description' content='Movimento UX - Podcast de entrevistas sobre o universo de Design de Experiência do Usuário')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    
    link(rel='author' href='humans.txt')
    link(rel='stylesheet' href='css/main.min.css')

  body
    //- Page content
    block content
    
    script(src='js/main.min.js')
