header
  a(href='/' title='Movimento UX - Página Principal').logo
    svg(src='img/movimentoux-logo.svg')
  ul.menu
    li.item #[a(href='' title='') UX Research]
    li.item #[a(href='' title='') UX Design]
    li.item #[a(href='' title='') Sobre]
