header
  .wrapper
    a(href='index.html' title='Movimento UX - Página Principal').logo
      svg(src='img/movimentoux-logo.svg')
    ul.menu
      li.item #[a(href='index.html' title='UX Research').link T2 - UX Research]
      li.item #[a(href='design.html' title='UX Design').link T1 - UX Design]
      li.item #[a(href='sobre.html' title='Sobre').link Sobre]
