header
  .wrapper
    a(href='index.html' title='Movimento UX - Página Principal').logo
      svg(src='img/movimentoux-logo.svg')
    ul.menu.-desktop
      li.item #[a(href='design.html' title='UX Design').link Temporada 1]
      li.item #[a(href='index.html' title='UX Research').link Temporada 2]
      li.item #[a(href='sobre.html' title='Sobre').link Sobre]
    ul.menu.-mobile
      li.item #[a(href='#!' title='UX Design').link.-mobile Menu]
