include /components/includes

+meta-head(
  'Renata Tonezi, Pesquisadora especialista em Experiência do Cliente no Itaú. Episódio 37 — Movimento UX',
  'Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Quarta Temporada',
  'https://movimentoux.com/temporada-4/renata-tonezi/',
  'https://movimentoux.com/assets/img/share/37-renata-tonezi.jpg',
  'episode'
)

+header('', '', '', 'on')

+episode-section(
  'Renata Tonezi',
  'Pesquisadora especialista em Experiência do Cliente no Itaú',
  '',
  '37',
  '37-renata-tonezi.jpg',
  '',
  '-inside',
  '',
  'https://spoti.fi/3fZZbYL'
)

section.episode-content
  //- +episode-tabs

  .episode-text
    include intro
    //- include transcricao

  include sidebar

+meta-js
