include /components/includes

+meta-head(
  'Renata Tonezi, Pesquisador em UX Sênior no WhatsApp/Meta. Episódio 37 — Movimento UX',
  'Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Quarta Temporada',
  'https://movimentoux.com/temporada-4/renata-tonezi/',
  'https://movimentoux.com/assets/img/share/37-renata-tonezi.jpg',
  'episode'
)

+header('', '', '', 'on')

+episode-section(
  'Renata Tonezi',
  'Pesquisador em UX Sênior no WhatsApp/Meta',
  '',
  '37',
  '37-renata-tonezi.jpg',
  '',
  '-inside',
  '',
  'google.com'
)

section.episode-content
  //- +episode-tabs

  .episode-text
    //- include intro
    //- include transcricao

  //- include sidebar

+meta-js
