.tab.on#intro
  +social-players

  p No sétimo episódio da quarta temporada do Movimento UX, conversamos com a Renata Tonezi – Pesquisadora em Experiência do Cliente Especialista no Itaú.
  p Renata conta que já atuou em diversas áreas nos 10 anos em que está no Itaú. Quando entrou no banco tinha como objetivo trabalhar com inovação e design thinking e como essa ferramenta tem sido potente para movimentar negócios e mudar cultura.
  p No início do Lean, o Itaú já estava experimentando as pesquisas mais enxutas e ela foi uma das pessoas que resolveu experimentar essa abordagem dentro do banco – que na época virou o TokPag, um tipo de Pix que o banco lançou em 2013.
  p Dando um salto para hoje, ela conta que está no momento de construção de time e atua com o papel de impulsionar uma cultura de experimentação e ciência comportamental. Além disso, também trabalham com capacitação de métodos de pesquisa para dar mais profundidade para o conhecimento que o time já tem e dar mais conhecimento também para os designers.
  p Para ela, dar essa autonomia de ferramentas e métodos é uma ruptura de cultura dentro da cultura. Renata conta que foi importante acontecer todos esses movimentos de mercado para que a área de pesquisa fosse ganhando maturidade e adaptando sua velocidade.

  blockquote "Foi mais ou menos em 2017 e 2018 que começou esse movimento de crescimento. A estrutura de Design se conectou a negócios e no ano passado o time dobrou. Hoje o time de pesquisa está com mais ou menos 30 pessoas dentro da diretoria de Canais Digitais."

  p Renata conta que o time é bem diversificado para integrar as diferentes visões da disciplina. Antes, como a pesquisa estava muito colada com Design, tinha um foco no próprio produto. Agora, como uma estrutura, ela conta que todo tipo de pesquisa que é mais estratégica e estruturante está dentro do time.
  p Hoje, na equipe em que atua, Renata trabalha com todas as vertentes de pesquisa: produto, design, UX, marketing – menos as de marca. A equipe conta com diferentes perfis e alguns profissionais focam mais em uma vertente do que em outra. Mas ela alerta que as coisas estão sempre mudando.

  blockquote "Como a gente consegue, de fato, ter uma atuação mais cross? O objetivo é o mesmo: todo mundo quer entregar uma melhor experiência para o cliente. Acho que isso é um dos grandes desafios de trabalhar com uma visão mais cross. Conseguir trabalhar com diferentes áreas e contextos e conseguir que esse estudo possa retroalimentar tecnologia, produto e design."



  +episode-links({
    1: {
      type: 'Artigo',
      title: 'Escala de maturidade do Nielsen atualizada ',
      url: 'https://www.nngroup.com/articles/ux-maturity-model/'
    },
    2: {
      type: 'Livro',
      title: 'A startup enxuta do Eric Reis',
      url: 'https://amzn.to/3SMwbSB'
    },
    3: {
      type: 'Livro',
      title: 'Inspirado, do Marty Cagan ',
      url: 'https://amzn.to/3T0O6oI'
    },
    4: {
      type: 'Livro',
      title: 'Continuous Discovery Habits, da Teresa Torres ',
      url: 'https://amzn.to/3SMRgwh'
    },
    5: {
      type: 'Artigo',
      title: 'Framework Double Diamond, da Design Council',
      url: 'https://www.designcouncil.org.uk/our-work/skills-learning/tools-frameworks/framework-for-innovation-design-councils-evolved-double-diamond/'
    },
    6: {
      type: 'Referência',
      title: 'Empresa de design e consultoria em inovação IDEO',
      url: 'https://cantwait.ideo.com/'
    },
    7: {
      type: 'Referência',
      title: 'Empresa de consultoria Frog',
      url: 'https://www.frog.co/'
    }
  })

  p Até a próxima entrevista! Ah, enquanto isso vou adorar manter contato no #[+link('Twitter', 'https://twitter.com/izabeladefatima')] :)

  hr

  p #[strong Quer ajudar o Movimento UX?]
  p Siga e avalie a gente com 5 estrelas nos aplicativos do #[+link('Spotify', 'https://open.spotify.com/show/0jpGW9nTFzzzHCjm7Y3d73?si=uuZGXryBTquSdkG1njUlTw')] e da #[+link('Apple', 'https://podcasts.apple.com/br/podcast/movimento-ux/id1093322366')]. Lembrando que, por enquanto, essa funcionalidade só está disponível no telefone. Você também pode dar uma força divulgando os episódios em suas redes.

  hr

  p #[strong Sobre o Movimento UX]
  p A criação do podcast, dos roteiros e a curadoria dos temas e entrevistas são feitas por mim, Izabela de Fátima.
  p A revisão do tema da temporada e do roteiro é feita pela #[+link('Renata Moreira', 'https://www.linkedin.com/in/remoreira/')].
  p A trilha sonora original e a execução da trilha é do Richard Garrell, no seu projeto #[+link('Aeoner', 'https://aeoner.bandcamp.com')].
  p A edição do áudio é feita pela #[+link('Renata Valentim', 'https://www.linkedin.com/in/renatavalentim/')].
  p A identidade visual é do #[+link('Cristiano Sarmento', 'https://www.linkedin.com/in/hicristiano/')]. O site também é dele em parceria com o #[+link('Pedro Ivo', 'https://www.linkedin.com/in/pedroivohudson/')].