.episode-sidebar
  .info
    h3.eyebrow Localização
    p São Paulo, Brasil

    h3.eyebrow Social
    p #[+link('LinkedIn', 'https://www.linkedin.com/in/renata-tonezi/')]
    p #[+link('Instagram', 'https://www.instagram.com/renatatonezi_consultora/')]
    p #[+link('Twitter', 'https://twitter.com/hellorenats')]
    p #[+link('Medium', 'https://renatatonezi.medium.com/')]