include /components/includes

+meta-head(
  'Fabricio Dore, Episódio 14 — Movimento UX',
  'Diretor Executivo de UX na McKinsey. Design de interação, inovação digital, UX em outros países.',
  'https://movimentoux.com/ux-design/fabricio-dore/',
  '',
  'episode'
)

+header('on')

+episode-section(
  'Fabricio Dore',
  'Diretor Executivo de UX na McKinsey.',
  'Design de interação, inovação digital, UX em outros países.',
  '14',
  '14-fabricio-dore.jpg',
  '',
  '-inside',
  '',
  'https://open.spotify.com/episode/061W2iGG7ad2Bsmu0DBHKE'
)

+episode-player('ep-14')

section.episode-content
  //- +episode-tabs

  .episode-text
    include intro
    //- include transcricao

  include sidebar

+meta-js
