include /components/includes

+meta-head(
  'Andre do Amaral, Episódio 18 — Movimento UX',
  'Designer de Produto na Netflix. Visual design, design digital, UX em outros países.',
  'https://movimentoux.com/ux-design/andre-do-amaral/',
  '',
  'episode'
)

+header('on')

+episode-section(
  'Andre do Amaral',
  'Designer de Produto na Netflix.',
  'Visual design, design digital, UX em outros países.',
  '18',
  '18-andre-do-amaral.jpg',
  '',
  '-inside',
  '',
  'https://open.spotify.com/episode/2Ifs6HeUOlpeJviO6Z2rEQ'
)

+episode-player('ep-18')

section.episode-content
  //- +episode-tabs

  .episode-text
    include intro
    //- include transcricao

  include sidebar

+meta-js
