include /components/includes

+meta-head(
  'Érico Fileno, Episódio 10 — Movimento UX',
  'Head de Inovação na Visa. Design estratégico, inovação em serviços e experiência do usuário.',
  'https://movimentoux.com/ux-design/erico-fileno/',
  '',
  'episode'
)

+header('on')

+episode-section(
  'Érico Fileno',
  'Head de Inovação na Visa.',
  'Design estratégico, inovação em serviços e experiência do usuário.',
  '10',
  '10-erico-fileno.jpg',
  '',
  '-inside',
  '',
  'https://open.spotify.com/episode/6Imxn6gCosDhdcRg5vdsxN'
)

//- +episode-player('ericofileno')

section.episode-content
  //- +episode-tabs

  .episode-text
    include intro
    //- include transcricao

  include sidebar

+meta-js
