.tab.on#intro
  p No 10º episódio do Movimento UX você vai ouvir o papo super interessante que eu tive com o Érico Fileno.
  p O Érico trabalha com Design Estratégico, Inovação em Serviços e Experiência do Usuário desde 1995. Já foi fundador e sócio de empresas, trabalhou em universidades, consultorias, escritórios de Design e hoje é Head de Inovação na Visa.
  p A gente conversou sobre a história dele e o seu pioneirismo na consolidação das disciplinas de Design de Interação, Design Thinking e Design de Serviços no Brasil. Também falamos sobre o mercado de UX no país, sobre seu dia a dia de trabalho, como ele se mantém atualizado e muito mais. 

  p Aqui as dicas de livros que ele passou pra gente:
  ul.links
    li #[+link('A arte da inovação - Tom Kelley','https://amzn.to/2J79N5o')]
    li #[+link('Isto é Design Thinking de Serviços - Marc Stickdorn','https://amzn.to/2PBsnUu')]
    li #[+link('Autor: Vijay Govindarajam', 'https://amzn.to/2XRgE7m')]
    li #[+link('Service Design for Business - Ben Reason, Lavrans Lovlie, Melvin Brand Flu','https://amzn.to/2UKSERn')]
    li #[+link('UX Strategy - Jaime Levy','https://amzn.to/2DEaf7N')]
    li #[+link('Sprint - Jake Knapp, John Zeratsky, Braden Kowitz','https://amzn.to/2L8VpfE')]

  p Sites:
  ul.links
    li #[+link('LukeW','http://www.lukew.com/')]
    li #[+link('Jared Spoon','https://www.uie.com/')]
    li #[+link('UX Matters','http://www.uxmatters.com/')]
    li #[+link('UXBlog','http://www.uxdesign.blog.br/')]

  p Até o próximo episódio! =)
