include /components/meta-head
include /components/header
include /components/episode-section
include /components/episode-player
include /components/episode-tabs
include /components/meta-js

+meta-head(
  'Felipe Memória, Episódio 16 — Movimento UX',
  'Sócio fundador da Work & Co. Produto digital, inovação, liderança em design.',
  'https://movimentoux.com/ux-design/felipe-memoria/'
)

body(data-page='episode')

  +header('on')

  +episode-section(
    'Felipe Memória',
    'Sócio fundador da Work & Co.',
    'Produto digital, inovação, liderança em design.',
    '16',
    '16-felipe-memoria.jpg',
    '',
    '-inside'
  )

  +episode-player('felipememoria')

  section.episode-content
    //- +episode-tabs

    .wrapper
      .content
        include intro.pug
        //- include transcricao.pug

      include sidebar.pug

+meta-js
