.episode-sidebar
  .info
    h3.eyebrow Localização
    p Nova York

    h3.eyebrow Site
    p #[a(href='https://work.co/' title='Work & Co' target='_blank' rel='noopener').link.-alt Work & Co]

    h3.eyebrow Social
    p #[a(href='http://fmemoria.com.br/' title='Site pessoal' target='_blank' rel='noopener').link.-alt Site pessoal]

    h3.eyebrow Download
    p #[+link('Arquivo MP3', '#!', 'download')]