include /components/includes

+meta-head(
  'Felipe Memoria, Episódio 16 — Movimento UX',
  'Sócio fundador da Work & Co. Produto digital, inovação, liderança em design.',
  'https://movimentoux.com/ux-design/felipe-memoria/',
  '',
  'episode'
)

+header('on')

+episode-section(
  'Felipe Memoria',
  'Sócio fundador da Work & Co.',
  'Produto digital, inovação, liderança em design.',
  '16',
  '16-felipe-memoria.jpg',
  '',
  '-inside',
  '',
  '',
  'standalone'
)

+episode-player('ep-16')

section.episode-content
  //- +episode-tabs

  .episode-text
    include intro
    //- include transcricao

  include sidebar

+meta-js
