.tab.on#intro
  p Oi, gente!
  p Comemorando o primeiro ano do podcast, completado em fevereiro, tive a honra de entrevistar o designer Felipe Memória.
  p O Felipe é sócio fundador da Work & Co, empresa de design e desenvolvimento de produtos digitais, considerada uma das 10 mais inovadoras do mundo na indústria de Design pela Fast Company. Ele também foi sócio e head global de user experience na Huge, trabalhou durante anos na Globo.com e é autor do livro Design para a Internet, uma das obras pioneiras sobre UX no Brasil.
  p Falamos sobre o processo de UX da Work & Co, a vinda da empresa para o Brasil, os projetos que ele têm mais orgulho de ter liderado e muito mais!

  +image('16-foto-01.jpg', '')

  blockquote “Na Work & Co, a gente coloca o time de design inteiro pra pensar na única coisa que importa durante a maior quantidade de tempo possível. Nos concentramos no principal caso de uso e redesenhamos infinitamente, na base da tentativa e erro, até chegar em algo interessante.”

  video(autoplay muted).border
    source(src='/assets/img/media/16-video-01.mp4' type='video/mp4')
  
  ul.episode-carousel
    li.item #[img(src='/assets/img/media/16-foto-02.jpg' alt='')]
    li.item #[img(src='/assets/img/media/16-foto-03.jpg' alt='')]
    li.item #[img(src='/assets/img/media/16-foto-04.jpg' alt='')]
    li.item #[img(src='/assets/img/media/16-foto-05.jpg' alt='')]
    li.item #[img(src='/assets/img/media/16-foto-06.jpg' alt='')]
    li.item #[img(src='/assets/img/media/16-foto-07.jpg' alt='')]
    li.item #[img(src='/assets/img/media/16-foto-08.jpg' alt='')]
    li.item #[img(src='/assets/img/media/16-foto-09.jpg' alt='')]
  
  blockquote “Acredito em solucionar problemas do dia a dia — que talvez alguém já tenha pensado em como resolvê-los, mas aplico uma nova perspectiva sobre como solucioná-los. Esse é o jeito que penso em novos produtos.”
  
  .episode-gallery
    .img #[+image('16-foto-10.jpg', 'Escritório Portland.')]
    .img #[+image('16-foto-11.jpg', 'Escritório Rio de Janeiro.')]
    
  p As dicas que ele deixou pra gente são:
  ul.links
    li #[+link('Livro Only the Paranoid Survive', 'https://amzn.to/2GP2GNN')]
    li #[+link('Série documental Abstract: The Art of Design', 'https://www.netflix.com/title/80057883')]

  p Os projetos do Felipe sobre os quais falamos durante o podcast:
  ul.links
    li #[+link('Site da Virgin America', 'https://www.virginamerica.com/')]
    li #[+link('Site da Oi', 'http://oi.com.br/novo-site/')]
    li #[+link('HBO GO Apps', 'https://www.youtube.com/watch?v=vAteAVoBCzM')]
    li #[+link('Site TED Talks', 'http://www.ted.com/talks/john_maeda_on_the_simple_life')]
    li #[+link('Site da Work & Co', 'https://work.co/')]
    li #[+link('Livro Design para a Internet', 'https://amzn.to/2GOylP7')]
    
  p E pra quem quiser saber mais sobre o trabalho dele:
  ul.links
    li #[+link('Apresentação do redesign da Virgin no UX Awards', 'https://www.youtube.com/watch?v=BFGeswAkP10')]
  
  p No próximo podcast, vou conversar com a Carolina Leslie, sócia fundadora da Saiba+.
  p Ah, uma novidade: o podcast agora tem uma #[+link('lista no Spotify', 'https://play.spotify.com/user/12184063773/playlist/5Bxhm5LY03DHSqko3YRBKf')] pra você continuar ouvindo as músicas que rolam nos episódios! 
  p Obrigada por acompanhar o Movimento UX e até a próxima edição! 
