include /components/includes

+meta-head(
  'Bruna Maia, Líder Global de Pesquisa em UX no Gympass. Episódio 35 — Movimento UX',
  'Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Quarta Temporada',
  'https://movimentoux.com/temporada-4/bruna-maia/',
  'https://movimentoux.com/assets/img/share/35-bruna-maia.jpg',
  'episode'
)

+header('', '', '', 'on')

+episode-section(
  'Bruna Maia',
  'Líder Global de Pesquisa em UX no Gympass',
  '',
  '35',
  '35-bruna-maia.jpg',
  '',
  '-inside',
  '',
  'https://open.spotify.com/episode/1sGyRCrFDmkj8cTrL8UsMY'
)

section.episode-content
  //- +episode-tabs

  .episode-text
    include intro
    //- include transcricao

  include sidebar

+meta-js
