.tab.on#intro
  +social-players

  p No quinto episódio da quarta temporada do Movimento UX, conversamos com a Bruna Maia – Líder Global de Pesquisa em UX no Gympass. Seu papel na empresa é promover a disciplina na empresa e facilitar o contato das pessoas com o comportamento do usuário.
  p Bruna conta que a estrutura do time de pesquisa é bastante enxuta. Além dela, são apenas mais duas pessoas. Esse time fica dentro de uma estrutura maior de UX, que contém Product Designers e também Content Designers. Considerando o tamanho do time, a atuação precisa ser priorizada junto às demais disciplinas com as quais trabalham, como produto.

  blockquote "Nós estamos dentro da estrutura de Design e esta estrutura fica dentro de Desenvolvimento de Produtos."
  
  //- +image('35-foto-01.png','', '', '', 'border')
  .episode-gallery
    .img #[+image('35-foto-01.png', '', '', '', 'border')]

  p Bruna conta que o time é interdisciplinar, enquanto uma pessoa tem mais conhecimento em métodos mistos a outra, contribui com uma visão de negócio. O time costuma ser dividido por projetos e que em certos casos a pessoa precisa ficar alocada dentro de uma squad por mais de um ciclo.
  p Normalmente, o time recebe perguntas de pesquisa vindas do time de produto ou participa das conversas de priorização para o trimestre. Depois desse levantamento, define em quais iniciativas o time consegue atuar trazendo respostas para dar suporte às demais disciplinas. Só então desenham o escopo de atuação de cada membro, levando em consideração o contexto (B2B e B2B2C).
  p Fora isso, Bruna conta que o time também desempenha um papel de consultor e para se organizarem costumam utilizar o Jira para listar as tarefas e controlar o tempo despendido com elas.

  blockquote "Tem projetos em que somos suporte ou consultores. Para estes projetos, o único critério é o tempo disponível para as tarefas."

  p Como vantagem dessa organização, Bruna cita a liberdade de atuação e a autonomia que o time tem para propor como as pesquisas vão acontecer – ela também comenta como isso é motivador para a pessoa pesquisadora. Outra vantagem, é a relevância que o time tem dentro da empresa e o respeito que ele conquistou com o tempo.

  blockquote "Demorou para se conquistar esse espaço. Pesquisa no senso comum pode ser feita por qualquer um e de qualquer jeito. Com um time especialista conseguimos mostrar que as pesquisas feitas de um jeito certo trazem resultados melhores."

  p Como desvantagem, Bruna conta que em alguns momentos as pessoas pesquisadoras não conseguem ter tanto contexto quanto as pessoas que já fazem parte do time e do dia a dia daquela iniciativa que gerou a demanda por um projeto de pesquisa – com isso, o senso de pertencimento acaba sendo menor. Como uma segunda desvantagem, Bruna comenta sobre a necessidade de dizer não para algumas iniciativas e a importância de se manter um ritmo nas entregas.

  blockquote "A gente precisa priorizar e isso é um processo duro porque a gente perde oportunidades de impacto e de manter o ritmo – desde o momento em que a gente descobre que existe a oportunidade de uma pesquisa até entregar o resultado no tempo correto para entrar na esteira de um produto."

  p No Gympass, Bruna conta que já passou por três configurações de time. A primeira era mais em um nível de suporte, onde o time era mais reativo às demandas. Conforme o time foi crescendo essas atribuições ficaram na responsabilidade de product designer e product managers.
  p Na segunda mudança, as pessoas pesquisadoras ficavam alocadas nas tribos (por exemplo: B2C) e identificavam as perguntas de pesquisa de cada área junto com PMs e outros stakeholders da squad – que também era a responsável pela priorização das demandas.
  p No terceiro e atual modelo, são definidos os grandes assuntos de pesquisa com base nos objetivos do produto e as pessoas pesquisadoras cuidam da iniciativa do começo ao fim. Em paralelo, elas continuam dando suporte para o restante dos times – atualmente, os designers em dupla com as pessoas de produto são responsáveis em fazer toda a pesquisa de discovery do contexto em que estão.

  blockquote "Se uma pergunta vai entregar valor para mais de uma squad, mais de uma jornada ou mais de uma área, a pesquisa vai vir para Research. Vai ser uma pergunta mais complexa que vai precisar de uma abordagem de métodos mistos, que vai tomar mais tempo e que precisa de uma especialidade. Se a pergunta já está dentro do escopo de um time, o designer vai ser responsável por ela."


  +episode-links({
    1: {
      type: 'Pesquisa',
      title: 'Pesquisa sobre o impacto da COVID-19 na categoria de fitness e bem-estar',
      url: 'https://www.linkedin.com/posts/bruna-alves-maia_ebook-english-version-activity-6739605880213381120-vuzz?utm_source=share&utm_medium=member_desktop'
    },
    2: {
      type: 'Artigo',
      title: 'Algoritmo de recomendação de textos para uma aprendizagem mais eficiente',
      url: 'https://medium.com/somos-tera/conhe%C3%A7a-o-edu-algoritmo-de-recomenda%C3%A7%C3%A3o-de-textos-para-uma-aprendizagem-mais-eficiente-734332fbf5b1'
    },
    3: {
      type: 'Livro',
      title: 'Teresa Torres – Continuous Discovery',
      url: 'https://amzn.to/3w6rHNq'
    },
    4: {
      type: 'Artigo',
      title: 'Construindo um time de UX Research, por Diana Fournier',
      url: 'https://medium.com/difournier-uxr/construindo-um-time-de-ux-research-f76765dd64f'
    }
  }, 'Links para conhecer um pouco mais o trabalho dela:')


  p Até a próxima entrevista! Ah, enquanto isso vou adorar manter contato no #[+link('Twitter', 'https://twitter.com/izabeladefatima')] :)

  hr

  p #[strong Quer ajudar o Movimento UX?]
  p Siga e avalie a gente com 5 estrelas nos aplicativos do #[+link('Spotify', 'https://open.spotify.com/show/0jpGW9nTFzzzHCjm7Y3d73?si=uuZGXryBTquSdkG1njUlTw')] e da #[+link('Apple', 'https://podcasts.apple.com/br/podcast/movimento-ux/id1093322366')]. Lembrando que, por enquanto, essa funcionalidade só está disponível no telefone. Você também pode dar uma força divulgando os episódios em suas redes.

  hr

  p #[strong Sobre o Movimento UX]
  p A criação do podcast, dos roteiros e a curadoria dos temas e entrevistas são feitas por mim, Izabela de Fátima.
  p A revisão do tema da temporada e do roteiro é feita pela #[+link('Renata Moreira', 'https://www.linkedin.com/in/remoreira/')].
  p A trilha sonora original e a execução da trilha é do Richard Garrell, no seu projeto #[+link('Aeoner', 'https://aeoner.bandcamp.com')].
  p A edição do áudio é feita pela #[+link('Renata Valentim', 'https://www.linkedin.com/in/renatavalentim/')].
  p A identidade visual é do #[+link('Cristiano Sarmento', 'https://www.linkedin.com/in/hicristiano/')]. O site também é dele em parceria com o #[+link('Pedro Ivo', 'https://www.linkedin.com/in/pedroivohudson/')].