.tab.on#intro
  +social-players

  p No quarto episódio da nova temporada do Movimento UX, entrevistei o Pablo Turazzi, Pesquisador em Experiência do Usuário Sênior no Mercado Pago, a fintech do Mercado Livre.
  p Conversamos sobre a estrutura de UX na companhia e aprofundamos bastante no propósito, na organização e atuação das pessoas pesquisadoras. 🔎​

  blockquote "O nosso papel é ajudar as outras pessoas com decisões melhores, com ideias e insights que ajudem elas a trabalhar da melhor forma possível."

  p Para tangibilizar a conversa, ele desenhou a estrutura de UX e a trilha de carreira da empresa.

  +image('34-foto-01.png', 'Organograma Mercado Livre', 'Download PDF', '/assets/img/media/34-organograma_ml.pdf', 'border')

  +episode-links({
    1: {
      type: 'Vídeo',
      title: 'Entrevista do Pablo no canal "UX do Bem"',
      url: 'https://www.youtube.com/watch?v=i1VcX0aSpDk'
    },
    2: {
      type: 'Instagram',
      title: 'Time de UX do Mercado Livre',
      url: 'https://www.instagram.com/mercadolibreux/'
    }
  })

  p Esta temporada explora a criação de times e a organização de pessoas pesquisadoras em design e UX. A cada 15 dias, um novo episódio. Sempre às terças-feiras.

  p Até a próxima entrevista! Ah, enquanto isso vou adorar manter contato no #[+link('Twitter', 'https://twitter.com/izabeladefatima')] :)

  hr

  p #[strong Quer ajudar o Movimento UX?]
  p Siga e avalie a gente com 5 estrelas nos aplicativos do #[+link('Spotify', 'https://open.spotify.com/show/0jpGW9nTFzzzHCjm7Y3d73?si=uuZGXryBTquSdkG1njUlTw')] e da #[+link('Apple', 'https://podcasts.apple.com/br/podcast/movimento-ux/id1093322366')]. Lembrando que, por enquanto, essa funcionalidade só está disponível no telefone. Você também pode dar uma força divulgando os episódios em suas redes.

  hr

  p #[strong Sobre o Movimento UX]
  p A criação do podcast, dos roteiros e a curadoria dos temas e entrevistas são feitas por mim, Izabela de Fátima.
  p A revisão do tema da temporada e do roteiro é feita pela #[+link('Renata Moreira', 'https://www.linkedin.com/in/remoreira/')].
  p A trilha sonora original e a execução da trilha é do Richard Garrell, no seu projeto #[+link('Aeoner', 'https://aeoner.bandcamp.com')].
  p A edição do áudio é feita pela #[+link('Renata Valentim', 'https://www.linkedin.com/in/renatavalentim/')].
  p A identidade visual é do #[+link('Cristiano Sarmento', 'https://www.linkedin.com/in/hicristiano/')]. O site também é dele em parceria com o #[+link('Pedro Ivo', 'https://www.linkedin.com/in/pedroivohudson/')].