include /components/meta-head
include /components/header
include /components/social-links
include /components/meta-js

+meta-head(
  'Página não encontrada — Movimento UX',
  'Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário',
  'https://movimentoux.com/'
)

body

  +header

  section.intro-section.-snap
    span.eyebrow Error
    h1.header 404
    p A página que você tentou acessar não foi encontrada.
    +social-links('-home')

+meta-js
