include /components/includes

+meta-head(
  'Movimento UX — Quarta Temporada. Conversas sobre pesquisa em experiência do usuário. UX Research.',
  'Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Quarta Temporada. Conversas sobre pesquisa em experiência do usuário. UX Research.',
  'https://movimentoux.com',
  '',
  'season'
)

+header('', '', '', 'on')

//- section.intro-section.-snap
//-   span.eyebrow UX Research
//-   h1.header Terceira <br> Temporada
//-   p Nov, 2020 — Conversas sobre pesquisa em experiência do usuário.
//-   +social-links('-home')

//- ul.list-grid
//-   li.list.-on #[img(src='assets/img/ui/ep-list.svg')]
//-   li.grid #[img(src='assets/img/ui/ep-grid.svg')]

//- .episode-wrapper
+episode-section(
  'Ana Coli',
  'Gerente de UX Sênior no Nubank',
  '',
  '32',
  '32-ana-coli.jpg',
  '/temporada-4/ana-coli/',
  '-snap',
  '',
  'anacoli-link'
)
+episode-section(
  'Paula Macedo',
  'Gerente de Design Sênior no Nubank',
  '',
  '31',
  '31-paula-macedo.jpg',
  '/temporada-4/paula-macedo/',
  '-snap',
  '',
  'https://open.spotify.com/episode/4acDQ2KvTOqdw4DLQLU728'
)

+meta-js
