include /components/includes

+meta-head(
  'Movimento UX — Quarta Temporada. Conversas sobre pesquisa em experiência do usuário. UX Research.',
  'Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Quarta Temporada. Conversas sobre pesquisa em experiência do usuário. UX Research.',
  'https://movimentoux.com',
  '',
  'season'
)

+header('', '', '', 'on')

//- section.intro-section.-snap
//-   span.eyebrow UX Research
//-   h1.header Terceira <br> Temporada
//-   p Nov, 2020 — Conversas sobre pesquisa em experiência do usuário.
//-   +social-links('-home')

//- ul.list-grid
//-   li.list.-on #[img(src='assets/img/ui/ep-list.svg')]
//-   li.grid #[img(src='assets/img/ui/ep-grid.svg')]

//- .episode-wrapper
+episode-section(
  'Rafaela de Souza',
  'Pesquisadora de Experiência do Usuário Sênior no Spotify',
  '',
  '39',
  '39-rafaela-souza.jpg',
  '/temporada-4/rafaela-souza/',
  '-snap',
  '',
  'http://bit.ly/3Ln5MKC'
)
+episode-section(
  'Heitor Pagliari',
  'Líder de Design de Serviços e Pesquisa na OLX Europa',
  '',
  '38',
  '38-heitor-pagliari.jpg',
  '/temporada-4/heitor-pagliari/',
  '-snap',
  '',
  'https://spoti.fi/3Vjv7Xy'
)
+episode-section(
  'Renata Tonezi',
  'Pesquisadora especialista em Experiência do Cliente no Itaú',
  '',
  '37',
  '37-renata-tonezi.jpg',
  '/temporada-4/renata-tonezi/',
  '-snap',
  '',
  'https://spoti.fi/3fZZbYL'
)
+episode-section(
  'Thiago Fontes',
  'Pesquisador em UX Sênior no WhatsApp/Meta',
  '',
  '36',
  '36-thiago-fontes.jpg',
  '/temporada-4/thiago-fontes/',
  '-snap',
  '',
  'https://spoti.fi/3xXIinL'
)
+episode-section(
  'Bruna Maia',
  'Líder Global de Pesquisa em UX no Gympass',
  '',
  '35',
  '35-bruna-maia.jpg',
  '/temporada-4/bruna-maia/',
  '-snap',
  '',
  'https://open.spotify.com/episode/1sGyRCrFDmkj8cTrL8UsMY'
)
+episode-section(
  'Pablo Turazzi',
  'Pesquisador em Experiência do Usuário Sênior no Mercado Livre',
  '',
  '34',
  '34-pablo-turazzi.jpg',
  '/temporada-4/pablo-turazzi/',
  '-snap',
  '',
  'https://open.spotify.com/episode/6DkYXF1ktAumTrvPXyiAo3'
)
+episode-section(
  'Diana Fournier',
  'Gerente de Design Sênior no iFood',
  '',
  '33',
  '33-diana-fournier.jpg',
  '/temporada-4/diana-fournier/',
  '-snap',
  '',
  'https://open.spotify.com/episode/4jQ5nvdhI6KdVdBTcE8hvp'
)
+episode-section(
  'Ana Coli',
  'Gerente de UX Sênior no Nubank',
  '',
  '32',
  '32-ana-coli.jpg',
  '/temporada-4/ana-coli/',
  '-snap',
  '',
  'https://open.spotify.com/episode/4G2FQzWF7QPLtNdBVI4JS8'
)
+episode-section(
  'Paula Macedo',
  'Gerente de Design Sênior no Nubank',
  '',
  '31',
  '31-paula-macedo.jpg',
  '/temporada-4/paula-macedo/',
  '-snap',
  '',
  'https://open.spotify.com/episode/4acDQ2KvTOqdw4DLQLU728'
)

+meta-js
