include /components/meta
include /components/header
include /components/episode
include /components/player
include /components/episode-tabs
include /components/js

+meta(
  'Érico Fileno, Episódio 10 — Movimento UX',
  'Head de Inovação na Visa. Design estratégico, inovação em serviços e experiência do usuário.',
  'https://movimentoux.com/ux-design/erico-fileno/'
)

body(data-page='episode')

  +header('on', '', '')

  +episode(
    'Érico Fileno',
    'Head de Inovação na Visa.',
    'Design estratégico, inovação em serviços e experiência do usuário.',
    '10',
    '10-erico-fileno.jpg',
    '',
    '-inside'
  )

  +player('ericofileno')

  section.episode-content
    //- +episode-tabs

    .wrapper
      .content
        include intro.pug
        //- include transcricao.pug

      include sidebar.pug

+js
