include ../pug/meta
include ../pug/header
include ../pug/episode
include ../pug/player
include ../pug/link
include ../pug/link-alt
include ../pug/js

+meta(
  'Érico Fileno, Episódio 10 — Movimento UX',
  'Head de Inovação na Visa. Design estratégico, inovação em serviços e experiência do usuário.',
  'http://movimentoux.com/erico-fileno/'
)

body(data-page='episode')

  +header('on', '', '')

  #barba-wrapper
    .barba-container
      +episode(
        'Érico Fileno',
        'Head de Inovação na Visa.',
        'Design estratégico, inovação em serviços e experiência do usuário.',
        '10',
        '10-foto-erico-fileno.jpg',
        '',
        '-inside'
      )

      +player('ericofileno')

      section.episode-content
        .tab.on#intro
          .text
            p No 10º episódio do Movimento UX você vai ouvir o papo super interessante que eu tive com o Érico Fileno.
            p O Érico trabalha com Design Estratégico, Inovação em Serviços e Experiência do Usuário desde 1995. Já foi fundador e sócio de empresas, trabalhou em universidades, consultorias, escritórios de Design e hoje é Head de Inovação na Visa.
            p A gente conversou sobre a história dele e o seu pioneirismo na consolidação das disciplinas de Design de Interação, Design Thinking e Design de Serviços no Brasil. Também falamos sobre o mercado de UX no país, sobre seu dia a dia de trabalho, como ele se mantém atualizado e muito mais. 

            p Aqui as dicas de livros que ele passou pra gente:
            ul.links
              li #[+link-alt('A arte da inovação - Tom Kelley','http://a.co/d/agm32S8')]
              li #[+link-alt('Isto é Design Thinking de Serviços - Marc Stickdorn','http://a.co/d/1Th9Jl3')]
              li #[+link-alt('Autor: Vijay Govindarajam', 'https://www.amazon.com.br/s/ref=dp_byline_sr_book_1?ie=UTF8&field-author=Vijay+Govindarajan&search-alias=books')]
              li #[+link-alt('Service Design for Business - Ben Reason, Lavrans Lovlie, Melvin Brand Flu','http://a.co/d/8eI8FKI')]
              li #[+link-alt('UX Strategy - Jaime Levy','http://a.co/d/jjiiKky')]
              li #[+link-alt('UX Strategy - Jaime Levy','http://a.co/d/jjiiKky')]
              li #[+link-alt('Sprint - Jake Knapp, John Zeratsky, Braden Kowitz','http://a.co/d/8JSbByE')]

            p Sites:
            ul.links
              li #[+link-alt('LukeW','http://www.lukew.com/')]
              li #[+link-alt('Jared Spoon','https://www.uie.com/')]
              li #[+link-alt('UX Matters','http://www.uxmatters.com/')]
              li #[+link-alt('UXBlog','http://www.uxdesign.blog.br/')]

            p Até o próximo episódio! =)

          .sidebar
            h3.eyebrow Localização
            p São Paulo

//- last
//- but not least
+js
