.tab.on#intro
  +players
  
  p Este podcast é uma conversa leve e cheia de aprendizados com a Ana Rafaela, User Experience Researcher no YouTube em San Bruno, Califórnia.
  p Ela trabalha há muitos anos com pesquisa para design e já passou por empresas como GoPro, Cisco e Try Consultoria. Tem formação em Ciência da Computação e também foi desenvolvedora de softwares por cinco anos.
  p Falamos sobre a dinâmica de trabalho dela com pesquisa global no time de advertising do YouTube, o uso de repositório para aprendizados de pesquisa, dicas pra quem quer trabalhar em outro país e muito mais.

  blockquote "Acho que o principal desafio não muda: a questão do número de participantes e se é representativo ou estatisticamente válido. O mais difícil é convencer e receber um entendimento quando os stakeholders não entendem. É sempre difícil tentar uma mudança baseada em algo que dez participantes disseram, principalmente se você estiver desenvolvendo para uma audiência grande."

  .episode-gallery
    .img #[+image('23-foto-01.jpg','Exemplo de war room para análise de entrevistas.')]

  .episode-gallery
    .img #[+image('23-foto-02.jpg','Um dos muitos happy hours na GoPro São Francisco/CA.')]
    .img #[+image('23-foto-03.jpg','Indo fazer home visits na Índia.')]

  +episode-links({
    1: {
      type: 'Livro',
      title: 'It’s Our research, do Tomer Sharon',
      url: 'https://amzn.to/2XMPi20'
    },
    2: {
      type: 'Podcast',
      title: 'Design Matters',
      url: 'https://www.designmattersmedia.com/designmatters'
    },
    3: {
      type: 'Mestrado',
      title: 'Programa de Mestrado em "Interação Humano-Computador"',
      url: 'https://hcii.cmu.edu/academics/mhci'
    },
    4: {
      type: 'Artigo',
      title: 'Rapid UX Research at Google',
      url: 'https://medium.com/mixed-methods/rapid-ux-research-at-google-3b92dd038e30'
    }
  })

  p #[strong Patrocinador]
  p O MUX tem o patrocínio da Hotmart, pioneira e líder na América Latina na venda de produtos digitais e atua nas áreas de educação à distância, marketing digital e fintech, em Belo Horizonte. Está em amplo crescimento internacional e o desafio de desenvolver produtos globais.
  p E a boa notícia é que tem várias vagas para os times de design e desenvolvimento. Se você é designer de produto ou desenvolvedor com habilidades em UX, pesquisa e interface pode se cadastrar no #[+supporter-link('banco de talentos', 'http://bit.ly/vagasdahotmart', 'Hotmart', 'Content')] da empresa.

  hr

  p E lembrando que estamos no #[+link('Spotify', 'https://open.spotify.com/show/0jpGW9nTFzzzHCjm7Y3d73')] e que lançamos a transcrição dos episódios desta segunda temporada! Estão na página de cada um dos episódios.

  p As músicas deste episódio são do produtor Richard Garrel com seu projeto Aeoner e você pode conhecer mais #[+link('aqui', 'https://aeoner.bandcamp.com')].
  p Até a próxima conversa! 

  hr

  +newsletter