include /components/meta
include /components/header
include /components/episode
include /components/player
include /components/episode-tabs
include /components/js
include /components/supporter-sidebar

+meta(
  'Camila Borja, User Experience Researcher no Itaú (Parte 1). Episódio 24 — Movimento UX. Conversas sobre pesquisa para produto. UX Research.',
  'Capacitação em Pesquisa, Atomic Research e Gestão e organização dos aprendizados — Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Segunda Temporada. Conversas sobre pesquisa para produto. UX Research.',
  'http://movimentoux.com/ux-research/camila-borja-pt1/',
  'http://movimentoux.com/assets/img/share/24-camila-borja.jpg'
)

body(data-page='episode')

  +header('', 'on', '')

  +episode(
    'Camila Borja 01',
    'User Experience Researcher no Itaú.',
    'Capacitação em Pesquisa, Atomic Research e Gestão e organização dos aprendizados.',
    '24',
    '24-camila-borja.jpg',
    '',
    '-inside'
  )

  +player('camilaborja-parte1')

  section.episode-content
    .content
      +episode-tabs

      .tab.on#intro
        include intro.pug

      .tab#transcricao
        include transcricao.pug

    .sidebar
      .info
        h3.eyebrow Localização
        p São Paulo

        h3.eyebrow Social
        p #[+link('LinkedIn', 'https://www.linkedin.com/in/camilaborja/')]
        p #[+link('Twitter', 'https://twitter.com/camila_borja')]
        p #[+link('UX Collective', 'https://uxdesign.cc/@camila.brj')]

      +supporter-sidebar(
        'Patrocinador do episódio',
        'Hotmart',
        'A Hotmart é pioneira e líder na América Latina na venda de produtos digitais.',
        'http://bit.ly/vagasdahotmart',
        'hotmart-logo.png'
      )

+js
