include /components/meta
include /components/header
include /components/episode
include /components/player
include /components/episode-tabs
include /components/js

+meta(
  'Camila Borja, User Experience Researcher no Itaú (Parte 1). Episódio 24 — Movimento UX. Conversas sobre pesquisa para produto. UX Research.',
  'Capacitação em Pesquisa, Atomic Research e Gestão e organização dos aprendizados — Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Segunda Temporada. Conversas sobre pesquisa para produto. UX Research.',
  'http://movimentoux.com/ux-research/camila-borja-pt1/',
  'http://movimentoux.com/assets/img/share/24-camila-borja.jpg'
)

body(data-page='episode')

  +header('', 'on', '')

  +episode(
    'Camila Borja 01',
    'User Experience Researcher no Itaú.',
    'Capacitação em Pesquisa, Atomic Research e Gestão e organização dos aprendizados.',
    '24',
    '24-camila-borja.jpg',
    '',
    '-inside'
  )

  +player('camilaborja-parte1')

  section.episode-content
    +episode-tabs

    .wrapper
      .content
        include intro.pug
        include transcricao.pug

      include sidebar.pug

+js