include /_assets/pug/meta
include /_assets/pug/header
include /_assets/pug/episode
include /_assets/pug/player
include /_assets/pug/tabs
include /_assets/pug/js

+meta(
  'Camila Borja, User Experience Researcher no Itaú (Parte 2). Episódio 25 — Movimento UX. Conversas sobre pesquisa para produto. UX Research.',
  'Operação de pesquisa (Research Ops), Síntese de aprendizados e Storytelling — Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Segunda Temporada. Conversas sobre pesquisa para produto. UX Research.',
  'http://movimentoux.com/ux-research/camila-borja-parte2/',
  'http://movimentoux.com/_assets/img/share/24-camila-borja.jpg'
)

body(data-page='episode')

  +header('', 'on', '')

  #barba-wrapper
    .barba-container
      +episode(
        'Camila Borja 02',
        'User Experience Researcher no Itaú.',
        'Operação de pesquisa (Research Ops), Síntese de aprendizados e Storytelling.',
        '25',
        '24-camila-borja.jpg',
        '',
        '-inside'
      )

      +player('camilaborja-parte2')

      section.episode-content
        +tabs

        .tab.on#intro
          include intro.pug

        .tab#transcricao
          include transcricao.pug

//- don't forget js
+js
