mixin episode-links(object, title)
  .episode-links
    if title
      p #[strong= title]
    else
      p #[strong Links e dicas que falamos neste episódio]
    ul
      each link in object
        li.item
          a(href= link.url title= link.title target='_blank' rel='noopener').link.-alt
            p= link.title
            span.eyebrow= link.type
