mixin header(link1, link2, link3, link4, link5)
  //- Google Tag Manager (noscript)
  noscript
    iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-PJ7GNKQ', height='0', width='0', style='display:none;visibility:hidden')

  header
    .wrapper
      a(href='/' title='Movimento UX - Página Principal').logo Movimento UX
        svg(src='/assets/img/ui/movimentoux-logo.svg')
      ul.menu.-desktop
        li.item #[a(href='/temporada-1/' title='UX Design. Primeira Temporada' class= link1).link Temporada 1]
        li.item #[a(href='/temporada-2/' title='UX Research. Segunda Temporada' class= link2).link Temporada 2]
        li.item #[a(href='/temporada-3/' title='UX Research. Terceira Temporada' class= link3).link Temporada 3]
        li.item #[a(href='/pesquisa-uxr/' title='Pesquisa' class= link4).link Pesquisa]
        li.item #[a(href='/sobre/' title='Sobre' class= link5).link Sobre]
      ul.menu.-mobile
        li.item #[a(href='#!' title='Home').link.-mobile Menu]
