include /components/link-text

mixin image(file, caption, title, link, variantClass)
  figure
      img(src='/assets/img/media/' + file alt= caption class= variantClass)
      figcaption= caption
      if link
        +link-text(title, link)