mixin meta(title, description, href, share)
  doctype html
  html(lang='pt-br')

    head
      meta(charset='utf-8')
      title= title
      meta(name='description' content= description)
      meta(name='viewport' content='width=device-width, initial-scale=1')
      meta(name='google-site-verification' content='PFD058kE60WP7JXowo6ain930OAmdWOGSKW0afbB4ow')

      link(rel='canonical' href= href)
      link(rel='alternate' type='application/rss+xml' title='RSS Feed' href='https://feeds.feedburner.com/movimentoux')
      link(rel='icon' href='/assets/img/ui/favicon.png')

      meta(property='og:type' content='website')
      meta(property='og:title' content= title)
      meta(property='og:description' content= description)
      meta(property='og:url' content= href)
      if share
        meta(property='og:image' content= share)
      else
        meta(property='og:image' content='https://movimentoux.com/assets/img/share/share.png')

      meta(itemprop='name' content= title)
      meta(itemprop='description' content= description)
      meta(itemprop='image' content='https://movimentoux.com/assets/img/share/share.png')
      meta(itemprop='url' content= href)

      meta(name='twitter:card' content='summary')
      meta(name='twitter:title' content= title)
      meta(name='twitter:description' content= description)
      meta(name='twitter:image' content='https://movimentoux.com/assets/img/share/share.png')

      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap')
      link(rel='stylesheet' href= '/assets/css/main.min.css')
      link(rel='author' href='/humans.txt')
      
      //- Google Tag Manager
      script(defer).
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PJ7GNKQ');
