mixin player(hash)
  aside(data-soundcloud= hash).episode-player
    .backwards
    .play
    .forwards
    .time.-current 00:00
    .timeline
      .percentage
      .mouse
    .time.-duration 0:00:00
    .volume #[span]
