mixin players
  p Você pode ouvir este e os outros episódios no seu player preferido. Estamos no:
  p
    a(href="https://open.spotify.com/show/0jpGW9nTFzzzHCjm7Y3d73" title="Spotify" target='_blank' rel='noopener').link.-alt.-players Spotify
    |&nbsp;·&nbsp;
    a(href="https://soundcloud.com/movimento-ux" title="SoundCloud" target='_blank' rel='noopener').link.-alt.-players SoundCloud
    |&nbsp;·&nbsp;
    a(href="https://www.youtube.com/channel/UC8ByKgDqz1Bm4Tv4pIQG7Gg" title="YouTube" target='_blank' rel='noopener').link.-alt.-players YouTube
    |&nbsp;·&nbsp;
    a(href="https://podcasts.apple.com/br/podcast/movimento-ux/id1093322366" title="Apple " target='_blank' rel='noopener').link.-alt.-players Apple
    |&nbsp;·&nbsp;
    a(href="https://podcasts.google.com/feed/aHR0cDovL2ZlZWRzLnNvdW5kY2xvdWQuY29tL3VzZXJzL3NvdW5kY2xvdWQ6dXNlcnM6MjAxNDIxNjEzL3NvdW5kcy5yc3M?sa=X&ved=2ahUKEwje5pei653zAhUyvJUCHZbLAXcQ9sEGegQIARAC" title="Google" target='_blank' rel='noopener').link.-alt.-players Google

  hr
