mixin social-links(variant)
  .social-links(class= variant)
    span.eyebrow Acompanhe
    ul
      li #[a(href="https://anchor.fm/movimento-ux" title="Anchor" target='_blank' rel='noopener').link Anchor]
      li #[a(href="https://open.spotify.com/show/0jpGW9nTFzzzHCjm7Y3d73" title="Spotify" target='_blank' rel='noopener').link Spotify]
      li #[a(href="https://podcasts.apple.com/br/podcast/movimento-ux/id1093322366" title="Apple " target='_blank' rel='noopener').link Apple]
      li #[a(href="https://podcasts.google.com/feed/aHR0cDovL2ZlZWRzLnNvdW5kY2xvdWQuY29tL3VzZXJzL3NvdW5kY2xvdWQ6dXNlcnM6MjAxNDIxNjEzL3NvdW5kcy5yc3M?sa=X&ved=2ahUKEwje5pei653zAhUyvJUCHZbLAXcQ9sEGegQIARAC" title="Google" target='_blank' rel='noopener').link Google]
      li #[a(href="https://www.youtube.com/channel/UC8ByKgDqz1Bm4Tv4pIQG7Gg" title="YouTube" target='_blank' rel='noopener').link YouTube]
