mixin social(variant)
  .social-links(class= variant)
    span.eyebrow Acompanhe
    ul
      li.subtitle #[a(href='http://feeds.movimentoux.com' target='_blank' rel='noopener' type='application/rss+xml').link RSS]
      li.subtitle #[a(href='https://itunes.apple.com/br/podcast/movimento-ux/id1093322366' target='_blank' rel='noopener').link iTunes]
      li.subtitle #[a(href='https://open.spotify.com/show/0jpGW9nTFzzzHCjm7Y3d73' target='_blank' rel='noopener').link Spotify]
      li.subtitle #[a(href='https://soundcloud.com/movimento-ux' target='_blank' rel='noopener').link SoundCloud]
