mixin supporter-sidebar(eyebrow, name, slogan, link, logo)
  .episode-supporter
    a(href= link title= slogan target='_blank' rel='noopener' data-category= name data-label='Sidebar').supporter.analytics
      span.eyebrow= eyebrow
      img(src='/assets/img/supporter/' + logo alt='Logo ' + name)
      p= slogan
