include ../pug/meta
include ../pug/header
include ../pug/episode
include ../pug/player
include ../pug/link
include ../pug/js

+meta(
  'Eduardo Loureiro, Episódio 3 — Movimento UX',
  'Sócio gerente DesignThinkers Brasil. Co-criação, transição de agências, empreendedorismo.',
  'http://movimentoux.com/eduardo-loureiro/'
)

body(data-page='episode')
  
  +header('on', '', '')
  
  #barba-wrapper
    .barba-container
      +episode(
        'Eduardo Loureiro',
        'Sócio gerente DesignThinkers Brasil.',
        'Co-criação, transição de agências, empreendedorismo.',
        '03',
        '03-foto-eduardo-loureiro.jpg',
        '',
        '-inside'
      )

      +player('episodio-3-eduardo-loureiro')

      section.episode-content
        .tab.on#intro
          .text
            p O 3º episódio do Movimento UX foi com o Eduardo Loureiro.
            p A gente conversou sobre o porquê de ele ter deixado as agências de publicidade e começado a empreender, sobre seu pioneirismo nas disciplinas de Design de Experiência do Usuário no Brasil e também sobre sua ligação com Design Thinking.
            p O Eduardo me passou dicas legais pra criar repertório e divido com você.

            ul.links
              +link(
                'Livro — This is service design thinking',
                'http://www.livrariacultura.com.br/p/isto-e-deshttp://nking-de-servicos-5172025'
              )
              +link(
                'Site — This is service design thinking',
                'http://thisisservicedesignthinking.com/'
              )
              +link(
                'Livro — Gamestorming',
                'http://www.livrariacultura.com.br/p/gamestorming-jogos-corporativos-30028184'
              )
              +link(
                'Site — Gamestorming',
                'http://gamestorming.com/'
              )
              +link(
                'Livro — Observing the User Experience',
                'https://books.google.com.br/books/about/Observing_the_User_Experience.html?id=jIrl2L_JvZoC&redir_esc=y'
              )
              +link(
                'Autor — Mike Kuniavsky',
                'https://www.parc.com/about/people/2781/mike-kuniavsky.html'
              )
              +link(
                'Editora — Rosenfeld Media',
                'http://rosenfeldmedia.com/'
              )
              +link(
                'Autor — Louis Rosenfeld',
                'http://www.louisrosenfeld.com/home/'
              )
              +link(
                'Consultor — Paulo Melo',
                'https://www.linkedin.com/in/paulomelo'
              )
              +link(
                'Plataforma de Inovação Social — Mozaiko',
                'https://www.facebook.com/Mozaikocc'
              )
              +link(
                'Plataforma de Educação em Design Thinking e UX — DesignThinkers Academy Brasil',
                'http://www.designthinkersacademy.com/br/'
              )
            
            
            p No próximo episódio eu vou conversar com o Koji.
            p Até!

          .sidebar
            h3.eyebrow Localização
            p Belo Horizonte
            
            h3.eyebrow Social
            p #[a(href='https://www.linkedin.com/in/eduardoloureiro' title='LinkedIn' target='_blank' rel='noopener').link.-alt LinkedIn]

//- last
//- but not least
+js
