include /components/meta
include /components/header
include /components/episode
include /components/player
include /components/episode-tabs
include /components/js

+meta(
  'Paola Sales, Head de User Studies no Descomplica. Episódio 19 — Movimento UX. Conversas sobre pesquisa para produto. UX Research.',
  'Pesquisa Humanizada, Empatia e Criação de Área — Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Segunda Temporada. Conversas sobre pesquisa para produto. UX Research.',
  'https://movimentoux.com/ux-research/paola-sales/'
)

body(data-page='episode')
  
  +header('', 'on', '')
  
  +episode(
    'Paola Sales',
    'Head de User Studies no Descomplica.',
    'Pesquisa humanizada, empatia e criação de área.',
    '19',
    '19-paola-sales.jpg',
    '',
    '-inside'
  )
  
  +player('paolasales')
  
  section.episode-content
    +episode-tabs

    .wrapper
      .content
        include intro.pug
        include transcricao.pug

      include sidebar.pug

+js