include /components/link
include /components/image
include /components/episode-links
include /components/supporter-link

.tab.on#intro
  p Estamos de volta, pessoal! Esse episódio estreia a segunda temporada cuja proposta é aprofundar em pesquisa para produto (UX Research).
  p E a primeira convidada é a Paola Sales, Head de User Studies no Descomplica e Ex Lead de Experiência na Huge. Ela tem um background interessante de arquitetura de informação, usabilidade e liderança de equipes.
  p Falamos sobre como ela está organizando a área de User Studies no Descomplica, como começou a trabalhar com pesquisa, os métodos e as técnicas que utiliza para conhecer os usuários e muito mais.

  +image('19-foto-01.jpg','Laboratório de User Studies do Descomplica.')

  blockquote “Não adianta você ter muitos métodos se você não consegue se conectar com a pessoa que está ali na sua frente.”

  +image('19-foto-02.jpg','Dinâmicas com estudantes.')

  .episode-gallery
    .img #[+image('19-foto-03.jpg','Dinâmica de co-criação.')]
    .img #[+image('19-foto-04.jpg','Grupo de discussão remoto.')]
  
  +episode-links({
    1: {
      type: 'Livro',
      title: 'Comunicação Não-Violenta, Marshall B. Rosenberg',
      url: 'https://amzn.to/2DBfBAQ'
    },
    2: {
      type: 'Livro',
      title: 'Interviewing Users, Steve Portigal',
      url: 'https://amzn.to/2DyFUr5'
    },
    3: {
      type: 'Ferramenta',
      title: 'Ferramenta para otimizar agenda do recrutamento',
      url: 'https://youcanbook.me/'
    },
    4: {
      type: 'Grupo',
      title: 'Grupo UX Research Brasil no LinkedIn',
      url: 'https://www.linkedin.com/groups/8636716/'
    }
  })

  p Pra quem gostou da trilha e quiser conhecer o trabalho do DJ Bittencourt: #[+link('www.radionoir.com.br', 'http://www.radionoir.com.br/')] e as #[+link('ótimas playlists', 'https://open.spotify.com/user/rbittencourt?si=ZJXyHPR6TaSNhFMBwKpKHQ')].
  p E mudando de assunto, você já respondeu a pesquisa sobre o mercado brasileiro de UX, realizada pela Saiba+/Zoly? Responda e participe da #[+link('pesquisa do Panorama UX 2018', 'https://saiba-mais.typeform.com/to/Mo1J4m')].
  p No próximo episódio a convidada é a Carol Zatorre. Até já!
