include /components/link

.text
  p Estamos de volta, pessoal! Esse episódio estreia a segunda temporada cuja proposta é aprofundar em pesquisa para produto (UX Research).
  p E a primeira convidada é a Paola Sales, Head de User Studies no Descomplica e Ex Lead de Experiência na Huge. Ela tem um background interessante de arquitetura de informação, usabilidade e liderança de equipes.
  p Falamos sobre como ela está organizando a área de User Studies no Descomplica, como começou a trabalhar com pesquisa, os métodos e as técnicas que utiliza para conhecer os usuários e muito mais.

  img(src='/assets/img/media/19-foto-01.jpg' alt='')
  span.caption Laboratório de User Studies do Descomplica

  blockquote “Não adianta você ter muitos métodos se você não consegue se conectar com a pessoa que está ali na sua frente.”

  img(src='/assets/img/media/19-foto-02.jpg' alt='')
  span.caption Dinâmicas com estudantes

  .gallery
    .img
      img(src='/assets/img/media/19-foto-03.jpg' alt='')
      span.caption Dinâmica de co-criação
    .img
      img(src='/assets/img/media/19-foto-04.jpg' alt='')
      span.caption Grupo de discussão remoto

  p As dicas que ela deixou pra gente são:
  ul.links
    li #[+link('Livro Comunicação Não-Violenta: Marshall B. Rosenberg', 'https://amzn.to/2DBfBAQ')]
    li #[+link('Interviewing Users: Steve Portigal', 'https://amzn.to/2DyFUr5')]
    li #[+link('Ferramenta para otimizar agenda do recrutamento', 'https://youcanbook.me/')]
    li #[+link('Grupo UX Research Brasil no Linkedin', 'https://www.linkedin.com/groups/8636716/')]

  p Pra quem gostou da trilha e quiser conhecer o trabalho do DJ Bittencourt:
  ul.links
    li #[+link('www.radionoir.com.br', 'http://www.radionoir.com.br/')] e as #[+link('ótimas playlists', 'https://open.spotify.com/user/rbittencourt?si=ZJXyHPR6TaSNhFMBwKpKHQ')]

  p E mudando de assunto, você já respondeu a pesquisa sobre o mercado brasileiro de UX, realizada pela Saiba+/Zoly? Eu já! :)
  ul.links
    li #[+link('Responda e participe da pesquisa do Panorama UX 2018', 'https://saiba-mais.typeform.com/to/Mo1J4m')]

  p No próximo episódio a convidada é a Carol Zatorre. Até já!

.sidebar
  h3.eyebrow Localização
  p Rio de Janeiro

  h3.eyebrow Site
  p #[+link('Descomplica', 'https://descomplica.com.br')]

  h3.eyebrow Social
  p #[+link('LinkedIn', 'https://br.linkedin.com/in/paolasales')]
  p #[+link('Twitter', 'https://twitter.com/paolasalesetc')]
  p #[+link('Instagram', 'https://instagram.com/paolasales/')]
