include /components/link

.sidebar
  .info
    h3.eyebrow Localização
    p Rio de Janeiro

    h3.eyebrow Site
    p #[+link('Descomplica', 'https://descomplica.com.br')]

    h3.eyebrow Social
    p #[+link('LinkedIn', 'https://br.linkedin.com/in/paolasales')]
    p #[+link('Twitter', 'https://twitter.com/paolasalesetc')]
    p #[+link('Instagram', 'https://instagram.com/paolasales/')]

    h3.eyebrow Download
    p #[+link('Arquivo MP3', '#!', 'download')]