include ../pug/meta
include ../pug/header
include ../pug/js

+meta(
  'Paola Sales — Movimento UX',
  'Head de User Studies no Descomplica. Pesquisa Humanizada, Empatia e Criação de Área',
  'http://movimentoux.com/paola-sales/'
)

body(data-page='episode')
  
  +header('', 'on', '')
  
  #barba-wrapper
    .barba-container
      section.intro-episode.-inside
        .cover-wrap
          .cover
            img(src='../img/19-foto-paola-sales.jpg' alt='Fotografia de Paola Sales')
        .text
          span.eyebrow — Novo episódio
          h2.title Paola<br>Sales
          p.keywords Head de User Studies no Descomplica
          p.keywords Pesquisa Humanizada, Empatia e Criação de Área
        span.number 19
      
      aside.episode-player
        .backwards
        .play
        .forwards
        .time.-current 00:00
        .timeline
          .percentage
          .mouse
        .time.-duration 0:00:00
        .volume #[span]
      
      section.episode-content
        .text
          p Estamos de volta, pessoal! Esse episódio estreia a segunda temporada cuja proposta é aprofundar em pesquisa para produto (UX Research).
          p E a primeira convidada é a Paola Sales, Head de User Studies no Descomplica e Ex Lead de Experiência na Huge. Ela tem um background interessante de arquitetura de informação, usabilidade e liderança de equipes.
          p Falamos sobre como ela está organizando a área de User Studies no Descomplica, como começou a trabalhar com pesquisa, os métodos e as técnicas que utiliza para conhecer os usuários e muito mais.
          
          img(src='../img/19-foto-01.jpg' alt='')
          span.caption Laboratório de User Studies do Descomplica.
          
          blockquote “Não adianta você ter muitos métodos se você não consegue se conectar com a pessoa que está ali na sua frente.”
          
          img(src='../img/19-foto-02.jpg' alt='')
          span.caption Dinâmicas com estudantes.
          
          .gallery
            .img
              img(src='../img/19-foto-03.jpg' alt='')
              span.caption Dinâmica de co-criação.
            .img
              img(src='../img/19-foto-04.jpg' alt='')
              span.caption Grupo de discussão remoto.
            
          p As dicas que ela deixou pra gente são:
          ul.links
            li #[a(href='https://www.amazon.com.br/dp/B00K863BAM/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1' title='Livro Comunicação Não-Violenta: Marshall B. Rosenberg' target='_blank' rel='noopener').link.-alt Livro Comunicação Não-Violenta: Marshall B. Rosenberg]
            li #[a(href='https://www.amazon.com/Interviewing-Users-Uncover-Compelling-Insights/dp/193382011X' title='Interviewing Users: Steve Portigal' target='_blank' rel='noopener').link.-alt Interviewing Users: Steve Portigal]
            li #[a(href='https://youcanbook.me/' title='Ferramenta para otimizar agenda do recrutamento' target='_blank' rel='noopener').link.-alt Ferramenta para otimizar agenda do recrutamento]
            li #[a(href='https://www.linkedin.com/groups/8636716/' title='Grupo UX Research Brasil no Linkedin' target='_blank' rel='noopener').link.-alt Grupo UX Research Brasil no Linkedin]
          
          p Pra quem gostou da trilha deste episódio e quiser conhecer o trabalho do Dj Bittencourt: #[a(href='http://www.radionoir.com.br/' title='site' target='_blank' rel='noopener').link.-alt site] e as #[a(href='https://open.spotify.com/user/rbittencourt?si=ZJXyHPR6TaSNhFMBwKpKHQ' title='ótimas playlists' target='_blank' rel='noopener').link.-alt ótimas playlists].
          
          p E mudando de assunto, você já respondeu a pesquisa sobre o mercado brasileiro de UX, realizada pela Saiba+/Zoly? Eu já :)
          ul.links
            li #[a(href='https://saiba-mais.typeform.com/to/Mo1J4m' title='Responda e participe da pesquisa do Panorama UX 2018' target='_blank' rel='noopener').link.-alt Responda e participe da pesquisa do Panorama UX 2018]
          
          p No próximo episódio a convidada é a Carol Zatorre. Até já!

        .sidebar
          h3.eyebrow — Localização
          p Rio de Janeiro
          
          h3.eyebrow — Site
          p #[a(href='https://descomplica.com.br' title='Descomplica' target='_blank' rel='noopener').link.-alt Descomplica]
          
          h3.eyebrow — Social
          p #[a(href='https://br.linkedin.com/in/paolasales' title='LinkedIn' target='_blank' rel='noopener').link.-alt LinkedIn]
          p #[a(href='https://twitter.com/paolasalesetc' title='Twitter' target='_blank' rel='noopener').link.-alt Twitter]

//- last, but not least
+js
