include /components/meta-head
include /components/header
include /components/episode
include /components/episode-player
include /components/episode-tabs
include /components/meta-js

+meta-head(
  'Sérgio Salvador, Episódio 12 — Movimento UX',
  'Diretor de UX na Huge. Consultoria, liderança, design antecipatório.',
  'https://movimentoux.com/ux-design/sergio-salvador/'
)

body(data-page='episode')

  +header('on', '', '')

  +episode(
    'Sérgio Salvador',
    'Diretor de UX na Huge.',
    'Consultoria, liderança, design antecipatório.',
    '12',
    '12-sergio-salvador.jpg',
    '',
    '-inside'
  )

  +episode-player('sergiosalvador')

  section.episode-content
    //- +episode-tabs

    .wrapper
      .content
        include intro.pug
        //- include transcricao.pug

      include sidebar.pug

+meta-js
