include /components/includes

+meta-head(
  'Sérgio Salvador, Episódio 12 — Movimento UX',
  'Diretor de UX na Huge. Consultoria, liderança, design antecipatório.',
  'https://movimentoux.com/ux-design/sergio-salvador/',
  '',
  'episode'
)

body

  +header('on')

  +episode-section(
    'Sérgio Salvador',
    'Diretor de UX na Huge.',
    'Consultoria, liderança, design antecipatório.',
    '12',
    '12-sergio-salvador.jpg',
    '',
    '-inside'
  )

  +episode-player('sergiosalvador')

  section.episode-content
    //- +episode-tabs

    .episode-text
      include intro
      //- include transcricao

    include sidebar

+meta-js
