include /components/includes

+meta-head(
  'Koji Pereira, Episódio 4 — Movimento UX',
  'Designer de Produto no Google. Design digital, prototipação, UX em outros países.',
  'https://movimentoux.com/ux-design/koji-pereira/',
  '',
  'episode'
)

+header('on')

+episode-section(
  'Koji Pereira',
  'Designer de Produto no Google.',
  'Design digital, prototipação, UX em outros países.',
  '04',
  '04-koji-pereira.jpg',
  '',
  '-inside',
  '',
  'https://open.spotify.com/episode/3lsEQmHL6l0pUsenxIaUGh'
)

//- +episode-player('ep4-kojipereira')

section.episode-content
  +episode-tabs

  .episode-text
    include intro
    include transcricao

  include sidebar

+meta-js
