mixin ad-hotmart
  .episode-friends
    p.eyebrow Apoiador deste episódio
    a(href='http://bit.ly/vagasdahotmart' title='Hotmart - A Hotmart é pioneira e líder na América Latina na venda de produtos digitais.' target='_blank' rel='noopener')
      img(src='/_assets/img/friends/hotmart-logo.png' alt='Hotmart' data-ad='Sidebar')
    p A Hotmart é pioneira e líder na América Latina na venda de produtos digitais.
