mixin friends(name, slogan, link, logo)
  .episode-friends
    p.eyebrow Apoiador deste episódio
    a(href= link title= slogan target='_blank' rel='noopener')
      img(src='/_assets/img/friends/' + logo alt='Logo da ' + name data-category= name data-label='Sidebar').analytics
    p= slogan
