mixin header(link1, link2, link3)
  //- Google Tag Manager (noscript)
  noscript
    iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-PJ7GNKQ', height='0', width='0', style='display:none;visibility:hidden')

  header
    .wrapper
      a(href='/' title='Movimento UX - Página Principal').logo Movimento UX
        svg(src='/_assets/img/movimentoux-logo.svg')
      ul.menu.-desktop
        li.item #[a(href='/ux-design/' title='UX Design. Primeira Temporada' class= link1).link UX Design]
        li.item #[a(href='/ux-research/' title='UX Research. Segunda Temporada' class= link2).link UX Research]
        li.item #[a(href='/sobre/' title='Sobre' class= link3).link Sobre]
      ul.menu.-mobile
        li.item #[a(href='#!' title='Home').link.-mobile Menu]
