section.footer
  .form-newsletter
    h3.subtitle Conecte-se ao podcast
    p.description Receba o podcast assim que a gente tirar do forno.
    .form
      input(type='text' placeholder='Digite seu email')
      button Assinar
