include /components/meta-head
include /components/header
include /components/episode-section
include /components/episode-player
include /components/episode-tabs
include /components/meta-js

+meta-head(
  'Rodrigo Medeiros, Episódio 2 — Movimento UX',
  'Líder local no IxDA Recife. Design centrado no usuário, design thinking e mercado de UX.',
  'https://movimentoux.com/ux-design/rodrigo-medeiros/'
)

body(data-page='episode')
  
  +header('on')
  
  +episode-section(
    'Rodrigo Medeiros',
    'Líder local no IxDA Recife.',
    'Design centrado no usuário, design thinking e mercado de UX.',
    '02',
    '02-rodrigo-medeiros.jpg',
    '',
    '-inside'
  )
  
  +episode-player('movimento-ux-ep-2-rodrigo-medeiros')
  
  section.episode-content
    +episode-tabs

    .wrapper
      .content
        include intro.pug
        include transcricao.pug

      include sidebar.pug

+meta-js
