include /components/link
include /components/image

.tab.on#intro
  .text
    p O segundo episódio do Movimento UX foi com o designer de interação Rodrigo Medeiros.
    p A gente conversou sobre o processo de design centrado no usúario, a relação dele com interfaces tangíveis, arte, tecnologia, o mercado de UX no Brasil e muito mais.
    p Vamos lá para as valiosas dicas do Rodrigo:
    
    p Palestras
    ul.links
      li #[+link('Usabilidade contextual — Robson Santos — Interaction South America 2011', 'https://www.youtube.com/watch?v=1dY7tF2vHH4')]
      li #[+link('Inovação em serviços através do uso do design centrado nas pessoas — Érico Fileno — UXConf BR 2015', 'https://www.youtube.com/watch?v=oV7tR6yTBP0')]
      li #[+link('UX Fundamentals for Beginners', 'http://www.slideshare.net/GrowthHackingAsia/ux-fundamentals-for-beginners-58088259?trk=v-feed')]
      
    p Livros
    ul.links
      li #[+link('Avaliação e Projeto no Design de Interfaces — Guilherme Santa Rosa', 'https://amzn.to/2GR0yF5')]
      li #[+link('Design de Interação — Jennifer Preece', 'http://www.buscape.com.br/design-de-interacao-alem-da-interacao-homem-computador-3-ed-2013-helen-sharp-yvonne-rogers-jennifer-preece-8582600062')]
      li #[+link('Ergodesign e Arquitetura de Informação: trabalhando com o usuário — Luiz Agner', 'https://amzn.to/2PwYPYn')]
    
    p Cursos
    ul.links
      li #[+link('Design Gráfico no Instituto Federal de Educação, Ciência e Tecnologia da Paraíba', 'http://www.ifpb.edu.br/campi/cabedelo/cursos/cursos-superiores-de-tecnologia/design-grafico')]
      li #[+link('Design Thinkers Academy — no nordeste e em todo o Brasil', 'https://www.facebook.com/DTAcademyBrasil')]
      li #[+link('BRU! Design de Interação', 'https://twitter.com/bruixd')]
    
    p O 3º episódio do Movimento UX será com o Eduardo Loureiro. Para receber assim que quando for lançado, faça seu cadastro aqui.
    p Obrigada e até a próxima conversa!
