include /components/link-text

.episode-sidebar
  .info
    h3.eyebrow Localização
    p Recife

    h3.eyebrow Site
    p #[+link-text('Site pessoal', 'http://rodrigomedeiros.com.br/')]

    h3.eyebrow Download
    p #[+link-text('Arquivo MP3', '#!', 'download')]