include /components/link

.sidebar
  .info
    h3.eyebrow Localização
    p Recife

    h3.eyebrow Site
    p #[+link('Site pessoal', 'http://rodrigomedeiros.com.br/')]

    h3.eyebrow Download
    p #[+link('Arquivo MP3', '#!', 'download')]