include /components/link

.tab#transcricao
  p [Música]

  p #[strong Izabela:] Olá! Bem vindo ao segundo episódio do Movimento UX. Hoje vamos conversar com o Designer de Interação Rodrigo Medeiros. Rodrigo mora no Recife, é fundador da BRU Design de Interação, uma associação sem fins lucrativos que incentiva a prática do Design de Interação no Nordeste, também foi organizador e curador do Interaction South America 2013, é professor e consultor e por último, só para a lista não ficar muito extensa já que ele faz muita coisa, ele também é curador de visualização de dados da Campus Party Brasil. A gente vai conversar sobre o processo de design centrado no usuário, a relação dele com interfaces e tangíveis, arte, tecnologia, o mercado de UX no Brasil e muito mais. 

  p Então vamos lá. Eu sou a Izabela de Fátima e esse é o Movimento UX. 

  hr

  p #[strong Izabela:] Muito obrigada pela presença aqui no Movimento UX, Rodrigo. 

  p #[strong Rodrigo:] Valeu! Obrigado pelo convite. Vamos ver o que vai sair daqui.

  p #[strong Izabela:] Ah, vamos começar falando então sobre o que é a experiência do usuário.

  p #[strong Rodrigo:] Acho que a maneira mais simples da gente tentar entender o que é experiência do usuário é entender como as pessoas utilizam os equipamentos digitais ou um processo. Então hoje se fala sobre várias coisas, né? Então a gente vai meio que falar de vários assuntos aqui mesmo tempo. 

  p Hoje se fala sobre Design de Serviço, hoje se fala sobre experiência do usuário, hoje se fala sobre Design centrado no usuário. Eu sei que você vai comentar sobre isso. Mas vamos lá, tentar o que é Design de Serviço, o que é experiência do usuário. 

  p Basicamente, eu tento resumir tudo dizendo que a experiência de um usuário, ou a experiência de um utilizador naquele artefato que ele vai utilizar, aquele artefato sendo um objeto digital, aquele artefato sendo um serviço. Então é meio que a experiência de uso completa, desde o início daquela experiência, até o último feedback que ele vai receber. Então como é que a gente consegue planejar essa experiência pra que seja agradável, pra que seja interessante pra aquela pessoa que tá experienciando aquilo ali, tá utilizando aquilo ali? 

  p #[strong Izabela:] E vamos falar um pouco sobre as atividades básicas e as principais entregas de quem está começando em experiência do usuário. 

  p #[strong Rodrigo:] Primeiro a gente precisa entender todo o processo de Design centrado no usuário. Acho que é a primeira coisa a se planejar e a entender. Quando a gente fala sobre experiência do usuário e a gente está falando sobre Design centrado no usuário, que é uma filosofia focada... diferente do Design centrado na tecnologia, né? Design centrado no usuário ele vai envolver o usuário em todo o processo de construção daquele artefato. 

  p Então, a Preece no livro dela ‘Design de Interação’, ela conta quatro fases. Que é a fase de pesquisa, a fase de ideação, de prototipação, e de avaliação. Então a partir do momento que você percebe quais são essas quatro fases, aí você vai ter vários entregáveis em cada uma dessas fases. 

  p Então, na pesquisa você pode fazer já o que a gente lá em publicidade chama de pesquisa de mercado, ou de concorrentes. Isso é uma maneira também de pesquisar sobre aquele artefato.

  p #[strong Izabela:] Benchmarking, né?

  p #[strong Rodrigo:] O benchmarking você faz sobre aquele serviço, se você tá pesquisando, por exemplo, um e-commerce. Mas se eu estou pesquisando, por exemplo, sobre um carrinho de supermercado que vai ter um display novo agora. Imagina isso. Como é que eu vou fazer isso daí? Nem conheço tanto carrinho de supermercado e nem sei quais são as tecnologias que eu posso fazer com que esse carrinho de supermercado tenha um display mostrando alguma informação pro usuário. Então o que é que eu vou fazer? Pesquisar sobre aquelas duas coisas. Primeira coisa: o cenário de utilização daquele negócio. Então eu vou lá no supermercado, olho os carrinhos, vejo como as pessoas utilizam aquilo ali, como as pessoas utilizam, e ver também os insights que pode ter a partir daquilo ali. Como é que as pessoas utilizam e como poderiam utilizar. E não necessariamente como está sendo utilizada é a melhor maneira de utilizar. Em geral, não é, né? Mas vamos lá. 

  p Então, a partir do momento que eu sei como é que as pessoas utilizam naquele cenário de utilização que eu vou envolver o meu produto novo, eu vou pesquisar outra tecnologia que tá lá. O display. Como é que eu posso utilizar aquele display junto com aquele carrinho. E aí essa é a primeira parte, que é a parte de descoberta do problema que você vai utilizar. Então essa parte de pesquisa é basicamente pra você entender o problema de Design que você vai abordar. 

  p Obviamente, eu estou falando aqui de uma metodologia específica. A partir do momento que você usa uma outra conotação, por exemplo, Design Thinking tem uma outra maneira de pensar essa parte de pesquisa.

  p O próprio Gui Bonsiepe que é um pesquisador de Design, na primeira etapa de Design dele, ele fala sobre problema de Design. Tem várias maneiras de você pesquisar sobre problema de Design. Eu vou dar essa visão de Design centrado no usuário, que é a visão que eu utilizo para os meus projetos e dos meus alunos. 

  p Então, dessa maneira, a partir do momento que você consegue entender o problema de Design, você vai começar a idealizar. Então, o que é que você vai fazer na idealização? Ou na ideação? Você vai entender quais são os mecanismos possíveis que você tem ali na sua mão, pra criar aquele artefato novo que você pesquisou, que você viu o problema. Você vai tentar resolver agora. 

  p Então é você tentar já descobrir aqui qual o seu público alvo, qual é sua persona que você vai envolver, qual é a estratégia que você vai utilizar pra quele seu projeto. Até o modelo de negócio entra aqui de vez em quando entra também. Mas mais do que isso, é entender e tentar fechar uma ideia do que vai ser aquele artefato. Não necessariamente fechar, porque você ainda vai prototipar, então na prototipação vai ter muito vai e volta, né? Essa é a segunda parte. E aí tem várias outras metodologias e várias outras ferramentas que você pode envolver, de métodos, na verdade, que você pode envolver nessa etapa de ideação.

  p Na terceira etapa, que é a etapa de prototipação, isso daí é cíclico, né? É interativo. Você pode voltar várias vezes, pode acontecer várias vezes, sem ter que seguir nessa mesma linhazinha. É a etapa de prototipação. Se você vai prototipar, por exemplo, a experiência de um celular, você pode prototipar no próprio papel. Se você vai num carrinho de supermercado, talvez você vai ter que fazer uma maquetezinha, sobre aquilo ali, né? Então vou fazer uma maquetezinha, vou pegar o display, aí coloca um papel também nesse display. Pega uma cartolina, faz como se fosse um displayzinho, um papel alí. E aí você começa a montar o que você quer pra aquela interface. Como é que você quer que o usuário interaja com aquele artefato novo que você tá criando, né? Essa é a parte de prototipação. Essa é a parte que mais tem volta. Você testa uma coisa, não dá certo, testa outra, não dá certo, testa de novo. Aí você: “Olha, talvez pra esse público não dê muito certo isso”. Aí volta pra etapa anterior, vê o público de novo, e aí volta de novo pra prototipação. 

  p E aí, fechando esse ciclo que eu chamo de Design centrado no usuário, tem a quarta fase, quarta etapa. Que é a etapa de avaliação. Nessa etapa de avaliação tem muitos métodos a serem seguidos. Tem o próprio, que é o mais clássico de todos, que é o teste de usabilidade, laboratório. Então o cara vai pro laboratório, você vai pedir pra ele fazer uma série de perguntas, uma série de etapas, de tarefas. Ele vai fazer aquelas etapas. E aí você, depois disso, você vai analisar se ele fez correto, se ele não fez correto. Se teve uma duração maior do que a esperada. E aí você consegue entender um pouco mais dos gargalos daquele fluxo de navegação.Tem outras maneiras de fazer teste de usabilidade, tem teste de usabilidade outdoor, no próprio ambiente de trabalho do cara, ou num parque, se for no celular, por exemplo. Tentando chegar mais próximo da utilização real daquele usuário, né?

  p Vamos lá. Avaliação tem várias outras formas. A gente acabou, na Campus Party, agora em São Paulo, a Elisa Volpato tava falando sobre teste de usabilidade remoto. Uma maneira de você testar, por exemplo, um aplicativo ou um website remotamente. A pessoa vai lá, tá na casa dela, abre um website, começa a testar aquele website pela própria ferramenta dela lá.

  p #[strong Izabela:] Já vi uma ferramenta que talvez possa ilustrar o que você tá contando, que é, por exemplo, Hotjar, que você consegue ver com que as pessoas estão utilizando o que você construiu, né? Se aquele fluxo de navegação tá fazendo sentido. Até outro dia eu vi no inVision também que ele mostra a reação das pessoas na utilização. É sobre isso, né?

  p #[strong Rodrigo:] A Elisa deu uma explicação até razoável do projeto dela. O que é que vai ter, o que é que já tem. Ele grava a feição da pessoa, ele grava a tela, ele faz relatórios automáticos. Tem uma série de ferramentas que são bem interessantes. Como a ferramenta dela, tem várias outras ferramentas na internet. Talvez, por ser em português e por estar aí, sendo uma startup nova e tal, e utilizando tecnologias super avançadas que eu ainda não vi outros fazendo. Pode ser um teste legal. 

  p Eu, em geral, sou clássico. Em geral, vou pro laboratóriozinho, testo com meus usuários, e crio um relatório pras consultorias. 

  p #[strong Izabela:] E você mesmo conduz? 

  p #[strong Rodrigo:] Eu mesmo conduzo. Mas essa... Você vai ver com o tempo... Essa moderação do teste de usabilidade demora um tempo pra você aprender, pra você entender como é, pra você entender os equipamentos, como é que utiliza bem, como é que você gera um roteiro interessante pra aquela pessoa, pra aquele público.

  p Tem um série de questões a serem analisadas que são muito coerentes na hora de planejar esses testes. 

  p Mas fechando o ciclo, eu acho que é basicamente isso assim, essas 4 etapas: pesquisa, ideação, prototipação e avaliação. Quais são os métodos que elas vão demandar depende muito do tipo de projeto que você vai. Então têm métodos que funcionam melhor pra aplicativos, por exemplo. E têm métodos que funcionam melhor quando você vai fazer alguma coisa que é mais físico, novo produto, uma nova experiência de utilização de serviço e tal. Vai demandar exatamente do que que tu vai querer construir. Então basicamente isso. 

  p #[strong Izabela:] Como você começou com experiência do usuário?

  p #[strong Rodrigo:] Isso é uma história meio engraçada assim. Eu comecei um curso de webdesign, 2005 mais ou menos. E eu era um designer que não fazia interface. E ao mesmo tempo era um designer que não programava. Então eu ainda tava me iniciando em HTML/CSS, ao mesmo tempo eu não fazia interface. Era meio o patinho feio do meu curso. Então eu me envolvi numa área, que naquela época a gente chamava Arquitetura de Informação. Continua hoje, obviamente. Mas a gente não chamava ‘Experiência do Usuário’, chamava Arquitetura de Informação, que é a maneira de você organizar o fluxo que a pessoa vai ter naquela experiência digital. Pra outras áreas também vale a pena, mas eu não vou nem envolver aqui. 

  p Então eu comecei assim. Eu comecei como arquiteto da informação lá em Recife e com o tempo eu fui ganhando corpo de experiência, de entender as coisas como é que funcionava, as ferramentas e tal. E passei pra outros projetos maiores. Comecei na própria faculdade, fazendo esse esquema, tinha os estágios. E aí eu me envolvi em duas coisas que eu achava que sabia fazer melhor, que era esse planejamento de arquitetura de informação até a etapa de wireframe, então ia pro papel, e até deixava digital. E aí eu tinha uma equipe de designers muito boa junto de mim, então o designer visual fazia o layout. Então eu passava todo o esquema naquele wireframe clássico, que era aquele relatório grande, que você fazia um monte de tela, e passava pras pessoas cheio de dicazinhas, que a gente quase não utiliza mais hoje. Afinal a gente tá falando de 11 anos atrás. E aí eu comecei a fazer muito isso, e achava que isso seria pro resto da vida. 

  p E aí eu comecei a me envolver com essa história de experiência do usuário a partir dos grupos locais. 2005 também foi a geração que começou a criar grupos do Interaction Design Association, do IxDA. Então tinha um grupo lá que a gente não chamava IxDA, nessa época. A gente chamava UX de Recife. Que tinha o Paulo Melo, tinha o Mabuse, tinha o Felipe Levi, e a galera do CESAR, e outros pesquisadores. Então eram pessoas ligadas à mídias digitais e experiência do usuário, que estão fazendo coisas digitais lá em Recife, que a gente se juntou pra conversar. 

  p Então, conversando com essa galera, em vários eventos que teve lá em Recife, eu vi que tinha uma área, que era essa área aí de experiência de usuário, pesquisa, avaliação do usuário. Pensei: “Olha, talvez isso dê certo pra mim”. E comecei a fazer os testes informais. A gente tinha um grande problema em Recife, que a gente não tinha um laboratório de usabilidade, né? Agora o CESAR tem um… Um não, tem vários laboratórios de usabilidade. Mas na época a gente não tinha. Então, o que que a gente começou a fazer. Eu fiz muita pesquisa informal. Informal no sentido de que não a tinha estrutura de um laboratório. Eu montava o meu próprio laboratório remoto, fora, nos cantos assim. Eu ia pesquisar com a pessoa, levava meu equipamento, montava e fazia com ela, mas não tinha um laboratório. Eu fiz muito isso. 

  p E eu comecei a testar também as técnicas. Eu não sabia nada também. Não tive nenhum professor que dizia: “Ó Rodrigo, o roteiro é assim”. Li muito, né? Tinha poucos livros em português. Ainda tem pouquíssimos livros em português. Naquela época o Agner, Luiz Agner, ainda não tinha lançado o livro dele sobre arquitetura de informação, nem o Guilherme Santa Rosa, que são dois professores agora que têm livros publicados em avaliação de usabilidade, em avaliação de interface. 

  p E aí comecei a ler os livros que tinham em inglês, comecei a me envolver mais com essa comunidade. Achei que essa comunidade no Brasil todo fez com que outras pessoas também se envolvessem nessa história. Outros patinhos feios dessa história, como eu me considerava lá em Recife, foram se encontrando. Que talvez não tivessem experiência em interface. Ou até tinha experiência em interface, que acabou se envolvendo também nessa prática de experiência do usuário. 

  p E aí eu envolvi isso também nos meus métodos de pesquisa no mestrado, lá em Portugal. Não fiz mestrado em Design, nem fiz mestrado em computação, fiz mestrado em Arte Digital. Que minha ideia era envolver artefatos que não envolvessem teclado e mouse. E pra isso eu precisava muito do Design de Interação, eu precisava muito envolver usuários pra entender com era a experiência deles na interface que eu tinha criado.

  p E logo no meu retorno pro Brasil eu… Ah, eu fiz algumas experiências lá também. Eu participei de três projetos do governo de Portugal. Dois do governo de Portugal e um da Europa, União Europeia. Um do governo de Portugal foi muito legal porque, eu de fato comecei a fazer uma pesquisa com usuários lá, com portugueses. Tentando falar a língua deles. Então você começa a compreender que você está mais seguro do método que você está utilizando, quando você consegue mudar a forma como você vai pensar, ou estruturar aquela fala do teste. Eu tive que mudar muito meu discurso pra poder falar com as pessoas da maneira como eles entendiam. E é exatamente isso que você tem que levar em consideração na hora que você vai testar a usabilidade. É falar à maneira do usuário, falar à maneira como ele se sente à vontade. Então eu não podia chegar pra uma senhora de 60, 80 anos em Portugal e falar: “Olha, veja bem, vamos começar assim, e depois você faz isso aqui”. Eles não vão entender dessa forma né. Você tem que mudar de fato a forma como você falava. 

  p E aí em Portugal eu tive essa experiência em dois projetos lá. Pra mim assim, muito enriquecedor, foi muito bacana. E aí eu voltei pra teste de usabilidade no Brasil. Trabalhei na Try lá em São Paulo e foi uma experiência dia a dia, rotineira. Todo dia fazendo teste de usabilidade, todo dia fazendo experiência do usuário, todo dia fazendo roteiro, ajudando a equipe a fazer uma interface, ajudando no processo de ideação, ou ajudando na consultoria, e assim ia construindo as coisas. 

  p E aí, depois desce pra São Paulo, eu voltei pra Recife pra trabalhar com experiência do usuário com outra perspectiva, que era criar um produto digital, criar uma rede social pra robótica educacional, que é o Robô Livre. A gente fez lá, fez um pouco lá em Recife essa história. Bombou no Brasil todo, quase três mil usuários registrados pra um negócio de nicho, é bem específico, bem legal. 

  p E aí veio a outra história da experiência do usuário que era repassar o conteúdo, da mesma forma que a gente está fazendo aqui, pra outras pessoas. E aí foi que o que aconteceu com o meu concurso lá do IF, o Instituto Federal. Que eu comecei a passar o que eu tinha visto, tinha pesquisado, pra outros meninos bons, que pudessem seguir esse caminho, e envolver de novo a comunidade. Nessa história toda aí, passou vários projetos. Por isso que é tão importante esse negócio da comunidade. Passaram dois grandes eventos na minha mão. A gente fez o Expo Design, que teve lá em Recife, em 2007, que não envolveu muito experiência do usuário, mas já começou a envolver. E depois teve o Interaction South America, que era exatamente esse envolvimento com a comunidade, que era uma coisa que eu via que era absolutamente importante pra mim assim. Eu precisava conversar com outras pessoas que estavam fazendo a mesma coisa que eu na minha cidade, pra entender de fato o que eu tava fazendo, ou para entender melhor o que eu tava fazendo, né? E aí, da minha cidade e de outras cidades. Então o IxDA deu pra mim também essa oportunidade de conhecer outras pessoas no Brasil todo e fora do país, obviamente, a partir do Interaction South America, que tinham o mesmo interesse, que era entender produtos digitais, entender como as pessoas utilizam, entender como a gente pode criar relações diferentes, interações diferentes, experiência diferente. 

  p #[strong Izabela:] Vi que você trabalhou como designer de interação, arquiteto de informação, pesquisador de experiência do usuário, como você acabou de contar. Você pode contar um pouquinho a diferença entre esses tipos de situação? Porque eu tenho a impressão de que a área de experiência do usuário é ampla, ela tem um tanto de especialização. E eu acho que pra quem está começando, a gente pode ficar um pouco confuso e dá até um certo medo assim, de como entrar? Que portinha que eu tento entrar? 

  p #[strong Rodrigo:] Tem duas coisas interessantes aí. De fato eu, diferente de outras pessoas que só se intitulavam de uma maneira, como designers… A pessoa se intitulava designer. E aí onde ela ia trabalhar, como ela ia trabalhar, depois ela via. Eu gostava sempre de envolver qual era a parte do processo que eu tava envolvido. Então eu falava ‘arquiteto da informação’, tava ali envolvido naquela arquitetura, até wireframe, etc e tal. Quando eu estava envolvido em Design de interação, eu tava envolvido mais no processo completo, pesquisa, ideação, prototipação e avaliação. O que aconteceu muito é que…

  p #[strong Izabela:] E o designer de experiência? Ele tá no todo? Eu tenho essa dúvida.

  p #[strong Rodrigo:] Olha, olha, vê só. Eu, eu Rodrigo, e vários outros amigos junto comigo, eu não gosto desse termo ‘designer de experiência’.

  p #[strong Izabela:] Tá.

  p #[strong Rodrigo:] A gente não desenha experiência. A gente pode desenhar o fluxo de interação, o fluxo da navegação que a pessoa vai ter. Eu não gosto muito desse termo ‘designer de experiência’. Têm outras pessoas que podem gostar. Eu não uso.

  p #[strong Izabela:] A minha dúvida, ela também passa pelo seguinte: quem trabalha com a experiência do usuário, qual que é o nome, né, do cargo? Por exemplo, eu fico em dúvida, é designer de experiência? É designer de interação? 

  p #[strong Rodrigo:] É que é o seguinte: experiência… Se você for pensar, experiência do usuário, né, o que a gente chama de UX. É uma área muito facetada. Tem gente de computação, tem gente de Design, tem gente de publicidade, tem gente de negócio, todo mundo envolvido nesse mundo que a gente chama de ‘Experiência do Usuário’. Se você está trabalhando nessa parte aí, dentro desse processo de pesquisa, ideação, prototipação e avaliação, muito provavelmente você vai trabalhar com Design de interação, certo? O quê aconteceu em São Paulo? Especificamente São Paulo, muitos da geração continuam se auto intitulando arquitetos da informação. Mesmo trabalhando com o processo completo, o cara continuava se intitulando arquiteto da informação. Era uma coisa muito viva na cidade. Dá pra entender melhor depois, conversando com outras pessoas. Não vou me envolver muito, porque eu não tava naquela geração, e nem tava nos eventos que aconteceram... Tinha muito a ver também com os eventos que aconteciam na própria cidade. Então, o que aconteceu é que aquela geração que estava envolvida naquele evento se intitulava arquiteto da informação. 

  p A partir do momento que a gente tem uma comunidade maior de Design da interação, a gente começou a se intitular ‘designer de interação’, e era assim que eu me via como designer. Eu não era designer de interface, ou designer visual. Eu era designer de interação. Eu construía a navegação do cara, a experiência do cara, naquele artefato que ele ia se envolver, seja ele físico, seja ele digital. É a minha maneira de pensar, e é a minha maneira de pensar até hoje.

  p Com certeza, hoje você vai escutar vários outros termos, como por exemplo, “eu sou designer de serviço”, “construo design de serviço”, ou o design thinking, ou arquiteto da informação de novo, ou designer de interação, ou designer visual, ou designer de interface. Então, onde você vai se encaixar, é como eu te falei, você vai se encaixar onde você se achar melhor. Se você acha que vale mais a pena ir pro lado de planejamento, estrutura, talvez seja melhor ir pra área lá do início do processo, de pesquisa, ideação. Tem a área de Design Thinking, tem a área de Design de Serviço,a própria área da Arquitetura da Informação, se você vai até a prototipação. 

  p Se você quer construir a história completa e quer se envolver em todos os processos, você se auto intitula designer de interação. Não necessariamente você vai trabalhar em todas as etapas, mas você pode trabalhar em todas as etapas. Mesmo você iniciando, e por isso que é interessante a gente estar conversando aqui, você tem que encontrar a área que você quer atuar. Você vai lá, testa uma parte, gostou, beleza. Continua fazendo. Mas testa outra parte também pra ver se gosta. Gostou ali, fazer ideação, beleza. Então, “Ah, é um papelzinho só, um lápis, uma caneta. Vou prototipar alguma ideia aqui, pelo menos um fluxo de como é que acontece as coisas. Pô, já comecei a fazer prototipação”. Avaliação pô, faz um roteiro. Chama a mãe, chama o pai, chama cunhado, cunhada, faz alguma coisa. Alguma coisa mais informal. E aí vai testando, vê o que que vai acontecendo. É assim que você vai ganhando corpo pra poder fazer consultoria, fazer outra coisa depois, ou até conseguir um estágio, alguma coisa assim. 

  p #[strong Izabela:] E se eu quiser me envolver mais com a questão de pesquisa com usuário? Porque eu tenho a impressão, lendo sobre vagas, lendo posts, que pesquisa com usuário acaba sendo o lado mais fraco da corda de quem tá no dia, de ou design de de interação, design de experiência, tem muita discussão sobre que na realidade, você não dedica tanto tempo pra pesquisa com usuário, e isso fica muito confuso, já que assim, até o nome né, User Experience, Design centrado no usuário, pra ser focado nisso. Como assim que essa é a corda mais bamba, né? Como é que isso acontece?

  p #[strong Rodrigo:] Primeiro porque as empresas, no geral, acreditam que pesquisa é um processo caro, por envolver o laboratório, por envolver uma pessoa especializada em fazer um roteiro, a fazer moderação de um teste, etc. 

  p E aí tem três cenários. O cenário da empresa que contrata uma empresa terceirizada para fazer serviço de pesquisa. O cenário da empresa que contrata um consultor pra fazer esse processo de pesquisa. E a empresa que tem o próprio serviço de pesquisa interno, que são pouquíssimas no Brasil. Pouquíssimas.

  p #[strong Izabela:] Pessoas lá dentro, focadas nisso.

  p #[strong Rodrigo:] Dentro da empresa. É o caso, por exemplo, da Globo.com. A Globo ele tem um laboratório de usabilidade interno da empresa. Tem equipe contratada há muitos anos, laboratório de pesquisas exatamente deles, pra fazer os testes da equipe deles. Fazer todo o portal da Globo. Eles têm lá um X tempo, eu não sei exatamente quanto tempo, alguns meses, possivelmente, ou algumas semanas, deve ter um testezinho lá no portal da Globo funcionando pra eles ver o que está acontecendo na experiência de uso das pessoas. 

  p Mas a Globo saiu na frente, na minha visão, e tinha capacidade financeira de poder fazer isso. Mas a grande realidade que eu vejo... Outras empresas também isso internamente. Mas as empresas, em geral, acham caro, esse é o grande foco. E por isso que você não vê muito falar sobre essa área, porque são poucas pessoas que conseguem falar sobre... Primeiro, você vai fazer consultoria numa empresa como essa, você assina um termo de que é confidencial. Então o teu processo naquela empresa meio que fica guardado ali dentro. Então como é que você vai divulgar? Beleza, você pode divulgar seus métodos, como é que você trabalha. Tem várias pessoas no Brasil que não só dão cursos sobre isso, como a Volpato, a Elisa Volpato, a Carol e outras pessoas. Eu também toco sobre teste de usabilidade, experiência do usuário. Mas de fato é uma coisa que a gente precisa divulgar mais. Muita gente acabou tendo bastante experiência nessa área, tem várias empresas que formaram muita gente nessa área. Mas os métodos e os processos ficaram muito internos das empresas.

  p Tem um livro muito bom, do Guilherme Santa Rosa, que é o professor da Federal do Rio Grande do Norte, formado aqui na PUC Rio, e depois professor lá da Federal do Rio Grande do Norte, sobre métodos de avaliação de interface. Nesse livro ele comenta sobre os métodos de teste com usuário.

  p #[strong Izabela:] Continuando um pouquinho sobre isso, que eu acho que é um dos maiores incômodos que eu tenho, e outras pessoas que eu converso também que têm interesse pela área têm... Porque, assim, se o cliente do nosso cliente é quem paga as contas, e a experiência positiva pra ele que vai fidelizar ele ao produto, ao serviço... É muito estranho na minha cabeça, não ter pessoas dentro das empresas que estão vendendo isso. Por exemplo, uma empresa de tecnologia, que o seu usuário ali, a audiência que tá alí, é ele que tá pagando as contas. Vou sair aqui do exemplo do Facebook, que a gente sabe que quem tá pagando as contas é a propaganda, mas tirando esse cenário de quem paga a conta é a propaganda quem tá pagando a conta ali é o cliente. Então, como assim que não tem alguém pensando o tempo inteiro que que poderia ser melhor pra ele, sabe? Acho que tá claro aí a questão do custo, mas eu queria entender um pouco se você acha que isso é uma realidade que talvez a gente esteja passando aqui no Brasil e que talvez fora isso não aconteça, ou que ainda precisa de uma evolução nesse mercado. É que parece muito agônico, sabe? Essa questão.

  p #[strong Rodrigo:] Sim. Esse não é um problema do Brasil.

  p #[strong Izabela:] Não?

  p #[strong Rodrigo:] Esse problema perpassa por todo mundo. A gente vê pessoas que são consultores em usabilidade nos Estados Unidos, também reclamando das empresas por dificuldade de contratação, porque as empresas acham também que são caros. Mas não vem ao caso aqui. Têm muitas empresas no Brasil que têm pessoas especificamente sobre isso daí, intituladas inclusive 'designers de interação'.

  p #[strong Izabela:] Tá.

  p #[strong Rodrigo:] Se fazem bem feito, ou não, a gente não vai entrar nesse mérito. As pessoas estão trabalhando naquela área ali, acho que a gente tem que dar o mérito que a gente conseguiu como comunidade, fazer criar esses cargos. É muito doido pensar sobre isso, mas a gente também criou esses cargos, por estar envolvido naquela construção ali. Quem, há dez, vinte anos atrás, ia contratar um cara chamado 'designer de interação' dentro de uma empresa? Ou um 'arquiteto da informação', né? É muito difícil você, como empresa, chegar e dizer assim: "Você não faz interface, mas você não programa minha tela. Qual que é seu ganho aqui dentro da equipe?", né?

  p #[strong Izabela:] "Qual que é o retorno que você vai me dar", né?

  p #[strong Rodrigo:] "Qual que é o retorno que você vai me dar?". E o retorno foi construído. Eu acho que tem muitos casos sucesso no país e fora dele também. Vários brasileiros, inclusive, sendo muito premiados lá na Europa e nos Estados Unidos. Na Ásia também. A gente tem vários casos de sucesso de empresas que se envolveram com criação digital e que envolveram os usuário nesse processo, e deram muito bem. 

  p Eu entendo que do lado de fora, você ainda tentando entrar na área tem essa sensação que tem pouca gente fazendo, mas na verdade é porque é uma coisa também muito difícil de fazer e leva um tempo, dependendo do tipo de produto, do tipo de serviço, do tipo de mecanismos que você tá utilizando. Não é do dia pra noite que você consegue melhorar uma interface, ou melhorar uma experiência. 

  p Por exemplo, imagina... E eu vi isso internamente. Imagina uma experiência de um banco, como é difícil você modificar assim rapidamente. Não dá pra modificar rapidamente. Afinal, tem todo um modelo mental das pessoas de utilização daquilo ali. 

  p #[strong Izabela:] E além do modelo mental das pessoas, imagino que tenha também a questão de burocracia, né? Numa categoria como banco.

  p #[strong Rodrigo:] Com certeza. Aí vai, sei lá, portal de notícia. Além do UOL, do Terra UOL, e do Globo.com, os outros que estão envolvidos, ou foram incorporados nessas grandes estruturas de portal, ou passaram por várias dificuldades aí, né?

  p Sei lá, tem outras experiências aí que a gente pode ter, né? Imagina o serviço de portal, de serviço, sei lá, de telefonia. Que que as companhias de telefone… Ou por exemplo, as modificações das televisões hoje, né? Tantos serviços digitais, como na própria televisão. Você vai, sei lá, na HBO hoje, vê como eles mudaram a experiência de dois, três anos pra cá. Tem uma equipe de tecnologia pesada envolta daquilo ali, uma experiência do usuário muito grande ali também, né? Pra conseguir fazer. E aí demanda uma série de recursos tecnológicos pra que isso aconteça. Às vezes, a gente quer que o negócio aconteça rápido, mas não dá pra acontecer rápido. Eles dependem de um planejamento muito grande, focado também na própria tecnologia que a gente tem hoje. 

  p Acho que a gente teve vários avanços, nos últimos anos. Teve várias equipes formadas, a gente teve vários cargos sendo colocados nas maiores empresas do Brasil. Eu fico muito feliz que isso aconteceu de fato. Agora, essas empresas querem pessoas já com experiência. 

  p Como é que você vai ter experiência na área se as pequenas empresas e as médias empresas não estão contratando como deveria contratar? Isso eu concordo com você. Como é que a gente ganha experiência, se a gente tá fora dessas grandes empresas? Como é que você ganha experiência, se você não tem muita coisa a fazer aqui? Cara, vai atrás. Tem que fazer esses outros caminhos. Quais caminhos alternativos que tem? É fazer uma consultoria independente? Faz uma consultoria independente. É fazer uma pesquisa pessoal, digamos assim, pra um projeto pessoal? É! Faz um projeto pessoal. E assim vai ganhando força, auto divulgação.

  p #[strong Izabela:] Adquirindo experiência, né? Aprendendo, errando, testando.

  p #[strong Rodrigo:] E aí uma hora aparece, né, a oportunidade. 

  p #[strong Izabela:] E eu acho que pode ter um complicador também. As vagas que eu tenho visto, elas pedem também conhecimentos em programação e conhecimentos em criação de interfaces. A gente já falou um pouco disso aqui, né? Então eu acho que um outro dificultador é isso. Eu quero adquirir experiência nessa área que é mais focado em usuários. Seja entender quem eles são, criar as personas. O que que eu posso melhorar pra que eles continuem sendo fiéis ou que tragam outros? E aí pedem conhecimentos em programação, conhecimentos de interface. E aí vem aquela nuvem preta, assim né? “Pô, e agora? Putz, eu não sei programar, não sei fazer interface”.

  p #[strong Rodrigo:] É o ‘designer faz tudo’, né? Mas sempre aconteceu esse ‘designer faz tudo’, né? Nunca vai deixar de existir.

  p #[strong Izabela:] Mas você acha que o puramente usuário ele tá aí pra vir? 

  p #[strong Rodrigo:] Lógico que tem. Não, já vir não. Já é realizado há muitos anos. O que acontece é, que tem empresas que entendem que precisa desse designer, e tem empresas que não entendem. Como você vai passar pra empresa, pra uma empresa pequena, vai querer que o designer que tá lá, faça HTML, faça CSS, faça interface, faça pesquisa com usuário e dê os seus pulinhos. 

  p #[strong Izabela:] E deve ser dificílimo formar uma pessoa assim, né? Com habilidades tão distintas. Assim, a gente está vendo cada vez mais profissionais multidisciplinares, o que imagino que deve trazer resultados muito legais pros problemas. Mas é difícil formar alguém assim, né?

  p #[strong Rodrigo:] É, é difícil inclusive ser bom dessa forma. Tem vários casos, brasileiros inclusive, né? O Vitor Lourenço, que criou o Twitter é um clássico, né? O cara sabia programar, ele sabia fazer interface, e tava num momento muito bom dos Estados Unidos. Então, foi lá, fez a startup, e o negócio bombou.

  p Tem o Marcelo Eduardo, que é um outro clássico, fora da curva, completamente. Que é um cara extremamente bom em programação, tecnologia, entender o mundo digital, e ao mesmo tem é muito bom em interface, em experiência do usuário, etc. Mas são raros os casos que você vai ter uma pessoa que vai conseguir fazer todo esse espectro de Design, bem. 

  p Então eu acho que tem muitas vagas e muitas equipes que demandam pessoas que estão focados na experiência do usuário, tanto na pesquisa, como na avaliação, né? 

  p Eu acho sim que tem mercado. Acho sim que tem que ter essa abertura pras pessoas. Lógico que é difícil as empresas entenderem que o cara vai trabalhar numa parte do processo, com certeza. O que essas empresas sempre querem, é sempre o lucro máximo daquele funcionário que ele tá. Se aquele funcionário também sabe fazer uma interface, por quê não utilizar aquele funcionário pra isso?

  p #[strong Izabela:] Vamos lá, né?! 

  p #[strong Rodrigo:] Mas a gente não pode pensar dessa maneira. A gente tem que pensar que, pô, a gente quer fazer a melhor experiência pro usuário. A gente quer fazer todo o processo de Design centrado no usuário bem certinho. Pô, vamos pegar aquela equipe multidisciplinar e tentar fazer o que a gente esperava lá em 2005, quando construíram as empresas. Que era um cara focado em avaliação da interface, um cara focado no visual, um cara focado no entendimento do usuário com aquela interface, um cara de psicologia, um cara de geografia, um cara de computação também junto, né? Se conseguir montar mais equipes multidisciplinares como essa, com certeza já estão sendo melhores. A gente já viu isso anteriormente em várias equipes nos Estados Unidos, a gente já viu na Europa também. E a gente já viu aqui no país acontecendo isso, e funcionando muito bem. O caso do CESAR, meu amigo lá de Recife. Um caso de sucesso absurdo assim. Era uma equipe de Design de três pessoas praticamente. Um engenheiro de usabilidade, um psicólogo e um designer se juntaram, montaram a equipe de experiência do usuário. E montaram a equipe de Design focado em Design centrado no usuário e, de repente, aquele modelo de Design virou o modelo da própria empresa. Conseguiram montar um instituto de pesquisa focado naquele método de Design centrado no usuário. É muito difícil acontecer e eles conseguiram fazer.

  p Então eu vejo que tem vários casos de sucesso dessa maneira, e várias empresas e equipes ser formados disso daí. Então vai chegar o momento de ter oportunidades. O que acontece é que teve uma geração muito grande de pessoas que entraram naquele mundo alí em 2008, 2009, 2010, e que as empresas ainda não absorveram todas as pessoas que estavam naquela geração. Então tem várias pessoas que estão ali como Pleno e Sênior, e poucas pessoas sendo incorporadas nessas novas equipes. Obviamente vai acontecer esse processo de maturação da própria equipe. Essa troca de experiência entre pegar uma pessoa mais Junior junto de um Sênior pra mostrar o processo. Isso vai acontecer, isso é natural que aconteça. E o momento é agora, basicamente, eu acho.

  p #[strong Izabela:] Bacana! Vamos falar um pouco mais do mercado de experiência do usuário aqui no Brasil? Que sim, a gente lê muito e ouve muito falar sobre a aplicação da experiência do usuário muito fora do país, né? E aí eu queria que a gente falasse um pouco sobre o que tá rolando aqui no Brasil, como é que tá essa evolução?

  p #[strong Rodrigo:] É como eu te falei. Tem empresas que contrataram muita gente interno e montaram equipes de estratégia digital. Itaú é uma delas, conseguiu fazer uma grande equipe lá em 2011, até um pouco antes. A Globo.com conseguiu formar uma boa equipe. O próprio CESAR conseguiu formar uma boa equipe, montou um laboratório, conseguiu construir coisa. Instituto Atlântico, aí em Fortaleza tem uma galera boa também de experiência do usuário e métodos ágeis. Pessoal da IBM, lá no Sul, tem um material bom também. O Pedro Belleza, pessoal lá fazendo coisas boas. Tem o pessoal da Samsung, lá em Manaus. Tem o pessoal do Instituto Nokia lá em Manaus. E tem as agências e os grandes mercados que é o Rio e São Paulo. A gente tem as equipes que estão envolvidas em experiência, ou em pesquisa, digamos assim. Tem várias empresas em São Paulo especificamente. Têm algumas empresas agora incorporando esse método aí também lá no Rio de Janeiro. 

  p A minha visão: muita agência de publicidade em São Paulo montando as próprias equipes de experiência do usuário. Isso é uma transição que eu não tinha visto até 2010, e que eu tenho percebido muito fortemente de 2013 pra cá. Então, eu não vou dar o nome das empresas, mas tem várias empresas formando equipes de experiência do usuário. Elas contratavam equipes terceirizadas pra montar projetos ou fazer pesquisas lá dentro dessas empresas. E agora elas perceberam que precisavam de gente ali dentro. Então tem esse outro mercado de agência que está crescendo em São Paulo, especificamente, e no Rio de Janeiro, muito. Até me surpreendeu, porque eu não esperava que isso fosse acontecer. Eu vivi o oposto, né? O terceirizado dentro da agência. Achei que não ia chegar o momento da agência incorporar esse processo dentro. Acho que o entendimento do mercado publicitário pra essa experiência do usuário, Design centrado no usuário, chegou. Chegou até tardio, na minha visão. Mas chegou. Tem muito casos benéficos acontecendo lá. 

  p E lá em Recife, por exemplo, a gente vê, além do CESAR, outras pequenas empresas aproveitando o mercado, tanto de pesquisa, como de ideação e prototipação da experiência. Eu vejo um pouco pequenas empresas, o mercado também não é tão grande, e as agências de publicidade do Nordeste ainda não absorveram como São Paulo e Rio de Janeiro absorveram essas equipes. 

  p E eu vejo um mercado muito bom pra quem quer começar na área, ou quem já está na área, é um mercado que tem vários mecanismos. Você pode ir como consultor, você pode ir como CLT, você pode ir como terceirizado, você pode ir como estagiário, você pode ir com várias formas. Então eu me considero hoje como um consultor autônomo. 

  p Eu vejo um mercado bastante amplo e sólido. Que era uma coisa que não acontecia, sei lá, 5, 6, 7, 10 anos atrás. Que ainda era muito: “Nossa, o que é que vai acontecer com essa área? Todo mundo se intitulando ‘arquiteto da informação’, todo mundo se intitulando ‘designer de interação’. O que é que vai acontecer com isso? Será que o Brasil vai absorver tanta gente assim?”. E absorveu. Foram pra vários outros mercados? Foram pra vários outros mercados. Mas absorveu. Então a gente vê muito órgão público com cargos pra designer de interação, ou pra arquiteto da informação. A gente vê muito cargos de professor focados em designer da interação ou Design digital, né? Que a gente não via há anos atrás. Então isso vai crescendo e só vai aumentar, na minha visão, o que é muito bom pra todo mundo, né? Pra que está começando, e pra tá seguindo o caminho, e trilhando esse caminho aí. Espero pro resto da vida, porque não tem mais volta, né? A gente só vai ter agora mais artefato digital, mais experiências digitais, mais serviços sendo construídos. E a gente tá aí pra isso, né? Pra criar coisas novas e fazer melhor. Fazer com que a vida das pessoas seja melhor.

  p #[strong Izabela:] E tem algum case emblemático de experiência do usuário, aqui no Brasil? De uma marca ou de uma empresa?

  p #[strong Rodrigo:] Na verdade tem várias, né? Porque, é meio difícil você soltar… Eu vou soltar um que é meio… Assim, eu considero meio desrespeitoso, vamos dizer assim. Porque você fala de um e acaba esquecendo o nome de outra pessoa, e acaba esquecendo de outra coisa.

  p #[strong Izabela:] Se você quiser você pode falar mais. 

  p #[strong Rodrigo:] Eu não vou dizer de um produto em si, ou de uma ferramenta em si. Eu vejo que aconteceu no país, foi uma transição que as empresas começaram a entender que esse processo podia valer a pena. O case, por exemplo, do CESAR, como um modelo de negócio de Design centrado no usuário, pra mim é absurdamente importante. 

  p O case da Globo.com, da modificação da interface dela, passar pelo processo. Toda etapa ali de pesquisa, ideação, prototipação e avaliação internamente, também já é um outro case de sucesso, pra mim assim. Eu vejo que era inimaginável pra mim, quando eu comecei em 2004, 2005, pensar que uma equipe brasileira ia montar o seu próprio laboratório, montar aquela experiência, e fazer testes regulares. E tem empresa que pudesse bancar aquilo ali. Era o melhor dos mundos pra mim, e aconteceu. Eu vi as pessoas fazendo isso de uma maneira muito boa. 

  p O que eu vejo são vários projetinhos grandes que acabam ganhando proporção muito rápido. É difícil falar sobre um case só. Não consigo lembrar de um case só. 

  p #[strong Izabela:] A gente pode falar também... Acho que você já falou aqui de pessoas legais pra acompanhar, pessoas bacanas. Eu queria trazer um pouco disso, dessa visão do mercado brasileiro também, sabe? Porque quando a gente vai pesquisar, ouvir podcast, ler alguma coisa, são sempre exemplos de fora. E é isso que você tá falando, né? Eu sinto que tem muita coisa legal acontecendo assim. Eu acho que é importante a gente olhar para cá também, né?

  p #[strong Rodrigo:] Com certeza. Tem muita gente boa fazendo coisa e tem muito brasileiro lá fora também. Que a gente fala: “Não, teve um grande projeto ali que saiu”. Tem o caso do Vitor Lourenço que eu falei aqui.

  p #[strong Rodrigo:] Tem o Marcelo Eduardo que tá na Work, sei lá, Company, lá em Nova Iorque. Uma das maiores empresas que tá crescendo muito lá em Nova Iorque, que é junto com o Felipe Memória, que também é um pesquisador que veio da Globo.com, que foi pra lá, pra Huge. E aí construiu com o Marcelo e com os outros sócios lá a empresa deles em Nova Iorque.

  p Aqui no país, vamos lá. Tem vários nomes, né? Tem o Robson Santos, Érico Fileno, o Fred do Usabilidoido, tem o Eduardo Loureiro, Dudu, o Marcos Paulo, tem o Pedro Beleza, tem o Thiago Esser. Nossa, tem o Carlos Rosemberg, em Fortaleza. Tem o pessoal lá em Recife. O Mabuse, o Paulo Melo, o Filipe Levi. Tem tanta gente que tá no país todo aí, rodando, fazendo coisa boa, né? Fazendo coisa interessante. 

  p Acho que o grande lance é que surgiu uma grande comunidade. Eu acho que de 2006, 2008 pra cá, 2009 pra cá começou de fato esse Interaction South America, e todo mundo começou a se juntar mais nos eventos. Acabou ganhando uma grande parceria. Não é à toa que quase… Não, quase não. 5, 4 edições, 5 edições foram no Brasil e só agora saiu pra... 2014 saiu pra Argentina e agora tá indo pro Chile. 

  p Então a gente tem bastante gente boa aqui. Eu não vou dar mais nomes, porque aí eu vou começar a esquecer.

  p #[strong Izabela:] Aqui já tem uma lista bacana pra gente acompanhar.

  p #[strong Rodrigo:] Ainda tem a Elisa Volpato, ainda tem o pessoal da Try, tem o pessoal da Saiba+, lá em São Paulo. A Carol. Então tem muita gente boa, em todas as áreas, né? Porque isso é mais importante. Você procurar pessoas que estão envolvidas nas quatro etapas do processo. Não adianta você só focar… “Não, vou focar só nas pessoas que estão pesquisando, só nas pessoas que estão fazendo avaliação, só na pessoa que tá fazendo prototipação”. 

  p Tentar entender todo esse processo, né? Entender vários métodos que as pessoas também estão utilizando, bons, ruins, mas que você entenda que vale a pena você pesquisar e entender o que é que você quer usar ou não. 

  p #[strong Izabela:] Tá. Vamos falar um pouco sobre a formação de um designer de experiência, ou designer de interação. Qual que é a habilidade que você acha mais importante pra pessoa desenvolver? Ou quais habilidades?

  p #[strong Rodrigo:] Querer conversar com as pessoas e ouvir. Acho que o mais difícil é você parar e escutar uma crítica de uma coisa que você construiu, ou que sua equipe construiu. Eu acho que é isso assim. A gente tá muito focado na tela do computador. Então, a gente como designer é alucinado pra estar sempre fazendo coisas na frente da tela do computador. E boa parte dos insights e das coisas boas que a gente consegue pros projetos estão fora da tela do computador. Ou numa conversa que você vai ter com um usuário, ou numa habilidade que ele vai mostrar, ou que vários vão mostrar num projeto seu, num artefato que você tá criando, que você não sabia, que você não demandava pra sua equipe, ou de uma linguagem que você usou o que as pessoas não utilizam. E como você fazer isso, velho? Você vai sair do laboratório, saindo do seu escritório. Muitas pessoas esquecem que existe um mundo fora do escritório. E as próprias empresas não estimulam as pessoas que estão envolvidos nessa área a sair do próprio laboratório, a sair do escritório. 

  p #[strong Izabela:] Afinal de contas aquilo pode custar pra ela, né? 

  p #[strong Rodrigo:] Mas ao mesmo tempo pode fazer com que o campo... A atuação no campo é extremamente necessária pra esse tipo de profissional. E aí é o profissional que tem que dizer: “Olha, cara, isso é importante por isso, isso, isso e isso. Essa é a maneira de eu entender como o usuário vai se comportar nesse tipo de coisa”. Então se você não sai do seu escritório, se você tá lá à frente do computador, vendo várias ferramentas novas que surgiram, porque existem bilhões de ferramentas agora, pra interação e prototipação. Várias. Nos últimos dois, três anos surgiram muitas. Na minha época só tinha duas. Mas agora existem muitas. E aí você vai focar o quê? Você pode focar. Não tem problema nenhum. Você vai focar o quê? Em aprender a ferramenta, ou aprender um método pra falar com as pessoas? É a maneira como você vai quer se comportar como profissional, é a maneira como você vai se portar no mercado como profissional. Eu posso ser o cara específico daquela ferramenta X de prototipação. Tem mercado pro cara? Tem. Até um certo nível, porque aquela ferramenta daqui há um tempo, ela pode sair do mercado, e aí você vai ter que se virar com outra ferramenta. E às vezes as pessoas que focam muito em uma ferramenta só, não conseguem se evoluir no processo como um todo. Se você foca no processo como um todo, talvez você tenha mais aberturas depois pra se recolocar no mercado, né? Se você foca numa ferramenta só, que é o caso de muitas pessoas, você pode levar o pulo do gato de outras ferramentas que você não esperava e aí pra se recolocar no mercado é muito difícil. 

  p #[strong Izabela:] Tem algum hábito, ou alguma prática que você acha que pode ajudar a desenvolver um olhar legal? Por exemplo, criar um hábito de ficar atento às experiências boas e ruins que a gente tem no dia a dia, seja olhando um site, um aplicativo, ou coisas físicas. Ou então até acompanhar a interface de jogos, ou outros dispositivos?

  p #[strong Rodrigo:] Isso é uma coisa que veio comigo desde sempre. Sempre fui muito observador. Eu olhava pra tudo e queria entender como tudo funcionava. E acho que tem que ser meio um papel desse daí você como um designer de interação tem que ter. Não só o de entender como as pessoas interagem com aquilo ali, mas como é que esse negócio funciona. O que é que tem por trás daquilo ali? Se você quiser aprender o que tem por trás daquilo ali também pode ser que seja interessante pra você criar uma nova experiência. Uma outra maneira, óbvio, olhar como as pessoas interagem com aqueles equipamentos. Não é só a sua experiência de ver um negócio diferente e dizer: “Olha que legal, vamos ver como isso aqui funciona”. Mas ver as pessoas interagindo ou com a mesma coisa, ou com coisas diferentes. A coisa que eu passei mais tempo, nos últimos tempos, vendo foi vendo como as pessoas usam os totens em shopping center. Que é tipo, uma criança usa de uma maneira, um senhor usa completamente diferente, né? E esse tipo de experiência você tem que ficar de olho pra ver, depois surge uma oportunidade, e “Olha que legal, pode melhorar aquilo ali”. 

  p É, deixa eu ver mais... Sim, óbvio. Game tá na frente de todas as coisas de interação, né? Todas as possibilidades de interação e a tecnologia tá ali. Não só de game, mas sei lá. Uma coisa que… E aí é por isso que eu fui pra área de artes, artes e tecnologia, porque muitas das experiências que aconteceram com os equipamentos que a gente conhece hoje surgiram num doido artista, fazendo aquele negócio acontecer, às vezes décadas antes, e vem um executivo de uma grande empresa, olha pra aquilo ali e diz: “Olha, isso aqui dá pra fazer uma webcâmera num computador”, “Ó, isso aqui pode ser um microfone interno dentro do computador”, “Isso aqui pode ser um celular sem fio, um telefone sem fio, olha que legal!”. 

  p Então às vezes você perde um pouco esse olhar de experienciar coisas diferentes e é importante você ter o olhar do artista também eu acho, às vezes. Procurar coisas diferentes, procurar essas conferências de arte e tecnologia que existem por aí. E ver o que que esses caras estão criando, ver quais as coisas que eles estão fazendo, porque talvez uma coisa doida dessa daí pode bombar rapidamente e você já viu antes das pessoas, você já procurou antes das pessoas, você já sabe como que aquele negócio funciona e corre atrás. né? Já vai estar um pézinho na frente da galera.

  p #[strong Izabela:] Você já contou, já deu uma série de dicas sobre como criar repertório, né? Falou de pessoas bacanas, livros. Tem alguma palestra, algum livro, algum blog, ou algum evento que você não tenha dito que você acha que assim pode ser muito legal pra quem quer começar?

  p #[strong Rodrigo:] Tem uma palestra que eu sempre peço pras pessoas verem, porque tá no YouTube e que é fácil descobrir. Inclusive que apresentou é o Caio César. Que é a palestra do Robson Santos, no Interaction South America, de 2011, em BH. Que ele fala sobre análise contextual, que a gente como designer, a gente não faz etnografia. O que a gente faz é Design contextual, análise contextual. Eu acho aquela ali uma das palestras mais legais que eu lembro e sempre peço pras pessoas verem aquilo ali, porque é muito bom.

  p Tem duas palestras do Érico que são muito boas, do Érico Fileno, que estão no YouTube. É uma na Campus Party, e a outra… Nossa, eu acho que é agora, no evento que tá acontecendo agora em Porto Alegre, chamado UX Conf, que é do Thiago Be… Do Pedro Belleza e do Thiago Esser. Quase troquei os nomes aí.

  p #[strong Izabela:] Acho que vai acontecer, não?

  p #[strong Rodrigo:] Que vai acontecer em Maio.  

  p #[strong Izabela:] Ah que bom, porque eu tô querendo ir. Já tava aqui…

  p #[strong Rodrigo:] Vai acontecer em Maio, se não me engano. 

  p #[strong Izabela:] Abril ou Maio.

  p #[strong Rodrigo:] Abril ou Maio. Vai ser lá em Porto Alegre. E o Érico fez ano passado e o vídeo já tá lá disponível e é muito boa a palestra dele. 

  p Além disso, tem uma palestra do Marcelo Eduardo, que ele fez na Campus Party, em 2012. Ou é 2012, ou é 2013. Eu mando o link pra você, é mais fácil pra gente colocar disponível depois pras pessoas. Que ele fala exatamente desse processo da construção de ferramentas digitais, na transição entre a comunicação da televisão e o mundo dos serviços. Então, o Marcelo Eduardo, ele foi responsável na empresa dele da reestruturação da HBO. Então tem um negocinho agora da HBO que é como se fosse o Netflix. E aí ele mostra exatamente o processo de construção, qual foi o método de tecnologia que foi utilizado, porque eles construíram daquela maneira e tal, e é muito boa a palestra. 

  p Além disso, livros. Como eu falei, tem o livro do Guilherme Santa Rosa, que é muito importante. Ter o livro da Preece, que é ‘Design Centrado no Usuário’ que é o azulzinho, bem bonitinho, tá em português. 

  p Tem o livro do Luiz Agner, que se não me engano, o nome do livro é ‘Arquitetura da Informação e Ergodesign’.

  p Tem o próprio site do Fred, do Usabilidoido. O Fred também passou um tempo na Holanda fazendo o doutorado dele, mas ao mesmo tempo ele não deixou de publicar sobre essa interface entre usuário, essa interação entre usuário e interface. 

  p E acompanha os cursos que vão ter da Design Thinkers Group e a Design Thinkers Academy, que sempre vai acontecer cursos no Brasil todo. Tá rodando aí no Brasil todo, agora num momento de expansão bem forte. 

  p E tem vários outros pesquisadores rodando. Você vai conversar com alguns deles, com certeza, que podem falar algumas outras baboseiras do que eu falei aqui também.

  p #[strong Izabela:] E pra fechar. Como conseguir a primeira experiência na área? Com esse foco de querer mais trabalhar propriamente pra usuário mesmo, né?

  p #[strong Rodrigo:] Pergunta difícil, porque… Ó, a sorte é que você tá em BH. Ou não. Ou azar que você tá em BH. O meu foi azar que eu tava em Recife. Como eu te falei, eu tive que trabalhar como consultor independente.

  p #[strong Izabela:] Uhum.

  p #[strong Rodrigo:] Porque não tinha para onde ir. Assim, tinham empresas grandes. Eu não queria trabalhar naquelas empresas grandes, sem citar nomes. Nem tive também oportunidade de trabalhar nessas empresas grandes. Então,o que que eu fiz? Eu criei o meu próprio caminho. 

  p Então, se tá muito difícil, crie o seu próprio caminho. Vai à frente, mete a cara, se der errado, o ‘não’ você já tem. O ‘não’ você já tem pra qualquer coisa. Se der certo, pô massa, deu certo. Olha, eu tô aqui ó, falando com você, 11 anos depois. E é isso assim. Você tem que meter a cara. 

  p Eu acho assim, tem duas oportunidades mais fáceis. Tem o mercado de São Paulo que ainda é muito forte, e vai ser forte sempre. E esse mercado de empresas especializadas em pesquisa, que você pode ganhar experiência ali. Voltar pro mercado das agências, que não sei se interessa. Criar a própria consultoria de pesquisa. Que é, cara, você vai testando, vê o que é que vai dar certo, ou o que não vai dar certo, e assim vai. E pesquisar, pesquisar, analisar e correr atrás e ver mais livros. 

  p Todo mundo começou aqui mesmo sem saber o que que ia fazer. E deu certo.  Muitos não deram, por vários outros motivos. Assim, quem se envolveu, quem pesquisou, quem viu o que tava acontecendo e é uma coisa interessante, vê o que tá acontecendo lá fora também. Não “Ah vou focar só no Brasil”, não. Vê o que tá acontecendo em todo o país. Todo o mundo. Na América Latina tem várias empresas na América Latina que são absurdamente boas. 

  p Tem duas meninas na Colômbia que vão voltar aqui. A Natalia Vivas e a Isabel Murillo. Acho elas incríveis, que elas têm uma empresa chamada ‘Usuárias UX’, que é lá de Bogotá. 

  p Então vê essas outras experiências, porque de repente surge um negócio, uma oportunidade pra ir pra lá e sair do país, e ir pro Chile também, tem outras equipes gosta e pra própria Argentina que tem outras equipes boas. 

  p Às vezes a gente fica muito preocupado em estar aqui no país o tempo todo. E a gente tem que meio que abrir um pouco o leque e dizer: “Olha, vamos ver aí o que é que vai acontecer”.

  p #[strong Izabela:] “Vamos aí”, né? 

  p #[strong Rodrigo:] É. Vamos aí e depois a gente vê o que é que acontece. E acho que tem muito disso assim, você se envolver em vários movimentos, como esse que você tá fazendo. Na minha visão, tá? Você tá recriando o movimento UX que a gente fez há anos e anos atrás. Porque é exatamente isso. É passar conhecimento pras pessoas, e ver quem vai chegar, quem vai ajudar, quem vai fazer coisas diferentes, tal, sabe? Acho que vale muito a pena. Continuar com isso daí é muito bacana. Então acho que é isso. Acho que é isso. É tentar. Tentar sem perder a esperança.

  p #[strong Izabela:] Bacana demais. 

  p #[strong Rodrigo:] Beleza. Quem quiser também seguir algumas coisas que a gente tá fazendo, vai lá no Twitter @Medeiros_Rod, Medeiros Rod, Rodrigo Medeiros. Quem quiser alguma coisa, entra em contato lá também, a gente tá sempre disponível, e aí eu vou deixar o meu e-mail contato também, é rodrigo.medeiros@ifpb.com.br. Quem tiver alguma bronca pra resolver, alguma coisa pra pesquisar, algum projeto interessante também pra fazer parceria, estamos sempre disponível. Então é isso, então muito obrigado pela oportunidade. Foi muito legal tá aqui.

  p #[strong Izabela:] A gente que agradece. Brigada, Rodrigo. 

  hr

  p [Música]

  p #[strong Izabela:] Esse é o fim do segundo episódio e eu espero que você tenha gostado. No próximo programa, que vai ser lançado no dia 13 de Março, a gente vai bater um papo com o Eduardo Loureiro. Obrigada e até lá.

  hr

  ul.links
    li Transcrição: #[+link('Camila Gondo', 'https://www.linkedin.com/in/gondocamila/')]
    li Revisão: #[+link('Renata Moreira', 'https://www.linkedin.com/in/remoreira/')]
