include /_assets/pug/meta
include /_assets/pug/header
include /_assets/pug/episode
include /_assets/pug/player
include /_assets/pug/js

+meta(
  'Caio César, Episódio 1 — Movimento UX',
  'Professor de Design de Interação na PUC-MG. Introdução ao tema UX, possibilidades de atuação e dicas pra começar.',
  'http://movimentoux.com/ux-design/caio-cesar/'
)

body(data-page='episode')
  
  +header('on', '', '')
  
  #barba-wrapper
    .barba-container
      +episode(
        'Caio César',
        'Professor de Design de Interação na PUC-MG.',
        'Introdução ao tema UX, possibilidades de atuação e dicas pra começar.',
        '01',
        '01-caio-cesar.jpg',
        '',
        '-inside'
      )
      
      +player('movimento-ux-episodio-1-caio-cesar')
      
      section.episode-content
        .tab.on#intro
          include intro.pug

//- don't forget js
+js
