include /_assets/pug/link-alt

.text
  p O episódio de estreia do Movimento UX com o Caio César foi uma verdadeira aula sobre Experiência do Usuário. Como vocês vão ver, ele criou a melhor experiência possível para que o 1º episódio do Movimento UX se tornasse realidade.
  p Pra começar ele me convidou pra conhecer o Bunker da Rede.Bz e me ofereceu toda a infraestrutura do espaço pra gravação do podcast. O apoio foi desde emocional, me tranquilizou quando o frio na barriga bateu ao ligar o microfone pra gravar esse 1º episódio, passando por dicas de produção pros podcasts e com uma baita lista de dicas pra criar repertório que você confere logo abaixo.
  
  p Conferência e Eventos:
  ul.links
    li #[+link-alt('Interaction South America', 'http://isa.ixda.org/2016/')]
    li #[+link-alt('An Event Apart', 'http://aneventapart.com/')]
  
  
  p Vídeos
  ul.links
    li #[+link-alt('Deep Dive IDEO', 'https://vimeo.com/7953312')]
    li #[+link-alt('Séries de desenho animado do Dilbert — e também os quadrinhos', 'http://www.imdb.com/title/tt0118984/')]
  
  p Livros
  ul.links
    li Designing Interactions do Bill Moggridge
    li Running the unsilent do Allan Cooper
    li About Face: The Essentials of Interaction Design do Allan Cooper
    li Design do dia a dia do Don Norman
    li Design Emocional do Don Norman
    li Elementos da Experiencia do Usuário do Jesse James Garrett
    li Jakob Nielsen — todos os livros
    li Handbook of Usability Testting do Jeffrey Rubin
    li Não me Faça Pensar do Steve Krug
    li Simplificando Coisas que Parecem Complicadas do Steve Krug
    li Design de Interação da Jennifer Preece
    li Experience Design do Nathan Shedroff
    li #[+link-alt('Vamos fazer Design de Interação? do Caio César', 'http://designdeinteracao.com.br/')]
    
  p Podcast
  ul.links
    li #[+link-alt('99% Invisible', 'http://99percentinvisible.org/')]

  p Sites
  ul.links
    li #[+link-alt('uie.com', 'https://www.uie.com/')]
    li #[+link-alt('signalvnoise.com', 'https://m.signalvnoise.com/')]
  
  p O 2º episódio será com o Rodrigo Medeiros!
  p Até o EP 02. 🙂

.sidebar
  h3.eyebrow Localização
  p Belo Horizonte
  
  h3.eyebrow Social
  p #[+link-alt('LinkedIn', 'https://br.linkedin.com/in/caiocgo')]
