include /components/includes

+meta-head(
  'Pesquisa sobre o mercado de UX Research — Movimento UX & Panorama UX',
  'Essa é uma iniciativa do Movimento UX e Panorama UX. - Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário.',
  'https://movimentoux.com/pesquisa-uxr/',
  'https://movimentoux.com/assets/img/share/pesquisa-uxr.png'
)

+header('', '', 'on')

section.intro-section.-scroll
  .text
    h1.header Participe da <br>pesquisa sobre <br>o mercado de <br>UX Research
    
    p Olá! Essa é uma iniciativa do Movimento UX e Panorama UX.
    p Após uma temporada sobre UX Research, decidimos investigar a fundo quem faz UX Research.
    p Para isso, fizemos uma parceria com a pesquisa Panorama UX que há 5 anos tem o propósito de ajudar a comunidade de UX em português a conhecer o mercado e o perfil de quem trabalha na área - e também propõe reflexões sobre o futuro que queremos construir.
    p Nessa edição, a investigação é sobre a visão da área sobre situações de uso de algoritmos no dia a dia.  E também para conhecer de forma mais detalhada quem trabalha com UX research.
    p Se você trabalha, de alguma forma, com UX essa pesquisa é para você. Separe de 10 a 15 minutos para responder ao questionário e ajude a construir um autoconhecimento coletivo para que todos possam fazer melhores escolhas de carreira e projetos.
    p Participe!
    p #[a(href='https://bit.ly/panoramaux2019' title='Pesquisa Panorama UX 2019' target='_blank' rel='noopener').btn.-lg bit.ly/panoramaux2019]

    p Um grande abraço, <br>Equipes Movimento UX & Panorama UX
    
    svg(src='/assets/img/media/pesquisa-uxr-logo.svg' alt='Movimento UX & Panorama UX').pesquisa-logo

    //- .iframe-box
      iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSdMC9k-RjpvbRSGyUnG5oeOO0i1B6NYwQDaWObAUVs-_86xpw/viewform?embedded=true' frameborder='0' marginheight='0' marginwidth='0')

+meta-js
