include /components/includes

+meta-head(
  'Pesquisa sobre o mercado de UX Research — Movimento UX & Panorama UX',
  'Essa é uma iniciativa do Movimento UX e Panorama UX. - Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário.',
  'https://movimentoux.com/pesquisa-uxr/',
  'https://movimentoux.com/assets/img/share/pesquisa-uxr.png'
)

+header('', '', 'on')

section.intro-section.-scroll
  .text
    h1.header Participe do <br>Panorama UX <br>2021

    svg(src='/assets/img/media/pesquisa-uxr-logo.svg' alt='Movimento UX & Panorama UX').pesquisa-logo

    p Em 2020, fizemos uma parceria com o Panorama UX e criamos um bloco de perguntas e uma análise dedicada aos pesquisadores em Design e UX. A gente gostou tanto do resultado que decidimos fazer mais uma edição dessa parceria :)
    p Então é oficial: o Panorama UX 2021 acaba de ser lançado!
    p Responda a pesquisa e ajude na construção de um autoconhecimento coletivo para que todos possam fazer melhores escolhas de carreira.
    p Lembrando que é para qualquer pessoa que trabalha com UX, seja você Designer, Pesquisador, Gestor de Produto, Desenvolvedor ou qualquer outro cargo que trabalhe na área.
    p #[a(href='https://bit.ly/panoramaux2019' title='Pesquisa Panorama UX 2019' target='_blank' rel='noopener').btn.-lg Participe!]

    br

    h1.header Resultado da pesquisa 2020
    script.speakerdeck-embed(async='' data-id='3f0ef4a63df94c3aaad9c3e5e154d2d1' data-ratio='1.77777777777778' src='//speakerdeck.com/assets/embed.js')

    //- .iframe-box
      iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSdMC9k-RjpvbRSGyUnG5oeOO0i1B6NYwQDaWObAUVs-_86xpw/viewform?embedded=true' frameborder='0' marginheight='0' marginwidth='0')

+meta-js
