include /components/includes

+meta-head(
  'Pesquisa sobre o mercado de UX Research — Movimento UX & Panorama UX',
  'Essa é uma iniciativa do Movimento UX e Panorama UX. - Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário.',
  'https://movimentoux.com/pesquisa-uxr/',
  'https://movimentoux.com/assets/img/share/pesquisa-uxr.png'
)

+header('', '', '', '', 'on')

section.intro-section.-scroll
  .text
    //- h1.header Panorama <br>UX 2021

    //- img(src='/assets/img/media/pesquisa-uxr-logo.svg' alt='Movimento UX & Panorama UX').pesquisa-logo

    //- p O Panorama UX é uma pesquisa que mapeia o perfil de quem trabalha com UX no Brasil. Participe e ajude a construir um conhecimento do mercado para que todos possam tomar melhores decisões na carreira. Salários, tipos de contratação e entregáveis são algumas das informações mapeadas para evolução da disciplina.
    //- p #[a(href='https://bit.ly/muxpanoramaux2020' title='Responda a pesquisa' target='_blank' rel='noopener').btn.-lg.-alt Responda a pesquisa]
    //- p Leva 10 minutinhos. As respostas serão aceitas até 15/12/2020.

    //- br

    h1.header Conhece o <br>Panorama UXR?
    p Fizemos uma parceria com o Panorama UX e criamos uma sessão de perguntas exclusiva para os pesquisadores de design e produto. Como resultado, surgiu esse análise que chamamos de Panorama UX Research. Veja os resultados da edição 2019.
    script.speakerdeck-embed(async='' data-id='3f0ef4a63df94c3aaad9c3e5e154d2d1' data-ratio='1.77777777777778' src='//speakerdeck.com/assets/embed.js')

+meta-js
