.tab.on#intro
  +players

  p No segundo episódio da quarta temporada do Movimento UX, conversamos com a Ana Coli – Gerente de UX no Nubank.
  p Neste episódio, ela conta como está sendo a transição da estrutura dos times – inclusive do de pessoas pesquisadoras – para uma organização dentro de cada unidade de negócio (BUs). Hoje, designers de produto, designers de conteúdo e pesquisadores em design atuam abaixo das BUs, reportando diretamente para a gerência de Design.
  p Dentro deste contexto, Ana salienta que os times de operação – como Research Ops – possuem um papel fundamental para garantir que os profissionais de uma mesma disciplina continuem trocando experiência e conhecimento entre si para que não fiquem apenas com a visão de sua própria área. Outras duas atuações importantes desse time, segundo ela, são a organização de um repositório de conteúdo e o auxílio com o recrutamento de usuários.

  blockquote "...Research Ops tem um papel muito importante de integração, de olhar para a pesquisa como disciplina. [...] Eles acabam funcionando como uma cola entre a gente, possibilitando que a gente continue compartilhando informações."

  p A Ana também conta que no time dela todas as disciplinas de Design fazem pesquisa e que as iniciativas são organizadas de acordo com a complexidade e profundidade de cada uma delas. De certa forma, é como a pessoa pesquisadora dividisse seu tempo em dois momentos, sendo (1) o apoio em projetos do dia a dia com revisão metodológica e de roteiros para garantir a qualidade da entrega e (2) a realização de pesquisas mais estratégicas e que demandam de maior conhecimento técnico para serem realizadas.

  blockquote "A gente olha para a área de pesquisa com os temas mais complexos. Vejo uma exigência cada vez maior dos pesquisadores na qualidade, desde a definição do problema, como abordá-lo, quais métodos utilizar. A gente cobra dos pesquisadores que eles tragam essa bagagem, que eles consigam olhar mais profundamente para o produto porque eles saem da correria do dia a dia e olham mais a longo prazo."

  p A Ana comenta que o Nubank tem carreira em Y e por isso uma das possibilidades para a disciplina é seguir para um caminho de gestão técnica – papel que atualmente ela não tem em seu time. Na visão dela, o papel é bastante relevante pois consegue ter uma visão e um acompanhamento mais aprofundado sobre o trabalho de cada pessoa.

  blockquote "Em um cargo de gestão que olha para várias disciplinas, é claro que eu não vou ter expertise em todas elas. A liderança técnica ajuda a preencher essas lacunas onde eu não estou conseguindo ajudar o colaborador a melhorar aquele aspecto da carreira dele."

  p Em uma reflexão sobre erros do passado, Ana conta que aprendemos a entender que nem todo mundo precisa ou quer fazer pesquisa e que essa ideia de que as pessoas precisam conhecer e ser boas em todas as disciplinas de Design gera apenas frustração e ansiedade. 

  blockquote "No passado foi um erro achar que todo mundo poderia fazer pesquisa. Tem coisas que a gente consegue ensinar e coisas que a gente não consegue. Foi uma coisa do momento achar que a gente tem que dar conta de tudo. Isso gera uma angústia.”

  p No Nubank, Ana diz que cada vez mais as pessoas pesquisadoras são cobradas a mostrar o impacto da pesquisa nos objetivos-chave do negócio e que essa responsabilidade faz parte da matriz de habilidades da disciplina.

  blockquote "Consideramos sucesso quando os stakeholders, os decisores da unidade de negócio, reconhecem a influência e a relevância da pesquisa na estratégia de negócios e produtos.”

  //- +episode-links({
  //-   1: {
  //-     type: 'Podcast',
  //-     title: 'Jag Duggal menciona a pesquisa de fundação com brasileiros e as necessidades financeiras (em inglês)',
  //-     url: 'https://fi.11fs.com/784'
  //-   },
  //-   2: {
  //-     type: 'Podcast',
  //-     title: 'Irene Au conta sobre escalar design no Google (em inglês)',
  //-     url: 'https://www.designbetter.co/podcast/irene-au'
  //-   }
  //- })

  p Até a próxima entrevista! Ah, enquanto isso vou adorar manter contato no #[+link('Twitter', 'https://twitter.com/izabeladefatima')] :)

  hr

  p #[strong Quer ajudar o Movimento UX?]
  p Siga e avalie a gente com 5 estrelas nos aplicativos do #[+link('Spotify', 'https://open.spotify.com/show/0jpGW9nTFzzzHCjm7Y3d73?si=uuZGXryBTquSdkG1njUlTw')] e da #[+link('Apple', 'https://podcasts.apple.com/br/podcast/movimento-ux/id1093322366')]. Lembrando que, por enquanto, essa funcionalidade só está disponível no telefone. Você também pode dar uma força divulgando os episódios em suas redes.

  hr

  p #[strong Sobre o Movimento UX]
  p A criação do podcast, dos roteiros e a curadoria dos temas e entrevistas são feitas por mim, Izabela de Fátima.
  p A revisão do tema da temporada e do roteiro é feita pela #[+link('Renata Moreira', 'https://www.linkedin.com/in/remoreira/')].
  p A trilha sonora original e a execução da trilha é do Richard Garrell, no seu projeto #[+link('Aeoner', 'https://aeoner.bandcamp.com')].
  p A edição do áudio é feita pela #[+link('Renata Valentim', 'https://www.linkedin.com/in/renatavalentim/')].
  p A identidade visual é do #[+link('Cristiano Sarmento', 'https://www.linkedin.com/in/hicristiano/')]. O site também é dele em parceria com o #[+link('Pedro Ivo', 'https://www.linkedin.com/in/pedroivohudson/')].