.episode-sidebar
  .info
    h3.eyebrow Localização
    p São Paulo, Brasil

    h3.eyebrow Social
    p #[+link('LinkedIn', 'https://www.linkedin.com/in/anacoli/')]
    p #[+link('Medium', 'https://medium.com/@anacoli_saiba')]
    p #[+link('Twitter', 'https://twitter.com/anacoli')]