include /components/link
include /components/image

.tab.on#intro
  p Ei, pessoal!
  p Neste 15º episódio, tive uma conversa fantástica com o Guilherme Neumann, que lidera o Design/UX no Nubank.
  p A gente conversou sobre sua trajetória de mais de 15 anos como Designer de Experiência de Uso e Interface, e também sobre suas experiências na Globo.com, no Yahoo de São Paulo e São Francisco, além da sua volta pro Brasil e o desafio atual no Nubank.
  p Também falamos sobre como a Arquitetura influencia seu mindset como Designer, o dia a dia e a cultura de Experiência do Nubank, como ele aprendeu sobre UX e muito mais.

  +image('15-foto-01.jpg', 'Barra de Limite, Nubank.')
  +image('15-foto-02.jpg', 'Co-design, Nubank.')

  blockquote “A solução de design ou de interface que surge é consequência não só do trabalho que o designer faz, mas da preocupação que todo mundo no Nubank tem com a experiência de quem usa o produto.”

  ul.episode-carousel
    li.item #[img(src='/assets/img/media/15-foto-03.jpg' alt='')]
    li.item #[img(src='/assets/img/media/15-foto-04.jpg' alt='')]
    li.item #[img(src='/assets/img/media/15-foto-05.jpg' alt='')]
    li.item #[img(src='/assets/img/media/15-foto-06.jpg' alt='')]
    li.item #[img(src='/assets/img/media/15-foto-07.jpg' alt='')]
    li.item #[img(src='/assets/img/media/15-foto-08.jpg' alt='')]
    li.item #[img(src='/assets/img/media/15-foto-09.jpg' alt='')]
    li.item #[img(src='/assets/img/media/15-foto-10.jpg' alt='')]

  p E ele deixou muitas dicas legais pra gente, olhem só.

  p Pessoas pra seguir no Twitter:
  ul.links
    li #[+link('Daniel Burka', 'https://twitter.com/dburka')]
    li #[+link('Chris Sacca', 'https://twitter.com/sacca')]
    li #[+link('Mike Rundle', 'https://twitter.com/flyosity')]
    li #[+link('Jon Wiley', 'https://twitter.com/jonwiley')]

  p Livros:
  ul.links
    li #[+link('Addiction by Design', 'https://amzn.to/2DE9ICP')]
    li #[+link('Sketching User Experiences', 'https://amzn.to/2LowaGD')]

  p Outros links:
  ul.links
    li #[+link('Palestra do Joi Ito + Tim Brown, CEO da IDEO, no SxSW', 'https://www.youtube.com/watch?v=JA2HN4aClQQ')]
    li #[+link('Dribbble do Nubank', 'https://dribbble.com/nubank')]

  p No próximo podcast, vou conversar com a Carolina Leslie, sócia fundadora da Saiba+.
  p Pra fechar, uma dica minha: #[+link('entrevista', 'http://www.creativedoc.co/interviews/movimentoux')] muito bacana que ele deu pra um projeto que adoro, o Creative Doc do Gláuber Sampaio.
  p No próximo episódio, o Movimento UX completa seu primeiro ano de vida e, pra comemorar, o convidado é pra lá de especial. Esse vai ser surpresa!
  p Até lá!
