include /components/includes

+meta-head(
  'Carolina Leslie, Episódio 17 — Movimento UX',
  'Sócia fundadora da Saiba+. Consultoria, pesquisa com usuários, usabilidade.',
  'https://movimentoux.com/ux-design/carolina-leslie/',
  '',
  'episode'
)

+header('on')

+episode-section(
  'Carolina Leslie',
  'Sócia fundadora da Saiba+.',
  'Consultoria, pesquisa com usuários, usabilidade.',
  '17',
  '17-carolina-leslie.jpg',
  '',
  '-inside',
  '',
  'https://open.spotify.com/episode/5feBVqSFk9GzOWWvJK2eLM'
)

//- +episode-player('carolinaleslie')

section.episode-content
  //- +episode-tabs

  .episode-text
    include intro
    //- include transcricao

  include sidebar

+meta-js
