include /pug/link-alt
include /pug/link-ad
include /pug/ad

.text
  p [Música]
  p #[strong Izabela:] Olá. Este é o 21º episódio do Movimento UX e esta temporada tem o propósito de aprofundar em UX Research.
  p O convidado de hoje é o Caio Gama, User Experience Researcher no Nubank. Ele tem formação em Ciência da Computação, trabalhou como desenvolvedor back-end por oito anos e traz uma visão bem interessante sobre como podemos mesclar dados de uso e técnicas qualitativa e quantitativa para conhecer as pessoas que usam os produtos e serviços que vamos investigar.
  p Também falamos sobre como ele fez a transição de desenvolvedor para a pesquisador UX, o dia a dia no Nubank, dicas para você começar a usar data no processo de pesquisa e muito mais. 
  p Esse episódio tem o apoio do TESTR, a plataforma completa de testes de usabilidade ágil. A gente sabe que rodar pesquisa no tempo do produto é um super desafio e o TESTR entrega todo o processo de testes com usuários de forma automatizada, incluindo o recrutamento, execução, recompensa aos participantes e também relatório com resultados. E isso tudo em uma média de 48 horas. Para saber mais informações e também para ganhar três participantes extras na contratação de qualquer plano, é só acessar: #[+link-ad('aqui', 'http://bit.ly/testeremoto', 'Content')].
  p E mais uma dica bem rápido: vocês sabiam que vem aí o primeiro livro sobre UX Research em português? As autoras Denise Pilar, Cecília Henriques e Elizete Ignácio lançaram uma campanha de pré-venda com várias opções para contribuir e recompensas bem legais. Eu já apoiei e garanti o meu livro. Os últimos exemplares dessa pré-venda estão em #[+link-alt('Dá uma olhada', 'http://bit.ly/livropesquisa')]. Corre que é só até dia 1º de março!
  p As músicas desse episódio são do produtor Richard Garrel com o seu projeto Aeoner.
  p Lembrando que todas as informações e links que falei também estão em movimentoux.com.
  p Então vamos lá! Eu sou a Izabela de Fátima e essa é a segunda temporada do Movimento UX.
  
  hr
    
  p #[strong Izabela:] Oi, Caio. Tudo bom? Muito obrigado pelo seu tempo e pela presença aqui no Movimento UX.
  p #[strong Caio:] Oi Iza, tudo bem sim. Eu que agradeço pelo convite, viu?
  p #[strong Izabela:] Imagina. É muito legal falar com você. A sua formação é em Ciência da Computação e você também trabalhou como desenvolvedor back-end por alguns anos. Como que você começou a trabalhar com pesquisa?
  p #[strong Caio:] A faculdade de Ciência da Computação é bem ampla. Eu tive aula desde eletrônica até gerenciamento de produto, então eu tive um aspecto muito grande de informação. Dentro da graduação eu tive matérias voltadas para interação homem-computador, o HCI. Isso acabou ficando na minha cabeça porque esse curso é mais voltado para ensinar desenvolvedores a fazerem softwares que não fossem tão ruins e ensinar as pessoas a lidar com máquinas. A minha graduação é um pouco antiga então naquela época o computador não era que nem hoje, não tinha notebook  e os Macintosh não eram tão disponíveis como hoje em dia. 
  p A gente tinha que aprender como usar o computador, usar uma máquina, para poder ensinar as pessoas a usarem máquinas. Foi daí que veio o pezinho no design, eu sempre quis trabalhar com design. Lá em 2004/2005, não sei se você vai lembrar dos primórdios da internet, a gente não era desenvolvedor ou designer, era webmaster. Eu caía nessa aí, eu fazia site e eu tinha que fazer o design também. Lá onde eu cresci, em Santos, não tinha faculdade de design, então eu uni o útil ao agradável. Nessa graduação aprendi um pouco sobre isso, sobre HCI, sobre interação das pessoas com computadores e usava esse meu background de interesse em design para ir de pouquinho em pouquinho conseguindo esse espaço empresas. 
  p Eu acho que na época que eu trabalhava como desenvolvedor o meu cargo era de um desenvolvedor back-end mas hoje em dia ele seria chamado de UX Developer. Eu era desenvolvedor mas eu sempre puxava esse pezinho para design, para tomar cuidado com a interação das pessoas com o site. Como eu sempre trabalhei em local pequeno, com poucas pessoas, eu sempre dava uma força para o pessoal de design. E às vezes nem tinha designer então eu fazia essas coisas.

.sidebar
  +ad
