include ../pug/meta
include ../pug/header
include ../pug/episode
include ../pug/player
include ../pug/link
include ../pug/js

+meta(
  'Koji Pereira, Episódio 4 — Movimento UX',
  'Designer de Produto no Google. Design digital, prototipação, UX em outros países.',
  'http://movimentoux.com/koji-pereira/'
)

body(data-page='episode')
  
  +header('on', '', '')
  
  #barba-wrapper
    .barba-container
      +episode(
        'Koji Pereira',
        'Designer de Produto no Google.',
        'Design digital, prototipação, UX em outros países.',
        '04',
        '04-foto-koji-pereira.jpg',
        '',
        '-inside'
      )
      
      +player('ep4-kojipereira')
      
      section.episode-content
        .text
          p ei gente!
          //- p No 12º episódio do Movimento UX, tive o prazer de conversar com o Sergio Salvador, diretor de Experiência do Usuário na Huge do Rio de Janeiro.
          //- p Há 5 anos na Huge, Sergio é responsável por projetos como o App Do Bem Máquina, a redefinição da experiência digital dos bancos colombianos Davivienda e Banco de Bogotá, o novo site da Bradesco Seguros e o projeto da seguradora mundial XL Group, reconhecido como uma das melhores intranets do mundo pelo Nielsen Norman Group em 2013.
          //- p Falamos sobre sua trajetória profissional, o processo de UX da HUGE, sobre Design Antecipatório, Machine Learning, Inteligência Artificial e os desafios e oportunidades que esses temas trazem pra gente e muito mais.
          //- 
          //- p O Sergio também é fã de podcasts e deixou algumas dicas pra gente:
          //- ul.links
          //-   +link(
          //-     'Podcast do Jared Spool',
          //-     'https://www.uie.com/brainsparks/topics/podcasts/'
          //-   )
          //-   +link(
          //-     'Ted Radio Hour',
          //-     'http://www.amazon.com.br/About-Face-Essentials-Interaction-Design/dp/1118766571/'
          //-   )
          //-   +link(
          //-     'Reply All da Gimlet Media',
          //-     'https://gimletmedia.com/show/reply-all/'
          //-   )
          //-   +link(
          //-     'Braincast',
          //-     'http://www.b9.com.br/podcasts/braincast/'
          //-   )
          //- 
          //- 
          //- p Os profissionais que o inspiram são:
          //- ul.links
          //-   +link(
          //-     'Jakob Nielsen',
          //-     'https://www.nngroup.com/people/jakob-nielsen/'
          //-   )
          //-   +link(
          //-     'Luke W.',
          //-     'https://twitter.com/lukew'
          //-   )
          //-   +link(
          //-     'Brad Frost',
          //-     'https://twitter.com/brad_frost'
          //-   )
          //-   +link(
          //-     'Jared Spool',
          //-     'https://twitter.com/jmspool'
          //-   )
          //-   +link(
          //-     'Don Norman',
          //-     'https://twitter.com/jnd1er'
          //-   )
          //-   +link(
          //-     'Paola Sales',
          //-     'https://twitter.com/paolasalesetc'
          //-   )
          //-   +link(
          //-     'Anna Raquel Serra',
          //-     'https://twitter.com/ladyars'
          //-   )
          //-   +link(
          //-     'Fabrício Marchezini',
          //-     'https://twitter.com/zeroseis'
          //-   )
          //- 
          //- p E estão aqui alguns links sobre os quais falamos neste episódio:
          //- ul.links
          //-   +link(
          //-     'Palestra do Jared Spool no Interaction South America de 2013 em Recife',
          //-     'https://www.youtube.com/watch?v=LHphp_EzVpQ&feature=youtu.be&list=PLqWrdV5mKT65qLt3CG8zqp41LmLAtwJhd'
          //-   )
          //-   +link(
          //-     'Palestra do Sergio sobre o poder e os desafios do design antecipatório',
          //-     'https://www.youtube.com/watch?v=12hy3HU66RA'
          //-   )
          //-   +link(
          //-     'A lava-louças da GE que compra o próprio detergente na Amazon',
          //-     'http://readwrite.com/2016/10/12/ge-provides-connected-dishwashers-dl4/'
          //-   )
          //- 
          //- p No próximo podcast, vou conversar com a Fernanda Barbato, diretora de UX na Designit e na Hyper Island em Estocolmo/SWE.
          //- p Até o próximo episódio! =)

        .sidebar
          h3.eyebrow Localização
          p São Francisco
          
          //- h3.eyebrow Site
          //- p #[a(href='https://fabricio.work/' title='Site pessoal' target='_blank' rel='noopener').link.-alt Site pessoal]

//- last
//- but not least
+js
