include ../pug/meta
include ../pug/header
include ../pug/episode
include ../pug/player
include ../pug/link
include ../pug/js

+meta(
  'Koji Pereira, Episódio 4 — Movimento UX',
  'Designer de Produto no Google. Design digital, prototipação, UX em outros países.',
  'http://movimentoux.com/koji-pereira/'
)

body(data-page='episode')
  
  +header('on', '', '')
  
  #barba-wrapper
    .barba-container
      +episode(
        'Koji Pereira',
        'Designer de Produto no Google.',
        'Design digital, prototipação, UX em outros países.',
        '04',
        '04-foto-koji-pereira.jpg',
        '',
        '-inside'
      )
      
      +player('ep4-kojipereira')
      
      section.episode-content
        .text
          p O 4º episódio do Movimento UX foi com o Koji Pereira que é designer de produto no Google em Mountain View.
          p As dicas que o Koji cita nesse episódio são:

          p Livro e site sobre Google Design Sprint
          ul.links
            +link(
              'How to Solve Big Problems and Test New Ideas in Just Five Days',
              'https://www.amazon.com/Sprint-Solve-Problems-Test-Ideas/dp/150112174X?ie=UTF8&refRID=0N0WRTKEDM0AXWK58A68&ref_=pd_bxgy_14_img_2'
            )
            +link(
              'Google Ventures',
              'http://www.gv.com/sprint/'
            )
          
          p Metodologias
          ul.links
            +link(
              'RITE (método parecido com que ele usa hoje)',
              'https://uxmag.com/articles/the-rite-way-to-prototype'
            )
            +link(
              'Cards para ideação de produto',
              'http://www.getmentalnotes.com/cards'
            )
          
          p Livro sobre design de produto digital
          ul.links
            +link(
              'Shaping Things',
              'https://www.amazon.com/Shaping-Things-Mediaworks-Pamphlets-Sterling/dp/0262693267/'
            )

          p Livros sobre UX
          ul.links
            +link(
              'Sketching User Experiences',
              'https://www.amazon.com/Sketching-User-Experiences-Interactive-Technologies/dp/0123740371/'
            )
            +link(
              'The Design of Everyday Things',
              'https://www.amazon.com/Design-Everyday-Things-Revised-Expanded/dp/0465050654/'
            )

          p Blogs/Páginas
          ul.links
            +link(
              'Core77',
              'http://www.core77.com/'
            )
            +link(
              'Interaction Design Foundation',
              'https://www.interaction-design.org/'
            )

          p Startups pensando na questão social
          ul.links
            +link(
              'Hampton Creek',
              'https://www.hamptoncreek.com/'
            )
            +link(
              'Beyond Meat',
              'http://beyondmeat.com/'
            )
          
          p O próximo papo será com o Fabricio Teixeira.
          p See ya!

        .sidebar
          h3.eyebrow Localização
          p São Francisco
          
          h3.eyebrow Social
          p #[a(href='https://www.linkedin.com/in/kojieumesmo/pt' title='LinkedIn' target='_blank' rel='noopener').link.-alt LinkedIn]

//- last
//- but not least
+js
