include /components/includes

+meta-head(
  'Caio Gama, User Researcher no Nubank. Episódio 21 — Movimento UX. Conversas sobre pesquisa em experiência do usuário. UX Research.',
  'Data & analytics, mix de técnicas de pesquisa qualitativa e quantitativa — Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Segunda Temporada. Conversas sobre pesquisa em experiência do usuário. UX Research.',
  'https://movimentoux.com/ux-research/caio-gama/',
  'https://movimentoux.com/assets/img/share/21-caio-gama.jpg',
  'episode'
)

+header('', 'on')

+episode-section(
  'Caio Gama',
  'User Researcher no Nubank.',
  'Data & analytics, mix de técnicas de pesquisa qualitativa e quantitativa.',
  '21',
  '21-caio-gama.jpg',
  '',
  '-inside',
  '',
  'https://open.spotify.com/episode/5yUMlC5wVZtuTs09PK7OJG'
)

//- +episode-player('caiogama')

section.episode-content
  +episode-tabs

  .episode-text
    include intro
    include transcricao

  include sidebar

+meta-js