include /assets/pug/meta
include /assets/pug/header
include /assets/pug/social
include /assets/pug/js

+meta(
  'Página não encontrada — Movimento UX',
  'Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário',
  'http://movimentoux.com/'
)

body(data-page='season')

  +header('', '', '', '')

  #barba-wrapper
    .barba-container
      article.intro-text
        p.eyebrow Error
        h1.title 404
        p A página que você tentou acessar não foi encontrada.

      +social('-home')

//- don't forget js
+js
