include /assets/pug/link
include /assets/pug/supporter-link
include /assets/pug/supporter-sidebar

.text
  p Este episódio é a primeira parte de um papo descontraído e cheio de aprendizados com a Camila Borja, Especialista de User Research no Itaú.
  p Ela é pesquisadora há mais de 10 anos e já trabalhou com as mais diversas áreas de pesquisa: mercado, campo e UX. Sua formação é em Opinião Pública e costuma usar a técnica de LEGO® Serious Play® no dia a dia para conectar pessoas e trazer diferentes perspectivas de solução para os projetos.
  p Conheci o trabalho dela em uma mesa redonda sobre UX Research organizado pelo PagSeguro no início deste ano. Além da Camila e de mim, a Elisa Volpato e a Ana Coli também participaram desse debate que teve o objetivo de compartilhar como lidamos com pesquisa contínua e os desafios de organizar e gerenciar os aprendizados.

  img(src='/assets/img/media/24-foto-01.png' alt='')
  span.caption Da esquerda para direita: Heller de Paula (mediador), Ana Coli, Camila Borja, Elisa Volpato e Izabela de Fátima. #[+link('Para assistir a esta mesa redonda.', 'https://www.youtube.com/watch?v=jPp0uPZCP2o')]

  p Neste episódio, ela nos contou sobre o desafio de criar uma cultura de design centrado nos usuários em uma empresa com mais de 100k funcionários, o que é atomic research, o que você precisa para começar a praticar esse mindset de organização e gestão de dado e outras coisas mais.

  blockquote "acredito muito que o papel de UX, desenvolvendo esse skill de user research, é de dar um pouco de luz para as informações ambíguas porque a gente não pode centralizar essa questão de pesquisa…"

  img(src='/assets/img/media/24-foto-02.jpg' alt='')
  span.caption Treinamento de UX Research com o time.

  img(src='/assets/img/media/24-foto-03.jpg' alt='')
  span.caption Condução de dinâmica com clientes usando LEGO® Serious Play®.

  p Os links sobre os quais falamos são:
  ul.links
    li Vídeo — #[+link('Atomic Research: talk de 1 minuto da Camila na ESOMAR Latin America 2019', 'https://www.youtube.com/watch?v=z9e4OgWKHqE')]
    li Vídeo — #[+link('Vídeo completo da Mesa Redonda sobre UX Research', 'https://www.youtube.com/watch?v=jPp0uPZCP2o')]
    li #[+link('Aurelius: Repositório de aprendizados de pesquisa', 'https://www.aureliuslab.com/')]
    li #[+link('Airtable: Repositório de aprendizados de pesquisa (Tomer Sharon)', 'https://airtable.com/universe/expShuhNMi0Oc0xpb/polaris-ux-nuggets')]
    li Texto - #[+link('Foundations of atomic research do Tomer Sharon', 'https://medium.com/@tsharon/foundations-of-atomic-research-a937d5da5fbb')]
    li Texto - #[+link('Democratizing UX do Tomer Sharon', 'https://medium.com/@tsharon/democratizing-ux-670b95fbc07f')]
    li Livro - #[+link('Validating Product Ideas: Through Lean User Research', 'https://amzn.to/2mEMCGR')]
    li Perfil de Linkedin - #[+link('Renata Tonezi, que a Camila cita no podcast', 'https://www.linkedin.com/in/renata-tonezi-158b7515/')]
    li #[+link('Podcast Aurelius', 'https://open.spotify.com/show/0Je5C69lOGqRdk9cxL2vtj')]

  p O MUX tem o patrocínio da Hotmart, pioneira e líder na América Latina na venda de produtos digitais e atua nas áreas de educação à distância, marketing digital e fintech, em Belo Horizonte. Está em amplo crescimento internacional e o desafio de desenvolver produtos globais. E a boa notícia é que tem várias vagas para os times de design e desenvolvimento. Se você é designer de produto ou desenvolvedor com habilidades em UX, pesquisa e interface pode se #[+supporter-link('cadastrar no banco de talentos da empresa', 'http://bit.ly/vagasdahotmart', 'Hotmart', 'Content')].

  p Informações que achamos que você vai gostar de saber:
  ul.links
    li — Estamos no #[+link('Spotify', 'https://open.spotify.com/show/0jpGW9nTFzzzHCjm7Y3d73')]!
    li — A transcrição dos podcasts estão na página de cada um dos episódios.
    li — As músicas que ouviram neste episódio são do produtor Richard Garrel com seu projeto Aeoner e você pode conhecer mais #[+link('aqui', 'https://aeoner.bandcamp.com')].
  
  p E a segunda parte da conversa? Daqui 2 semanas a gente compartilha mais um episódio com a outra parte desta conversa.
  p Até já!

.sidebar
  h3.eyebrow Localização
  p São Paulo

  h3.eyebrow Social
  p #[+link('LinkedIn', 'https://www.linkedin.com/in/camilaborja/')]
  p #[+link('Twitter', 'https://twitter.com/camila_borja')]
  p #[+link('UX Collective', 'https://uxdesign.cc/@camila.brj')]

  +supporter-sidebar(
    'Patrocinador deste episódio',
    'Hotmart',
    'A Hotmart é pioneira e líder na América Latina na venda de produtos digitais.',
    'http://bit.ly/vagasdahotmart',
    'hotmart-logo.png'
  )
