include /components/meta-head
include /components/header
include /components/episode
include /components/episode-player
include /components/episode-tabs
include /components/meta-js

+meta-head(
  'Koji Pereira, Episódio 4 — Movimento UX',
  'Designer de Produto no Google. Design digital, prototipação, UX em outros países.',
  'https://movimentoux.com/ux-design/koji-pereira/'
)

body(data-page='episode')

  +header('on', '', '')

  +episode(
    'Koji Pereira',
    'Designer de Produto no Google.',
    'Design digital, prototipação, UX em outros países.',
    '04',
    '04-koji-pereira.jpg',
    '',
    '-inside'
  )

  +episode-player('ep4-kojipereira')

  section.episode-content
    +episode-tabs

    .wrapper
      .content
        include intro.pug
        include transcricao.pug

      include sidebar.pug

+meta-js
