include /assets/pug/link

.text
  p O 4º episódio do Movimento UX foi com o Koji Pereira que é designer de produto no Google em Mountain View.
  p As dicas que o Koji cita nesse episódio são:

  p Livro e site sobre Google Design Sprint
  ul.links
    li #[+link('How to Solve Big Problems and Test New Ideas in Just Five Days', 'https://amzn.to/2L8VpfE')]
    li #[+link('Google Ventures', 'http://www.gv.com/sprint/')]
  
  p Metodologias
  ul.links
    li #[+link('RITE (método parecido com que ele usa hoje)', 'https://uxmag.com/articles/the-rite-way-to-prototype')]
    li #[+link('Cards para ideação de produto', 'http://www.getmentalnotes.com/cards')]
  
  p Livro sobre design de produto digital
  ul.links
    li #[+link('Shaping Things', 'https://amzn.to/2GQlFY9')]

  p Livros sobre UX
  ul.links
    li #[+link('Sketching User Experiences', 'https://www.amazon.com/Sketching-User-Experiences-Interactive-Technologies/dp/0123740371/')]
    li #[+link('The Design of Everyday Things', 'https://amzn.to/2GQP44s')]

  p Blogs/Páginas
  ul.links
    li #[+link('Core77', 'http://www.core77.com/')]
    li #[+link('Interaction Design Foundation', 'https://www.interaction-design.org/')]

  p Startups pensando na questão social
  ul.links
    li #[+link('Hampton Creek', 'https://www.hamptoncreek.com/')]
    li #[+link('Beyond Meat', 'http://beyondmeat.com/')]
  
  p O próximo papo será com o Fabricio Teixeira.
  p See ya!

.sidebar
  h3.eyebrow Localização
  p São Francisco
  
  h3.eyebrow Social
  p #[+link('LinkedIn', 'https://www.linkedin.com/in/kojieumesmo/pt')]
