include /components/link-text
include /components/image

.tab.on#intro
  p O 4º episódio do Movimento UX foi com o Koji Pereira que é designer de produto no Google em Mountain View.
  p As dicas que o Koji cita nesse episódio são:

  p Livro e site sobre Google Design Sprint
  ul.links
    li #[+link-text('How to Solve Big Problems and Test New Ideas in Just Five Days', 'https://amzn.to/2L8VpfE')]
    li #[+link-text('Google Ventures', 'http://www.gv.com/sprint/')]
  
  p Metodologias
  ul.links
    li #[+link-text('RITE (método parecido com que ele usa hoje)', 'https://uxmag.com/articles/the-rite-way-to-prototype')]
    li #[+link-text('Cards para ideação de produto', 'http://www.getmentalnotes.com/cards')]
  
  p Livro sobre design de produto digital
  ul.links
    li #[+link-text('Shaping Things', 'https://amzn.to/2GQlFY9')]

  p Livros sobre UX
  ul.links
    li #[+link-text('Sketching User Experiences', 'https://www.amazon.com/Sketching-User-Experiences-Interactive-Technologies/dp/0123740371/')]
    li #[+link-text('The Design of Everyday Things', 'https://amzn.to/2GQP44s')]

  p Blogs/Páginas
  ul.links
    li #[+link-text('Core77', 'http://www.core77.com/')]
    li #[+link-text('Interaction Design Foundation', 'https://www.interaction-design.org/')]

  p Startups pensando na questão social
  ul.links
    li #[+link-text('Hampton Creek', 'https://www.hamptoncreek.com/')]
    li #[+link-text('Beyond Meat', 'http://beyondmeat.com/')]
  
  p O próximo papo será com o Fabricio Teixeira.
  p See ya!
