include /components/meta-head
include /components/header
include /components/episode
include /components/episode-player
include /components/episode-tabs
include /components/meta-js

+meta-head(
  'Carol Zatorre, Head de Pesquisa na Kyvo. Episódio 20 — Movimento UX. Conversas sobre pesquisa para produto. UX Research.',
  'Consultoria, pesquisa qualitativa e pesquisa na sprint — Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Segunda Temporada. Conversas sobre pesquisa para produto. UX Research.',
  'https://movimentoux.com/ux-research/carol-zatorre/'
)

body(data-page='episode')

  +header('', 'on', '')

  +episode(
    'Carol Zatorre',
    'Head de Pesquisa na Kyvo.',
    'Consultoria, pesquisa qualitativa e pesquisa na sprint.',
    '20',
    '20-carol-zatorre.jpg',
    '',
    '-inside'
  )

  +episode-player('carolzatorre')

  section.episode-content
    +episode-tabs

    .wrapper
      .content
        include intro.pug
        include transcricao.pug

      include sidebar.pug

+meta-js