include pug/meta
include pug/header
include pug/episode
include pug/social
include pug/js

+meta(
  'Movimento UX',
  'Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário.',
  'http://movimentoux.com/'
)

body

  +header('', 'on', '')

  #barba-wrapper
    .barba-container
      article.intro-text
        p.eyebrow Temporada 2
        h1.title UX <br> Research
        p Nov, 2018 — Conversas sobre pesquisa para produto. 

      +social('-home')
      
      +episode(
        'Paola Sales',
        'Head de User Studies no Descomplica.',
        'Pesquisa humanizada, empatia e criação de área.',
        '19',
        '19-foto-paola-sales.jpg',
        '/paola-sales/'
      )

//- last
//- but not least
+js
