extends pug/global
block content
  
  include pug/header.pug
  
  #barba-wrapper
    .barba-container
      article.intro-text
        h1.title Movimento UX<br>é um podcast <br>de entrevistas sobre o universo de Experiência do Usuário.
        
        .social-links
          p.eyebrow — Acompanhe
          ul
            li.subtitle #[a(href='https://open.spotify.com/show/0jpGW9nTFzzzHCjm7Y3d73?si=TQbtAiiPTr-NfTAJTz2Qew' title='Spotify' target='_blank' rel='noopener').link Spotify]
            li.subtitle #[a(href='https://itunes.apple.com/br/podcast/movimento-ux/id1093322366' title='iTunes' target='_blank' rel='noopener').link iTunes]
            li.subtitle #[a(href='https://www.stitcher.com/podcast/movimentoux' title='Stitcher' target='_blank' rel='noopener').link Stitcher]
            li.subtitle #[a(href='https://soundcloud.com/movimento-ux' title='SoundCloud' target='_blank' rel='noopener').link SoundCloud]
      
      
      section.intro-episode
        a(href='paola.html' title='Ir para episódio').episode-cover
          img(src='img/intro-paola-sales.jpg' alt='Fotografia de Paola Sales')
        span.eyebrow — Último episódio
        h2.title Paola<br>Sales
        p.keywords Design Research Lead, Empatia, Pesquisa Humanizada
        span.number 19
