extends pug/global
block content
  
  include pug/header.pug
  
  article.intro
    h1#title.title Movimento UX<br>é um podcast <br>de entrevistas sobre o universo de Experiência do Usuário.
    
    ul.social
      li.item #[a(href='' title='Spotify') Spotify]
      li.item #[a(href='' title='iTunes') iTunes]
      li.item #[a(href='' title='Stitcher') Stitcher]
      li.item #[a(href='' title='SoundCloud') SoundCloud]
  
  
  section.intro-episode
    img(src='img/intro-paola-sales.jpg' alt='Fotografia de Paola Sales')
    h2.title Paola<br>Sales
    p.keywords Design Research Lead — Empatia — Pesquisa Humanizada
    span.number.title.outline 19
  
  section.footer
    .form-newsletter
      h3.subtitle Conecte-se ao podcast
      p.description Receba o podcast assim que a gente tirar do forno.
      .form
        input(type='text' placeholder='Digite seu email')
        button Assinar
