extends pug/global
block content
  
  include pug/header.pug
  
  //- article.hi
  //-   h1 Movimento UX
  //-   h2 Podcast de entrevistas sobre o universo de Experiência do Usuário, com a participação de líderes do mercado.
  
  article.intro
    h1.title Movimento UX<br>é um podcast <br>de entrevistas sobre o universo de Experiência do Usuário.
  
  section.intro-episode
    img(src='img/intro-paola-sales.jpg' alt='Fotografia de Paola Sales')
    h2.title Paola<br>Sales
    p.description One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his arm.
    span.number.title 18
  
  section.intro-episode
    img(src='img/intro-andre-do-amaral.jpg' alt='Fotografia de André do Amaral do Amaral')
    h2.title André do<br>Amaral
    p.description One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his arm.
    span.number.title 17
