include pug/meta
include pug/header
include pug/episode
include pug/social
include pug/js

+meta(
  'Temporada 2 — Movimento UX',
  'UX Design. Conversas sobre pesquisa para produto. — Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário.',
  'http://movimentoux.com/'
)

body(data-page='season')

  +header('', 'on', '')

  #barba-wrapper
    .barba-container
      article.intro-text
        p.eyebrow Temporada 2
        h1.title UX <br> Research
        p Nov, 2018 — Conversas sobre pesquisa para produto. 

      +social('-home')
      
      ul.list-grid
        li.list.-on #[svg(src='img/ep-list.svg')]
        li.grid #[svg(src='img/ep-grid.svg')]
      
      .episode-wrapper
        +episode(
          'Caio Gama',
          'User Researcher no Nubank.',
          'Consultoria, pesquisa qualitativa e pesquisa na sprint.',
          '21',
          '21-foto-caio-gama.jpg',
          '/carol-zatorre/'
        )
        +episode(
          'Carol Zatorre',
          'Head de Pesquisa na Kyvo.',
          'Consultoria, pesquisa qualitativa e pesquisa na sprint.',
          '20',
          '20-foto-carol-zatorre.jpg',
          '/carol-zatorre/'
        )
        +episode(
          'Paola Sales',
          'Head de User Studies no Descomplica.',
          'Pesquisa humanizada, empatia e criação de área.',
          '19',
          '19-foto-paola-sales.jpg',
          '/paola-sales/'
        )

//- last
//- but not least
+js
