extends pug/global
block content
    
  include pug/header.pug
  
  #barba-wrapper
    .barba-container
      //- article.intro-text
      //-   h1.title Paola Soares
      section.intro-episode
        a(href='paola.html' title='Ir para episódio').intro-cover
          img(src='img/intro-paola-sales.jpg' alt='Fotografia de Paola Sales')
        span.last.eyebrow — Último episódio
        h2.title Paola<br>Sales
        p.keywords Design Research Lead, Empatia, Pesquisa Humanizada
        span.number 19
