extends pug/global
block content
    
  include pug/header.pug
  
  #barba-wrapper
    .barba-container
      //- article.intro-text
      //-   h1.title Paola Soares
      section.intro-episode.-inside
        img(src='img/intro-paola-sales.jpg' alt='Fotografia de Paola Sales')
        span.eyebrow — Último episódio
        h2.title Paola<br>Sales
        p.keywords Design Research Lead, Empatia, Pesquisa Humanizada
        span.number 19
      
      section.episode-content
        p Esse episódio é a estréia da segunda temporada, cuja proposta é aprofundar em UX Research.
        p A primeira convidada é a Paola Sales, Head de User Studies no Descomplica e Ex Lead de Experiência na Huge.
        p Ela tem uma história e um background interessante em arquitetura de informação, usabilidade e liderança de equipes. Ela contou pra gente sobre o momento em que decidiu focar em pesquisa, como está organizando a área de User Studies no Descomplica e muito mais.
      
      aside.episode-player
        //- span.play #[img(src='/img/player-play.svg')]
        .play
        .timeline
          .time 00:00
          #seekObj
            #percentage
          .duration 00:00
