extends pug/global
block content
    
  include pug/header.pug
  
  #barba-wrapper
    .barba-container
      section.intro-episode.-inside
        img(src='img/19-foto-paola-sales.jpg' alt='Fotografia de Paola Sales')
        span.eyebrow — Último episódio
        h2.title Paola<br>Sales
        p.keywords Design Research Lead, Empatia, Pesquisa Humanizada
        span.number 19
      
      aside.episode-player
        .play
        .timeline
          .time 00:00
          .seekObj
            .percentage
          .duration 0:00:00
      
      section.episode-content
        .text
          p Esse episódio é a estréia da segunda temporada, cuja proposta é aprofundar em UX Research. A primeira convidada é a Paola Sales, Head de User Studies no Descomplica e ex-Lead de Experiência na Huge.
          p Ela tem uma história e um background interessante em arquitetura de informação, usabilidade e liderança de equipes. Ela contou pra gente sobre o momento em que decidiu focar em pesquisa, como está organizando a área de User Studies no Descomplica e muito mais.
          img(src='/img/19-foto-01.jpg' alt='')
          img(src='/img/19-foto-02.jpg' alt='')
          img(src='/img/19-foto-03.jpg' alt='')
        .details
          h3.eyebrow — Localização
          p Rio de Janeiro
          
          h3.eyebrow — Site
          p #[a(href='https://descomplica.com.br' title='Descomplica' target='_blank' rel='noopener').link.-alt Descomplica]
          
          h3.eyebrow — Social
          p #[a(href='https://br.linkedin.com/in/paolasales' title='LinkedIn' target='_blank' rel='noopener').link.-alt LinkedIn]
          p #[a(href='https://twitter.com/paolasalesetc' title='Twitter' target='_blank' rel='noopener').link.-alt Twitter]
          
          h3.eyebrow — Recomendações
          p #[a(href='https://www.amazon.com.br/dp/B00K863BAM/' title='Comunicação Não-Violenta' target='_blank' rel='noopener').link.-alt Comunicação Não-Violenta]
          p #[a(href='https://www.amazon.com.br/dp/B00CEKR872/' title='Interviewing Users' target='_blank' rel='noopener').link.-alt Interviewing Users]
          p #[a(href='https://www.youcanbook.me/' title='www.youcanbook.me' target='_blank' rel='noopener').link.-alt www.youcanbook.me]
          
          h3.eyebrow — Trilha
          p #[a(href='http://www.radionoir.com.br/' title='Dj Bittencourt' target='_blank' rel='noopener').link.-alt DJ Bittencourt]
          
          blockquote “Não adianta você ter muitos métodos, se você não consegue se conectar com a pessoa que está ali na sua frente.”
      
      //- aside.episode-player
      //-   .play
      //-   .timeline
      //-     .time 00:00
      //-     .seekObj
      //-       .percentage
      //-     .duration 0:00:00
