extends pug/global
block content
    
  include pug/header.pug
  
  #barba-wrapper
    .barba-container
      article.intro-text
        h1.title Movimento UX
      
      article.about-description
        .description
          p Oi. Bem-vindx ao podcast Movimento UX. <br> Meu nome é Izabela de Fátima. Muito prazer!
          p Tenho 33 anos, moro em São Paulo e trabalho com UX Research no iFood. Trabalhei a maior parte do tempo como estrategista de marca e comunicação em agências de publicidade e hoje meu foco é em pesquisa e estratégia de experiência do uso para produtos e serviços digitais.
          p O podcast surgiu no momento em que resolvi me aproximar da área de UX. A vontade surgiu pela busca por projetos centrados — de verdade! — nas pessoas e pelo desejo de ir além da comunicação para projetar produtos e serviços digitais.
          p O primeiro passo que dei foi pesquisar informações para começar a criar repertório. Achei bastante coisa, principalmente online. Se por um lado o volume de dados encontrado foi muito animador, por outro me deixou bastante perdida sobre como começar em uma área tão ampla, com inúmeras nomenclaturas e diversas possibilidades de atuação. E uma coisa me chamou à atenção durante a procura. Não encontrei nenhum canal de informação voltado para iniciantes, e em português  —  não tenho nada contra a língua inglesa; pelo contrário, gosto e admiro o poder de síntese, mas conteúdo em português pode facilitar a entrada num campo desconhecido. Isso me fez pensar que outras pessoas poderiam estar com o mesmo problema que o meu, confusas sobre como começar a trabalhar com UX. E como acredito que conversar sobre um problema é uma das melhores formas de encontrar caminhos para solucioná-lo, resolvi criar esse projeto.
          p O propósito do Movimento UX é entrevistar líderes do mercado de Experiência do Usuário no Brasil e no mundo, para que a gente possa utilizar o ponto de vista dele ou dela para aprender mais sobre o tema.
          p A primeira temporada tem 18 episódios e o objetivo foi investigar sobre o universo de UX Design. Já a segunda temporada tem a proposta de discutir sobre UX Research.
          p Eu fico à frente da produção dos podcasts enquanto o Cristiano Sarmento e o Pedro Ivo Hudson — que além de serem designers que admiro, tenho a sorte de tê-los como parceiros no projeto — lideram a parte visual e o site.
          p Espero que goste! :)
        .social-links
          p.eyebrow — Acompanhe
          ul
            li.subtitle
              a(href='https://open.spotify.com/show/0jpGW9nTFzzzHCjm7Y3d73?si=TQbtAiiPTr-NfTAJTz2Qew' title='Spotify' target='_blank' rel='noopener').link Spotify
            li.subtitle
              a(href='https://itunes.apple.com/br/podcast/movimento-ux/id1093322366' title='iTunes' target='_blank' rel='noopener').link iTunes
            li.subtitle
              a(href='https://www.stitcher.com/podcast/movimentoux' title='Stitcher' target='_blank' rel='noopener').link Stitcher
            li.subtitle
              a(href='https://soundcloud.com/movimento-ux' title='SoundCloud' target='_blank' rel='noopener').link SoundCloud
      
      section.about-team
        //- p Equipe
        .member-block
          img(src='img/team-izabela.jpg' alt='Fotografia de Izabela de Fátima')
          h2.subtitle Izabela de Fátima
          h3.job Produtora & Apresentadora
          p Trabalho como Pesquisadora de Experiência do Usuário no iFood. Adoro resolver problemas e entender o comportamento humano por meio de novas técnicas e metodologias e isso é algo que estou sempre tentando trazer para o meu dia a dia. O objetivo do meu trabalho é oferecer a melhor experiência aos usuários e, ao mesmo tempo, gerar impacto nos negócios.
          ul.member-social
            li.item
              a(href='http://izabeladefatima.com/' title='Website' target='_blank' rel='noopener').icon #[img(src='/img/social-website.svg')]
            li.item
              a(href='https://www.linkedin.com/in/izabeladefatima/' title='LinkedIn' target='_blank' rel='noopener').icon #[img(src='/img/social-linkedin.svg')]
            li.item
              a(href='https://twitter.com/izabeladefatima' title='Twitter' target='_blank' rel='noopener').icon #[img(src='/img/social-twitter.svg')]
        
        .member-block
          img(src='img/team-cristiano.jpg' alt='Fotografia de Cristiano Sarmento')
          h2.subtitle Cristiano Sarmento
          h3.job Designer & Diretor de Arte
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et pretium nisl, quis egestas nisi. Praesent a pellentesque justo. Integer sed lorem nisl. Sed sagittis massa eget dui egestas condimentum. Mauris risus nulla, ultricies non ante vel, placerat sollicitudin dolor.
          ul.member-social
            li.item
              a(href='http://cristiano.do/' title='Website' target='_blank' rel='noopener').icon #[img(src='/img/social-website.svg')]
            li.item
              a(href='https://www.linkedin.com/in/hicristiano/' title='LinkedIn' target='_blank' rel='noopener').icon #[img(src='/img/social-linkedin.svg')]
            li.item
              a(href='https://twitter.com/cristianodoes' title='Twitter' target='_blank' rel='noopener').icon #[img(src='/img/social-twitter.svg')]
        
        .member-block
          img(src='img/team-pedroivo.jpg' alt='Fotografia de Pedro Ivo Hudson')
          h2.subtitle Pedro Ivo Hudson
          h3.job Designer & Desenvolvedor
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et pretium nisl, quis egestas nisi. Praesent a pellentesque justo. Integer sed lorem nisl. Sed sagittis massa eget dui egestas condimentum. Mauris risus nulla, ultricies non ante vel, placerat sollicitudin dolor.
          ul.member-social
            li.item
              a(href='http://podrivo.com/' title='Website' target='_blank' rel='noopener').icon #[img(src='/img/social-website.svg')]
            li.item
              a(href='https://www.linkedin.com/in/pedroivohudson/' title='LinkedIn' target='_blank' rel='noopener').icon #[img(src='/img/social-linkedin.svg')]
            li.item
              a(href='https://twitter.com/podrivo' title='Twitter' target='_blank' rel='noopener').icon #[img(src='/img/social-twitter.svg')]
            
