include /_assets/pug/meta
include /_assets/pug/header
include /_assets/pug/episode
include /_assets/pug/player
include /_assets/pug/tabs
include /_assets/pug/js

+meta(
  'Cristina Bilsland, User Experience Researcher Senior no Google UK. Episódio 22 — Movimento UX. Conversas sobre pesquisa para produto. UX Research.',
  'Pesquisa global, estratégia de pesquisa, design sprint — Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Segunda Temporada. Conversas sobre pesquisa para produto. UX Research.',
  'http://movimentoux.com/ux-research/cristina-bilsland/',
  'http://movimentoux.com/_assets/img/share-cristina-bilsland.jpg'
)

body(data-page='episode')

  +header('', 'on', '')

  #barba-wrapper
    .barba-container
      +episode(
        'Cristina Bilsland',
        'User Experience Researcher Senior no Google UK.',
        'Pesquisa global, estratégia de pesquisa, design sprint.',
        '22',
        '22-foto-cristina-bilsland.jpg',
        '',
        '-inside'
      )

      +player('cristinabilsland')

      section.episode-content
        +tabs

        .tab.on#intro
          include intro.pug

        .tab#transcricao
          include transcricao.pug

//- don't forget js
+js
