include ../pug/meta
include ../pug/header
include ../pug/social
include ../pug/js

+meta(
  'Temporada 1 — Movimento UX',
  'UX Design — Conversas sobre o universo de design de experiência de uso.',
  'http://movimentoux.com/ux-design/'
)

body

  +header('on', '', '')

  #barba-wrapper
    .barba-container
      article.intro-text
        p.eyebrow Temporada 1
        h1.title UX <br> Design
        p Fev, 2016 — Conversas sobre o universo de design de experiência de uso.

      +social('-home')

      section.intro-episode
        .cover-wrap
          .cover
            a(href='#!' title='Ir para episódio').play-badge
              img(src='/img/18-foto-andre-amaral.jpg' alt='Fotografia de André do Amaral')
              svg(src='/img/play.svg')
        .text
          h2.title André do <br>Amaral
          p.keywords Designer de Produto na Netflix
          p.keywords Visual design, design digital, UX em outros países.
        span.number 18

      section.intro-episode
        .cover-wrap
          .cover
            a(href='#!' title='Ir para episódio').play-badge
              img(src='/img/17-foto-carolina-leslie.jpg' alt='Fotografia de André do Amaral')
              svg(src='/img/play.svg')
        .text
          h2.title Carolina <br>Leslie
          p.keywords Sócia fundadora da Saiba+.
          p.keywords Consultoria, pesquisa com usuários, usabilidade.
        span.number 17

      section.intro-episode
        .cover-wrap
          .cover
            a(href='#!' title='Ir para episódio').play-badge
              img(src='/img/16-foto-felipe-memoria.jpg' alt='Fotografia de André do Amaral')
              svg(src='/img/play.svg')
        .text
          h2.title Felipe <br>Memória
          p.keywords Sócio fundador da Work & Co.
          p.keywords Produto digital, inovação, liderança em design.
        span.number 16

//- last
//- but not least
+js
