include /_assets/pug/meta
include /_assets/pug/header
include /_assets/pug/episode
include /_assets/pug/player
include /_assets/pug/js

+meta(
  'Fabricio Dore, Episódio 13 — Movimento UX',
  'UX Lead na Designit. Hyper Island, pesquisa com usuários, UX em outros países.',
  'http://movimentoux.com/ux-design/fernanda-barbato/'
)

body(data-page='episode')

  +header('on', '', '')

  #barba-wrapper
    .barba-container
      +episode(
        'Fernanda Barbato',
        'UX Lead na Designit.',
        'Hyper Island, pesquisa com usuários, UX em outros países.',
        '13',
        '13-foto-fernanda-barbato.jpg',
        '',
        '-inside'
      )

      +player('fernandabarbato')

      section.episode-content
        .tab.on#intro
          include intro.pug

//- don't forget js
+js
