include /components/meta-head
include /components/header
include /components/episode-section
include /components/episode-player
include /components/episode-tabs
include /components/meta-js

+meta-head(
  'Carolina Leslie, Episódio 17 — Movimento UX',
  'Sócia fundadora da Saiba+. Consultoria, pesquisa com usuários, usabilidade.',
  'https://movimentoux.com/ux-design/carolina-leslie/'
)

body(data-page='episode')

  +header('on')

  +episode-section(
    'Carolina Leslie',
    'Sócia fundadora da Saiba+.',
    'Consultoria, pesquisa com usuários, usabilidade.',
    '17',
    '17-carolina-leslie.jpg',
    '',
    '-inside'
  )

  +episode-player('carolinaleslie')

  section.episode-content
    //- +episode-tabs

    .episode-text
      include intro.pug
      //- include transcricao.pug

    include sidebar.pug

+meta-js
