include /components/includes

+meta-head(
  'Eduardo Loureiro, Episódio 3 — Movimento UX',
  'Sócio gerente DesignThinkers Brasil. Co-criação, transição de agências, empreendedorismo.',
  'https://movimentoux.com/ux-design/eduardo-loureiro/',
  '',
  'episode'
)

+header('on')

+episode-section(
  'Eduardo Loureiro',
  'Sócio gerente DesignThinkers Brasil.',
  'Co-criação, transição de agências, empreendedorismo.',
  '03',
  '03-eduardo-loureiro.jpg',
  '',
  '-inside',
  '',
  'https://open.spotify.com/episode/5QCy7uqP8GyZBhaCChJKMh'
)

+episode-player('ep-03')

section.episode-content
  +episode-tabs

  .episode-text
    include intro
    include transcricao

  include sidebar

+meta-js