.episode-sidebar
  .info
    h3.eyebrow Localização
    p Belo Horizonte

    h3.eyebrow Social
    p #[+link('LinkedIn', 'https://www.linkedin.com/in/eduardoloureiro')]

    //- h3.eyebrow Download
    //- p #[+link('Arquivo MP3', '#!', 'download')]