include /components/includes

+meta-head(
  'Samyra Ribeiro, Gerente de Pesquisa UX na Globo (Parte 1). Episódio 29 — Movimento UX. Conversas sobre pesquisa em experiência do usuário. UX Research.',
  'Liderança e organização de time de pesquisa — Movimento UX é um podcast de entrevistas sobre o universo de Experiência do Usuário — Terceira Temporada. Conversas sobre pesquisa em experiência do usuário. UX Research.',
  'https://movimentoux.com/temporada-3/samyra-ribeiro-pt1/',
  'https://movimentoux.com/assets/img/share/29-samyra-ribeiro-pt1.jpg',
  'episode'
)

+header('', '', 'on')

+episode-section(
  'Samyra Ribeiro',
  'Gerente de Pesquisa UX na Globo.',
  'Liderança e organização de time de pesquisa.',
  '29',
  '29-samyra-ribeiro-pt1.jpg',
  '',
  '-inside',
  'pt1',
  'https://open.spotify.com/episode/26CGohUgeZ7K8IDcsQr0XN'
)

//- +episode-player('samyra-ribeiro-pt1')

section.episode-content
  //- +episode-tabs

  .episode-text
    include intro
    //- include transcricao

  include sidebar

+meta-js
