.tab.on#intro
  p Oi! Este episódio é a primeira parte de uma conversa leve e cheia de aprendizados valiosos sobre liderança e organização de times de pesquisa em UX, com Samyra Ribeiro.
  p Ela trabalha há 20 anos no mercado de design. Começou como designer gráfica, depois atuou como analista e líder técnica em UX, e nos últimos anos tem exercido o papel de liderança de pesquisa em UX como gerente na Globo. Ela também trabalha como professora há muitos anos.
  p Foi uma conversa leve e cheia de aprendizados valiosos que durou quase 2 horas.  E, pra você não perder nada, dividimos em duas partes: a primeira você ouve agora, e a segunda será lançada em 2 semanas.

  blockquote "... Chegamos nessa organização de time a partir do entendimento do papel da pesquisa dentro do processo de desenvolvimento de produto e do amadurecimento do mercado e dos processos da empresa...”

  .episode-gallery
    .img #[+image('29-foto-01.png', 'Atuação do UX Researcher na Globo - modelo híbrido.', '', '', 'border')]
    .img #[+image('29-foto-02.png', 'UX Researcher com atuação cross-times.', '', '', 'border')]
  
  .episode-gallery
    .img #[+image('29-foto-03.png', 'UX Researcher dedicado a um produto.', '', '', 'border')]

  +episode-links({
    1: {
      type: 'Artigo',
      title: 'Texto "O não-Lab" da Samyra com reflexão sobre pesquisa fora dos laboratórios durante a pandemia',
      url: 'https://medium.com/ux-globo-com/o-n%C3%A3o-lab-9f8d538c5d7'
    },
    2: {
      type: 'Medium',
      title: 'Medium do time de UX da Globo.com',
      url: 'https://medium.com/ux-globo-com'
    },
    3: {
      type: 'Vagas',
      title: 'Link pra vagas da Globo.com',
      url: 'https://www.linkedin.com/company/globo/jobs/'
    },
    4: {
      type: 'Video',
      title: 'Palestra da Samyra sobre o desafio de lidar com cada vez mais demandas de pesqiusa',
      url: 'https://youtu.be/Lu3VdRRiLsE?t=1523'
    }
  })

  p #[strong Patrocinador deste episódio]
  p O Banco BMG foi o patrocinador deste episódio! Um super obrigada à equipe de Design do BMG por apoiar financeiramente o podcast e incentivar a produção de conteúdo sobre UX em português para a comunidade.

  hr

  p As músicas deste episódio são do produtor Richard Garrel com seu projeto #[+link('Aeoner', 'https://aeoner.bandcamp.com')].
  p Até o mês que vem e vamos nos falando no #[+link('Twitter', 'https://twitter.com/izabeladefatima')] (:

  hr

  +newsletter