include /_assets/pug/link-alt

.text
  p No 5º episódio do Movimento UX, eu conversei com o Fabricio Teixeira que é diretor de Experiência do Usuário na R/GA em São Francisco e curador do blog Arquitetura de Informação.

  p Dicas
  ul.links
    li #[+link-alt('A List Apart', 'http://alistapart.com/')]
    li #[+link-alt('Nielsen Norman Group: UX Training, Consulting, & Research', 'https://www.nngroup.com/')]
    li #[+link-alt('UX Magazine', 'https://uxmag.com/')]
    li #[+link-alt('UX Booth', 'http://www.uxbooth.com/')]
    li #[+link-alt('Smashing Magazine', 'https://www.smashingmagazine.com/')]

  p Projetos
  ul.links
    li #[+link-alt('UXDESIGN.CC', 'https://uxdesign.cc/')]
    li #[+link-alt('Livro Introdução e boas práticas em UX Design', 'https://www.casadocodigo.com.br/products/livro-ux-user-experience')]
    li #[+link-alt('Blog Arquitetura de Informação', 'http://arquiteturadeinformacao.com/')]
    li #[+link-alt('Blog Update or Die', 'http://www.updateordie.com/author/fteixeira/')]

  p O próximo papo será com a Elisa Volpato.

  p Até o próximo!

.sidebar
  h3.eyebrow Localização
  p São Francisco

  h3.eyebrow Social
  p #[+link-alt('LinkedIn', 'https://www.linkedin.com/in/fabricioteixeira/pt')]
