include ../pug/meta
include ../pug/header
include ../pug/episode
include ../pug/player
include ../pug/link
include ../pug/js

+meta(
  'Rodrigo Medeiros, Episódio 2 — Movimento UX',
  'Líder local no IxDA Recife. Design centrado no usuário, design thinking e mercado de UX.',
  'http://movimentoux.com/rodrigo-medeiros/'
)

body(data-page='episode')
  
  +header('on', '', '')
  
  #barba-wrapper
    .barba-container
      +episode(
        'Rodrigo Medeiros',
        'Líder local no IxDA Recife.',
        'Design centrado no usuário, design thinking e mercado de UX.',
        '02',
        '02-foto-rodrigo-medeiros.jpg',
        '',
        '-inside'
      )
      
      +player('movimento-ux-ep-2-rodrigo-medeiros')
      
      section.episode-content
        .tab.on#intro
          .text
            p O segundo episódio do Movimento UX foi com o designer de interação Rodrigo Medeiros.
            p A gente conversou sobre o processo de design centrado no usúario, a relação dele com interfaces tangíveis, arte, tecnologia, o mercado de UX no Brasil e muito mais.
            p Vamos lá para as valiosas dicas do Rodrigo:
            
            p Palestras
            ul.links
              +link(
                'Usabilidade contextual — Robson Santos — Interaction South America 2011',
                'https://www.youtube.com/watch?v=1dY7tF2vHH4'
              )
              +link(
                'Inovação em serviços através do uso do design centrado nas pessoas — Érico Fileno — UXConf BR 2015',
                'https://www.youtube.com/watch?v=oV7tR6yTBP0'
              )
              +link(
                'UX Fundamentals for Beginners',
                'http://www.slideshare.net/GrowthHackingAsia/ux-fundamentals-for-beginners-58088259?trk=v-feed'
              )
              
            p Livros
            ul.links
              +link(
                'Avaliação e Projeto no Design de Interfaces — Guilherme Santa Rosa',
                'http://www.buscape.com.br/avaliacao-e-projeto-no-design-de-interfaces-anamaria-de-moraes-jose-guilherme-santa-rosa-8586695467.html'
              )
              +link(
                'Design de Interação — Jennifer Preece',
                'http://www.buscape.com.br/design-de-interacao-alem-da-interacao-homem-computador-3-ed-2013-helen-sharp-yvonne-rogers-jennifer-preece-8582600062'
              )
              li Ergodesign e Arquitetura de Informação: trabalhando com o usuário — Luiz Agner
            
            p Cursos
            ul.links
              +link(
                'Design Gráfico no Instituto Federal de Educação, Ciência e Tecnologia da Paraíba',
                'http://www.ifpb.edu.br/campi/cabedelo/cursos/cursos-superiores-de-tecnologia/design-grafico'
              )
              +link(
                'Design Thinkers Academy — no nordeste e em todo o Brasil',
                'https://www.facebook.com/DTAcademyBrasil'
              )
              +link(
                'BRU! Design de Interação',
                'https://twitter.com/bruixd'
              )
            
            p O 3º episódio do Movimento UX será com o Eduardo Loureiro. Para receber assim que quando for lançado, faça seu cadastro aqui.
            p Obrigada e até a próxima conversa!

          .sidebar
            h3.eyebrow Localização
            p Recife
            
            h3.eyebrow Site
            p #[a(href='http://rodrigomedeiros.com.br/' title='Site pessoal' target='_blank' rel='noopener').link.-alt Site pessoal]

//- last
//- but not least
+js
